body{
  margin: 0;
  padding: 0;
}

.services,
.products{
  padding-bottom: 26px;
  .btn{
    margin: 0 auto;
    display: block;
    width: 157px;
  }
}
.services{
  .assortiment{
    $step: 0px;
    @for $i from 1 to 6 {
      &__item:nth-child(#{$i}){
        .assortiment{
          &__link{
            .assortiment__icon{
              background-position: 0 $step;
              $step: $step - 100px;
            }
            &:hover{
              .assortiment__icon{
                background-position: 0 $step;
                $step: $step - 100px;
              }
            }
          }
        }
      }
    }
  }
}

.products{
  border-top: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;
  .assortiment{
    $step: -1000px;
    @for $i from 1 to 6 {
      &__item:nth-child(#{$i}){
        .assortiment{
          &__link{
            .assortiment__icon{
              background-position: 0 $step;
              $step: $step - 100px;
            }
            &:hover{
              .assortiment__icon{
                background-position: 0 $step;
                $step: $step - 100px;
              }
            }
          }
        }
      }
    }
  }
}
