body{
  margin: 0;
  padding: 0;
  padding-top: 62px;
}

.services,
.products{
  padding-bottom: 26px;
  .btn{
    margin: 0 auto;
    display: block;
    width: 157px;
  }
}

.info{
  border-bottom: 1px solid $color-lightgray;
  .text{
    max-width: 1100px;
    margin: 40px auto;
  }
  blockquote{
    max-width: 1340px;
    margin: 0 auto 40px auto;
  }
}
.services{
  .assortiment{
    $step: 0px;
    @for $i from 1 to 6 {
      &__item:nth-child(#{$i}){
        .assortiment{
          &__link{
            .assortiment__icon{
              background-position: 0 $step;
              $step: $step - 80px;
            }
            &:hover{
              .assortiment__icon{
                background-position: 0 $step;
                $step: $step - 80px;
              }
            }
          }
        }
      }
    }
  }
}

.products{
  border-top: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;
  .assortiment{
    $step: -800px;
    @for $i from 1 to 6 {
      &__item:nth-child(#{$i}){
        .assortiment{
          &__link{
            .assortiment__icon{
              background-position: 0 $step;
              $step: $step - 80px;
            }
            &:hover{
              .assortiment__icon{
                background-position: 0 $step;
                $step: $step - 80px;
              }
            }
          }
        }
      }
    }
  }
}

.body--parallax{
  background: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,0.93)), url('../img/body-parallax.jpg') top center repeat;
  background-attachment: fixed;
  background-size: contain;
}

.about{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.vacancies{
  h4.title{
    padding-left: 40px;
  }
}
.popupform{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.main-form{
  max-width: 500px;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  .text{
    text-align: center;
    font-size: 14px;
    color: $color-gray;
  }
  .input,
  .textarea,
  label,
  .confidentiality,
  .submit{
    margin: 0 auto 20px auto;
  }
  label{
    margin-bottom: 10px;
  }
  input[type="file"]{
    display: none;
  }
  .confidential{
    font-size: 9px;
    font-family: $font;
    margin: auto;
    color: $color-gray;
    margin-bottom: 10px;
    a{
      color: $color-gray;
    }
  }
}

.confidentiality{
  margin-top: 62px;
  padding: 20px;
  .text{
    font-size: 16px;
  }
}

.dropdown {
  & > .btn{
    display: block;
    width: 224px;
    margin: 0 auto;
    margin-top: 20px;
  }
  &--technical{
    padding-top: 50px !important;
    .dropdown-item-content{
      max-height: 423px;
      overflow-y: scroll;
    }
  }
}

.transport{
  padding: 20px;
  max-width: 1340px;
  box-sizing: border-box;
  margin: 0 auto;
}

.services,
.products,
.partners,
.portfolio{
  .title:first-child{
    margin-top: 40px;
    & + .undertitle{
      margin-bottom: 40px;
    }
  }
}