body{
  margin: 0;
  padding: 0;
  padding-top: 62px;
}

.body--no-top-padding{
  padding-top: 0;
}

.services,
.products,
.metal-structures{
  padding: 20px 0 0 0;
  .title{
    a{
      color: $color-blue;
      text-decoration: none;
      &:hover{
        color: lighten($color-blue, 5%);
      }
    }
  }
  .btn{
    margin: 0 auto;
    display: block;
    width: 157px;
  }
}

.services,
.metalworking{
  border-bottom: 1px solid $color-lightgray;
  border-top: 1px solid $color-lightgray;
  // padding-top: 20px;
  .assortiment{
    &--squares{
      .assortiment__item{
        background: url(../img/services-pic-sprite.jpg) 0px 0px no-repeat;
        $step: 0px;
        @for $i from 1 to 14 {
          &--#{$i}{
            background-position: 0 $step;
            $step: $step - 267px;
            &:hover{
              background-position: 0 $step;
              $step: $step - 267px;
            }
          }
        }
      }
    }
  }
}

.products,
.metalproducts{
  border-bottom: 1px solid $color-lightgray;
  .assortiment{
    &--squares{
      .assortiment__item{
        background: url(../img/products-pic-sprite.jpg) 0px 0px no-repeat;
        $step: 0px;
        @for $i from 1 to 15 {
          &--#{$i}{
            background-position: 0 $step;
            $step: $step - 267px;
            &:hover{
              background-position: 0 $step;
              $step: $step - 267px;
            }
          }
        }
      }
    }
  }
}

.metalstructures,
.metal-structures{
  border-bottom: 1px solid $color-lightgray;
  .assortiment{
    &--squares{
      .assortiment__item{
        background: url(../img/products-pic-sprite.jpg) 0px 0px no-repeat;
        $step: -267px * 12;
        @for $i from 1 to 9 {
          &--#{$i}{
            background-position: 0 $step;
            $step: $step - 267px;
            &:hover{
              background-position: 0 $step;
              $step: $step - 267px;
            }
          }
        }
      }
    }
  }
}

.info{
  border-bottom: 1px solid $color-lightgray;
  .text{
    max-width: 1100px;
    margin: 40px auto;
    font-size: 18px;
  }
  blockquote{
    max-width: 1340px;
    margin: 0 auto 40px auto;
    padding-bottom: 0;
    p {
      font-size: 18px;
    }
  }
}
// .products{
//   .assortiment{
//     $step: 0px;
//     @for $i from 1 to 16 {
//       &__item--#{$i}{
//         .assortiment{
//           &__link{
//             .assortiment__icon{
//               background: url(../img/products-and-metalstructures-sprite.png) no-repeat;
//               background-position: 0 $step;
//               $step: $step - 85px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .services{
//   .assortiment{
//     $step: 0px;
//     @for $i from 1 to 15 {
//       &__item--#{$i}{
//         .assortiment{
//           &__link{
//             .assortiment__icon{
//               background: url(../img/services-sprite.png) no-repeat;
//               background-position: 0 $step;
//               $step: $step - 85px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

.metalstructures,
.metalproducts,
.metalworking{
  padding: 20px 0;
  position: relative;
  .breadcrumbs {
    margin-left: 82px;
  }
  .title{
    font-size: 24px;
  }
  .text,
  .list{
    max-width: 1340px;
    margin: 10px auto;
    font-size: 16px;
    &:last-child{
      margin-bottom: 40px;
    }
  }
}

// .metalstructures,
// .metal-structures{
//   .assortiment{
//     $step: -85px * 6;
//     margin-bottom: 40px;
//     @for $i from 1 to 10 {
//       &__item--#{$i}{
//         .assortiment{
//           &__link{
//             .assortiment__icon{
//               background: url(../img/products-and-metalstructures-sprite.png) no-repeat;
//               background-position: 0 $step;
//               $step: $step - 85px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .metalproducts{
//   .assortiment{
//     $step: 0;
//     margin-bottom: 40px;
//     margin-top: 40px;
//     @for $i from 1 to 10 {
//       &__item--#{$i}{
//         .assortiment{
//           &__link{
//             .assortiment__icon{
//               background: url(../img/products-and-metalstructures-sprite.png) no-repeat;
//               background-position: 0 $step;
//               $step: $step - 85px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .metalworking{
//   .assortiment{
//     flex-wrap: wrap;
//     $step: 0;
//     margin-bottom: 40px;
//     margin-top: 40px;
//     @for $i from 1 to 15 {
//       &__item--#{$i}{
//         .assortiment{
//           &__link{
//             .assortiment__icon{
//               background: url(../img/services-sprite.png) no-repeat;
//               background-position: 0 $step;
//               $step: $step - 85px;
//             }
//           }
//         }
//       }
//     }
//   }
// }



// .products{
//   border-top: 1px solid $color-lightgray;
//   border-bottom: 1px solid $color-lightgray;
//   .assortiment{
//     $step: -800px;
//     @for $i from 1 to 6 {
//       .owl-item:nth-child(#{$i}){
//         .assortiment__icon{
//           background-position: 0 $step;
//           $step: $step - 80px;
//         }
//         &:hover{
//           .assortiment__icon{
//             background-position: 0 $step;
//             $step: $step - 80px;
//           }
//         }
//       }
//     }
//   }
// }

.body--parallax{
  background: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,0.93)), url('../img/body-parallax.jpg') top center repeat;
  background-attachment: fixed;
  background-size: contain;
}

.about{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.vacancies{
  h4.title{
    padding-left: 40px;
  }
}
.popupform{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.main-form{
  max-width: 500px;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  .text{
    text-align: center;
    font-size: 14px;
    color: $color-gray;
  }
  .input,
  .textarea,
  label,
  .confidentiality,
  .submit{
    margin: 0 auto 20px auto;
  }
  label{
    margin-bottom: 10px;
  }
  input[type="file"]{
    display: none;
  }
  .confidential{
    font-size: 9px;
    font-family: $font;
    margin: auto;
    color: $color-gray;
    margin-bottom: 10px;
    a{
      color: $color-gray;
    }
  }
}

.confidentiality{
  margin-top: 62px;
  padding: 20px;
  .text{
    font-size: 16px;
  }
}

.dropdown {
  & > .btn{
    display: block;
    width: 224px;
    margin: 0 auto;
    margin-top: 20px;
  }
  &--technical{
    padding-top: 50px !important;
    .dropdown-item-content{
      max-height: 423px;
      overflow-y: scroll;
    }
  }
}

.transport{
  padding: 20px;
  max-width: 1340px;
  box-sizing: border-box;
  margin: 0 auto;
}

.services,
.products,
.partners,
.portfolio,
.contacts,
.prod-areas{
  .title:first-child{
    margin-top: 40px;
    & + .undertitle{
      margin-bottom: 40px;
    }
  }
}

.metalstructures{
  .assortiment{
    flex-wrap: wrap;
    max-width: calc(268px * 4);
  }
}

.metalproducts{
  .assortiment{
    max-width: calc(268px * 3);
  }
}
.phones{
  padding: 20px 0;
  .team{
    &__list{
      margin: 0 auto;

    }
  }
}

.full-height{
  height: calc(100vh - 62px * 2);
  .title{
    margin: 0;
    padding: 20px 0;
  }
}

body.body--no-top-padding {
  .main-header {
    border-bottom: none;
    position: relative;
    &__logo {
      background-image: url('../img/logo-horizontal-small-white.png');
    }
    .hamburger {
      &__item {
        background: white;
      }
    }
    .main-header__item {
      a {
        color: white;
      }
    }
    &.main-header--fixed {
      border-bottom: 2px solid $color-blue;
      position: fixed;
      top: 0;
      left: 0;
      .main-header__logo {
        background-image: url('../img/logo-horizontal-small.png');
      }
      .hamburger {
        &__item {
          background: $color-gray;
        }
      }
      .main-header__item {
        a {
          color: $color-gray;
        }
      }
    }
  }
}