.hamburger{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding-right: 70px;
  margin-top: auto;
  margin-bottom: auto;
  &:hover{
    .hamburger__item:first-child{
      position: relative;
      transform: translateY(-2px);
    }
    .hamburger__item:last-child{
      position: relative;
      transform: translateY(2px);
    }
  }
  &__item{
    display: inline-block;
    width: 20px;
    height: 3px;
    background: $color-gray;
    margin-bottom: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &::after{
    content: 'Меню';
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: $color-gray;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    top: -1px;
    left: 30px;
    font-family: 'Open Sans', sans-serif;
  }
}
