doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Производство мостовых металлоконструкций в Set Service Group'
  -let heading = 'Мостовые металлоконструкции'
  -let parent = 'Металлоконструкции'
  -let keywords = "Мостовые металлоконструкции, Мостовые металлоконструкции производство, Мостовые металлоконструкции изготовление, конструкции металлических мостов, производство эстакад"
  -let description = 'Наше предприятие изготавливает стальные конструкции железнодорожных, автодорожных, городских, совмещенных и пешеходных мостов'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-loop="true" data-autoplay="false")
              img(src="../img/for-pic-sprites/мостовые металлоконструкции.jpg")
          .main__info
            p.text.text--justify Сегодня значительная часть мостов и пролётных сооружений мира изготавливается с применением металлических конструкций, которые зачастую обозначаются как «мостовые металлоконструкции» или «тяжёлые металлоконструкции». Set Service Group располагает необходимым оборудованием и специалистами для реализации таких проектов.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify Наше предприятие изготавливает стальные конструкции железнодорожных, автодорожных, городских, совмещенных и пешеходных мостов (включая путепроводы, виадуки, эстакады).
            p.text.text--justify Металлоконструкции изготавливаются в соответствии с СТП 012-2000 «Заводское изготовление стальных конструкций мостов», Москва 2001 г., на основании рабочей документации на стадии «Конструкции металлические» (КМ) и проходят полный контроль качества, включая неразрушающий контроль сварных соединений ультразвуковой дефектоскопией.
            p.text.text--justify
              | Наиболее распространенными элементами 
              b мостовых металлоконструкций
              | , которые мы производим, являются:
            ul.list
              li Пролётные строения, включая U-образные, Т-образные и П-образные формы, с сегментированием, подготовкой под разъединяемое дорожное полотно (разводные, подъёмные мосты) или надстройками;
              li Элементы опорных групп – противовесы хвостовых частей, замковые коробы, пилоны;
              li Решения для организации строительной площадки – временные выдвижные балки, наплавные элементы, тепляки, подвесные конструкции;
              li Ограждающие конструкции мостов, в том числе перила, контрольно-пропускные полосы, бордюры, и кожухи подвижных элементов;
              li Переходы и смотровые ходы;
              li Пространства для прокладки инженерно-коммунальных сетей, служебную инфраструктуру с использованием трапов, люков, лазов;
              li Металлические дорожные полотна и соединения пролётных конструкций с береговыми строениями и т.д.
            p.text.text--justify
              | В современном мостостроении основные 
              b конструкции металлических мостов
              |  выполняются из малоуглеродистых и низколегированных сталей. Для конструкций 
              b железнодорожных металлических мостов
              |  с пролётами до 80 м и автомобильных мостов с пролётами до 300 м обычно применяют сплошные металлические балки постоянной или переменной высоты. Главные балки соединяют между собой связями. Сверху на балках укладывают железобетонную плиту проезжей части. Плиту соединяют специальными упорами с металлическими главными балками, обеспечивая тем самым их совместную работу и, следовательно, экономию металла в конструкции.
            p.text.text--justify Применяются также коробчатые главные балки, которые выполняют из стальных листов, подкрепленных изнутри продольными рёбрами и поперечными диафрагмами. Плиту проезжей части на таких балках делают железобетонной или металлической. Эти пролётные строения экономичны, легки и жёстки, что даёт возможность применять их при значительных пролётах (до 300 м).
            p.text.text--justify
              | Если вас интересует 
              b производство мостовых металлоконструкций
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
        
