doctype
html
  -let title = 'Строительные металлоконструкции'
  -let parent = 'Металлоконструкции'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Строительные металлоконструкции
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции1.jpg")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции2.jpg")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции3.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству закладных деталей и фундаментных болтов. Если вы ищете где заказать производство закладных деталей или фундаментных болтов в Москве или Санкт-Петербурге вы можете смело обращаться к нам.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            .outer.active
              .inner Закладные детали
            .outer
              .inner Фермы
            .outer
              .inner Несущие элементы
            .outer
              .inner Армокаркасы
          article.main__article.main__article--active
            p.text.text--justify 
              b Закладные детали 
              | - это стальные элементы металлоконструкций, предназначенные для соединения сборных и сборно-монолитных металлоконструкций между собой. 
              | Закладные детали изготавливаются из листовой, полосовой, арматурной и круглой стали, также в них применяются элементы стальных уголков и швеллеров. Часто закладные детали представляют собой стальную пластину с приваренным к ней анкером. Форма стальных пластин для закладных деталей может быть различной: прямоугольной, квадратной, трапециевидной, треугольной, ромбовидной и т.п. 
            p.text.text--justify По расположению анкерных стержней различают закладные детали с перпендикулярным, параллельным, наклонным и смешанным расположением анкерных стержней. Закладные детали могут быть открытыми и закрытыми. При изготовлении закладных чаще всего используют хорошо свариваемые стали, такие, как Ст3. Для того, чтобы уберечь закладные детали от воздействия коррозии и продлить срок их службы их поверхность может оцинковываться.
            p.text.text--justify 
              b Закладные детали производятся 
              | из высококачественных материалов, каждый из которых соответствует своему ГОСТу.
            p.text.text--justify 
              b Мы изготавливаем закладные детали по серии 1.400-15 состоящей из двух выпусков: 
            ul.list
              li Выпуск 0 – материалы для проектирования
              li Выпуск 1- рабочие чертежи
            p.text.text--justify 
              b Технология производства закладных деталей
            p.text.text--justify 
              | Приварку анкеров к пластинам в тавр выполнять на сварочных автоматах в газовой среде в соответствии с 
              b ГОСТом 19292-73 и СН 393-78.
            p.text.text--justify Помимо автоматической сварки втавр допускается дуговая сварка швами в раззенкованных отверстиях. Однако при этом необходимо чтобы толщина пластины закладной детали была больше или равна 0,75 от диаметра анкера. Так же необходимо обратить внимание, что приварка анкеров к пластинам в тавр кольцевыми швами ручной дуговой сваркой не допускается. Аматура привариваются к пластинам в раззенкованных отверстиях ручными валиковыми швами в соответствии с СН 393-78, тип 21.
            p.text.text--justify Приварку внахлестку гнутой арматуры к пластинам закладных деталей групп «3» и «6», а также изделий МН501-МН522 группы «5» производиться ручной дуговой сваркой протяженными (длинными) швами в соответствии с СН393-78, тип 14. Для всех остальных изделий на ряду с ручной дуговой сваркой длинными швами может применяться контактная рельефно-точечная сварка в соответствии ГОСТом 19292-73, соединение Н-1 и СН393-78, тип15. Если закладное изделие применяется для конструкций с вибрационной нагрузкой, то контактная рельефно-точечная сварка не допускается.
            p.text.text--justify 
              b Закладные детали группы «2» 
              | изготавливаются, как правило, в разобранном виде без приварки анкеров к пластинам с раззенкованными отверстиями, если с заказчиком не оговариваются условия о приварке анкеров к обеим пластинам.
            p.text.text--justify 
              b Закладные изделия группы «6» 
              | (для крепления монорельсов), состоящей из двух пластин с гнутыми и прямыми анкерами и трубкой, изготавливаются раздельно и поставляются в комплекте. Приварка трубки к пластинам и сварка прямых стержней производится при установке закладного изделия в пространственный каркас или опалубочную форму.
            p.text.text--justify При приварке анкеров к пластинам применяются жесткие кондуктора или другие приспособления для обеспечения проектного положения анкеров.
            p.text.text--justify 
              b Применение закладных деталей
            p.text.text--justify Закладные детали представляют собой специальные элементы из стали. Главное их назначение - это соединять сборные, сборно-монолитные конструкции из железобетона и изделия между собой, а также с другими конструкциями. Изготовление происходит из полосовой, уголковой, круглой, листовой и шевеллерной стали.
          article.main__article
            p.text.text--justify 
              b Классификация металлоических ферм
            p.text.text--justify Классификация ферм из металлоконструкций базируется на форме поясов и типах решеток. Фермы могут быть:
            ul.list
              li с параллельными поясами;
              li односкатные фермы (трапецеидальные);
              li полигональные фермы;
              li фермы с треугольными поясами.
            p.text.text--justify Set Service Group производит как плоские фермы, так и пространственные фермы. Плоская ферма — это металлоконструкция, все составные части которой находятся в одной плоскости. Пространственная ферма, в свою очередь, может выдерживать нагрузку, которая направлена одновременно на все плоскости. Каждая грань пространственной фермы является плоской фермой.
            p.text.text--justify 
              b Конструкция металлических ферм
            p.text.text--justify В основе конструкции любой металлической фермы — пояса и раскосы. Пояса принимают на себя продольную нагрузку, а раскосы — поперечную нагрузку. Высотой называют расстояние между осями поясов, составляющих крайнюю верхнюю и крайнюю нижнюю точки. Пролет — расстояние между опорами.
            p.text.text--justify Преимуществами ферм по сравнению с металлическими балками являются:
            ul.list
              li относительно малый вес конструкции;
              li легкость и большая скорость монтажа;
              li возможность самостоятельной сборки;
              li возможность создания мобильных конструкций.
            p.text.text--justify Строительные фермы достаточно просто транспортируются в виде отдельных деталей на объект, где для сборки конструкции нет необходимости в сварке или другом специальном оборудовании и технике.
            p.text.text--justify 
              b Монтаж металлических ферм
            p.text.text--justify 
              | Фермы из металлоконструкций собираются поэтапно. Пояса связываются между собой одним или спаренными уголками. Длинные фермы дополнительно укрепляются накладными и соединительными пластинами, а для противодействия нагрузке в границах панели фермы применяются парные швеллеры. 
              | Полностью сварные конструкции создаются на основе тавр. Готовая ферма покрывается антикоррозийной защитой. Также с помощью сварки уже на объекте собираются металлоконструкции из труб. Для получения консультации по производству строительных ферм из металлоконструкций просто оставьте заявку и наши специалисты свяжутся с вами в ближайшее время.
          article.main__article
            p.text.text--justify 
              b Несущими элементами 
              | называют такие конструкции, которые выполняют функции основного элемента (или одного из элементов) строительной конструкции, воспринимающего большую часть нагрузок и обеспечивающие сооружению прочность, жесткость и устойчивость к внешним и внутренним воздействиям.Set Service Group производит колонны, связи и прогоны любой сложности по вашему заказу.
            p.text.text--justify 
              b Колоны
            p.text.text--justify 
              b Сварные колонны 
              | изготавливают из металлических листов с помощью автоматической сварки. Профиль металлической колонные выполняется в виде соответствующей геометрической фигуры. У двутавровых он напоминает букву «Н», причем размеры каждой стороны по длине и ширине могут быть разными. Выделяют также колонны постоянного, переменного и раздельного сечения.
            p.text.text--justify По форме поперечного сечения изделия делятся на:
            ul.list
              li круглые;
              li прямоугольные;
              li двутавровые.
            p.text.text--justify 
              b Прогоны
            p.text.text--justify 
              b Прогон 
              | - горизонтальный элемент конструкции здания, по которому укладывают настил покрытия. Прогон опирается на основные несущие конструкции - балки или фермы. Это наиболее распространенный вспомогательный несущий материал для устройства подконструкций стеновых ограждений и покрытий, а также вспомогательных несущих систем. При устройстве кровли прогон воспринимает нагрузку от кровельного покрытия и передаёт её на стропильную конструкцию.
            p.text.text--justify Прогоны могут иметь сплошное сечение и решетчатое. Сплошные прогоны тяжелее решетчатых, но значительно проще в изготовлении и монтаже, что сказывается на стоимости конструкции. Сплошные прогоны обычно изготавливают из швеллеров или двутавров.
            p.text.text--justify 
              b Связи
            p.text.text--justify 
              b Связи металлоконструкций 
              | – детали системы, позволяющие достичь соединения несущих элементов, в их состав входят раскосы, распорки, порталы стержневых ферм, такие конструкции придают жесткость и увеличивают устойчивость системы.
            p.text.text--justify Связи металлоконструкций необходимы для:
            ul.list
              li обеспечения неизменяемости пространственной системы каркаса и устойчивости его сжатых элементов;
              li восприятия и передачи на фундаменты некоторых нагрузок (ветровых, горизонтальных от кранов);
              li обеспечения совместной работы поперечных рам при местных нагрузках (например, крановых);
              li создания жесткости каркаса, необходимой для обеспечения нормальных условий эксплуатации;
              li обеспечения условий высококачественного и удобного монтажа.
            p.text.text--justify 
              b Каркасы
            p.text.text--justify 
              b Каркас 
              | представляет собой несущую конструкцию, которая состоит из линейных элементов. Назначение каркаса — это обеспечение прочности и устойчивости объекта при воздействии внешних нагрузок.
            p.text.text--justify Каркасы сооружений состоят в основном из колонн, ригелей, которые опираются на колонны, прогонов, ферм, на которые укладываются элементы покрытия. Кроме полных каркасов, которые воспринимают все нагрузки и вес здания, также встречаются сооружения с внутренними или неполным каркасом, которые отличаются отсутствием колонн у наружных стен, при этом стены совместно с каркасом являются несущими конструкциями.
            p.text.text--justify 
              b Рамы
            p.text.text--justify 
              b Металлические рамы 
              | - конструкции, которые состоят из ригелей и стоек. Благодаря соединению вертикальных и пролетных элементов, железные изделия позволяют по максимуму эффективно применять металл, повышая жесткость ригеля.
            p.text.text--justify В зависимости от соединения все рамы классифицируют на:
            ul.list
              li Трехшарнирные – их применяют в тех случаях, когда нужно произвести полураму для дальнейшего перемещения на объект;
              li Двухшарнирные – самый распространенный вид, за счет повышенной устойчивости к осадке основания здания;
              li Бесшарнирные – наиболее экономичные конструкции по расходу железа, используется при больших пролетах.
          article.main__article
            p.text.text--justify
              b Производство арматурных каркасов
              |  – это одно из направлений деятельности Set Service Group. У нас вы можете купить конструкции по демократичным ценам, заказать их проектирование и разработку, ряд других услуг. Мы реализуем готовые треугольные и другие арматурные каркасы для фундамента, для буронабивных свай, для любых других строительных конструкций, используем в их изготовлении самые передовые технологические решения.
            p.text.text--justify
              | Использование готовых армокарскасов при возведении объектов коммерческого или жилого назначения позволяет существенно упростить строительные работы и кардинально сократить сроки работ. Такие преимущества строительства с использованием армокаркасов делают их всё более популярными.
            p.text.text--justify
              | Более того, использование армокаркасов не только не ведёт к удорожанию работ, но и позволяет снизить затраты, связанные с использованием традиционной арматуры (в частности - необходимость выделения зоны складирования, материалов и рабочих сил для вязки арматуры, зависимость от погоды и т.п.).
            p.text.text--justify
              | Еще пару десятилетий назад монтаж арматурного каркаса выполнялся непосредственно на строительном объекте, отдельные его элементы просто связывались между собой проволокой, из-за чего конструкции не были достаточно надежными, обладали существенными недостатками. Именно поэтому сегодня этот процесс выполняется в заводских условиях, что обеспечивает получение следующих преимуществ:
            ul.list
              li максимально точный расчет изделия в зависимости от нагрузки на будущую конструкцию;
              li сварка арматурных сеток и каркасов с использованием специального оборудования. Такое соединение существенно повышает прочностные характеристики изделия, делает его более надежным и долговечным;
              li применение качественных материалов, подбираемых в полном соответствии с требованиями заказчика и особенностями конструкции здания;
              li полное соответствие каркасов и сеток арматурных ГОСТу;
              li снижение себестоимости работ по строительству зданий и сооружений, отдельных их элементов.
            p.text.text--justify
              | Если вас интересует 
              b производство армокаркасов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  include ../../includes/yandex-metrika.pug

        
