doctype
html
  -let title = 'Газоходы и дымоходы'
  -let parent = 'Металлоконструкции'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Газоходы и дымоходы
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/СоциальныеКонструкции1.jpg")
              img(src="../img/metal-structures/СоциальныеКонструкции2.jpg")
              img(src="../img/metal-structures/СоциальныеКонструкции3.jpg")
              img(src="../img/metal-structures/СоциальныеКонструкции4.jpg")
              img(src="../img/metal-structures/СоциальныеКонструкции5.jpg")
          .main__info
            p.text.text--justify Set Service Group занимается изготовлением газоходов и дымовых труб в Санкт-Петербурге. Наша продукция гарантированно отличается качеством и надежностью. Свяжитесь с нами, и ваша заявка будет обработана нашими менеджерами в самые короткие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            .outer.active
              .inner Газоходы
            .outer
              .inner Дымоходы
          article.main__article.main__article--active
            p.text.text--justify
              b Газоходы
              |  - это разновидность воздуховодов, которые используются в технологических процессах на производствах для отвода отработанного газа от тепловых установок. Газоход состоит из трубы (материалом может быть как черная сталь, так и нержавеющая) и двух фланцев - все стыки должны быть проварены не точечно, а герметичным сварным швом.
            p.text.text--justify
              | Мы занимаемся производством металлических газоходов и фасонных частей - отводы 90 градусов, 45 градусов, тройники, "штаны", переходы из одного диаметра в другой, переходы из круглого сечения в прямоугольное и фактически все сварные элементы газоходов.
            p.text.text--justify
              | Раскрой фасонных изделий у нас производится на станке плазменной резки металла. После изготовления и сварки газоходы покрываются грунтовкой в два слоя. Скорее газоходы ближе к трубам, чем к воздуховодам. Газоходы подбираются в зависимости от используемой газовой смеси. Кроме газоходов мы также можем производить элементы стальных конструкций с помощью сварки.
            p.text.text--justify
              | Если вас интересует 
              b производство газоходов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify
              b Дымоход
              |  предназначен для отвода продуктов сгорания от котла, печи, камина и т.п. В зависимости от конкретных условий эксплуатации, дымоходы имеют множество конструктивных особенностей и производятся из различных материалов. От того, из какого материала и каким способом изготовлен дымоход, зависит качество и эффективность работы отопительного прибора.
            p.text.text--justify
              | Для установки котлов, печей, каминов и любых других обогревательных агрегатов, работающих на принципе сжигания топлива, в обязательном порядке требуется организация пути отвода продуктов сгорания. 
              b Дымоходы из нержавеющей стали
              |  – наиболее приемлемый универсальный способ решения этой задачи.
            p.text.text--justify
              | Дымоходы из нержавеющих сталей имеют ряд преимуществ, отсутствующих в системах, выполненных из других материалов:
            ul.list
              li доступная цена;
              li небольшой вес;
              li жаростойкость;
              li кислото- и коррозионная стойкость;
              li высокая прочность;
              li универсальность;
              li длительный срок эксплуатации;
              li возможность создания конструкций любой сложности;
              li простота и высокая скорость монтажа;
              li возможность подрезки прямо на строительной площадке.
            p.text.text--justify
              | В отличие от кирпичных дымоходов, которые часто используются для котлов, печей и каминов, и постепенно разрушаются от циклических воздействий, нержавеющие устойчивы как к периодическому температурному воздействию, так и к коррозии. Не действуют на них и химически агрессивная среда, сухость или повышенная влажность
            p.text.text--justify
              b Стальные дымоходы
              |  представляют собой модульную конструкцию. Стандартные элементы, тройники, переходники, отводы, используемые при монтаже системы, позволяют создавать сложные конфигурации и обходить архитектурные детали или инженерные конструкции здания.
            p.text.text--justify
              b Дымоход из нержавейки
              |  может применяться в постройках любого типа, при этом ось устанавливаемой трубы при необходимости сдвигается в нужном направлении, не влияя на положение котла.
            p.text.text--justify
              | Эксплуатационные характеристики металлических дымоходов во многом зависят от используемой при их производстве марки стали. Сталь подбирается в зависимости от того, на каком топливе будет работать система отопления, так как выделяемые при сгорании продукты горения имеют различные химические составы и физические характеристики. Как правило, производство осуществляется из следующих марок стали:
            p.text.text--justify
              b AISI 316
              |  – обладает стойкостью к температуре до 850 градусов, обогащена включением никеля и молибдена. Термоустойчива, имеет высокую стойкость к химическому, в том числе к кислотному, воздействию. Универсальна, подходит для дымоотводов котельных, агрегаты которых работают на дровах, угле, дизельном топливе и т.д. Именно эта сталь применяется в дымоходах конденсационных котлов;
            p.text.text--justify
              b AISI 310
              |  – наличие в составе никеля и хрома повышает термоустойчивость материала, труба из этой стали выдерживает температуру до 1000 градусов. Чаще всего используется с отопительными системами, работающими на твердом топливе: угле, коксе и т.д.;
            p.text.text--justify
              b AISI 304
              |  — по свойствам схожа со сталью 316, но легирующих добавок содержит меньше. Отличается высокой прочностью при работе с относительно низкими температурами, сопротивлением коррозии. Предназначается, прежде всего, для бытовых котлов и агрегатов, использующих газ в виде топлива и выделяющих сухой (до 600°С) дым. Устанавливаются в зданиях и помещениях с повышенными требованиями безопасности. Так же применяется для производства вентиляционных систем, различных видов крепежей дымоходов и т.п.
            p.text.text--justify
              | Если вас интересует 
              b производство дымоходов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
