doctype
html
  -let title = 'Производство нестандартных металлоконструкций в Set Service Group'
  -let heading ='Нестандартные металлоконструкции'
  -let parent = 'Металлоконструкции'
  -let keywords = "Нестандартные металлоконструкции, Нестандартные металлоконструкции производство, Нестандартные металлоконструкции изготовление, сложные металлоконструкции на заказ, сложные металлоконструкции на заказ производство"
  -let description = 'Изготовление любых сложных и нестандартных металлоконструкций по вашему чертежу или описанию проекта.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/НестандартныеМеталлоконструкции1.jpg")
              img(src="../img/metal-structures/НестандартныеМеталлоконструкции2.jpg")
              img(src="../img/metal-structures/НестандартныеМеталлоконструкции3.jpg")
          .main__info
            p.text.text--justify Современные компании нередко испытывает потребность в изготовлении не типовых металлоконструкций. Set Service Group осуществляет производство металлоконструкций любой сложности по чертежам заказчика.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              | Одна из самых непростых задач, с которыми сталкиваются многие компании, является 
              b изготовление нестандартных металлоконструкций
              | . Воплощение в металле сложных конструкций, нередко имеющих большие габариты, требует наличия большого станочного парка и опытных специалистов. Именно поэтому качественная сборка металлоконструкций по чертежам заказчика доступна лишь небольшому числу предприятий.
            p.text.text--justify
              | Set Service Group принимает заказы на 
              b производство нестандартных металлоконструкций
              | . Мы готовы выполнить спецзаказ по чертежам заказчика, а также разработать в конструкторском бюро завода уникальные чертежи конструкций любого вида для реализации даже самого необычного проекта.
            p.text.text--justify Для этого группа компаний Set Service располагает всем необходимым:
            ul.list
              li Широким ассортиментом технологического оборудования (порубочные и гибочные станки, вальцы, прессы, комплексы фрезеровального и токарного оборудованиях, сварочные агрегаты и др.);
              li Качественными материалами для производства металлоконструкций (высококачественная сталь, алюминий и сплавы);
              li Командой опытных квалифицированных рабочих и инженерно-технического персонала.
            p.text.text--justify В качестве примера реализованных нами проектов по нестандартным металлоконструкциям можно перечислить:
            ul.list
              li Аэрожелобы для транспортировки сыпучих веществ
              li Алюминиевые экстерьерные конструкции
              li Противопожарные полотна дверей
              li Каркасы для позиционирования
              li Секции конвейера для транспортировки агломерата
              li Индивидуальные металлические вывести для предприятий
              li Кронштейны по индивидуальному дизайн-проекту
              li Светопрозрачные металлоконструкции для торговых и бизнес центров
              li Технологические тележки
            p.text.text--justify В нашу практику входит осуществление полного цикла работ по реализации нестандартных проектов от совместного с заказчиком формулирования задачи, проектирования металлоконструкций, подбора материалов их изготовления и непосредственного производства до доставки к месту строительства, монтажа и последующего обслуживания. Индивидуальные металлоконструкции под заказ изготавливаются с гарантией качества и в полном соответствии с действующими техническими требованиями и нормативами.
            p.text.text--justify
              | Если вас интересует 
              b изготовление нестандартных металлоконструкций
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
