doctype
html
  -let title = 'Опоры трубопроводов'
  -let parent = 'Металлоконструкции'
  -let keywords = "Опоры трубопроводов, Опоры трубопроводов производство, Опоры трубопроводов изготовление, подвижные опоры трубопроводов, скользящие опоры трубопроводов"
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Опоры трубопроводов
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/ОпорыТрубопроводов1.jpg")
              img(src="../img/metal-structures/ОпорыТрубопроводов2.jpg")
              img(src="../img/metal-structures/ОпорыТрубопроводов3.jpg")
          .main__info
            p.text.text--justify 
              b Опоры трубопроводов 
              | представляют собой металлоконструкции, которые переводя осевые, поперечные, вертикальные нагрузки, а также крутящиеся моменты на грунт или на несущие конструкции. Опоры трубопроводов используются при закладке трубопроводных магистралей различного назначения. Set Service Group занимается производством опор для трубопроводов любой сложности.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Классификация опор трубопроводов
            p.text.text--justify Данные изделия можно условно разделить на несколько типов, в частности:
            ul.list
              li подвижные опоры;
              li скользящие опоры;
              li неподвижные опоры.
            p.text.text--justify 
              b Подвижные опоры 
              | находят свое применение с целью поддержания трубопровода, на смещение которого не влияют температурные показатели. Направляющие, скользящие и подвижные опоры могут отличаться параметрами, однако данный вид конструкции рассчитан исключительно на вертикальные нагрузки трубопровода.
            p.text.text--justify 
              b Неподвижные опоры. 
              | Неподвижные опоры можно разделить на два вида. Так, это могут быть неподвижные опоры для трубопроводов, используемых в наземной прокладке, в которых в качестве гидроизоляции применение находит оцинкованная оболочка. Другой тип представляет собой неподвижные опоры для трубопроводов прокладки подземного типа, где функцию гидроизоляции выполняет полиэтиленовая ППУ изоляция, цена на такие опоры будет отличаться от предыдущих.
            p.text.text--justify 
              b Скользящая опора 
              | отличается простотой конструкции, состоящей из гнутого, сварного или изготовленного из уголка прочного основания, держателей полукруглого типа и креплений этих держателей, прокладок между трубопроводом и опорой, обеспечивающих защиту трубы от механического стираний при смещении трубопровода вдоль направляющей или подвижной опоры. 
              | Главная цель применения скользящей, подвижной и направляющей опоры заключается в поддержании трубопровода при поперечных и продольных смещениях трубы в определенных параметрах, а также защиты трубопровода от провисания и, как следствие, выхода из строя.
            p.text.text--justify
              b Изготовление опор трубопроводов
            p.text.text--justify В изготовлении опор трубопроводов применяется сталь различных марок, что зависит от метеоусловий, типа почвы и региона использования. В зависимости от диметра трубопровода, его форм и других параметров, определяется размеры трубопроводов. Они могут быть бестраншейными, подземными и наземными. В производстве данных изделий, соблюдаются требования, предъявляемые для производства трубопроводных опор.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
