doctype
html
  -let title = 'Площадки обслуживания'
  -let parent = 'Металлоконструкции'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Площадки обслуживания
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/Площадки1.jpg")
              img(src="../img/metal-structures/Площадки2.jpg")
          .main__info
            p.text.text--justify 
              b Площадки обслуживания 
              | используются как на промышленных предприятиях, так и в иных сферах. Например, на строительных объектах площадки обслуживания помогают подняться рабочим на определенную высоту, а на тепловых трассах обеспечивают удобство перехода. Set Service Group занимается производством площадок обслуживания на заказ.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Назначение площадок обслуживания
              p.text.text--justify
            p.text.text--justify Площадки обслуживания оборудования- это особые металлоконструкции, которые позволяют выполнять целый ряд действий:
            ul.list
              li получить доступ к оборудованию для его обслуживания;
              li переходить между зданиями и производственными помещениями;
              li осуществлять технологические переходы внутри производственных помещений и цехов;
              li обеспечивать доступ обслуживающего персонала на кровлю зданий и сооружений;
              li осуществлять ремонт и отделку зданий и сооружений снаружи.
            p.text.text--justify Список функционального назначения площадок не полный, использоваться они могут практически в любой сфере жизни. Конструкции чаще всего изготавливаются по индивидуальным заказам, в соответствии с задачами, которые ставятся при обслуживании того или иного объекта. Например, площадки обслуживания технического оборудования требуют учета параметром обслуживаемого оборудования при их изготовлении для правильной планировки площадки и получения полного доступа к оборудованию.
            p.text.text--justify
              b Классификая площадок обслуживания
            p.text.text--justify Выделяют две разновидности площадок обслуживания:
            ul.list
              li передвижные
              li стационарные
            p.text.text--justify 
              b Передвижная площадка 
              | используется в основном в строительстве и реконструкции зданий и сооружений, для проведения отделочных, монтажных и санитарно-технических работ. Также изделие может применяться для перехода над различными препятствиями, для обслуживания систем вентиляции и освещения. 
              | Передвижная конструкция для обслуживания состоит из ограждения, лестниц и самой площадки. Колеса, как правило, устанавливаются поворотные и оснащаются тормозом. Ограждения выполняются односторонние, с возможностью переставлять их на другую сторону, или двусторонние. Конструкции перемещаются и поступают к заказчику в разобранном виде. Изделие легко собрать на месте, оно обладает небольшим весом и простотой эксплуатации.
            p.text.text--justify 
              b Стационарная площадка 
              | используется на территории промышленного объекта для обеспечения безопасности и удобства выполнения работ. В составе изделия выделяют ограждение, пешеходный настил, лестницу и несущие конструкции из металла. При изготовлении данного оборудования за основу берутся требования ГОСТ, действующие в отрасли, для которой будет производиться площадка. 
              | Цена на стационарные площадки является договорной, так как данное оборудование выпускается под конкретный заказ, при его проектировании учитываются такие факторы, как особенности объекта, назначение конструкции, ее будущие размеры и способ крепления, несущая нагрузка, количество людей, которые одновременно будут ее эксплуатировать.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
