doctype
html
  -let title = 'Технологические емкости'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Технологические емкости
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify 
              b Емкости 
              | предназначены для хранения жидких и сыпучих продуктов. В зависимости от своей формы и хранящихся в них продуктов емкости можно разделить на: баки, контейнеры, бункеры, резервуары и др. 
              b Set Service Group 
              | занимается производством емкостей в СПб и Ленинградской области на заказ.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            div.active Баки
            div Контейнеры
            div Бункеры
            div Резервуары
          article.main__article.main__article--active
            p.text.text--justify 
              b Баки
              | , как правило, используются для хранения жидких продуктов. В зависимости от требований хранения продуктов баки могут быть изготовлены из различных материалов, что позволяет хранить продукт в среде, которая способствует длительному сохранению его основных свойств.
            p.text.text--justify Баки используются для хранения:
            ul.list
              li воды;
              li топлива;
              li нефтепродуктов;
              li химических растворов и веществ.
            p.text.text--justify В зависимости от технических особенности использования баки могут изготавливаться различной формы (горизонтальные, вертикальные), а также с дополнительными приспособлениями, которые облегчают их эксплуатацию (краны, крышки, горловины и т.д.)
          article.main__article
            p.text.text--justify В промышленности контейнеры используются для проведения транспортировочных и погрузочно-разгрузочных работ. Также контейнеры используются для хранения и транспортировки отходов и различных сыпучих грузов.
            p.text.text--justify Контейнеры могут быть:
            ul.list
              li саморагружающиеся (опрокидывающиеся);
              li стационарные;
              li мобильные.
            p.text.text--justify 
              b Саморазгружающиеся контейнеры 
              | используются для того транспортировки, хранения и разгрузки различных промышленных отходов, мусора, металлической стружки. Его конструкция предусматривает возможность разгрузки в любом месте, что значительно упрощает его эксплуатацию.
            p.text.text--justify 
              b Мобильные контейнеры 
              | отличаются от стационарных лишь возможностью их транспортировки и перемещения с помощью специальных транспортных средств или, если контейнер небольшого размера, посредством перемещения их работниками производства.
          article.main__article
            p.text.text--justify Бункеры используются для постоянного хранения, временного накопления и выдачи материалов в сельском хозяйстве, пищевой, добывающей промышленности, при переработке отходов, производстве строительных материалов, и др.
            p.text.text--justify В зависимости от продукта хранения бункеры можно подразделить на следующие категории:
            p.text.text--justify 
              b Бункеры для песка 
              | – емкости для складирования и временного хранения сыпучего материала на территории производства. Объемные характеристики выпускаемых у нас бункеров для сыпучих материалов весьма обширны. В компании можно заказать оборудование емкостью от 3-х до 100 м
              sup 3
              | , в зависимости от производственных мощностей.
            p.text.text--justify 
              b Бункеры для муки 
              | для временного хранения материала перед использованием. Объем бункеров, которые можно заказать в нашей компании - от 0,5 до 10-ти м
              sup 3
              | .
            p.text.text--justify 
              b Бункеры-накопители 
              | для складирования и хранения разных материалов: щебня, пыли (с вентилируемых каналов), песчано-соляных смесей, цемента, готовых асфальтобетонных смесей и пр. Объем оборудования в данном случае рассчитывается с учетом производственной необходимости и видом сырья.
            p.text.text--justify 
              b Бункеры для опилок 
              | – оборудование для предприятий деревообрабатывающей отрасли. Оптимальный объем емкостей – от 12-ти до 16-ти м
              sup 3
              | .
            p.text.text--justify 
              b Бункеры-питатели: 
              | стационарные и полустационарные модели бункеров для строительной, пищевой, горнодобывающей и других видов промышленности.
            p.text.text--justify 
              b Бункеры силосные 
              | – оборудование для хранения сухих кормов, зерновых культур, муки и сыпучих строительных смесей. По вашему заказу мы спроектируем и доставим бункеры объемом от 5-ти до 100 м
              sup 3
              | .
            p.text.text--justify 
              b Бункеры топлива 
              | для пеллет и угля емкостью от 0,5 до 5 м
              sup 3
              | , вместимостью от 1000 до 4000 кг.
          article.main__article
            p.text.text--justify 
              b Резервуары 
              | – это сосуды для приема, накопления и отдачи жидких и газообразных сред, могут быть открытыми или с герметичной крышкой. Находят применение во всех сферах производства, где необходимо обеспечить запас жидкостей или газов.
            p.text.text--justify Виды резервуаров:
            ul.list
              li по способу размещения – надземные и подземные варианты;
              li по конструкционной ориентации – горизонтальные, вертикальные, шарообразные;
              li по внутреннему строению – многокамерные либо двустенные;
              li по характеристике используемого материала – гибкие и жесткие;
              li по возможности транспортировки – стационарные, плавающие, перевозимые и переносимые.
            p.text.text--justify 
              | Также для отдельных отраслей промышленности могут использоваться 
              b резервуары с индивидуальной конструкцией.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts.pug

        
