doctype
html
  -let title = 'Стенды для испытаний'
  -let parent = 'Металлоконструкции'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Стенды для испытаний
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/Стенды1.jpg")
              img(src="../img/metal-structures/Стенды2.jpg")
          .main__info
            p.text.text--justify Лабораторное подразделение Set Service Group предоставляет услуги по разработке и изготовлению стендов для испытаний. Свяжитесь с нами по телефону или отправьте заявку. Наши специалисты обработают ваш запрос в кратчайшие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Испытательный стенд
              |  — это лабораторное оборудование, которое предназначено для специальных, контрольных, приёмочных испытаний разнообразных объектов. При данных испытаниях объекты подвергаются действию нагрузок, сопоставимых или превышающих нагрузки в реальных условиях. Целью подобных испытаний является выяснение реакции объекта на специфические условия и предельных значений нагрузки.
            p.text.text--justify Структурно испытательный стенд представляет собой совокупность рабочего поля (плиты, станины или другого устройства для закрепления тестируемого устройства), подсистемы нагрузки образца (вибрационную, электрическую или прочую в зависимости от типа испытаний) и контрольно-измерительной аппаратуры, предназначенной для снятия показателей реакции образца на нагрузку.
            p.text.text--justify Преимуществом испытаний на стенде перед испытаниями в реальных условиях является возможность оценки реакции образца на определённый тип и величину нагрузки при прочих фиксированных параметрах, что позволяет выявить скрытые конструктивные недостатки.
            p.text.text--justify В число реализованных нами заказов на испытательные стенды выходили следующие позиции:
            ul.list
              li Стенды для испытания предохранительных клапанов
              li Стенды для испытания торцевых уплотнений
              li Стенды для испытания арматуры
              li Стенды испытания клапанной и распределительной аппаратуры
              li Стенды испытания насосов и гидромоторов
              li Стенды испытания фильтров и фильтроэлементов
              li Стенды для испытаний двигателей
              li Стенд для испытания абразивных кругов
              li Стенды комплексных испытаний
            p.text.text--justify Set Service Group готов брать на себя разработку индивидуальных заказов. В наших силах спроектировать и реализовать испытательные стенды и площадки для любого оборудования или конструкций.
            p.text.text--justify Разрабатываемые нами стенды будут предназначены для испытания, настройки и снятия характеристик используемого оборудования.  Испытания могут проводиться как в ручном, так и в полуавтоматическом режимах.
            p.text.text--justify 
              | Мы предлагаем высокотехнологичные 
              b стенды для тестирования оборудования
              |  отечественного и импортного производства. С помощью наших стендов можно проводить целый ряд испытаний для оценки работоспособности и приемо-сдаточных испытаний. Наши решения для тестирования изделий являются максимально точными и удобными в использовании.
            p.text.text--justify
              | Связавшись с нами по телефону 8 (812) 627-15-16 или оставив заявку на сайте, вы в кратчайшие сроки получите ответ, а также варианты 
              b проектирования и производства подходящего испытательного оборудования.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
