doctype
html
  -let title = 'Производство подкрановых балок в Set Service Group'
  -let heading = 'Балки подкрановые сварные'
  -let parent = 'Металлоконструкции'
  -let keywords = "Балки подкрановые сварные, Балки подкрановые сварные производство, Балки подкрановые сварные изготовление, Балки подкрановые сварные стальные, Балки подкрановые производство"
  -let description = 'Изготовление составных и сварных подкрановых балок. Обработаем вашу заявку в кратчайшие сроки.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/БалкиПодкрановые1.jpg")
              img(src="../img/metal-structures/БалкиПодкрановые2.jpg")
          .main__info
            p.text.text--justify Set Service Group готов предоставить услуги своих специалистов для производства сварных подкрановых балок. Вы можете оставить свою заявку по этой позиции и она будет рассмотрена в кратчайшие сроки.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify 
              b Подкрановая балка
              |  - это одна из основных составляющих несущих металлических конструкций, разновидность двутавровых балок. Условия работы этих конструкций отличаются от строительных балок, составляющих перекрытия и покрытия. 
              b Металлические балки 
              | намного популярнее своих железобетонных аналогов.
            p.text.text--justify 
              b Классификация подкрановых балок
            p.text.text--justify Существуют различные способы классификации сварных подкрановых балок. Классификация подкрановых балок в зависимости от расположения:
            ul.list
              li сплошные;
              li сетчатые;
              li рядовые;
              li концевые.
            p.text.text--justify Классификация подкрановых балок в зависимости от количество опор и особенностей закреплений:
            ul.list
              li неразрезные балки(многопролетные);
              li разрезные балки(однопролетные).
            p.text.text--justify 
              b Изготовление подкрановых балок
            p.text.text--justify 
              b Стальные подкрановые балки 
              | могут изготавливаться 
              b сварными 
              | и 
              b составными
              | , а составные соединяются сваркой, болтами или клепанием. 
              b Сварные балки
              |  могут состоять из трех отдельных листов или иметь пояса из тавров. Последние по характеристикам более надежны, поскольку сварные швы не затрагивают зоны основной нагрузки. Готовые изделия должны соответствовать ГОСТу и технологическому проекту. Такие балки используются не только для монтажа открытых крановых путей, но и для сооружения зданий, усиления отдельных колонн. Естественно, что к таким балкам требования весьма высоки.
            p.text.text--justify 
              b Преимущества подкрановых балов
            p.text.text--justify Одним из главных преимуществ двутавровой сварной балки, является ее невысокая металлоемкость при абсолютной конструктивной надежности.
            p.text.text--justify Применение данной конструкции в жилищном строительстве и при сооружении промышленных объектов дает возможность значительной экономии денежных средств, при заметном сокращении сроков строительства.
            p.text.text--justify Область применения данных металлоконструкций весьма широка и разнообразна. Их применяют:
            ul.list
              li при сооружении длинных пролетов в производственных и складских помещениях;   
              li при строительстве эстакад и мостов;
              li для устройства рабочих площадок, подкрановых балок и тому подобных конструкций.
            p.text.text--justify 
              | Если вам необходимо заказать 
              b производство сварных балок
              | , обращайтесь в нашу компанию.
            p.text.text--justify Мы гарантируем быстрое и качественное выполнение заказа любой сложности.
            p.text.text--justify Все работы производятся с максимальным соблюдением технологических требований и применением сертифицированного металлопроката.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
