blockquote {
  padding: 50px 30px;
  text-align: center;
  position: relative;
  color: #000;
  padding: 30px 50px;
  font-family: $font;
  box-sizing: border-box;
  p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    &:before {
      content: "\201C";
      font-size: 60px;
      color: #000;
      font-family: serif;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  cite{
    font-style: normal;
  }
  a{
    text-decoration: none;
    color: $color-gray;
    &:hover{
      color: $color-blue;
    }
    &:active{
      color: darken($color-blue, 10%);
    }
  }
}
