.text{
  font-size: 18px;
  font-family: $font;
  line-height: 1.4;
  &--center{
    text-align: center;
  }
  &--left{
    text-align: left;
    text-indent: 40px;
  }
  &--justify{
    text-align: justify;
    text-indent: 40px;
  }
}

.undertitle{
  font-size: 16px;
  font-family: $font;
  text-align: center;
  line-height: 20px;
  color: $color-blue;
}
