.title{
  font-size: 20px;
  font-family: $font;
  color: $color-blue;
  text-align: center;
  font-weight: normal;
  &--uppercase{
    text-transform: uppercase;
  }
  &--left{
    text-align: left;
  }
}

.undertitle{
  font-size: 16px;
  font-family: $font;
  text-align: center;
  line-height: 20px;
  color: $color-blue;
}
