table.tools
  tr
    th(colspan='5') Гидравлический пресс
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='пресс2671М', src='/img/machines/bending-machines/1.jpg')
    td
      b Пресс гидравлический ОКС-1671М с индивидуальным приводом
    td >1988
    td СССР
    td
      strong Максимальное усилие, кН (тс):
      |  400 (10)
      br
      strong Габаритные размеры пресса
      | : 
      br
      em Длина
      | : 1500 
      br
      em Ширина
      | : 640 
      br
      em Высота
      | : 940
