table.tools
  tr
    th(colspan='5') Координатно-расточные станки
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='2421', src='/img/machines/boring-machines/1.jpg')
    td
      strong Одностоечный координатно-расточной станок 2421
    td 1984
    td СССР
    td
      strong Размер рабочей поверхности стола
      | : 250х450 мм
      br
      strong Максимальный вес изделия
      | : 150 кг
      br
      strong Наибольший диаметр сверления в сплошном материале
      | :
      br
      br
      em Сталь
      | : 10 мм
      br
      em Чугун
      | : 12 мм
      br
      br
      strong Наибольший диаметр растачивания
      | : 80 мм
  tr
    td
      img(alt='2622', src='/img/machines/boring-machines/2.jpg')
    td
      strong Горизонтальный координатно-расточной станок с оптическим устройством 2622
    td 1979
    td СССР
    td
      strong Рабочая поверхность стола
      | : 900 х 1120 мм
      br
      strong Наибольший вес детали
      | : 2000 кг
      br
      strong Диаметр расточного шпинделя
      | : 90 мм
  tr
    td
      img(alt='2630', src='/img/machines/boring-machines/3.jpg')
    td
      strong Горизонтально-расточной станок 2630
    td 1963
    td СССР
    td
      strong Максимальный диаметр обрабатываемой детали
      | : 2500 мм
      br
      strong Рабочие размеры поверхности стола
      | : 1600х1250 мм
      br
      strong Наибольшее перемещение стола (поперечное / продольное)
      | : 1400/1600 мм
