table.tools
  tr
    th(colspan='5') Сверлильные станки
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='2К52', src='/img/machines/drilling-machines/1.jpg')
    td
      strong Радиально-сверлильный переносной станок 2К52
    td 1989
    td СССР
    td
      strong Класс точности станка
      | : Н 
      br
      strong Наибольший условный диаметр сверления в стали 45
      | : 22 мм 
      br
      strong Диапазон нарезаемой резьбы в стали 45
      | : М16
      br
      strong Размер поверхности плиты
      | : 800 х 630 мм
  tr
    td
      img(alt='2А53', src='/img/machines/drilling-machines/2.jpg')
    td
      strong Радиально-сверлильный станок 2А53
    td 1997
    td Россия
    td
      strong Класс точности станка
      | : Н 
      br
      strong Наибольший условный диаметр сверления в стали 45
      | : 35 мм 
      br
      strong Диапазон нарезаемой резьбы в стали 45
      | : М16
      br
      strong Размер поверхности плиты
      | : 900 х 430 мм
  tr
    td
      img(alt='FP-25', src='/img/machines/drilling-machines/4.jpg')
    td
      strong Настольно-сверлильный станок FP-25
    td 2008
    td Чехия
    td
      strong Макс. диаметр сверления
      | : 34 мм
      br
      strong Размер стола
      | : 590х195мм
  tr
    td
      img(alt='2А125', src='/img/machines/drilling-machines/5.jpg')
    td
      strong Вертикально-сверлильный станок 2А-125
    td 1965
    td СССР
    td
      strong Наибольший диаметр сверления в стали 45
      | : 25 мм
      br
      strong Наименьшее и наибольшее расстояние от торца шпинделя до стола
      | : 0...700 мм
      br
      strong Наименьшее и наибольшее расстояние от торца шпинделя до плиты
      | : 750...1125 мм
      br
      strong Размеры рабочей поверхности стола
      | : 500 х 375 мм
  tr
    td
      img(alt='2Н125', src='/img/machines/drilling-machines/5.jpg')
    td
      strong Вертикально-сверлильный станок 2Н-125
    td 1992
    td Россия
    td
      strong Наибольший диаметр сверления в стали 45
      | : 25 мм
      br
      strong Наименьшее и наибольшее расстояние от торца шпинделя до стола
      | : 60...700 мм
      br
      strong Наименьшее и наибольшее расстояние от торца шпинделя до плиты
      | : 690...1060 мм
      br
      strong Размеры рабочей поверхности стола
      | : 400 х 500 мм
  tr
    td
      img(alt='2л53у', src='/img/machines/drilling-machines/6.jpg')
    td
      strong Радиально-сверлильный станок 2л53у
    td 1982
    td СССР
    td
      strong Класс точности станка
      | : Н
      br
      strong Наибольший условный диаметр сверления в стали 45
      | : 35 мм
      br
      strong Диапазон нарезаемой резьбы в стали 45
      | : М24х3
      br
      strong Размер поверхности стола (ширина длина)
      | : 450х800 мм
  tr
    td
      img(alt='2М58', src='/img/machines/drilling-machines/7.jpg')
    td
      strong Радиально-сверлильный станок 2М58
    td 1982
    td СССР
    td
      strong Класс точности станка
      | : Н
      br
      strong Наибольший условный диаметр сверления в стали 45
      | : 100 мм
      br
      strong Минимальная частота вращения шпинделя
      | : 10
      br
      strong Максимальная частота вращения шпинделя
      | : 1250
