table.tools
  tr
    th(colspan='5') Шлифовальные станки
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='3А227', src='/img/machines/grinding-machines/1.jpg')
    td
      strong Внутришлифовальный станок 3А227
    td 1970
    td СССР
    td
      strong Класс точности по ГОСТ 8-82
      | : В
      br
      strong Наибольший диаметр устанавливаемого изделия
      | : 400 мм
      br
      strong Наибольший диаметр устанавливаемого изделия в кожухе
      | : 250 мм
      br
      strong Наибольшая длина устанавливаемого изделия
      | : 125 мм
      br
      strong Наименьший и наибольший диаметр шлифуемого отверстия
      | : 20...160 мм
  tr
    td
      img(alt='3К228', src='/img/machines/grinding-machines/2.jpg')
    td
      strong Внутришлифовальный станок 3К2288
    td 2009
    td Россия
    td
      strong Наименьший диаметр шлифуемых отверстий
      | : 40 мм
      br
      strong Наибольший диаметр шлифуемых отверстий
      | : 400 мм
      br
      strong Наибольшая длина шлифования
      | : 320 мм
      br
      strong Наружный диаметр на станке без кожуха
      | : 560 мм
      br
      strong Наружный диаметр изделия с кожухом
      | : 400 мм
      br
      strong Наибольший угол поворота бабки изделия
      | : 30 град
  tr
    td
      img(alt='3М636', src='/img/machines/grinding-machines/3.jpg')
    td
      strong Обдирочно-шлифовальный станок 3М-636
    td 1970
    td СССР
    td
      strong Класс точности
      | : H
      br
      strong Диаметр круга шлифования
      | : 60 см
      br
      strong Максимальная масса заготовки
      | : 30 кг
  tr
    td
      img(alt='sip 315x500', src='/img/machines/grinding-machines/4.jpg')
    td
      strong Внутришлифовальный станок sip 315x500
    td 1990
    td Германия
    td
      strong Максимальная длина шлифованного отверстия
      | : 500 мм
      br
      strong Максимальный диаметр шлифованного отверстия
      | : 630 мм
      br
      strong Минимальный диаметр шлифованного отверстия
      | : 30 мм
      br
      strong Максимальная глубина шлифованного отверстия
      | : 500 мм
  tr
    td
      img(alt='3М174', src='/img/machines/grinding-machines/5.jpg')
    td
      strong Круглошлифовальный станок 3М174
    td 1988
    td СССР
    td
      strong Класс точности по ГОСТ 8-82
      | : П
      br
      strong Наибольший диаметр обрабатываемого изделия
      | : 400 мм
      br
      strong Наибольшая длина обрабатываемого изделия
      | : 2000 мм
      br
      strong Наибольший диаметр шлифования в люнете/ без люнета
      | : 120/400 мм
      br
      strong Наименьший диаметр шлифования при изношенном круге
      | : 130 мм
      br
      strong Наибольшая масса обрабатываемого изделия
      | : 1000 кг
