table.tools
  tr
    th(colspan='5') Фрезерные работы
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='6Т80(2)', src='/img/machines/millers/1.jpg')
    td
      strong Горизонтально-фрезерный 6т-80
    td 1979
    td СССР
    td
      strong Наибольшие размеры заготовки
      | : 220 мм
      br
      strong Максимальная нагрузка на стол
      | : 200 кг
      br
      strong Рабочая поверхность стола
      | : 850*260 мм
  tr
    td
      img(alt='FU400', src='/img/machines/millers/2.jpg')
    td
      strong Горизонтально-фрезерный FU400
    td 1997
    td Германия
    td
      strong Длина рабочей поверхности стола
      | : 1600 мм
      br
      strong Ширина стола
      | : 400 мм
      br
      strong Наибольшая масса детали
      | : 1500 кг
  tr
    td
      img(alt='F400', src='/img/machines/millers/3.jpg')
    td
      strong Вертикально-фрезерный станок F400
    td 1992
    td Германия
    td
      strong Длина рабочей поверхности стола
      | : 1600 мм
      br
      strong Ширина стола
      | : 400 мм
      br
      strong Наибольшая масса детали
      | : 1500 кг
  tr
    td
      img(alt='6Р81', src='/img/machines/millers/4.jpg')
    td
      strong Консольно-фрезерный станок 6р81
    td 1980
    td СССР
    td
      strong Класс точности
      | : Н
      br
      strong Длина стола
      | : 1000 мм
      br
      strong Ширина стола
      | : 250 мм
      br
  tr
    td
      img(alt='1м63мф101', src='/img/machines/millers/5.jpg')
    td
      strong Широкоуниверсальный фрезерный станок 676П
    td 1982
    td СССР
    td
      strong Класс точности
      | : П
      br
      strong Рабочая поверхность стола, мм
      | :
      br
      br
      em Основной
      |  630х250
      br
      em Угловой горизонтальный
      |  800х250
      br
      em Угловой универсальный
      |  630х200
      br
      em Круглый
      |  (диаметр поверхности, высота) 250, 110
      br
      br
      strong Наибольший ход основного стола, мм:
      br
      br
      em Продольный
      |  400
      br
      em Вертикальный
      |  380
      p
