table.tools
  tr
    th(colspan='5') Фрезерные работы с ЧПУ
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='AG-250', src='/img/machines/millers-with-cnc/1.jpg')
    td
      strong Фрезерный станок с ЧПУ AG-250
    td 1992
    td Югославия
    td
      strong Размеры поверхности стола
      | : 700х400 мм
      br
      strong Продольный ход стола
      | : 400 мм
      br
      strong Вертикальный ход стола
      | : 300 мм
      br
      strong Поперечный ход стола
      | : 250 мм
      br
      strong Конус рабочего шпинделя ИСО
      | : 40
  tr
    td
      img(alt='AG-400', src='/img/machines/millers-with-cnc/2.jpg')
    td
      strong Фрезерный станок с ЧПУ AG-400
    td 1989
    td СССР
    td
      strong Вертикальная поверхность стола
      | : 400х500 мм
      br
      strong Закрепленный стол-рабочая поверхность
      | : 500х800 мм
      br
      strong Число/ширина х расстояние тавровых канавок
      | : 6/18х80 мм
      br
      strong Продольный ход стола
      | : 630 мм
      br
      strong Вертикальный ход стола
      | : 430 мм
      br
      strong Конус рабочего шпинделя ИСО
      | : 40
  tr
    td
      img(alt='DAHLIH MCV-1200', src='/img/machines/millers-with-cnc/3.jpg')
    td
      strong Вертикально-фрезерный обрабатывающий центр с ЧПУ DAHLIH MCV-1200
    td 2006
    td Тайвань
    td
      strong Размер стола (ДхШ)
      | : 1300x640 мм
      br
      strong Максимальная нагрузка на стол
      | : до 1000 кг
      br
      strong Система ЧПУ
      | : Fanuc 0i-MD
      br
      strong Мощность главного двигателя
      | : 11 кВт
  tr
    td
      img(alt='ARIX V-450', src='/img/machines/millers-with-cnc/4.jpg')
    td
      strong Вертикально-фрезерный обрабатывающий центр с ЧПУ ARIX V-450
    td 2008
    td Тайвань
    td
      strong Размер рабочего стола
      | : 355 х 610 мм
      br
      strong Макс. вес заготовки
      | : 150 кг
      br
      strong Размер Т-образных пазов
      | : 3 х 14 х 100 мм
  tr
    td
      img(alt='YT-800FM', src='/img/machines/millers-with-cnc/5.jpg')
    td
      strong Вертикально-фрезерный обрабатывающий центр с ЧПУ YT-800FM
    td 2009
    td Тайвань
    td
      strong Габариты стола
      | : 1220 x 400 мм
      br
      strong Макс.нагрузка на стол
      | : 800 кг
      br
      strong Точность
      | : +/- 5 мкм
      br
      strong ЧПУ
      | : Syntec 10MA
  tr
    td
      img(alt='AWEA AV-1000', src='/img/machines/millers-with-cnc/6.jpg')
    td
      strong Широкоуниверсальный фрезерный станок AWEA AV-1000
    td 2007
    td Тайвань
    td
      strong Габаритные размеры
      | : 1200х600 мм
      br
      strong Точность позиционирования
      | : ±0,005 мм
      br
      strong Точность повторяемости
      | : ±0,003 мм
      br
      strong Система ЧПУ
      | : Fanuc 0i-MD
