table.tools
  tr
    th(colspan='5') Прочие
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='fiac ab200/510', src='/img/machines/other/1.jpg')
    td
      strong Компрессор поршневой fiac ab200/510
    td 2014
    td Италия
    td
      strong Привод
      | : ременной
      br
      strong Производительность на входе
      | : 510 л/мин
      br
      strong Номинальное давление
      | : 10 бар
      br
      strong Объем ресивера
      | : 200 k
  tr
    td
      img(alt='Установка компрессорная к3', src='/img/machines/other/2.jpg')
    td
      strong Установка компрессорная к3
    td 2012
    td Россия
    td
      strong Производительность л/мин
      | : Вх. 3000 - Вых. 2200
      br
      strong Давление
      | : 10 бар
      br
      strong Объём ресивера
      | : 500 л
      br
      strong Мощность
      | : 11+11 кВт
