table.tools
  tr
    th(colspan='5') Долбежные станки
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='7А420', src='/img/machines/slotting-machines/1.jpg')
    td
      strong Долбежный станок с механическим приводом 7А420
    td 1989
    td СССР
    td
      strong Класс точности
      | : H
      br
      strong Наибольший ход долбяка
      | : 20-200 мм
      br
      strong Диаметр стола
      | : 500 мм
      br
      strong Наибольшее усилие резания
      | : 1500 кг
  tr
    td
      img(alt='5В12', src='/img/machines/slotting-machines/2.jpg')
    td
      b Вертикальный зубодолбежный станок-полуавтомат 5В12
    td 1980
    td СССР
    td
      strong Класс точности
      | : H
      br
      strong Наибольший диаметр изделия
      | : 200 мм
      br
      strong Наибольшая длина нарезки
      | : 50 мм
      br
      strong Наибольший модуль нарезаемого колеса
      | : 4 мм
      br
      strong Наибольший диаметр для нарезания прямозубых колес
      | : 220 мм
      br
      strong Наибольшая ширина нарезаемого венца
      | : 30 мм
      br
      strong ДхШхВ
      | : 1320 х 940 х 1820 мм
