table.tools
  tr
    th(colspan='5') Токарные работы с ЧПУ
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='I-42 Twin Quick Tech', src='/img/machines/lathes-with-cnc/1.jpg')
    td
      strong Многофункциональный токарный станок I-42 Twin Quick Tech
    td 2012
    td Тайвань
    td
      strong Максимальный устанавливаемый диаметр
      | : 100 мм
      br
      strong Максимальный диаметр обработки прутка
      | : 42 мм
      br
      strong Максимальная обрабатываемая длина
      | : 300 мм
      br
      strong Точность позиционирования
      | : ±0,005 мм
      br
      strong Точность повторяемости
      | : ±0,003 мм
      br
      strong Система ЧПУ
      | : Mitsubishi M70
