table.tools
  tr
    th(colspan='5') Токарные работы
  tr
    td
      strong Изображение
    td
      strong Модель
    td
      strong Год выпуска
    td
      strong Страна производитель
    td
      strong Технические характеристики
  tr
    td
      img(alt='DMG Mori CTX 510 ecoline', src='/img/machines/lathes/1.jpg')
    td
      strong Универсальный токарный станок DMG Mori CTX 510 ecoline 
    td 2011
    td Россия
    td
      strong Макс. диаметр точения
      | : 465 мм
      br
      strong Макс. длина при обработке в центрах
      | : 1 050 мм
      br
      strong Макс. диаметр зажимного патрона
      | : 315 мм
      br
      strong Мощность
      | : 22 кВт (AC)
      br
      strong Макс. внутренний диаметр зажимной втулки
      | : 90 мм
  tr
    td
      img(alt='ДИП-300 1М63М', src='/img/machines/lathes/2.jpg')
    td
      strong Универсальный токарно-винторезный станок ДИП-300 1М63М
    td 2008
    td Россия
    td
      strong Номинальный диаметр конуса D
      | : 139,719 мм
      br
      strong Условный размер конца шпинделя
      | : 8
      br
      strong Внутренний конус шпинделя
      | : Морзе 6
      br
      strong Диаметр сквозного отверстия
      | : Ø 47 мм
      br
      strong Наибольший диаметр прутка
      | : Ø 45 мм
      br
      strong Метрические резьбы
      | : от 1 до 192 мм
      br
      strong Дюймовые резьбы
      | : от 24 до 1/4 ниток на один дюйм
      br
      strong Модульные резьбы с модулями
      | : от 0,5 до 48
      br
      strong Питчевые резьбы
      | : от 96 до 7/8
  tr
    td
      img(alt='ДИП-500', src='/img/machines/lathes/3.jpg')
    td
      strong Универсальный токарно-винторезный станок ДИП-500 1М65М.РТ731
    td 2009
    td Россия
    td
      strong Наибольший диаметр обработки над станиной
      | : 1 000 мм
      br
      strong Диаметр обработки над суппортом
      | : 650 мм
      br
      strong Расстояние между центрами
      | : 3 000 - 10 000 
      br
      strong Диаметр цилиндрического отверстия в шпинделе
      | : 128 мм
      br
      strong Количество ступеней частот вращения
      | : 24 
      br
      strong Наибольший вес обрабатываемой детали в центрах
      | : 8 000 кг
  tr
    td
      img(alt='DMTG CW61125M', src='/img/machines/lathes/4.jpg')
    td
      strong Универсальный токарный станок DMTG CW61125M
    td 2011
    td Китай
    td
      strong Макс. диаметр изделия типа диск
      | : 1250 мм
      br
      strong Макс. диаметр обработки тел типа вал
      | : 880 мм
      br
      strong Макс. диаметр обработки в гапе
      | : 1650 мм
      br
      strong РМЦ, макс длина заготовки
      | : 1500 мм
      br
      strong Макс. вес заготовки
      | : 5000 кг
  tr
    td
      img(alt='VL-4000', src='/img/machines/lathes/5.jpg')
    td
      strong Токарный карусельный станок YSP VL-4000ATC+C
    td 2012
    td Россия
    td
      strong Диаметр устанавливаемой заготовки
      | : 3500 мм 
      br
      strong Диаметр обрабатываемой заготовки
      | : 3400 мм 
      br
      strong Высота обработки
      | : 1800 (2200) мм
      br
      strong Наибольшая масса заготовки
      | : 30 000 (40000) кг
  tr
    td
      img(alt='16К20', src='/img/machines/lathes/6.jpg')
    td
      strong Токарно-винторезный станок 16К20
    td 1980
    td СССР
    td
      strong Диаметр обработки над станиной
      | : 400 мм
      br
      strong Диаметр обработки над суппортом
      | : 220 мм
      br
      strong Максимальная масса заготовки, закрепленной в патроне
      | : 300 кг
      br
      strong Максимальная масса детали, закрепленной в центрах
      | : 1 300 кг
      br
      strong Число нарезаемых метрических резьб
      | : 45 
      br
      strong Число нарезаемых дюймовых резьб
      | : 28 
      br
      strong Число нарезаемых модульных резьб
      | : 38 
      br
      strong Число нарезаемых питчевых резьб
      | : 37
  tr
    td
      img(alt='TOS SU 500', src='/img/machines/lathes/7.jpg')
    td
      strong Токарный станок TOS SU-32/500
    td 2008
    td Чехия
    td
      strong Диаметр обработки над станиной
      | : 1000 мм 
      br
      strong Диаметр обработки над суппортом
      | : 750 мм 
      br
      strong Максимальная длина заготовки
      | : 6000 мм
      br
      strong Максимальный вес заготовки
      | : 3 тонны
  tr
    td
      img(alt='1К62', src='/img/machines/lathes/8.jpg')
    td
      strong Универсальный токарно-винторезный станок 1К62
    td 1982
    td СССР
    td
      strong Наибольший диаметр заготовки над станиной
      | : 400 мм 
      br
      strong Наибольший диаметр заготовки над суппортом
      | : 220 мм
      br
      strong Наибольшая длина заготовки (РМЦ)
      | : 750, 1000, 1500 мм
      br
      strong Наибольшая масса заготовки в патроне
      | : 500 кг
      br
      strong Наибольшая масса заготовки в центрах
      | : 1500 кг
  tr
    td
      img(alt='1К625', src='/img/machines/lathes/9.jpg')
    td
      strong Универсальный токарно-винторезный станок 1К625
    td 1984
    td СССР
    td
      strong Наибольший диаметр заготовки над станиной
      | : 500 мм 
      br
      strong Наибольший диаметр заготовки над суппортом
      | : 260 мм 
      br
      strong Наибольшая длина заготовки (РМЦ)
      | : 1000, 1400, 2000 мм 
      br
      strong Наибольшая масса заготовки в патроне
      | : 500 кг 
      br
      strong Наибольшая масса заготовки в центрах
      | : 1500 кг
  tr
    td
      img(alt='1м63', src='/img/machines/lathes/10.jpg')
    td
      strong Универсальный токарно-винторезный станок 1м63
    td 1985
    td СССР
    td
      strong Класс точности:
      |  Н
      br
      strong Наибольший диаметр точения над станиной
      | : мм 630
      br
      strong Наибольший диаметр точения над суппортом
      | : мм 350
      br
      strong Наибольшая длинна обрабатываемой заготовки
      | : мм 1500
  tr
    td
      img(alt='1м63мф101', src='/img/machines/lathes/11.jpg')
    td
      strong Универсальный токарно-винторезный станок 1м63мф101
    td 1984
    td СССР
    td
      strong Класс точности:
      |  Н
      br
      strong Наибольший диаметр точения над станиной
      | : 500 мм
      br
      strong Наибольший диаметр точения над суппортом
      | : мм 340
      br
      strong Наибольшая длинна обрабатываемой заготовки
      | : мм 1500
  tr
    td
      img(alt='1М163', src='/img/machines/lathes/12.jpg')
    td
      strong Токарно-винторезный станок 1М163
    td 1985
    td СССР
    td
      strong Класс точности:
      |  Н
      br
      strong Наибольший диаметр точения над станиной
      | : 630 мм
      br
      strong Наибольший диаметр точения над суппортом
      | : мм 350
      br
      strong Наибольшая длинна обрабатываемой заготовки
      | : мм 1500
  tr
    td
      img(alt='1л532', src='/img/machines/lathes/13.jpg')
    td
      strong Токарно-карусельный станок 1л532
    td 1981
    td СССР
    td
      strong Класс точности:
      |  Н
      br
      strong Наибольший диаметр обрабатываемой детали
      | : 3200 мм
      br
      strong Наибольшая высота обрабатываемой детали
      | : 1600 мм
      br
      strong Диаметр планшайбы
      | : 2800 мм
      br
      strong Наибольшая масса обрабатываемой детали: 16 000 кг
      | : 16 000 кг
