.bottom-line
  .bottom-line__inner
    .bottom-line__column.bottom-line__column--left
      img(src='/img/logo-vertical.png', alt='Логотип', width='50')
      p
        | Полный цикл металлообработки 
        br
        | © Set Service Group 2016 - 2018
        br
        |  Все права защищены
    .bottom-line__column.bottom-line__column--center
      p
        | 193318, г. Санкт-Петербург, ул. Ворошилова, 2, 
        br
        span +7(812) 627-15-16
    .bottom-line__column.bottom-line__column--right
      .block
        a(href='mailto:info@zaoks.ru') info@zaoks.ru
