aside(class=calatog_full_height ? 'catalog catalog--full-height' : 'catalog' )
  ul.catalog__list
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Продукция
        .switch(class=(title === 'Производство металлоизделий') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metal-products/gearboxes.html') Редукторы / Зубчатые передачи / Комплектующие
        li
          a(href='/metal-products/hydraulic-equipment.html') Гидравлическое оборудование / Гидроцилиндры / Комплектующие
        li
          a(href='/metal-products/press-molds-stamps-matrices.html') Пресс-формы, штампы, матрицы, фильеры
        //- li
        //-   a(href='/metal-products/process-piping-fittings.html') Арматура технологических трубопроводов
        li
          a(href='/metal-products/extrusion-lines.html') Детали для промышленного оборудования
        li
          a(href='/metal-products/engineering-parts.html') Детали для машиностроения
        li
          a(href='/metal-products/precision-parts.html') Детали прецизионные
        //- li
        //-   a(href='/metal-products/shafts.html') Валы, штоки, оси
        //- li
        //-   a(href='/metal-products/couplings.html') Муфты
        //- li
        //-   a(href='/metal-products/flanges.html') Фланцы
        //- li
        //-   a(href='/metal-products/bodies.html') Корпуса приборов
        //- li
        //-   a(href='/metal-products/wheels.html') Колеса зубчатые
        //- li
        //-   a(href='/metal-products/gears.html') Шестерни и вал-шестерни
        //- li
        //-   a(href='/metal-products/pulleys.html') Шкивы
        //- li
        //-   a(href='/metal-products/brackets.html') Кронштейны
        //- li
        //-   a(href='/metal-products/fasteners.html') Крепежные изделия
        //- li
        //-   a(href='/metal-products/press-forms.html') Пресс-формы
        //- li
        //-   a(href='/metal-products/clips.html') Обоймы
        //- li
        //-   a(href='/metal-products/fittings.html') Фитинги сантехнические
        //- li
        //-   a(href='/metal-products/housings.html') Кожухи
        //- li
        //-   a(href='/metal-products/non-standart-products.html') Нестандартные изделия
        //- li
        //-   a(href='/metal-products/gear-racks.html') Зубчатые рейки
        //- li
        //-   a(href='/metal-products/conveyor-rollers.html') Ролики конвейерные
        //- li
        //-   a(href='/metal-products/machine-parts.html') Детали для станков
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Металлоконструкции
        .switch(class=(title === 'Производство металлоконструкций') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metal-structures/pipeline-supports.html') Опоры трубопроводов
        li
          a(href='/metal-structures/service-areas.html') Площадки обслуживания
        li
          a(href='/metal-structures/welded-crane-girders.html') Балки подкрановые сварные
        li
          a(href='/metal-structures/technological-tanks.html') Технологические емкости
        li
          a(href='/metal-structures/test-benches.html') Стенды для испытаний
        li
          a(href='/metal-structures/wheeled-trolleys.html') Тележки колесные / на рельсах
        li
          a(href='/metal-structures/bridge-metal-structures.html') Мостовые металлоконструкции
        li
          a(href='/metal-structures/non-standart-metal-structures.html') Нестандартные металлоконструкции
        li
          a(href='/metal-structures/building-metal-structures.html') Строительные металлоконструкции
        //- li
        //-   a(href='/metal-structures/social-metal-structures.html') Социальные металлоконструкции
        //- li
        //-   a(href='/metal-structures/flues-and-chimneys.html') Газоходы и дымоходы
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Металлообработка
        .switch(class=(title === 'Металлообработка на заказ') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metalworking/milling-works.html') Фрезерные работы
        li
          a(href='/metalworking/milling-works-with-cnc.html') Фрезерные работы ЧПУ
        li
          a(href='/metalworking/turning-works.html') Токарные работы
        li
          a(href='/metalworking/turning-works-with-cnc.html') Токарные работы ЧПУ
        li
          a(href='/metalworking/boring-works.html') Координатно-расточные работы
        li
          a(href='/metalworking/grinding-works.html') Шлифовальные работы
        li
          a(href='/metalworking/metal-cutting.html') Резка металла
        li
          a(href='/metalworking/metal-bending.html') Гибка металла
        li
          a(href='/metalworking/thermal-works.html') Термическая обработка
        li
          a(href='/metalworking/welding.html') Сварочные работы
        li
          a(href='/metalworking/assembly-work.html') Слесарно-сборочные работы
        li
          a(href='/metalworking/coating.html') Нанесение покрытий
        li 
          a(href='/metalworking/laboratory-tests.html') Лабораторные испытания
        li
          a(href='/metalworking/development-of-drawings.html') Разработка чертежей и 3D-моделей
