aside(class=calatog_full_height ? 'catalog catalog--full-height' : 'catalog' )
  ul.catalog__list.catalog__list--folded
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Продукция
        .switch(class=(title === 'Производство металлоизделий') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metal-products/gearboxes') Редукторы / Зубчатые передачи / Комплектующие
        li
          a(href='/metal-products/hydraulic-equipment') Гидравлическое оборудование / Гидроцилиндры / Комплектующие
        li
          a(href='/metal-products/press-molds-stamps-matrices') Пресс-формы, штампы, матрицы, фильеры
        //- li
        //-   a(href='/metal-products/process-piping-fittings') Арматура технологических трубопроводов
        li
          a(href='/metal-products/extrusion-lines') Детали для промышленного оборудования
        li
          a(href='/metal-products/engineering-parts') Детали для машиностроения
        li
          a(href='/metal-products/precision-parts') Детали прецизионные
        li
            a(href='/metal-products/non-standart-metal-structures') Нестандартные металлоконструкции
        //- li
        //-   a(href='/metal-products/shafts') Валы, штоки, оси
        //- li
        //-   a(href='/metal-products/couplings') Муфты
        //- li
        //-   a(href='/metal-products/flanges') Фланцы
        //- li
        //-   a(href='/metal-products/bodies') Корпуса приборов
        //- li
        //-   a(href='/metal-products/wheels') Колеса зубчатые
        //- li
        //-   a(href='/metal-products/gears') Шестерни и вал-шестерни
        //- li
        //-   a(href='/metal-products/pulleys') Шкивы
        //- li
        //-   a(href='/metal-products/brackets') Кронштейны
        //- li
        //-   a(href='/metal-products/fasteners') Крепежные изделия
        //- li
        //-   a(href='/metal-products/press-forms') Пресс-формы
        //- li
        //-   a(href='/metal-products/clips') Обоймы
        //- li
        //-   a(href='/metal-products/fittings') Фитинги сантехнические
        //- li
        //-   a(href='/metal-products/housings') Кожухи
        //- li
        //-   a(href='/metal-products/non-standart-products') Нестандартные изделия
        //- li
        //-   a(href='/metal-products/gear-racks') Зубчатые рейки
        //- li
        //-   a(href='/metal-products/conveyor-rollers') Ролики конвейерные
        //- li
        //-   a(href='/metal-products/machine-parts') Детали для станков
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Металлоконструкции
        .switch(class=(title === 'Производство металлоконструкций') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metal-structures/pipeline-supports') Опоры трубопроводов
        li
          a(href='/metal-structures/service-areas') Площадки обслуживания
        li
          a(href='/metal-structures/welded-crane-girders') Балки подкрановые сварные
        li
          a(href='/metal-structures/technological-tanks') Технологические емкости
        //- li
        //-   a(href='/metal-structures/test-benches') Стенды для испытаний
        li
          a(href='/metal-structures/wheeled-trolleys') Тележки колесные / на рельсах
        li
          a(href='/metal-structures/bridge-metal-structures') Мостовые металлоконструкции
        //- li
        //-   a(href='/metal-structures/non-standart-metal-structures') Нестандартные металлоконструкции
        li
          a(href='/metal-structures/building-metal-structures') Строительные металлоконструкции
        //- li
        //-   a(href='/metal-structures/social-metal-structures') Социальные металлоконструкции
        //- li
        //-   a(href='/metal-structures/flues-and-chimneys') Газоходы и дымоходы
    li.catalog__item
      .catalog__groupname
        .catalog__icon
        .catalog__name Металлообработка
        .switch(class=(title === 'Металлообработка на заказ') ? 'switch--checked' : '')
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/metalworking/milling-works') Фрезерные работы
        //- li
        //-   a(href='/metalworking/milling-works-with-cnc') Фрезерные работы ЧПУ
        li
          a(href='/metalworking/turning-works') Токарные работы
        //- li
        //-   a(href='/metalworking/turning-works-with-cnc') Токарные работы ЧПУ
        li
          a(href='/metalworking/boring-works') Координатно-расточные работы
        li
          a(href='/metalworking/grinding-works') Шлифовальные работы
        li
          a(href='/metalworking/gear-cutting-works') Зубонарезные работы
        li
          a(href='/metalworking/electric-erosion') Электроэрозия
        li
          a(href='/metalworking/carousel-works-with-cnc') Карусельная обработка с ЧПУ
        li
          a(href='/metalworking/metal-cutting') Резка металла
        li
          a(href='/metalworking/metal-bending') Гибка металла
        li
          a(href='/metalworking/thermal-works') Термическая обработка
        li
          a(href='/metalworking/welding') Сварочные работы
        li
          a(href='/metalworking/assembly-work') Слесарно-сборочные работы
        li
          a(href='/metalworking/coating') Нанесение покрытий
        li 
          a(href='/metalworking/laboratory-tests') Лабораторные испытания
        //- li
        //-   a(href='/metalworking/development-of-drawings') Разработка чертежей и 3D-моделей
