aside.catalog
  // <h2 class="title">Каталог продукции</h2>
  ul.catalog__list
    li.catalog__item
      .catalog__groupname
        | Продукция
        .switch
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/products/shafts.html') Валы, штоки, оси
        li
          a(href='/products/couplings.html') Муфты, фланцы
        li
          a(href='/products/bodies.html') Корпуса
        li
          a(href='/products/wheels-and-gears.html') Колеса зубчатые, шестерни
        li
          a(href='/products/brackets.html') Кронштейны
        li
          a(href='/products/embedded-parts-and-foundation-bolts.html') Закладные детали, фундаментные болты
        li
          a(href='/products/press-forms-stamps-matrices.html') Пресс-формы, штампы, матрицы
        li
          a(href='/products/welded-crane-girders.html') Балки подкрановые сварные
        li
          a(href='/products/metal-structures.html') Металлоконструкции
        li
          a(href='/products/technological-metal-structures.html') Технологические металлоконструкции
    li.catalog__item
      .catalog__groupname
        | Механическая обработка
        .switch
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/mechanical-works/milling-works.html') Фрезерные работы
        li
          a(href='/mechanical-works/turning-works.html') Токарные работы
        li
          a(href='/mechanical-works/boring-works.html') Координатно-расточные работы
        li
          a(href='/mechanical-works/grinding-works.html') Шлифовальные работы
    li.catalog__item
      .catalog__groupname
        a(href='/metal-cutting.html') Резка металла
    li.catalog__item
      .catalog__groupname
        a(href='/metal-bending.html') Гибка металла
    li.catalog__item
      .catalog__groupname
        a(href='/thermal-works.html') Термическая обработка
    li.catalog__item
      .catalog__groupname
        a(href='/welding.html') Сварочные работы
    li.catalog__item
      .catalog__groupname
        a(href='/assembly-work.html') Слесарно-сборочные работы
    li.catalog__item
      .catalog__groupname
        a(href='/coating.html') Нанесение покрытий
    li.catalog__item
      .catalog__groupname
        a(href='/development-of-drawings.html') Раработка чертежей и 3D-моделей
    li.catalog__item
      .catalog__groupname
        | Лабораторные испытания
        .switch
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='/laboratory-tests/chemical-analysis.html') Хим. анализ металлов и сплавов
        li
          a(href='/laboratory-tests/mechanical-tests.html') Механические испытания
  .worker
    img.worker__img(src='/img/worker.jpg', alt='')
    .title Морозов Роман
    .text.text--center Ведущий менеджер по продажам
    a(href='telto:+78126271516') +7 (812) 627-15-16
  .btn Свяжитесь со специалистом
