aside.catalog
  // <h2 class="title">Каталог продукции</h2>
  ul.catalog__list
    li.catalog__item.catalog__item--active
      .catalog__groupname
        | Продукция
        .switch.switch--checked
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='#') Валы, штоки, оси
        li
          a(href='#') Муфты, Фланцы
        li
          a(href='#') Корпуса
        li
          a(href='#') Колеса зубчатые, шестерни
        li
          a(href='#') Кронштейны
        li
          a(href='#') Закладные детали, Фундаментные болты
        li
          a(href='#') Пресс-формы, штампы, матрицы
        li
          a(href='#') Балки подкрановые сварные
        li
          a(href='#') Металлоконструкции
        li
          a(href='#') Технологические металлоконструкции
    li.catalog__item
      .catalog__groupname
        | Механическая обработка
        .switch
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='#') Фрезерные работы
        li
          a(href='#') Токарные работы
        li
          a(href='#') Координатно-расточные работы
        li
          a(href='#') Шлифовальные работы
    li.catalog__item
      .catalog__groupname
        a(href='#') Резка металла
    li.catalog__item
      .catalog__groupname
        a(href='') Гибка металла
    li.catalog__item
      .catalog__groupname
        a(href='') Термическая обработка
    li.catalog__item
      .catalog__groupname
        a(href='') Сварочные работы
    li.catalog__item
      .catalog__groupname
        a(href='') Слесарно-сборочные работы
    li.catalog__item
      .catalog__groupname
        a(href='') Нанесение покрытий
    li.catalog__item
      .catalog__groupname
        a(href='') Раработка чертежей и 3D-моделей
    li.catalog__item
      .catalog__groupname
        | Лабораторные испытания
        .switch
          span.switch__bg
          span.switch__btn
      ul.catalog__links
        li
          a(href='#') Хим. анализ металлов и сплавов
        li
          a(href='#') Механические испытания
  .worker
    img.worker__img(src='/img/worker.jpg', alt='')
    .title Морозов Роман
    .text.text--center Ведущий менеджер по продажам
    a(href='telto:+78126271516') +7 (812) 627-15-16
  .btn Свяжитесь со специалистом
