section.companies.companies--partners
  h2.title.title--uppercase Наши партнеры
  .undertitle (Широкий опыт работы с партнерами из различных отраслей позволяет нам решать задачи любой сложности)
  ul.companies__list
    li.companies__item
      .companies__title ООО «ЕвразХолдинг»
    li.companies__item
      .companies__title Группа ЧТПЗ
    li.companies__item
      .companies__title ПАО «Ижорские заводы»
    li.companies__item
      .companies__title ПАО «Магнитогорский металлургический комбинат»
    li.companies__item
      .companies__title ПАО «Мечел»
    li.companies__item
      .companies__title ОАО «КУМЗ»
    li.companies__item
      .companies__title ЦНИИ КМ «Прометей»
    li.companies__item
      .companies__title АО ВМК «Красный Октябрь»
    li.companies__item
      .companies__title ОАО «МЕТАЛЛСЕРВИС»
    li.companies__item
      .companies__title АО «Металлургический завод «Электросталь»
    li.companies__item
      .companies__title ООО «ПЭК»
    li.companies__item
      .companies__title ООО «Делко»
    li.companies__item
      .companies__title Taasko
    li.companies__item.companies__item--empty
      .companies__title Здесь может быть ваша компания
      a.companies__link(href='#')
    li.companies__item.companies__item--empty
      .companies__title Здесь может быть ваша компания
      a.companies__link(href='#')