section.companies.companies--logistic
  h2.title.title--uppercase Наши партнеры
  .undertitle (Широкий опыт работы с партнерами из различных отраслей позволяет нам решать задачи любой сложности)
  ul.companies__list
    li.companies__item
      .companies__title ООО «ПЭК»
    li.companies__item
      .companies__title ООО «Делко»
    li.companies__item
      .companies__title Taasko
    li.companies__item.companies__item--empty
      .companies__title Здесь может быть ваша компания
      a.companies__link(href='#')
    li.companies__item.companies__item--empty
      .companies__title Здесь может быть ваша компания
      a.companies__link(href='#')