-
  const companies = [
    {
      name: 'Инновационный центр «Сколково»', 
      site: 'www.sk.ru/news', 
      descr: 'Действующий в Москве современный научно-технологический инновационный комплекс по разработке и коммерциализации новых технологий, первый в постсоветское время в России строящийся «с нуля» наукоград.'
    },
    {
      name: 'ООО «ЕвразХолдинг»', 
      site: 'www.evraz.com', 
      descr: 'ЕВРАЗ является вертикально-интегрированной металлургической и горнодобывающей компанией с активами в России, США, Канаде, Чехии, Италии и Казахстане. Компания входит в число крупнейших производителей стали в мире.'
    },
    {
      name: 'Группа ЧТПЗ', 
      site: 'www.chelpipe.ru', 
      descr: 'Группа ЧТПЗ занимается производством сварных и бесшовных труб широкого сортамента и позиционирует себя как эффективного универсального игрока на трубном рынке России и стран СНГ.'
    },
    {
      name: 'ООО «ОМЗ-Термопресс»', 
      site: 'www.omz-izhora.ru', 
      descr: 'ПАО "ОМЗ" – одна из ведущих компаний тяжелого машиностроения, специализирующаяся на инжиниринге, а также на производстве спецсталей и предоставлении промышленных услуг.'
    },
    {
      name: 'ПАО «Магнитогорский металлургический комбинат»', 
      site: 'www.mmk.ru', 
      descr: 'ПАО «Магнитогорский металлургический комбинат» входит в число крупнейших мировых производителей стали и занимает лидирующие позиции среди предприятий черной металлургии России.'
    },
    {
      name: 'ПАО «Мечел»', 
      site: 'www.mechel.ru', 
      descr: 'ПАО «Мечел» – одна из ведущих мировых компаний в горнодобывающей и металлургической отраслях. В компанию входят производственные предприятия в 11 регионах России, а также в Литве и Украине.'
    },
    {
      name: 'ОАО «КУМЗ»', 
      site: 'www.kumz.ru', 
      descr: 'ОАО «КУМЗ» — завод специальной металлургии, занимающийся обеспечением самолётостроения полуфабрикатами из алюминиевых и магниевых сплавов, полученных обработкой давлением.'
    },
    {
      name: 'ЦНИИ КМ «Прометей»', 
      site: 'www.crism-prometey.ru', 
      descr: 'ЦНИИ КМ "Прометей" — это крупнейший межотраслевой материаловедческий центр страны, признанный лидер в области разработки принципиально новых, имеющих общегосударственное значение перспективных материалов и технологий'
    },
    {
      name: 'АО ВМК «Красный Октябрь»', 
      site: 'www.vmzko.ru', 
      descr: 'АО ВМК «Красный Октябрь» является одним из крупнейших производителей качественного металлопроката специальных марок стали для предприятий автомобилестроения и авиационной промышленности и других отраслей.'
    },
    {
      name: 'ОАО «МЕТАЛЛСЕРВИС»', 
      site: 'www.mc.ru', 
      descr: 'МЕТАЛЛСЕРВИС - крупнейший торгово-складской комплекс России по хранению и переработке металлопродукции. Основной вид деятельности компании - оптовая продажа металла.'
    },
    {
      name: 'АО «Металлургический завод «Электросталь»', 
      site: 'www.elsteel.ru', 
      descr: '«Электросталь» является одним из основных, а иногда и единственным в России поставщиком исходных заготовок для производства лопаток, дисков, валов и колец для газотурбинных двигателей.'
    },
    {
      name: 'ООО «ПЭК»', 
      site: 'www.new.pecom.ru', 
      descr: '«ПЭК» – одна из лучших транспортных компаний России, которая занимается организацией грузоперевозок по территории РФ'
    },
    {
      name: 'ООО «Делко»', 
      site: 'www.del-ko.ru', 
      descr: 'Автопарк Delko позволяет осуществлять любой тип перевозок, имея в наличии и рефрижераторные и тентованные полуприцепы ведущих производителей. На сегодняшний день в автопарке компании более 1500 единиц современной европейской техники.'
    },
    {
      name: 'Taasko', 
      site: '', 
      descr: ''
    }
  ];

section.companies.companies--partners
  .companies__inner
    h2.title.title--uppercase Наши партнеры
    .undertitle (Широкий опыт работы с партнерами из различных отраслей позволяет нам решать задачи любой сложности)
    ul.companies__list.companies__list--flex
      each company in companies
        li.companies__item
          .companies__title= company.name
      - let i = 0;
      while ( (companies.length + i) % 5 )
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(href='#')
        - i++
  ul.companies__popups
    each company in companies
      li
        section.popup
          .popup__btn
          h2 #{company.name}
          a.popup__link(href='http://' + company.site, target='_blank', rel="nofollow") #{company.site}
          .popup__left
            p #{company.descr}
          .popup__right
          include hashtags.pug