section#counter.counter
  ul.counter__list
    li.counter__item
      .counter__value(data-count='300') 0
      .counter__text 
        | заказов 
        br
        | выполнено 
        br
        | за месяц
    li.counter__item
      .counter__value(data-count='400') 100
      .counter__text 
        | единиц 
        br 
        | технологического 
        br
        | оборудования
    li.counter__item
      .counter__value(data-count='1500') 200
      .counter__text 
        | аккредитованных 
        br
        | поставщиков