.hashtag
  h3 Выполненные работы:
  a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
  a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
  a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
  a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
  a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка