.hashtag
  .hashtag__title Выполненные работы:
  a.hashtag__link(href='/metalworking/metal-cutting') #резка_металла
  a.hashtag__link(href='/metalworking/coating') #нанесение_покрытий
  a.hashtag__link(href='/metalworking/milling-works') #фрезерные_работы
  a.hashtag__link(href='/metalworking/grinding-works') #шлифовальные_работы
  a.hashtag__link(href='/metalworking/thermal-works') #термическая_обработка