header.header-article
  ul.header-article__list
    li.header-article__item
      a(onclick="javascript:history.back(); return false;" title="Назад")
    li.header-article__item
      a(href="/docs/Производственные возможности.doc" download title="Скачать производственные возможности одним файлом")
    li.header-article__item.btn-form(title="Разместить заказ")
