header.header-article
  ul.header-article__list
    li.header-article__item(title="Скачать прайс-лист")
    li.header-article__item(title="Просмотреть что-то")
    li.header-article__item(title="Написать специалисту")
    li.header-article__item(title="Позвонить специалисту")
