section.intro
  .intro__inner
    h1.title Центр металлообработки
    div.undertitle Металлопрокат,   трубы,  нержавейка,  цветные металлы ...
      
    //-include counter.pug
    .mouse
      span.mouse-dot
  ul.numbers
    li.numbers__item
      a(href="/") > 20 000 позиций
      span Каталог
    li.numbers__item
      a(href="/") > 60 партнеров
      span Партнеры
    li.numbers__item
      a(href="/") > 20 филиалов
      span Контакты
    li.numbers__item
      a(href="/") > 1000 заказов
      span Заказы