section.intro
  include main-header.pug
  .intro__inner
    h1.title Центр Металлообработки
    .intro__slider
      div.undertitle Региональный оператор "Центр коллективного пользования "Сколково"
      div.undertitle Работаем по договорам гособоронзаказа госконтракта со спецсчетами
      div.undertitle Серийное производство на токарно-фрезерных станках с ЧПУ
      div.undertitle Токарные работы на станках с ЧПУ. Высококачественное оборудование для работы в 4-х осях.
      div.undertitle Фрезерные работы на 5-координатных обрабатывающих центрах с ЧПУ
      
    //-include counter.pug
    .mouse
      span.mouse-dot
  ul.numbers
    li.numbers__item
      a(href="/metal-products") 
        | > 20 000 позиций
        span Каталог 
    li.numbers__item
      a(href="/about/our-clients") 
        | > 60 партнеров
        span Партнеры
    li.numbers__item
      a(href="/contacts") 
        | > 5 филиалов
        span Контакты
    li.numbers__item
      a(href="/about/portfolio") 
        | > 1000 заказов
        span Заказы