footer.main-footer
  .main-footer__inner
    nav.navigation
      .navigation__btn
      ul.navigation__underlist
        li.navigation__undertitle
          a(href='/contacts.html') Контакты
        li.navigation__undertitle
          a(href='/about/about.html') О компании
        li.navigation__undertitle
          a(href='/about/technical-opportunities.html') Технические возможности
        li.navigation__undertitle
          a(href='/about/about.html#documents') Документы и сертификаты
        li.navigation__undertitle
          a(href='#') Партнеры
        li.navigation__undertitle
          a(href='/logistic.html') Логистика
    form.form-footer(action='#')
      .form-footer__title Обратная связь
      .form-footer__block
        .form-footer__column.form-footer__column--left
          input(type='text', placeholder='Ваше имя')
          input(type='text', placeholder='Компания')
        .form-footer__column.form-footer__column--right
          input(type='text', placeholder='Телефон')
          input(type='text', placeholder='E-mail')
      textarea(name='', id='', cols='30', rows='4', placeholder='Текст заявки')
      input(type='submit', value='Отправить')
  include bottom-line.pug
