section.main-slider
  ul.bxslider
    li(style="background: url('img/slider/1.jpg') center no-repeat")
      .bxslider__text
        p.text.text--center.big.white
          span.uppercase.px-24 Серийное производство
          br
          span.px-24 
            | на токарно-фрезерных
            br
            | станках с 
            span.blue ЧПУ
    li(style="background: url('img/slider/2.jpg') center no-repeat")
      .bxslider__text
        p.text.text--center.big 
          span.uppercase
            span.blue Токарные 
            | работы 
          br
          | на станках с 
          span.blue ЧПУ
        p.text.text--center 
          | Высококачественное оборудование 
          br
          | работы в 4-х осях.
    li(style="background: url('img/slider/3.jpg') center no-repeat")
      .bxslider__text
        p.text.text--center.big 
          span.uppercase
            span.blue Фрезерные 
            | работы 
          br
          span.px-38 на 5-координатных 
          br
          span.px-40 обрабатывающих 
          br
          | центрах с 
          span.blue ЧПУ
    li(style="background: url('img/slider/4.jpg') center no-repeat")
      .bxslider__text
        p.text.text--center.big 
          span.blue ГИДРОАБРАЗИВНАЯ 
          br
          span.smaller.white
            | резка металла,  
            span.blue до 200 мм
        p.text.text--center 
          | Сжатые сроки. Высокое качество
