footer.main-footer
  .main-footer__inner
    nav.navigation
      .navigation__btn
      ul.navigation__list
        .navigation__column.navigation__column--left
          li.navigation__title.navigation__title--blue
            a(href='/contacts.html') Контакты
          li.navigation__title
            | О нас
            ul.navigation__underlist
              li.navigation__undertitle
                a(href='/about/about.html') О компании
              li.navigation__undertitle
                a(href='/about/technical-opportunities.html') Технические возможности
              li.navigation__undertitle
                a(href='/about/vacancies.html') Вакансии
          li.navigation__title.navigation__title--blue
            a(href='https://zaoks.ru/products') Продукция
          li.navigation__title.navigation__title--blue
            a(href='/tenders.html') Закупки
        .navigation__column.navigation__column--center
          li.navigation__title
            | Услуги
            ul.navigation__underlist
              li.navigation__undertitle
                a(href='/metalworking/metal-cutting.html') Резка металла
              li.navigation__undertitle
                a(href='/metalworking/metal-bending.html') Гибка металла
              li.navigation__undertitle
                a(href='/metalworking/milling-works.html') Токарные работы
              li.navigation__undertitle
                a(href='/metalworking/turning-works.html') Фрезерные работы
              li.navigation__undertitle
                a(href='/metalworking/assembly-work.html') Слесарно-сборочные работы
              li.navigation__undertitle
                a(href='/metalworking/development-of-drawings.html') Раработка чертежей и 3D-моделей
          li.navigation__title.navigation__title--blue
            a(href='/metalworking/laboratory-tests.html') Лабораторные испытания
          li.navigation__title.navigation__title--blue
            a(href='/logistic.html') Логистика
    form.form-footer(action='#')
      .form-footer__title Обратная связь
      .form-footer__block
        .form-footer__column.form-footer__column--left
          input(type='text', placeholder='Ваше имя')
          input(type='text', placeholder='Компания')
        .form-footer__column.form-footer__column--right
          input(type='text', placeholder='Телефон')
          input(type='text', placeholder='E-mail')
      textarea(name='', id='', cols='30', rows='4', placeholder='Текст заявки')
      input(type='submit', value='Отправить')
  include bottom-line.pug
