section.menu-line
  if (title === 'Портфолио')
    .menu-line__item.active
        a.menu-line__btn(href="#") Портфолио
    .menu-line__item
      a.menu-line__btn(href="our-clients") Клиенты
    .menu-line__item
      a.menu-line__btn(href="our-partners") Партнеры
  if (title === 'Клиенты')
    .menu-line__item
      a.menu-line__btn(href="portfolio") Портфолио
    .menu-line__item.active
      a.menu-line__btn(href="#") Клиенты
    .menu-line__item
      a.menu-line__btn(href="our-partners") Партнеры
  if (title === 'Партнеры')
    .menu-line__item
      a.menu-line__btn(href="portfolio") Портфолио
    .menu-line__item
      a.menu-line__btn(href="our-clients") Клиенты
    .menu-line__item.active
      a.menu-line__btn(href="#") Партнеры
  if (description === 'Контактные данные предприятия Set Service Group')
    .menu-line__item
      a.menu-line__btn(href="about/production-areas") Производственные площадки
    .menu-line__item.active
      a.menu-line__btn(href="#") Контакты
    .menu-line__item
      a.menu-line__btn(href="phones") Телефонный справочник
  if (description === 'В распоряжении нашей компании имеется 6 производственных площадок, каждая из которых предназначена для решения задач в определенной производственной сфере.')
    .menu-line__item.active
      a.menu-line__btn(href="#") Производственные площадки
    .menu-line__item
      a.menu-line__btn(href="../contacts") Контакты
    .menu-line__item
      a.menu-line__btn(href="../phones") Телефонный справочник
  if (title === 'Телефонный справочник')
    .menu-line__item
      a.menu-line__btn(href="about/production-areas") Производственные площадки
    .menu-line__item
      a.menu-line__btn(href="contacts") Контакты
    .menu-line__item.active
      a.menu-line__btn(href="#") Телефонный справочник

    
