section.menu-line
  .menu-line__item
    if (title === 'Портфолио')
      a.active(href="#") Портфолио
    else
      a(href="portfolio.html") Портфолио
  .menu-line__item
    if (title === 'Отзывы')
      a.active(href="#") Отзывы
    else
      a(href="feedbacks.html") Отзывы
  .menu-line__item
    if (title === 'Клиенты')
      a.active(href="#") Наши клиенты
    else
      a(href="clients.html") Наши клиенты
    
