section.menu-line
  if (title === 'Портфолио')
    .menu-line__item.active
        a.menu-line__btn(href="#") Портфолио
  else
    .menu-line__item
      a.menu-line__btn(href="portfolio.html") Портфолио
  if (title === 'Клиенты')
    .menu-line__item.active
      a.menu-line__btn(href="#") Наши клиенты
  else
    .menu-line__item
      a.menu-line__btn(href="clients.html") Наши клиенты
    
