section.metal-structures
  ul.assortiment.assortiment--squares.assortiment.owl-carousel.owl-theme
    li.assortiment__item.assortiment__item--1
      a.assortiment__link(href='/metal-structures/pipeline-supports.html')
        span.assortiment__title
          span
            | Опоры 
            br
            | трубопроводов
    li.assortiment__item.assortiment__item--2
      a.assortiment__link(href='/metal-structures/service-areas.html')
        span.assortiment__title
          span
            | Площадки 
            br
            | обслуживания
    li.assortiment__item.assortiment__item--3
      a.assortiment__link(href='/metal-structures/welded-crane-girders.html')
        span.assortiment__title
          span
            | Балки подкрановые 
            br
            | сварные
    li.assortiment__item.assortiment__item--4
      a.assortiment__link(href='/metal-structures/technological-tanks.html')
        span.assortiment__title
          span
            | Технологические 
            br
            | емкости
    //- li.assortiment__item.assortiment__item--5
    //-   a.assortiment__link(href='/metal-structures/test-benches.html')
    //-     span.assortiment__title 
    //-       span
    //-         | Стенды 
    //-         br
    //-         | для испытаний
    li.assortiment__item.assortiment__item--5
      a.assortiment__link(href='/metal-structures/wheeled-trolleys.html')
        span.assortiment__title
          span
            | Тележки колесные / 
            br
            | на рельсах
    li.assortiment__item.assortiment__item--6
      a.assortiment__link(href='/metal-structures/bridge-metal-structures.html')
        span.assortiment__title
          span  Мостовые металлоконструкции
    li.assortiment__item.assortiment__item--8
      a.assortiment__link(href='/metal-structures/building-metal-structures.html')
        span.assortiment__title
          span Стоительные металлоконструкции
    li.assortiment__item.assortiment__item--7
      a.assortiment__link(href='/metal-structures/non-standart-metal-structures.html')
        span.assortiment__title
          span Нестандартные металлоконструкции
