section.metalstructures
  ul.assortiment.assortiment.owl-carousel.owl-theme
    li.assortiment__item.assortiment__item--1
      a.assortiment__link(href='/metal-structures/pipeline-supports.html')
        span.assortiment__icon
        span.assortiment__title 
          | Опоры 
          br
          | трубопроводов
    li.assortiment__item.assortiment__item--2
      a.assortiment__link(href='/metal-structures/service-areas.html')
        span.assortiment__icon
        span.assortiment__title 
          | Площадки 
          br
          | обслуживания
    li.assortiment__item.assortiment__item--3
      a.assortiment__link(href='/metal-structures/welded-crane-girders.html')
        span.assortiment__icon
        span.assortiment__title 
          | Балки подкрановые 
          br
          | сварные
    li.assortiment__item.assortiment__item--4
      a.assortiment__link(href='/metal-structures/technological-tanks.html')
        span.assortiment__icon
        span.assortiment__title 
          | Технологические 
          br
          | емкости
    li.assortiment__item.assortiment__item--5
      a.assortiment__link(href='/metal-structures/test-benches.html')
        span.assortiment__icon
        span.assortiment__title 
          | Стенды 
          br
          | для испытаний
    li.assortiment__item.assortiment__item--6
      a.assortiment__link(href='/metal-structures/wheeled-trolleys.html')
        span.assortiment__icon
        span.assortiment__title 
          | Тележки колесные / 
          br
          | на рельсах
    li.assortiment__item.assortiment__item--7
      a.assortiment__link(href='/metal-structures/bridge-metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Мостовые металлоконструкции
    li.assortiment__item.assortiment__item--8
      a.assortiment__link(href='/metal-structures/non-standart-metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Нестандартные металлоконструкции
    li.assortiment__item.assortiment__item--9
      a.assortiment__link(href='/metal-structures/building-metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Стоительные металлоконструкции
