nav.navigation
  ul.navigation__list
    .navigation__btn
    .navigation__column.navigation__column--first
      li.navigation__title О нас
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/about/about') О компании
          li.navigation__undertitle
            a(href='/about/skolkovo-operator') ЦКП Технопарка "Сколково"
          li.navigation__undertitle
            a(href='/about/technical-opportunities') Технические возможности
          li.navigation__undertitle
            a(href='/about/production-areas') Производственные площадки
          li.navigation__undertitle
            a(href='/about/serial-production') Серийное производство
          li.navigation__undertitle
            a(href='/about/portfolio') Портфолио
          //- li.navigation__undertitle
          //-   a(href='/logistic') Логистика
          li.navigation__undertitle
            a(href='/contacts') Контакты
      form.search
        input(type="text" placeholder="Поиск по сайту")
      a.presentation(href="/docs/presentation.pdf", target="_blank")
        span
          svg.tap(xmlns="http://www.w3.org/2000/svg" viewBox="-67 0 460 460.1814" )
            g
              path(d="m301.902344 202.179688h-.667969c-12.808594 0-23.589844 10.886718-23.589844 24.878906v19.394531c0 3.863281-3.136719 7-7 7-3.867187 0-7-3.136719-7-7v-35.8125c0-13.992187-10.160156-25.375-22.964843-25.375-12.875 0-23.035157 11.382813-23.035157 25.375v37.957031c0 3.867188-3.136719 7-7 7-3.867187 0-7-3.132812-7-7v-48.378906c0-13.988281-10.5625-25.039062-23.367187-25.039062h-.710938c-12.484375 0-22.921875 10.480468-22.921875 23.984374v54.476563c0 3.867187-3.136719 7-7 7-3.867187 0-7-3.132813-7-7v-52.898437c0-.171876-.019531-.351563-.019531-.527344 0-.429688.019531-.859375.019531-1.285156v-123.675782c0-13.992187-10.558593-25.371094-23.359375-25.371094-12.804687 0-23.359375 11.375-23.371094 25.355469l-.140624 205.089844c-.003907 2.957031-1.859376 5.59375-4.644532 6.589844-2.78125.996093-5.890625.136719-7.765625-2.148438l-24.488281-29.808593c-6.457031-8.089844-15.988281-13.128907-26.3125-13.914063-10.105469-.667969-20.035156 2.894531-27.410156 9.835937-.085938.078126-.175782.171876-.269532.25l-4.7929682 4.007813 84.9023442 163.160156c13.402343 25.753907 38.746093 41.878907 66.132812 41.878907h98.144531c41.765625 0 75.777344-36.746094 75.820313-81.757813.023437-23.835937.046875-41.714844.066406-56.117187.050781-38.5.066406-52.660157-.03125-95.070313-.03125-13.953125-10.449219-25.054687-23.222656-25.054687zm0 0" data-original="#000000" class="active-path" data-old_color="#ffffff")
              path(d="m55.59375 77.703125c3.867188 0 7-3.132813 7-7-.082031-20.21875 10.65625-38.941406 28.152344-49.074219 17.496094-10.132812 39.078125-10.132812 56.574218 0 17.496094 10.132813 28.234376 28.855469 28.148438 49.074219 0 3.867187 3.136719 7 7 7 3.867188 0 7-3.132813 7-7 .097656-25.226563-13.308594-48.582031-35.140625-61.222656s-48.757813-12.640625-70.589844 0-35.238281 35.996093-35.144531 61.222656c0 3.867187 3.136719 7 7 7zm0 0" data-original="#000000" class="active-path" data-old_color="#ffffff")
        div Посмотреть презентацию
      //-include socials.pug
    .navigation__column.navigation__column--second
      li.navigation__title 
        a.title-link(href="/metalworking") Металлообработка
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/metalworking/milling-works') Фрезерные работы
          //- li.navigation__undertitle
          //-   a(href='/metalworking/milling-works-with-cnc') Фрезерные работы ЧПУ
          li.navigation__undertitle
            a(href='/metalworking/turning-works') Токарные работы
          //- li.navigation__undertitle
          //-   a(href='/metalworking/turning-works-with-cnc') Токарные работы ЧПУ
          li.navigation__undertitle
            a(href='/metalworking/boring-works') Координатно-расточные работы
          li.navigation__undertitle
            a(href='/metalworking/grinding-works') Шлифовальные работы
          li.navigation__undertitle
            a(href='/metalworking/gear-cutting-works') Зубонарезные работы
          li.navigation__undertitle
            a(href='/metalworking/electric-erosion') Электроэрозия
          li.navigation__undertitle
            a(href='/metalworking/carousel-works-with-cnc') Карусельная обработка с ЧПУ
          li.navigation__undertitle
            a(href='/metalworking/metal-cutting') Резка металла
          li.navigation__undertitle
            a(href='/metalworking/metal-bending') Гибка металла
          li.navigation__undertitle
            a(href='/metalworking/thermal-works') Термическая обработка
          li.navigation__undertitle
            a(href='/metalworking/welding') Сварочные работы
          li.navigation__undertitle
            a(href='/metalworking/assembly-work') Слесарно-сборочные работы
          li.navigation__undertitle
            a(href='/metalworking/coating') Нанесение покрытий
          li.navigation__undertitle 
            a(href='/metalworking/laboratory-tests') Лабораторные испытания
          //- li.navigation__undertitle
          //-   a(href='/metalworking/development-of-drawings') Раработка чертежей и 3D-моделей
      //- li.navigation__title
      //-   a(href='/metalworking/metal-cutting') Резка металла
      //- li.navigation__title
      //-   a(href='/metalworking/metal-bending') Гибка металла
      //- li.navigation__title
      //-   a(href='/metalworking/thermal-works') Термическая обработка
      //- li.navigation__title
      //-   a(href='/metalworking/welding') Сварочные работы
      //- li.navigation__title
      //-   a(href='/metalworking/assembly-work') Слесарно-сборочные работы
      //- li.navigation__title
      //-   a(href='/metalworking/coating') Нанесение покрытий
      //- li.navigation__title 
      //-   a(href='/metalworking/laboratory-tests') Лабораторные испытания
      //- li.navigation__title
      //-   a(href='/metalworking/development-of-drawings') Раработка чертежей и 3D-моделей
    .navigation__column.navigation__column--third
      li.navigation__title 
        a.title-link(href="/metal-products") Продукция
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/metal-products/gearboxes') Редукторы / Зубчатые передачи / Комплектующие
          li.navigation__undertitle
            a(href='/metal-products/hydraulic-equipment') Гидравлическое оборудование / Гидроцилиндры / Комплектующие
          li.navigation__undertitle
            a(href='/metal-products/press-molds-stamps-matrices') Пресс-формы, штампы, матрицы, фильеры
          //- li.navigation__undertitle
          //-   a(href='/metal-products/process-piping-fittings') Арматура технологических трубопроводов
          li.navigation__undertitle
            a(href='/metal-products/extrusion-lines') Детали для промышленного оборудования
          li.navigation__undertitle
            a(href='/metal-products/engineering-parts') Детали для машиностроения
          li.navigation__undertitle
            a(href='/metal-products/precision-parts') Детали прецизионные
          li.navigation__undertitle
            a(href='/metal-products/non-standart-metal-structures') Нестандартные металлоконструкции
          //- li.navigation__undertitle
          //-   a(href='/metal-products/shafts') Валы, штоки, оси
          //- li.navigation__undertitle
          //-   a(href='/metal-products/couplings') Муфты
          //- li.navigation__undertitle
          //-   a(href='/metal-products/flanges') Фланцы
          //- li.navigation__undertitle
          //-   a(href='/metal-products/bodies') Корпуса приборов
          //- li.navigation__undertitle
          //-   a(href='/metal-products/wheels') Колеса зубчатые
          //- li.navigation__undertitle
          //-   a(href='/metal-products/gears') Шестерни и вал-шестерни
          //- li.navigation__undertitle
          //-   a(href='/metal-products/pulleys') Шкивы
          //- li.navigation__undertitle
          //-   a(href='/metal-products/brackets') Кронштейны
          //- li.navigation__undertitle
          //-   a(href='/metal-products/fasteners') Крепежные изделия
          //- li.navigation__undertitle
          //-   a(href='/metal-products/press-forms') Пресс-формы
          //- li.navigation__undertitle
          //-   a(href='/metal-products/clips') Обоймы
          //- li.navigation__undertitle
          //-   a(href='/metal-products/fittings') Фитинги сантехнические
          //- li.navigation__undertitle
          //-   a(href='/metal-products/housings') Кожухи
          //- li.navigation__undertitle
          //-   a(href='/metal-products/non-standart-products') Нестандартные изделия 
          //- li.navigation__undertitle
          //-   a(href='/metal-products/gear-racks') Зубчатые рейки
          //- li.navigation__undertitle
          //-   a(href='/metal-products/conveyor-rollers') Ролики конвейерные
          //- li.navigation__undertitle
          //-   a(href='/metal-products/machine-parts') Детали для станков
      li.navigation__title 
        a.title-link(href='/metalstructures') Металлоконструкции
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/metal-structures/pipeline-supports') Опоры трубопроводов
          li.navigation__undertitle
            a(href='/metal-structures/service-areas') Площадки обслуживания
          li.navigation__undertitle
            a(href='/metal-structures/welded-crane-girders') Балки подкрановые сварные
          li.navigation__undertitle
            a(href='/metal-structures/technological-tanks') Технологические емкости
          //- li.navigation__undertitle
          //-   a(href='/metal-structures/test-benches') Стенды для испытаний
          li.navigation__undertitle
            a(href='/metal-structures/wheeled-trolleys') Тележки колесные / на рельсах
          li.navigation__undertitle
            a(href='/metal-structures/bridge-metal-structures') Мостовые металлоконструкции
          li.navigation__undertitle
            a(href='/metal-structures/building-metal-structures') Строительные металлоконструкции
          //- li.navigation__undertitle
          //-   a(href='/metal-structures/social-metal-structures') Социальные металлоконсрукции
          //- li.navigation__undertitle
          //-   a(href='/metal-structures/flues-and-chimneys') Газоходы и дымоходы
    //-.navigation__column.navigation__column--fourth
      
          
      
