nav.navigation
  .navigation__btn
  ul.navigation__list
    form.search
      input(type="text" placeholder="Поиск по сайту")
    .navigation__column.navigation__column--left
      li.navigation__title О нас
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/about/about.html') О компании
          li.navigation__undertitle
            a(href='/about/technical-opportunities.html') Технические возможности
          li.navigation__undertitle
            a(href='') Наши клиенты
          li.navigation__undertitle
            a(href='') Портфолио
          li.navigation__undertitle
            a(href='/about/vacancies.html') Вакансии
      li.navigation__title Продукция
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/products/shafts.html') Валы, штоки, оси
          li.navigation__undertitle
            a(href='/products/couplings.html') Муфты, Фланцы
          li.navigation__undertitle
            a(href='/products/bodies.html') Корпуса
          li.navigation__undertitle
            a(href='/products/wheels-and-gears.html') Колеса зубчатые, шестерни
          li.navigation__undertitle
            a(href='/products/brackets.html') Кронштейны
          li.navigation__undertitle
            a(href='/products/embedded-parts-and-foundation-bolts.html') Закладные детали, Фундаментные болты
          li.navigation__undertitle
            a(href='/products/press-forms-stamps-matrices.html') Пресс-формы, штампы, матрицы
          li.navigation__undertitle
            a(href='/products/welded-crane-girders.html') Балки подкрановые сварные
          li.navigation__undertitle
            a(href='/products/metal-structures.html') Металлоконструкции
          li.navigation__undertitle
            a(href='/products/technological-metal-structures.html') Технологические металлоконструкции
    .navigation__column.navigation__column--center
      li.navigation__title
        a(href='/metal-cutting.html') Резка металла
      li.navigation__title
        a(href='/metal-bending.html') Гибка металла
      li.navigation__title Механическая обработка
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/mechanical-works/milling-works.html') Фрезерные работы
          li.navigation__undertitle
            a(href='#') Фрезерные работы ЧПУ
          li.navigation__undertitle
            a(href='/mechanical-works/turning-works.html') Токарные работы
          li.navigation__undertitle
            a(href='#') Токарные работы ЧПУ
          li.navigation__undertitle
            a(href='/mechanical-works/boring-works.html') Координатно-расточные работы
          li.navigation__undertitle
            a(href='/mechanical-works/grinding-works.html') Шлифовальные работы
      li.navigation__title
        a(href='/thermal-works.html') Термическая обработка
      li.navigation__title
        a(href='/welding.html') Сварочные работы
      li.navigation__title
        a(href='/assembly-work.html') Слесарно-сборочные работы
      li.navigation__title
        a(href='/coating.html') Нанесение покрытий
      li.navigation__title 
        a(href='/laboratory-tests.html') Лабораторные испытания
      li.navigation__title
        a(href='/development-of-drawings.html') Раработка чертежей и 3D-моделей
    .navigation__column.navigation__column--right
      li.navigation__title
        a(href='/tenders.html') Закупки
      li.navigation__title
        a(href='/services-of-transport.html') Транспортные услуги
      li.navigation__title
        a(href='/contacts.html') Контакты
