nav.navigation
  .navigation__btn
  ul.navigation__list
    form.search
      input(type="text" placeholder="Поиск по сайту")
    .navigation__column.navigation__column--left
      li.navigation__title О нас
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/about/about.html') О компании
          li.navigation__undertitle
            a(href='/about/technical-opportunities.html') Технические возможности
          li.navigation__undertitle
            a(href='') Наши ценности
          li.navigation__undertitle
            a(href='/about/vacancies.html') Вакансии
      li.navigation__title Продукция
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/products/shafts.html') Валы, штоки, оси
          li.navigation__undertitle
            a(href='/products/couplings.html') Муфты, Фланцы
          li.navigation__undertitle
            a(href='/products/bodies.html') Корпуса
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/kolesa_zubchatie') Колеса зубчатые, шестерни
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/kronshteyn') Кронштейны
          li.navigation__undertitle
            a(href='https://zaoks.ru/zakladnie_detali') Закладные детали, Фундаментные болты
          li.navigation__undertitle
            a(href='https://zaoks.ru/press-formy-shtampy-matritsy') Пресс-формы, штампы, матрицы
          li.navigation__undertitle
            a(href='https://zaoks.ru/balki-podkranovyye-svarnyye') Балки подкрановые сварные
          li.navigation__undertitle
            a(href='https://zaoks.ru/metallokonstruktsii') Металлоконструкции
          li.navigation__undertitle
            a(href='https://zaoks.ru/metal_structures_and_mechanisms') Технологические металлоконструкции
    .navigation__column.navigation__column--center
      li.navigation__title
        a(href='/metal-cutting.html') Резка металла
      li.navigation__title
        a(href='/metal-bending.html') Гибка металла
      li.navigation__title Механическая обработка
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/milling_works') Фрезерные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/turning_works') Токарные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/coordinate-boring_works') Координатно-расточные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/grinding_works') Шлифовальные работы
      li.navigation__title
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/services/termoobrabotka') Термическая обработка
      li.navigation__title
        a(href='/welding.html') Сварочные работы
      li.navigation__title
        a(href='/assembly-work.html') Слесарно-сборочные работы
      li.navigation__title
        a(href='/coating.html') Нанесение покрытий
      li.navigation__title Лабораторные испытания
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='/chemical-analysis.html') Хим. анализ металлов и сплавов
          li.navigation__undertitle
            a(href='/mechanical-tests.html') Механические испытания
      li.navigation__title
        a(href='https://zaoks.ru/design_documentation') Раработка чертежей и 3D-моделей
    .navigation__column.navigation__column--right
      li.navigation__title
        a(href='https://zaoks.ru/sales') Закупки
      li.navigation__title
        a(href='https://zaoks.ru/delivery') Транспортные услуги
      li.navigation__title
        a(href='/contacts.html') Контакты
