nav.navigation
  .navigation__btn
  ul.navigation__list
    form.search
      input(type="text" placeholder="Поиск по сайту")
    .navigation__column.navigation__column--left
      li.navigation__title О нас
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='./about.html') О компании
          li.navigation__undertitle
            a(href='./technical-opportunities.html') Технические возможности
          li.navigation__undertitle
            a(href='') Наши ценности
          li.navigation__undertitle
            a(href='./vacancies.html') Вакансии
      li.navigation__title Продукция
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/shafts') Валы, штоки, оси
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/mufti') Муфты, Фланцы
          li.navigation__undertitle
            a(href='https://zaoks.ru/korpusa') Корпуса
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/kolesa_zubchatie') Колеса зубчатые, шестерни
          li.navigation__undertitle
            a(href='https://zaoks.ru/products/kronshteyn') Кронштейны
          li.navigation__undertitle
            a(href='https://zaoks.ru/zakladnie_detali') Закладные детали, Фундаментные болты
          li.navigation__undertitle
            a(href='https://zaoks.ru/press-formy-shtampy-matritsy') Пресс-формы, штампы, матрицы
          li.navigation__undertitle
            a(href='https://zaoks.ru/balki-podkranovyye-svarnyye') Балки подкрановые сварные
          li.navigation__undertitle
            a(href='https://zaoks.ru/metallokonstruktsii') Металлоконструкции
          li.navigation__undertitle
            a(href='https://zaoks.ru/metal_structures_and_mechanisms') Технологические металлоконструкции
    .navigation__column.navigation__column--center
      li.navigation__title
        a(href='https://zaoks.ru/cutting_metal') Резка металла
      li.navigation__title
        a(href='https://zaoks.ru/bending') Гибка металла
      li.navigation__title Механическая обработка
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/milling_works') Фрезерные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/turning_works') Токарные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/coordinate-boring_works') Координатно-расточные работы
          li.navigation__undertitle
            a(href='https://zaoks.ru/grinding_works') Шлифовальные работы
      li.navigation__title
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/services/termoobrabotka') Термическая обработка
      li.navigation__title
        a(href='https://zaoks.ru/welding-works') Сварочные работы
      li.navigation__title
        a(href='https://zaoks.ru/services/sborka') Слесарно-сборочные работы
      li.navigation__title
        a(href='https://zaoks.ru/coating') Нанесение покрытий
      li.navigation__title Лабораторные испытания
        ul.navigation__underlist
          li.navigation__undertitle
            a(href='https://zaoks.ru/himanaliz') Хим. анализ металлов и сплавов
          li.navigation__undertitle
            a(href='https://zaoks.ru/mechanical-testing') Механические испытания
      li.navigation__title
        a(href='https://zaoks.ru/design_documentation') Раработка чертежей и 3D-моделей
    .navigation__column.navigation__column--right
      li.navigation__title
        a(href='https://zaoks.ru/sales') Закупки
      li.navigation__title
        a(href='https://zaoks.ru/delivery') Транспортные услуги
      li.navigation__title
        a(href='./contacts.html') Контакты
