section.partners
  h2.title.title--uppercase Клиенты
  .undertitle Мы работаем с клиентами из самых разных отраслей промышленности
  ul.partners__list
    li.partners__item
      .partners__title АО «НПП «Промтрансавтоматика»
    li.partners__item
      .partners__title АО «Концерн «ЦНИИ «Электроприбор»
    li.partners__item
      .partners__title АО «ЛОМО»
    li.partners__item
      .partners__title АО «НПП «Радар ммс»
    li.partners__item
      .partners__title Санкт-Петербургский государственный университет
    li.partners__item
      .partners__title ООО «НТЦ «Гидротранс»
    li.partners__item
      .partners__title АО «Завод «Знамя труда»
    li.partners__item
      .partners__title ООО «Инжиниринг Геотехнических Систем»
    li.partners__item
      .partners__title Caterpillar
    li.partners__item
      .partners__title АО НТЦ «РОКАД»
    li.partners__item
      .partners__title ООО «МОП им. Калинина»
    li.partners__item
      .partners__title ООО «Интеллектуальное конструкторское бюро»
    li.partners__item
      .partners__title АО «ГМЗ «Химмаш»
    if add_link_for_clients 
      li.partners__item.partners__item--empty
        .partners__title Здесь может быть ваша компания
        a.partners__link(href='#')
      li.partners__item.partners__item--empty
        .partners__title Здесь может быть ваша компания
        a.partners__link(href='#')
    else 
      li.partners__item
        .partners__title АО «Нева металл посуда»
      li.partners__item
        .partners__title ООО «Главпромстрой»
      li.partners__item
        .partners__title ООО НПФ «РЕОМ»
      li.partners__item
        .partners__title OOO «ОМЗ-Термопресс»
      li.partners__item
        .partners__title ООО «Обсервер»
      li.partners__item
        .partners__title Tunnel Tech
      li.partners__item.partners__item--empty
        .partners__title Здесь может быть ваша компания
        a.partners__link(href='#')
  ul.partners__popups
    li
      section.popup
        .popup__btn
        h1 АО «НПП «Промтрансавтоматика»
        a.popup__link(href='http://www.ptaspb.ru/') www.ptaspb.ru
        .popup__left
          p НПП «Промтрансавтоматика» активно участвует в проектах автоматизации деятельности городских служб. Системы и аппаратно-программные комплексы применяются на разводных мостах Санкт-Петербурга, в метрополитене, на железнодорожном транспорте, на других объектах города и области.
        .popup__right
          img.feedback(src="/img/feedbacks/Промтрансавтоматика.jpg")
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО «Концерн «ЦНИИ «Электроприбор»
        a.popup__link(href='http://www.elektropribor.spb.ru') www.elektropribor.spb.ru
        p Государственный научный центр Российской Федерации АО «Концерн «ЦНИИ «Электроприбор» является ведущим институтом страны в области высокоточной навигации, гироскопии, гравиметрии и оптоэлектронных систем наблюдения подводных лодок, успешно ведет разработки и поставляет технику морской радиосвязи и гидроакустики.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО «ЛОМО»
        a.popup__link(href='http://www.lomo.ru') www.lomo.ru
        p АО «ЛОМО» является ведущим предприятием России по производству оптических, оптико-электронных, оптико-цифровых и оптико-механических приборов, систем и комплексов.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО «НПП «Радар ммс»
        a.popup__link(href='http://www.radar-mms.com/') www.radar-mms.com
        p АО «Научно-производственное предприятие «Радар ммс» является одним из мировых лидеров в области создания радиоэлектронных систем и комплексов специального и гражданского назначения, точного приборостроения, специального программного обеспечения.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 Санкт-Петербургский государственные университет
        a.popup__link(href='https://spbu.ru/') www.spbu.ru
        p Санкт-Петербургский государственный университет — крупнейший научно-образовательный центр Европы и мира. Сегодня здесь учатся более 30 тысяч студентов, работают лауреаты Нобелевской и Филдсовской премий, созданы более 15 крупных лабораторий и 26 ресурсных центров, входящих в ведущий Научный парк страны.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 ООО «НТЦ «Гидротранс»
        a.popup__link(href='http://hydrotrans.ru/') www.hydrotrans.ru
        p «Научно-технический центр «Гидротранс», предприятие, специализирующееся на проектировании, изготовлении, монтаже и обслуживании гидравлических приводов для гидротехнических сооружений, шахт, предприятий промышленности и ВПК, создание цеховых стендов, имитирующих работу производственных комплексов, управляемых гидроприводами
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО «Завод «Знамя труда»
        a.popup__link(href='http://zzt.ru/') www.zzt.ru
        p АО «Завод «Знамя труда» — один из крупнейших производителей трубопроводной арматуры в России. Экспортные и внутренние поставки продукции осуществляются на самые современные объекты атомной и топливной энергетики.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 ООО «Инжиниринг Геотехнических Систем»
        p Разработка строительных проектов, строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения, строительство коммунальных объектов для обеспечения электроэнергией и телекоммуникациями.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 Caterpillar
        a.popup__link(href='https://www.cat.com/ru_RU.html') www.cat.com
        p Одна из ведущих корпораций по производству крупнейшей спецтехники в мире. Выпускает землеройно-транспортную технику, строительное оборудование, дизельные двигатели, энергетические установки (работающие на природном и попутном газах) и другие продукты, а также обувь. С недавнего времени также и защищённые мобильные телефоны и смартфоны. В составе более 480 подразделений, расположенных в 50 странах мира на пяти континентах
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО НТЦ «РОКАД»
        a.popup__link(href='http://rocad.ru/') www.rocad.ru
        .popup__left
          p Компания Научно-Технический Центр «РОКАД» занимается наукоемкими разработками, выполнением НИР и ОКР, а также разработкой ноу-хау на заказ.
        .popup__right
          img.feedback(src="/img/feedbacks/НТЦ РОКАД.jpg")
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 ООО «МОП им. Калинина»
        a.popup__link(href='http://kme.su/') www.kme.su
        .popup__left
          p ООО «Механообрабатывающее предприятие им. Калинина» осуществляет обработку металлов и нанесение покрытий на металлы, обработку металлических изделий с использованием основных технологических процессов машиностроения, изготовление деталей и узлов различной степени сложности.
        .popup__right
          img.feedback(src="/img/feedbacks/МОП Калинина.jpg")
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 
          | ООО «Интеллектуальное 
          br
          | конструкторское бюро»
        a.popup__link(href='http://rusfuture.com/') www.rusfuture.com
        .popup__left
          p ИКБ является развивающейся и перспективной многопрофильной организацией, оказывающей широкий спектр технологических услуг, обладает всеми возможностями и достаточным потенциалом для выполнения задач любой сложности.
        .popup__right
          img.feedback(src="/img/feedbacks/ИКБ.jpg")
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    li
      section.popup
        .popup__btn
        h1 АО «ГМЗ «Химмаш»
        a.popup__link(href='http://www.him-mash.com/') www.him-mash.com
        p АО «ГМЗ «Химмаш» является инжиниринговой компанией, специализирующейся на предоставлении инжиниринговых услуг по строительству новых, модернизации существующих энергетических мощностей на промышленных предприятиях и объектах энергетики.
        .hashtag
          h1 Выполненные работы:
          a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
          a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
          a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
          a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
          a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
    if !add_link_for_clients
      li
        section.popup
          .popup__btn
          h1 АО «Нева металл посуда»
          a.popup__link(href='https://nmp.ru') www.nmp.ru
          .popup__left
            p Компания АО «Нева металл посуда» занимается разработкой уникальной по своим потребительским свойствам и качеству посуды. Предприятие находится в Петербурге, в научно-промышленном центре, что дает возможность задействовать интеллектуально-технические ресурсы, порой недоступные на удаленных производствах.
          .popup__right
            img.feedback(src="/img/feedbacks/НМП.jpg")
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
      li
        section.popup
          .popup__btn
          h1 ООО «Главпромстрой»
          a.popup__link(href='http://glavpromstroi.com/') www.glavpromstroi.com
          p Строительная компания ООО «Главпромстрой» - многопрофильная организация, успешно и стабильно работающая на рынке строительства с 1992 года. Основная деятельность предприятия — строительство, реконструкция и капитальный ремонт зданий и сооружений промышленного и коммунально-бытового назначения.
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
      li
        section.popup
          .popup__btn
          h1 ООО НПФ «РЕОМ»
          a.popup__link(href='http://npf-reom.ru/') www.npf-reom.ru
          p НПФ «РЕОМ» разрабатывает, производит, модернизирует и поставляет климатические камеры для проведения испытаний в различных отраслях промышленности.
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
      li
        section.popup
          .popup__btn
          h1 ООО «ОМЗ-Термопресс»
          a.popup__link(href='http://www.omz-izhora.ru') www.omz-izhora.ru
          p Публичное акционерное общество Объединенные машиностроительные заводы (Группа Уралмаш-Ижора) – одна из ведущих компаний тяжелого машиностроения, специализирующаяся на инжиниринге, производстве и сервисном обслуживании оборудования для атомной энергетики, нефтехимической и нефтегазовой, горной промышленности, а также на производстве спецсталей и предоставлении промышленных услуг.
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
      li
        section.popup
          .popup__btn
          h1 ООО «Обсервер»
          a.popup__link(href='https://o-mp.ru/') www.o-mp.ru
          p Компания «Обсервер» занимается разработкой, производством и продвижением самых передовых устройств, для улучшения качества жизни инвалидов, создания безбарьерной среды и обеспечения «Равных возможностей для всех». 
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
      li
        section.popup
          .popup__btn
          h1 Tunnel Tech
          a.popup__link(href='http://tunneltech.eu/') www.tunneltech.eu
          p Компания Tunnel Tech занимается разработкой и производством аэротруб и ветровых тоннелей различной степени мощности, а также разрабатывает программное обеспечение для управления ими.
          .hashtag
            h1 Выполненные работы:
            a.hashtag__link(href='/metalworking/metal-cutting.html') #резка_металла
            a.hashtag__link(href='/metalworking/coating.html') #нанесение_покрытий
            a.hashtag__link(href='/metalworking/milling-works.html') #фрезерные_работы
            a.hashtag__link(href='/metalworking/grinding-works.html') #шлифовальные_работы
            a.hashtag__link(href='/metalworking/thermal-works.html') #термическая_обработка
  if add_link_for_clients
    a.partners__btn(href='/about/clients.html') Подробнее
  else 
