section.partners.partners--logistic
  h2.title.title--uppercase Наши партнеры
  .undertitle (Широкий опыт работы с партнерами из различных отраслей позволяет нам решать задачи любой сложности)
  ul.partners__list
    li.partners__item
      .partners__title ООО «ПЭК»
    li.partners__item
      .partners__title ООО «Делко»
    li.partners__item
      .partners__title Taasko
    li.partners__item.partners__item--empty
      .partners__title Здесь может быть ваша компания
      a.partners__link(href='#')
    li.partners__item.partners__item--empty
      .partners__title Здесь может быть ваша компания
      a.partners__link(href='#')