section.main__articles
  h2.title Примеры выполненных работ
  #performed_works.owl-carousel
    if (parent === 'Металлоконструкции')
      - for (let i = 1; i < 11; i++) {
          img(src=`/img/carousel/metalstructures/${i}.jpg`)
      - }
    else if (parent === 'Металлоизделия')
      - for (let i = 1; i < 16; i++) {
          img(src=`/img/carousel/metalproducts/${i}.jpg`)
      - }
    else 
      - for (let i = 1; i < 26; i++) {
          img(src=`/img/carousel/${i}.jpg`)
      - }