section.popupform
  .popupform__btn
  form#mainForm.main-form(action='/mail.php', enctype='multipart/form-data', method='post')
    p.text Чтобы экономить ваше время мы создали систему электронной подачи заказов. Заполните форму и наш специалист свяжется с вами в ближайшее время.
    input.input(type='text', name='organization', placeholder='Ваше имя или название организации')
    input.input(type='text', name='email', placeholder='Ваш e-mail')
    input.input(type='text', name='tel', placeholder='Ваш телефон')
    textarea.textarea(name='message', id='', rows='6', placeholder='Текст сообщения')
    label.label--file(for='file') Загрузить файлы
    input#file(type='file', name='file')
    .confidential Нажимая кнопку «Отправить заявку», Вы соглашаетесь на 
      a(href='/confidentiality') обработку персональных данных
    input.submit(type='submit', value='Отправить заявку')
