section.products
  h2.title.title--uppercase Продукция
  .undertitle Мы производим более 10000 различных наименований продукции
  ul.assortiment
    li.assortiment__item
      a.assortiment__link(href='/products/wheels-and-gears.html')
        span.assortiment__icon  
        span.assortiment__title Колёса зубчатые, шестерни
    li.assortiment__item
      a.assortiment__link(href='/products/shafts.html')
        span.assortiment__icon
        span.assortiment__title Валы, штоки, оси
    li.assortiment__item
      a.assortiment__link(href='/products/couplings.html')
        span.assortiment__icon
        span.assortiment__title Муфты, фланцы
    li.assortiment__item
      a.assortiment__link(href='/products/metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Металлоконструкции
    li.assortiment__item
      a.assortiment__link(href='/products/technological-metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Технологические металлоконструкции
  a.btn(href='#') Все категории
