section.products
  h2.title.title--uppercase Продукция
  .undertitle (Мы производим более 10000 различных наименований продукции)
  ul.assortiment
    li.assortiment__item
      a.assortiment__link(href='/metal-products/wheels-and-gears.html')
        span.assortiment__icon  
        span.assortiment__title Колёса зубчатые, шестерни
    li.assortiment__item
      a.assortiment__link(href='/metal-products/shafts.html')
        span.assortiment__icon
        span.assortiment__title Валы, штоки, оси
    li.assortiment__item
      a.assortiment__link(href='/metal-products/couplings.html')
        span.assortiment__icon
        span.assortiment__title Муфты
    li.assortiment__item
      a.assortiment__link(href='/metal-structures/metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Металлоконструкции
    li.assortiment__item
      a.assortiment__link(href='/metal-structures/technological-metal-structures.html')
        span.assortiment__icon
        span.assortiment__title Технологические металлоконструкции
  a.btn(href='#') Все категории
