section.services
  h2.title.title--uppercase Услуги   
  .undertitle Мы предоставляем полный комплекс услуг по металлообработке
  ul.assortiment
    li.assortiment__item
      a.assortiment__link(href='/metalworking/metal-cutting.html')
        span.assortiment__icon         
        span.assortiment__title Резка металла
    li.assortiment__item
      a.assortiment__link(href='/metalworking/metal-bending.html')
        span.assortiment__icon
        span.assortiment__title Гибка металла
    li.assortiment__item
      a.assortiment__link(href='/metalworking/milling-works.html')
        span.assortiment__icon
        span.assortiment__title Фрезерные работы    
    li.assortiment__item
      a.assortiment__link(href='/metalworking/thermal-works.html')
        span.assortiment__icon
        span.assortiment__title Термическая обработка     
    li.assortiment__item
      a.assortiment__link(href='/metalworking/coating.html')
        span.assortiment__icon        
        span.assortiment__title Нанесение покрытий 
  a.btn(href='/metalworking/milling-works.html') Все категории
