.socials
  a.socials__item.socials__item--vk(src="#")
    img(src="/img/vk.svg")
  a.socials__item.socials__item--fb(src="#")
    img(src="/img/facebook.svg")
  a.socials__item.socials__item--inst(src="#")
    img(src="/img/instagram.svg")
