.socials
  a.socials__item.socials__item--vk(href="https://vk.com/setservice")
  a.socials__item.socials__item--fb(href="https://facebook.com/set.service.group")
  a.socials__item.socials__item--inst(href="https://instagram.com/set_service_group")
