tr
  th(colspan='5') Гильотина
tr
  td
    strong Изображение
  td
    strong Модель
  td
    strong Год выпуска
  td
    strong Страна производитель
  td
    strong Технические характеристики
tr
  td
    img(alt='Гильотина3318', src='/img/machines/cutting-machines/guillotine/1.jpg')
  td
    b Гильотинные ножницы для обработки листового металла НД3318
  td 1986
  td СССР
  td
    strong Наибольшие размеры разрезаемого металла
    | : 6,3 х 2000 мм
    br
    strong Длина листа отрезанного с упором
    | : 600 мм
    br
    strong Механическое перемещение заднего упора
    | : 0..630 мм
