tr
  th(colspan='5') Ножовочный станок
tr
  td
    strong Изображение
  td
    strong Модель
  td
    strong Год выпуска
  td
    strong Страна производитель
  td
    strong Технические характеристики
tr
  td
    img(alt='Ножовочный', src='/img/machines/cutting-machines/hacksaw/1.jpg')
  td
    b Электромеханический ножовочный отрезной станок 8725
  td 2014
  td США
  td
    strong Наибольшие размеры круглой заготовки
    | : 200 мм
    br
    strong Наибольшие размеры разрезаемой квадратной заготовки
    | : 220 х 220
    br
    strong Наибольшая длина отрезаемой заготовки по упору
    | : 350 мм
    br
    strong Расстояние от основания станка до опорной поверхности заготовки
    | : 550 мм
