tr
  th(colspan='5') Лазерная резка
tr
  td
    strong Изображение
  td
    strong Модель
  td
    strong Год выпуска
  td
    strong Страна производитель
  td
    strong Технические характеристики
tr
  td
    img(alt='Trumpf-L4030', src='/img/machines/cutting-machines/laser/1.jpg')
  td
    strong Установка лазерной резки Trumpf Trumatic L4030
  td 2008
  td Германия
  td
    strong Тип лазера
    | : TLF 2400Turbo 
    br
    strong Мощность лазера
    | : 2400 Вт 
    br
    strong Система ЧПУ
    | : Siemens Sinumerik 840 D 
    br
    strong Точность позиционирования
    | : 0,1мм 
    br
    strong Максимальный вес детали
    | : 1250 кг 
    br
    strong Максимальная толщина листа
    | :
    br
    em Конструкционная сталь
    |  - 15 мм
    br
    em Нержавеющая сталь
    |  - 8 мм
    br
    em Алюминиевые сплавы
    |  - 5 мм
tr
  td
    img(alt='Trumpf-L5030', src='/img/machines/cutting-machines/laser/2.jpg')
  td
    strong Установка лазерной резки Trumpf Trumatic L5030
  td 2010
  td Австрия
  td
    strong Тип лазера
    | : TLF 2500
    br
    strong Мощность лазера
    | : 5000 Вт 
    br
    strong Система ЧПУ
    | : Siemens Sinumerik 840 D 
    br
    strong Точность позиционирования
    | : 0,1мм 
    br
    strong Максимальный вес детали
    | : 1110 кг 
    br
    strong Максимальная толщина листа
    | :
    br
    em Конструкционная сталь
    |  - 25 мм 
    br
    em Нержавеющая сталь
    |  - 20 мм 
    br
    em Алюминиевые сплавы
    |  - 15 мм 
    br
    em Титановые сплавы
    |  - 12 мм
