tr
  th(colspan='5') Плазменная резка
tr
  td
    strong Изображение
  td
    strong Модель
  td
    strong Год выпуска
  td
    strong Страна производитель
  td
    strong Технические характеристики
tr
  td
    img(alt='hyper260', src='/img/machines/cutting-machines/plazma/1.jpg')
  td
    strong Система плазменной резки HyPerformance HPR 260 XD
  td 2014
  td США
  td
    strong Макс. толщина реза (мм)
    | : 64
    br
    strong
      | Толщина резки 
      br
      | низкоуглеродистой стали
    | :
    br
    em Без образования окалины
    | : 32 мм
    br
    em Промышленный прожиг
    | : 38 мм
    br
    em Максимальная толщина резки
    | : 64 мм
    br
    strong
      | Толщина резки
      br
      | нержавеющей стали
    | :
    br
    em Промышленный прожиг
    | : 32 мм
    br
    em Максимальная толщина резки
    | : 50 мм
    br
    strong Толщина резки алюминия
    | :
    br
    em Промышленный прожиг
    | : 25 мм
    br
    em Максимальная толщина резки
    | : 50 мм
