tr
  th(colspan='5') Гидроабразивная резка
tr
  td
    strong Изображение
  td
    strong Модель
  td
    strong Год выпуска
  td
    strong Страна производитель
  td
    strong Технические характеристики
tr
  td
    img(alt='CMS Tecnocut Milestone', src='/img/machines/cutting-machines/waterjet/1.jpg')
  td
    strong Установка гидроабразивной резки CMS Tecnocut Milestone
  td 2012
  td Италия
  td
    strong Рабочее поле
    | : 4600х2050мм
    br
    strong Ход по оси Х
    | : 4000мм
    br
    strong Ход по оси Y
    | : 1700мм
    br
    strong Ход по оси Z
    | : 250мм
    br
    strong Ось B
    | : +- 60°
    br
    strong Ось C
    | : 600°
    br
    strong Диапазон толщин
    | : от 5 до 170 мм
    br
    strong Линейная точность
    | : 0,0038 мм/м
