$color-white: #fff;
$color-blue: #06abdd;
$color-gray: #8a8a8a;
$color-lightgray: #eceded;
$color-red: #e74c3c;
$color-skolkovo: #BFDF14;

$font: 'Open Sans', Arial, sans-serif;
$animation: all 0.3s ease;
