doctype
html
	-let title = 'Слесарно-сборочные работы'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				h1.title.title--left Слесарно-сборочные работы
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
							img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
							img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
							img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
							img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
							img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
					.main__info
						p.text.text--justify Помимо отдельных операций металлообработки наша компания предлагает изготовление изделий и конструкций целиком.  Очень часто мы производим изделия и конструкции с применением не только металла, а также стекла, дерева, пластика и других материалов. Финальной стадией производства металлоконструкций является сборка. Специалисты нашей компании всегда готовы помочь вам рассчитать и реализовать проект в области слесарно-сборочных работ.
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles
					article.main__article.main__article--active
						p.text.text--justify Независимо от уровня технологического оснащения производства, обойтись без квалифицированных работников и ручного труда невозможно. В комплекс услуг нашего предприятия входят
							b слесарные работы по металлу
							| различного уровня сложности. Профессиональный подход и опыт мастеров нашего предприятия позволят выполнить все необходимые технологические этапы, обеспечив достойно высокий уровень продукции.
						p.text.text--justify Комплексное 
							b слесарное обслуживание 
							| включает обширный перечень работ, в которые входит:
						ul.list  
							li нарезка резьбы;
							li ручная резка и рубка металла;
							li разметочные работы;
							li ручная шлифовка и обработка поверхностей;
							li сборка готовых конструкций из подготовленных элементов.
						p.text.text--justify Значительная часть слесарных работ сводится к финишной отделке деталей и сборке металлоконструкций. Иными словами персонал, выполняет все те работы, которые недоступны для машинной обработки. Для отделки, шлифовки и выравнивания поверхностей может применяться дополнительное оборудование, упрощающее слесарные работы.
						p.text.text--justify Востребованность металла напрямую связана с его техническими характеристиками, к числу которых относят:
						ul.list  
							li высокую механическую прочность;
							li относительно небольшой удельный вес;
							li долговечность;
							li стабильность формы;
							li стойкость к воздействию сред агрессивной природы (при надлежащей защите поверхностей).
						p.text.text--justify Обработка материала подразделяется на ряд операций, проводимых в соответствии с разработанным технологическим процессом (обязательно выполняется в строгой последовательности). В свою очередь, операции могут быть:
						ul.list  
							li подготовительными (ознакомление с нормативной и технической документацией, выбор инструментария и т.д.);
							li технологическими (подразумевают обработку материала, его ремонт или сборку воедино готового изделия - в том случае, когда речь ведется про механосборочные работы);
							li вспомогательными (совокупность мероприятий по монтажу и демонтажу технических приспособлений).
						p.text.text--justify Наш 
							b слесарно-сборочный цех 
							| обладает достаточной мощностью для как производства мелкосерийных, так и для реализации крупных партий металлоизделий.
						p.text.text--justify На всех стадиях производства металлоконструкций мы производим контроль качества выпускаемой продукции: соответствие изделия чертежу,  технологии и ГОСТам, проверка на наличие видимых и скрытых дефектов. При необходимости производим испытания на прочность, пользуясь услугами специальных лабораторий, имеющих право выдачи испытательных сертификатов.
						p.text.text--justify Оформить заказ на проведение  
							b слесарно-сборочных работ в Санкт-Петербурге 
							| можно по телефону 
							b 8 (812) 627-15-16 
							| или 
							b заполнив форму связи.
				include ../../includes/performed_works.pug    
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts.pug
