doctype
html
	-let title = 'Координатно-расточные работы'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				h1.title.title--left Координатно-расточные работы
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
							img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
							img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
							img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
							img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
							img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
					.main__info
						p.text.text--justify Set Service Group предлагает квалифицированные услуги по выполнению координатно-расточных работ любой сложности в Санкт-Петербурге. Наши специалисты всегда помогут вам подобрать оптимальные условия для выполнения заказа по обработке металла. 
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles
					article.main__article.main__article--active
						p.text.text--justify
							b Координатно-расточные работы
							|  - это услуги по обработке металла резанием, применение которых позволяет производить металлообработку с высокой степенью точности и получить деталь с высокой чистотой поверхности. Фактически координатно-расточные работы могут являться заключительным этапом механической обработки деталей. Данный вид работ может применяться для обработки пуансонов и пуансонодержателей, штифтовых соединений, отверстий полумуфт, а также для обработки посадочных мест деталей, которым требуется точное сопряжение между собой. При этом может применяться обрабатывающий инструмент расположенный на станках в горизонтальной или вертикальной плоскостях. Таким образом 
							b обработка металла
							|  может быть 
							b вертикально-расточная
							|  и 
							b горизонтально-расточная
							| .
						p.text.text--justify
							| Координатно-расточные станки предназначены для обработки отверстий в кондукторах, приспособлениях и деталях, для которых требуется высокая точность взаимного расположения отверстий. На ряду с растачиванием на станках могут выполняться сверлильные операции, чистовые фрезерные работы, разметка и проверка линейных размеров, в частности межцентровых расстояний. Применяя поставляемые со станком поворотные столы и другие принадлежности, можно обрабатывать отверстия, заданные в полярной системе координат, наклонные и взаимно перпендикулярные отверстия и протачивать торцовые поверхности.
						p.text.text--justify
							b Типы координатно-расточного оборудования:
						ul.list
							li Вертикальное
							li Горизонтальное
						p.text.text--justify
							| Вид станка зависит от наличия горизонтального или, соответственно, вертикального шпинделя, который движется по оси вращения. В его отверстии закрепляется инструмент - сверло, зенкер, фреза и т.д.
						p.text.text--justify
							| На профессиональном оборудовании применяются особые резцы двух видов – проходные и упорные. Проходными обрабатывают сквозные отверстия, упорными – глухие. Используемые для этого рода обработки резцы - это мерные пластины, которые производятся из твердых сплавов либо из  быстрорежущих сталей, их размер соответствует диаметру отверстия, подвергаемого расточке.
						p.text.text--justify
							b Виды координатно-расточных работ:
						ul.list
							li работа с наклонными взаимно-перпендикулярными отверстиями;
							li торцовая обработка поверхности;
							li работа с отверстиями с расположением осей в полярной системе координат;
						p.text.text--justify
							| Обычно такие станки снабжаются оптическими устройствами, позволяющими отсчитывать целую и дробную части координатного размера. Они могут использоваться как в инструментальных, так и в производственных цехах металлообработки для точной обработки деталей без специальной оснастки. В условиях нормальной эксплуатации такой станок может обеспечивать точность установки межцентровых расстояний в прямоугольной системе координат 0,004 мм и в полярной системе — 5 угловых секунд. Точность расстояний между осями отверстий, обработанных в нормальных для координатного растачивания условиях, 0,006 мм.
						p.text.text--justify
							b Координатно расточные работы
							|  являются важным направлением в металлообработке, точность и качество выполнения которых зависит от используемого оборудования и профессионализма исполнителей.
						p.text.text--justify
							| Наше предприятие укомплектовано необходимым современным оборудованием и располагает квалифицированными специалистами, которые готовы выполнить координатно расточные работы любого уровня сложности с высокой точностью и срок. Список оборудования и технические параметры можно посмотреть ниже. <br/>
							| Set Service Group уже много лет предоставляет клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуются 
							b координатно-расточные работы ЧПУ в Санкт-Петербурге
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи.
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts.pug
				
