doctype
html
	-let title = 'Разработка чертежей на заказ | Разработка 3D-моделей'
	-let heading = 'Разработка чертежей и 3D-моделей'
	-let titleForNavigation = 'Разработка чертежей и 3D-моделей'
	-let parent = 'Услуги'
	-let keywords = "Разработка чертежей и 3D-моделей, Разработка чертежей металлоизделия, Разработка чертежей металлоконструкции, 3D модели металлоизделий, 3D модели металлоконструкций"
	-let description = 'Разработка Чертежей КМД от Специалистов нашей компании 👷 по доступным ценам 💰, готовность в кратчайшие сроки ⏰ с индивидуальной документацией!'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left #{heading}
				.main__top
					.fotorama__wrapper
						.fotorama(data-loop="true" data-autoplay="false")
							img(src='../img/for-pic-sprites/разработка чертежей.jpg')
					.main__info
						p.text.text--justify Конструкторский отдел Set Service Group выполняет разработку чертежей и эскизов различных деталей машин и механизмов, а также металлических конструкций. Мы берем на себя полную подготовку КМД. Все работы производятся в соответствии с ГОСТами и ЕСКД. 
						.infobuttons
							.btn.btn--form Заказать услугу
							
				section.main__articles
					article.main__article.main__article--active
						p.text.text--justify
							| Под 
							b КМД
							|  подразумеваются конструкции металлические деталировочные. Создание подобных чертежей является единственным документом, на основании которого осуществляется производство и монтаж строительных конструкций из металла. Традиционно, разработка КМД требует учитывать пожелания изготовителя и представителя монтажной организации. И именно в таком формате (по согласованию всех сторон) работают наши инженеры.
						p.text.text--justify
							| При заказе чертежей КМД в нашей компании производимые работы будут выполнены четко и оперативно, а вы получите сразу несколько значимых бонусов нашего сервиса:
						ul.list
							li
								| компетентность и профессионализм — специалисты, которые будут заниматься выполнением КМД по вашей заявке, используют практический опыт, полученный в крупных проектных организациях, на предприятиях по изготовлению металлоконструкций и площадках, где осуществляется сборка конструкций;
							li
								| использование прогрессивных технологий — мы воспроизводим сооружение в трехмерной модели, из которой в дальнейшем получаем чертежи КМД – это позволяет свести к нулю человеческий фактор и избежать ошибок на производстве и монтаже
							li
								| выполнение работ любого направления и любой степени сложности в заранее оговоренные обоснованные сроки — у нас вы можете заказать как изготовление КМД небольшой ограждающей конструкции, так и крупного объекта (торговые центры, вышки, эстакады и пр.);
							li
								| ответственное отношение к работе каждого сотрудника, трудящегося в нашей команде;
							li
								| комплексный подход — мы осуществляем выполнение чертежей КМД под ключ даже при неполном либо некорректном проекте КМ, мы всегда готовы что-то поправить и порекомендовать, помочь и проконтролировать, чтобы результат оправдал ваши ожидания;
						p.text.text--justify Виды услуг входящих в состав работ:
						p.text.text--justify  
						ul.list
							li
								b Изготовление рабочих чертежей по эскизам;
							li
								b Выезд конструктора, для снятия размеров с образца;
							li
								b 3D-сканирование;
							li
								b Создание и при необходимости доработка полноценной 3д модели;
							li
								b Векторизация чертежей.
						p.text.text--justify
							| Вы всегда можете обратиться в Set Service Group за
							b  оказанием услуг по разработке КМД
							| , позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b заполнив форму для связи
							| .
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для разработки чертежей и 3D-моделей
							.container(style="border-bottom: none")
								.dropdown-item-content
									p.text Раздел дополняется
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на разработки чертежей и 3D-моделей
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	
