doctype
html
	-let title = 'Электроэрозия в Set Service Group'
	-let heading = 'Электроэрозия'
	-let parent = 'Услуги'
	-let keywords = "Электроэрозия, Электроэрозия на заказ, Электроэрозия по металлу"
	-let description = 'Set Service Group предлагает услуги по обработке металла. Одной из специализаций нашего предприятия является электроэрозия.'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main.full-height
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left #{heading}
				.main__top
					.fotorama__wrapper
						.fotorama(data-loop="true" data-autoplay="false")
							img(src='../img/for-pic-sprites/электроэрозия.jpg')
					.main__info
						p.text.text--justify Электроэрозия или процесс электроэрозионной обработки применяется для обработки прочных материалов. Set Service Group предлагает услуги электроэрозионной обработки, благодаря которой можно получить точные внутренние острые углы, глубокие пазы у обрабатываемых деталей.

							
				section.main__articles
					article.main__article.main__article--active
						p.text.text--justify 
							b Электроэрозионная обработка
							| , также называемая электроэрозия, основывается на вырывании частиц с поверхности металла импульсом электрического разряда. Если задано расстояние (напряжение) между электродами, погруженными в жидкий диэлектрик, то при сближении электродов (увеличении напряжения) происходит пробой диэлектрика и возникает электрический разряд, с образованием плазмы высокой температуры в канале разряда – это свойство используют электроэрозионные станки.
						p.text.text--justify Преимущества электроэрозионной резки:
						ul.list
							li Отсутствует необходимость в обрабатывающих инструментах более твёрдых, чем материал заготовки. Твёрдые сплавы и сверх твёрдые сплавы могут быть обработаны электродами из цветных сплавов, изготовленными на обычных металлорежущих станках.
							li Относительно простые технологические приёмы и оборудование.
							li В электроэрозионной обработки нет зависимости скорости и качества от механических свойств обрабатываемых материалов.
							li Обработка любых материалов, в том числе материалов высокой и сверхвысокой твёрдости, производится без значительных механических усилий.
							li Легко осуществимы сложные технологические операции (например, получение внутренних криволинейных или спиральных отверстий, пазов, канавок), что невыполнимо механическими методами. Это значительно увеличивает технологичность конструкции и качество изделий.
							li Меньшее число операций и переходов при обработке изделий сложных форм.
							li Существенно меньший процент брака, чем при стандартных обработках резанием.
						p.text.text--justify Set Service Group выполняет 
							b услуги по электроэрозионной резке металлов
							|  Высококвалифицированный персонал нашей компании имеет богатый опыт реализации заказов электроэрозии любой сложности. Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .

				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug