doctype
html
	-let title = 'Зубонарезные работы в Set Service Group'
	-let heading = 'Зубонарезные работы'
	-let parent = 'Услуги'
	-let keywords = "зубонарезные работы, зубонарезные работы на заказ, зубонарезные работы по металлу"
	-let description = 'Set Service Group предлагает услуги по обработке металла. Одной из специализаций нашего предприятия являются шлифовальные работы. Мы осуществляем плоскую и круглую шлифовку по доступным ценам.'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main.full-height
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left #{heading}
				.main__top
					.fotorama__wrapper
						.fotorama(data-loop="true" data-autoplay="false")
							img(src='../img/for-pic-sprites/зубонарезные работы.jpg')
					.main__info
						p.text.text--justify Страница в разработке
						//- p.text.text--justify 
						//- 	b Шлифование 
						//- 	| (наружное, плоское, внутреннее шлифование, полировка) - это финишная обработка деталей конструкции до придания её поверхности гладкости под действием абразивных средств. Шлифовка производится для обеспечения требований к шероховатости поверхности изделия, это важно не только для эстетического вида, но и для увеличения КПД различных электротехнических приборов в различных средах в том числе и в вакууме. 
						//- p.text.text--justify В зависимости от обрабатываемых поверхностей и методов обработки применяют различные виды шлифования. Наша компания выполняет следующие работы по шлифовке металла:
						//- .infobuttons
						//- 	.btn.btn--form Заказать услугу
							
				section.main__articles.main__articles--with-btns
					article.main__article.main__article--active
						p.text.text--justify
							b Зубчатые колеса
							|  занимают особое, можно сказать привилегированное, место в машиностроении. Обоюдная сцепка зубчатых колес передает крутящий момент, изменяя или оставляя постоянным число оборотов, идущих от двигателя и преобразуя вращательное движение в поступательное. Их изготовление — самый сложный процесс среди множества видов металлообработки. 
							b Зуборезные работы
							|  по нарезке червячных передач, шлицевых соединений и, конечно же, по 
							b производству шестерен
							| , занимают ведущую позицию в выпуске подобного рода деталей.
						p.text.text--justify
							| На фрезерных станках используется специальный винт, именуемый фрезой червячной, на котором имеются винтовые канавки, расположенные перпендикулярно к направлению нарезки. Зубья такой фрезы имеют профиль трапеции, резцы на ней расположены на всех кромках (прямой и боковой), потому точность при работах методом обкатки высокая.
						p.text.text--justify
							b Нарезание шлицев/зубьев выполняется в несколько этапов:
						ul.list
							li Размещение детали в центре головки деления в фрезеровальном аппарате;
							li Фрезерование, которое может выполняться в 1 или 2 прохода. Это зависит от диаметра вала. Фрезерование маленьких диаметров, например, до 100 мм, выполняется за 1 рабочий ход, а больших диаметров примерно за 2 рабочих хода. Иногда в последнем случае используются горизонтально-фрезерные станки с делительными механизмами;
							li Обработка червячной фрезой шлиц/зубьев, которые требуют особой точности;
							li Последним этапом является шлифовка поверхности шлицов/зубьев и термообработка детали в целом;
						p.text.text--justify
							| Наша компания располагает широким набором фрезерных станков. Технические параметры и характеристики токарных станков с ЧПУ, которые использует наша компания, можно посмотреть ниже.
						p.text.text--justify Специалисты Set Service Group готовы помочь вам реализовать заказ, связанный с проведением 
							b фрезерных работ
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
				//- section.main__articles
				//- 	ul.dropdown
				//- 		li.dropdown-item
				//- 			.dropdown-title
				//- 				.container(style="border-top: 1px solid #eceded;")
				//- 					.switch
				//- 						span.switch__bg
				//- 						span.switch__btn
				//- 					| Оборудование для шлифования металла
				//- 			.container(style="border-bottom: none")
				//- 				.dropdown-item-content
				//- 					include ../../includes/machines/grinding-machines
				//- 		li.dropdown-item
				//- 			.dropdown-title
				//- 				.container
				//- 					.switch
				//- 						span.switch__bg
				//- 						span.switch__btn
				//- 					| Расценки на шлифование металла
				//- 			.container(style='border-bottom:none')
				//- 				.dropdown-item-content
				//- 					p.text Раздел дополняется
				//-include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	

				
