doctype
html
	-let title = 'Шлифовальные работы'
	-let parent = 'Металлообработка'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left Шлифовальные работы
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='../img/metalworking/ШлифовальныеРаботы1.jpg')
							img(src='../img/metalworking/ШлифовальныеРаботы2.jpg')
					.main__info
						p.text.text--justify Set Service Group предлагает услугу шлифовальных работ в Санкт-Петербурге. Современное оборудование и опытные специалисты обеспечат качественное выполнение любого заказа.
						p.text.text--justify 
							b Шлифование 
							| (наружное, плоское, внутреннее шлифование, полировка) - это финишная обработка деталей конструкции до придания её поверхности гладкости под действием абразивных средств. Шлифовка производится для обеспечения требований к шероховатости поверхности изделия, это важно не только для эстетического вида, но и для увеличения КПД различных электротехнических приборов в различных средах в том числе и в вакууме. 
						p.text.text--justify В зависимости от обрабатываемых поверхностей и методов обработки применяют различные виды шлифования. Наша компания выполняет следующие работы по шлифовке металла:
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles.main__articles--with-btns
					.main__buttons
						.outer.active
							.inner Круглая шлифовка
						.outer
							.inner Плоская шлифовка
						.outer
							.inner Зубошлифование/Шлицешлифование
					article.main__article.main__article--active
						p.text.text--justify
							b Круглая шлифовка
							|  применяется при шлифовании наружных цилиндрических или конических поверхностей. Принцип таков: шлифовальный круг вращается вокруг своей оси при одновременном вращении заготовка. Так же имеется два вида подачи поперечная (приближение к заготовке) и продольная (осевая) чтобы прошлифовать поверхность по всей длине.
						p.text.text--justify Типы круглой внутренней шлифовки:
						ul.list
							li с продольной подачей;
							li врезная;
							li бесцентровая врезная;
							li бесцентровая с продольной подачей.
						p.text.text--justify
							| При шлифовании с продольной подачей заготовка устанавливается в центре станка. Если жесткость заготовки недостаточна, то в качестве дополнительных опор используют люнеты, которые устанавливают на рабочем столе станка через промежутки, равные 6-10 диаметрам обрабатываемой детали. Заготовка вращается с определенной скоростью и перемещается в поступательно-возвратном режиме вдоль оси вращения. Это движение и является продольной подачей, а такой способ наиболее применим для обработки длинных валов.
						p.text.text--justify
							| Круглая шлифовка методом врезной обработки используется для работы с короткими поверхностями, которые могут перекрываться шириной круга, а также для шлифовки фасонных поверхностей. В этом случае шлифовальный круг имеет форму обрабатываемой поверхности. Деталь совершает вращательное движение, а круг вращается и перемещается перпендикулярно оси вращения заготовки.
						p.text.text--justify
							b Шлифование круглое наружное
							|  осуществляется совокупностью определенных движений обрабатываемой детали и шлифовального круга. При такой обработке происходит:
						ul.list
							li вращение шлифовального круга;
							li вращение вокруг своей оси обрабатываемой заготовки;
							li
								| прямолинейное возвратно-поступательное движение детали или круга вдоль своей оси;
							li поперечное перемещение круга на деталь.
						p.text.text--justify
							| При круглом наружном шлифовании методом врезания, высота шлифовального круга должна быть равной или большей, чем длина обрабатываемой детали. По этой причине подача обрабатываемой детали осуществляется всего в одном направлении. В случае бесцентрового наружного шлифования деталь закрепляется на опорном ноже между рабочим и подающим кругами.
						p.text.text--justify Set Service Group выполняет 
							b круглую шлифовку заготовок
							|  из различных металлов и сплавов любой конфигурации с учетом жестких технологических требований.  Высококвалифицированный персонал нашей компании имеет богатый опыт реализации заказов  по круглой шлифовки любой сложности. Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
							
					article.main__article
						p.text.text--justify
							b Метод плоского шлифования
							| , на сегодняшний день, приобретает наибольшую популярность в сфере точной обработки плоскостей, и характеризуется как наиболее надежный.
						p.text.text--justify
							b Плоское шлифование
							|  осуществляют при помощи периферии или торца круга на специализированных станках для данного вида шлифования, при прямолинейно-возвратном или вращательном движении стола. Осуществляя шлифование при помощи периферии круга, условия работы характеризуются как менее жесткие, нежели при осуществлении работы посредствам торца круга. Это связано с тем, что контактируемая площадь круга и обрабатываемой детали гораздо меньше, поэтому при шлифовании периферией круга применяют станки средней мощности.
						p.text.text--justify
							| Продольно возвратные станки используются для шлифовки деталей с прямолинейными контурами. С помощью плоской шлифовки на данных станках удобно обрабатывать плоскости, пазы, уступы, скосы и т.п. На вращающихся столах как правило обрабатываются детали, используемые во вращательно касательных механизмах.
						p.text.text--justify
							b Плоская шлифовка
							|  требует крепления обрабатываемой детали на рабочем столе. Чаще всего используются столы с электромагнитным способом крапления. Также используются столы и с механическим креплением. Абразивные круги бывают разных типов.В основном отличающиеся размером зерна и составляющими их компонентами, а также диаметром самого круга.
							| Наша компания готова предоставить клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуется 
							b плоское шлифование в Санкт-Петербурге
							| .
						p.text.text--justify Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
							
					article.main__article
						p.text.text--justify
							b Зубошлифование
							|  применяется при обработке зубчатых колес, шестерен различных видов. Процесс происходит при помощи спрофилированного шлифовального круга, под определённые модули зубьев. Вращающийся круг совершает возвратно-поступательные движения при попеременном вращении зубчатого колеса на столе.
						p.text.text--justify
							b Зубошлифовальные работы
							|  являются одним из самых распространенных методов чистовой обработки цилиндрических зубчатых колес. В условиях рыночной экономики важной задачей для машиностроения является создание и производство конкурентоспособных машин и механизмов, обладающих высокими технико-экономическими показателями при малых массогабаритных размерах. Ее решение в значительной степени зависит от качества и эффективности изготовления и сборки основных деталей машин и механизмов. К таким деталям относятся и 
							b зубчатые передачи
							| , имеющие исключительно широкое распространение во многих отраслях машиностроения.
						p.text.text--justify
							b Шлицешлифование
							|  применяется при обработке шлицевых соединений всех профилей для достижения нужного профиля. Процесс схож с шлифованием зубчатых колес. Разница заключается в том, что для шлифовки шлицов могут быть использованы одновременно 2 или 3 шлифовальных круга.
						p.text.text--justify
							b Шлицешлифовальные работы
							|  предназначены для окончательной обработки поверхностей шлицев преимущественно после термической обработки. Для осуществления процесса применяются специализированные шлифовальные станки с горизонтальным расположением оси вращения круга и возвратно-поступательным движением стола. В качестве инструмента применяют плоские круги со специальной правкой
						p.text.text--justify
							| Наша компания имеет в распоряжении широкий набор оборудования для проведения зубошлифовальных и шлицешлифовальных работ. Технические параметры и характеристики можно посмотреть ниже.
							| Мы всегда готовы предоставить клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуются 
							b зубошлифование или шлицешлифование в Санкт-Петербурге
						p.text.text--justify Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для шлифования металла
							.container(style="border-bottom: none")
								.dropdown-item-content
									include ../../includes/machines/grinding-machines
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на шлифование металла
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug

				
