doctype
html
	-let title = 'Лабораторные испытания'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				h1.title.title--left Лабораторные испытания
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen='true', data-loop='true', data-autoplay='false')
							img(src='../img/Металлообработка/ЛабИспытания1.jpg')
							img(src='../img/Металлообработка/ЛабИспытания2.jpg')
					.main__info
						p.text.text--justify
							b Set Service Group
							|  предлагает предприятиям и научным центрам высококачественное оборудование ведущих разработчиков и производителей оборудования для проведения анализа металлов и сплавов, а также услуги по механическим испытаниям металлов. Наши специалисты досконально знают все технические нюансы, благодаря чему свойства и характеристики металла определяются с хирургической точностью.
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles.main__articles--with-btns
					.main__buttons
						div(class="active") Хим. анализ металлов и сплавов
						div Механические испытания
					article.main__article.main__article--active
						p.text.text--justify
							b Знание точного химического металлов и сплавов
							|  - необходимое условие для эффективного развития и функционирования  металлургической, горнодобывающей, обрабатывающей, машиностроительной, нефтехимической, ферросплавной промышленностей, а также для проведения научно-исследовательских работ.
						p.text.text--justify
							| Анализ химического состава вещества решает ряд важнейших задач, стоящих перед лабораториями предприятий и исследовательских центров, таких как: входной контроль сырья и материалов, контроль в процессе производства, контроль качества и сертификационный анализ продукции, разработка новых технологических материалов.
						p.text.text--justify
							b Химический анализ металлов
							|  представляет собой комплекс опытов для выявления слабых и сильных сторон материала, его характеристик и функций. Вся эта многофункциональная работа требует специального оборудования, которое обеспечивало бы надёжную проверку вещества, что необходимо для изготовления любой высококачественной продукции.
						p.text.text--justify
							| Существует множество способов изучения сплавов, однако, несмотря на такую конкуренцию в науке, химический анализ остаётся ведущим в этой области, так как даёт наиболее достоверную информацию. Новейшая аппаратура и эмиссионный метод, который мы применяем, позволяет быстро и чётко сформулировать точную картину, определить вещества и примеси, входящие в состав, провести исследование как цветного, так и чёрного металлов.
						p.text.text--justify 
							b С нашим оборудованием вы сможете проводить:
						ul.list
							li Оперативное определение марки металла и сплава.
							li Выявление всех элементов и веществ, которые содержатся в материале, в том числе и примесей.
							li Установление структуры сплава.
							li Степень пригодности и соответствие заявленным нормам.
							li Определение точного количества и веса составных частей.
						p.text.text--justify 
							b У нас есть всё для проведения качественного химического анализа
						p.text.text--justify
							b Анализ и обследование металлов
							|  требует широкого спектра возможностей технического оборудования, поэтому мы представляем вам современную технику собственного изготовления, которая гарантировано предоставит верный и безошибочных результат исследований. Самый идеальный вариант для анализа металла является тот, в котором основу возбуждения спектра представляет низковольтный ряд. За счёт незначительного вольтажа появляется более чёткая достоверность процентного соотношения примесей и чистого металла. Каждый предлагаемый нами спектрограф предназначен для такой непростой и интенсивной эксплуатации, способен выдержать любые нагрузки и прослужить длительный срок. Мы можем показать поднять производительность на небывалую высоту.
						p.text.text--justify
							| Не менее важно правильно и аккуратно провести подготовительный процесс – для этого у нас есть кокили и станки пробообработки. Они позволяют довести пробу до параметров, рекомендованных соответствующим ГОСТом.
					article.main__article
						p.text.text--justify Качество изделий во многом определяется механическими свойствами материалов, из которых они изготавливаются. Основными из них являются удельный вес, плотность, вязкость, твердость, упругость, прочность, жесткость и т.п.
						p.text.text--justify 
							b Статические испытания 
							| проводятся при воздействии на образец с определенной скоростью постоянно действующей нагрузки. Скорость деформации составляет от 10
							sup -4
							|  до 10
							sup -1
							|  с
							sup -1
							| . Статические испытания на растяже­ние относятся к наиболее распространенным. Свойства, определяемые при этих испытаниях, приведены в многочисленных стандартах по техническим условиям на материалы. К статическим относятся испытания на растяжение, сжатие, изгиб, кручение.
						p.text.text--justify 
							b Динамческие испытания 
							| характеризуются приложением к образцу ударной нагрузки и значительной скоростью деформации. Длительность ис­пытания не превышает сотен долей секунды. Скорость деформации состав­ляет около 10
							sup 2
							|  с
							sup -1
							| . Динамические испытания чаще всего проводят по схеме ударного изгиба образцов с надрезом.
						p.text.text--justify 
							b Циклические испытания 
							| характеризуются многократными измене­ниями нагрузки по величине и по направлению. Примером испытаний явля­ются испытания на усталость, они длительны и по их результату определяют число циклов до разрушения при разных значениях напряжения. В конечном итоге находят предельные напряжения, который образец выдерживает без разрушения в течение определенного числа циклов нагружения.
						p.text.text--justify 
							b Испытания на твердость.
						p.text.text--justify Простейшим механическим свойством является твердость. Методы определения твердости в зависимости от скоро­сти приложения нагрузки делятся на статические и динамические, а по спо­собу ее приложения - на методы вдавливания и царапания. Методы опреде­ления твердости по Бринеллю, Роквеллу, Виккерсу относятся к статическим методам испытания.
						p.text.text--justify 
							b Твердость 
							| - это способность материала сопротивляться вдавливанию в него более твердого тела (индентора) под действием внешних сил.
						p.text.text--justify При испытании на твердость в поверхность материалов вдавливают пирамиду, конус или шарик (индентор), в связи с чем различают методы ис­пытаний, соответственно, по Виккерсу, Роквеллу и Бринеллю. Кроме того, существуют менее распространенные методы испытания твердости: метод упругого отскока (по Шору), метод сравнительной твердости (Польди) и не­которые другие.
						p.text.text--justify При испытании материалов на твердость не изготавливают стандарт­ных специальных образцов, однако к размерам и поверхности образцов и изделий предъявляются определенные требования.
						p.text.text--justify 
							| Твердость 
							b по Виккерсу 
							| (ГОСТ 2999-75) устанавливают путем вдавли­вания в металл индентора - алмазной пирамиды с углом при вершине 136° под действием постоянной нагрузки Р: 1; 2; 2,5; 3; 5; 10; 20; 30; 50 или 100 кгс и выдержки под нагрузкой в течение 10-15 с. Для определения твердости черных металлов и сплавов используют нагрузки от 5 до 100 кгс, медных сплавов - от 2,5 до 50 кгс, алюминиевых сплавов - от 1 до 100 кгс.
						p.text.text--justify 
							b Испытание на растяжение 
							| материалов проводят в соответствии с ГОСТ 1497-84 «Методы испытаний на растяжение». Стандарт устанавливает методы статических испытаний на растяжение черных и цветных металлов для определения при температуре 20 °С пределов пропорциональности, уп­ругости, текучести, временного сопротивления разрыву, относительного уд­линения и относительного сужения, модуля упругости.
						p.text.text--justify Для испытаний применяют плоские и цилиндрические образцы, выре­занные из детали или специально изготовленные. Размеры образцов регла­ментированы указанным стандартом, они подчиняются геометрическому по­добию и могут быть короткими и длинными. Для цилиндрического образца берется соотношение начальной рабочей длины l
							sub 0
							|  и исходного диаметра d
							sub 0
							|  : l
							sub 0
							|= 5d
							sub 0
							|  - короткий образец, l
							sub 0
							| = 10d
							sub 0
							|  - длинный образец. Для плоского образцаберется соотношение рабочей длины l
							sub 0
							|  и площади поперечного сечения F
							sub 0
							| :
						p.text.text--justify 
							| l
							sub 0
							| = 5,65√F
							sub 0
							|  - короткий образец, l
							sub 0
							| = 11,3√F
							sub 0
							|  - длинный образец. Цилиндри­ческие образцы изготавливаются диаметром 3 мм и более. Образцы состоят из рабочей части длиной l
							sub 0
							|  и головок, форма и размер которых соответствуют захватам машины.
						p.text.text--justify 
							b Пластичность, 
							| т.е. способность деформироваться без разрушения, характеризуется изменениями размеров образца. При испытании на разрыв определяют следующие характеристики пластичности:
						p.text.text--justify относительное удлинение
						p.text.text--justify 
							| δ=(l
							sub k
							| -l
							sub 0
							| )/ l
							sub 0
							| *100%
						p.text.text--justify относительное сужение
						p.text.text--justify 
							| Ψ=(F
							sub 0к
							| -F)/ F
							sub 0
							| *100%
						p.text.text--justify 
							| где l
							sub к
							| , F
							sub к
							|  — соответственно, длина рабочей части и площадь поперечного сече­ния образца после разрыва.
						p.text.text--justify Рассчитанные характеристики механических свойств после испытания на растяжение заносятся в протокол.
						p.text.text--justify 
							b Испытания на ударный изгиб.
						p.text.text--justify 
							b Ударная вязкость 
							| характеризует удельную работу, затрачиваемую на разрушение при ударе образца с надре­зом. Ударная вязкость испытывается на маятниковом копре с постоянным запасом работы маятника по ГОСТ 9454-78 «Металлы. Метод испытания на ударный изгиб при пониженной, комнатной и повышенной температурах». Стандарт распространяется на черные и цветные металлы и сплавы и уста­навливает метод испытания при температурах от -100 до +1000 °С. Метод основан на разрушении ударом маятникового копра образца с концентрато­ром напряжений. В результате испытания определяют полную работу, затра­ченную при ударе К, или ударную вязкость КС.
						p.text.text--justify Используют образцы прямоугольной формы с концентратором типа U, V, Т (усталостная трещина). Наиболее распространенными образцами являются образцы размерами 55x10x10 мм с U-концентратом 2x2 мм (рис. 6).
						p.text.text--justify На разрушение ударом образца затрачивается только часть энергии маятника, в связи с чем маятник после разрушения образца продолжает дви­гаться, отклоняясь на определенный угол. Чем больше величина работы за­трачиваемой на разрушение образца, тем на меньший угол он отклоняется от вертикали после разрушения. По величине этого угла и определяют работу удара К или работу, затраченную на разрушение образца. Работу разрушения К относят к площади поперечного сечения образца Soв месте излома и тем самым находят КС - ударную вязкость.
						p.text.text--justify 
							b Оптические и физические испытания.
						p.text.text--justify В ходе испытаний металл не только подвергают разного рода воздействиям, но и тщательным образом исследуют под микроскопом. Такие исследования позволяют оценить качество металла, его пригодность, структурные характеристики и прочее.
						p.text.text--justify Кроме того металлы подвергаются радиографическому контролю. Эти исследования осуществляются с помощью гамма-излучения и жесткого рентгеновского излучения. Такой контроль позволяет определить имеющиеся дефекты в металле. Часто радиографическому исследованию подвергаются сварные швы.
						p.text.text--justify Существует также ряд других методов контроля, которым подвергается металл. Среди них:
						p.text.text--justify Магнитно-порошковый – применяется только для никеля, железа и кобальта, а также их сплавов. Этим методом определяются дефекты некоторых видов стали.
						p.text.text--justify Ультразвуковой – также позволяет выявлять дефекты только с помощью импульса ультразвука.
						p.text.text--justify Специальные методы – это и прослушивание со стетоскопом, и испытания на циклическую вязкость и пр.
						p.text.text--justify Все эти испытания, в том числе контрольные, очень важны: они помогают определить какие металлы подходят для разных конструкций, каким обработкам можно подвергать материал, какие режимы сварки использовать и прочее.  
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для проведения лабораторных испытания
							.container(style="border-bottom: none")
								.dropdown-item-content
									p.text Раздел дополняется
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на проведение лабораторных испытания
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug    
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts.pug
