doctype
html
	-let title = 'Гибка металла'
	-let parent = 'Металлообработка'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left Гибка металла
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='../img/metalworking/ГибкаМеталла1.jpg')
							img(src='../img/metalworking/ГибкаМеталла2.jpg')
					.main__info
						p.text.text--justify Set Service Group предлагает услугу шлифовальных работ в Санкт-Петербурге. Современное оборудование и опытные специалисты обеспечат качественное выполнение любого заказа.
						p.text.text--justify 
							b Шлифование
							|  (наружное, плоское, внутреннее шлифование, полировка) - это финишная обработка деталей конструкции до придания её поверхности гладкости под действием абразивных средств. Шлифовка производится для обеспечения требований к шероховатости поверхности изделия, это важно не только для эстетического вида, но и для увеличения КПД различных электротехнических приборов в различных средах в том числе и в вакууме.
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles.main__articles--with-btns
					.main__buttons
						.outer.active
							.inner Гибка листов
						.outer
							.inner Гибка профиля
						.outer
							.inner Вальцовка
					article.main__article.main__article--active
						p.text.text--justify
							b Обработка металлических листов
							|  на высокоточном оборудовании, придающем им различные объемные формы, называется гибкой листового металла. 
							b Механическая гибка металла
							|  имеет ряд тонкостей, например, важно не только придать  форму в точности соответствующую заданным параметрам, но при этом не повредить поверхность тонкого листа и не потерять его первоначальных технических характеристик. Бережное механическое воздействие на тонкую поверхность стальных листов считается  прогрессивным методом производства. Для этого необходимо использовать специальное оборудование и иметь  определенную квалификацию.
						p.text.text--justify
							| Точность производства минимизирует процент выбраковки готовых изделий и позволяет добиться необходимой конфигурации изделия. Весь процесс гибки стальных листов происходит без использования химических веществ и температурного воздействия, что позволяет сохранить все качественные характеристики исходного материала.
						p.text.text--justify
							| Set Service Group предлагает 
							b услугу гибки листового металла на заказ
							| . Процесс проходит в несколько этапов. Сначала исходный материал раскраивается в заготовки на линии продольно-поперечной резки, после происходит формовка изделий на специализированном гибочном стане. Основной особенностью нашего оборудования является сам процесс гибки. Гибка листа производится не путем давления пресса с использованием пресс форм, а при помощи поворотных балок. Данный метод позволяет изготавливать изделя практически любой геометрии. Последним этапом является процесс сверки полученного изделия на соответствие техническому заданию. При необходимости выполняется нанесение защитного покрытия или покраска изделий.
						p.text.text--justify
							| Наши специалисты готовы изготовить для вас продукцию любых форм и размеров по разумной цене. Мы производим фасонные и отделочные элементы как стандартных, так и нестандартных размеров по персональным эскизам заказчиков.
						p.text.text--justify
							| Для фасонных элементов наша компания предоставляет собственный сырьевой материал. Толщина металлического листа для такого типа изделий не превышает 2 мм, длина достигает 6000 мм.
						p.text.text--justify Технические возможности по листовой гибке:
						ul.list
							li максимальная длина гиба – 3000 мм.
							li
								| максимальная толщина металла:Конструкционная сталь - до 8 мм; Нержавеющая сталь – до 4,0 мм; Алюминий – до 6,0 мм;
							li максимальное усилие – 63 т.
						p.text.text--justify
							| Более подробную информацию об оборудовании, на котором производится гибка, можно посмотреть ниже.
							| Для заказа гибки стальных листов вы всегда можете обратиться в 
							b Set Service Group
							| , позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b
							| заполнив форму для связи
					article.main__article
						p.text.text--justify
							| При выполнении работ важен такой показатель, как гибка профиля по радиусу. Какой радиус гибки возможен для заготовки, зависит от толщины ее стенок.
						p.text.text--justify
							| Если заказчику требуется 
							b гибка алюминиевого профиля
							| , оптимальным для изгиба считается прокат с толщиной стенки 2-4 мм.
						p.text.text--justify
							b Гибка труб и профилей
							|  – достаточно обширная услуга. Она предполагает работу:
						ul.list
							li с профильными трубами,
							li швеллерами,
							li двутаврами,
							li таврами,
							li квадратами,
							li прутками,
							li кругами,
							li полосами и другими изделиями, относящимися к профильным.
						p.text.text--justify Перед началом работы ролики станка и поверхность заготовки обрабатывают маслом, чтобы свести к минимуму трение поверхностей. Любая разновидность гибки, в том числе и 
							b гибка П-образного профиля
							| , требует предварительной подготовки, даже если проводится на станке. Когда профиль имеет пустоты, полые места прокладываются песком. Это помогает предотвратить растрескивание и образование складок.
						p.text.text--justify
							b Гнутые профили
							|  востребованы во многих отраслях.
							b  Гибка профиля в СПб 
							| применяется для создания оконных и дверных конструкций, для оформления фасадов. В изготовлении душевых кабин, рекламных сооружений и элементов дизайна часто бывает необходима гибка алюминиевого профиля.
						p.text.text--justify
							| Сегодня у заказчиков востребована трехмерная гибка профилей, позволяющая получить изделия, изогнутые не в одной, а в трех плоскостях. Эту операцию производят на трехмерном гибочном станке, оснащенном ЧПУ. Такая гибка металлического профиля отличается высокой точностью. С помощью нее можно получить гнутый прокат любых форм. Например, в машиностроении трехмерная технология гибки используется для создания кузовов и кабин.
						p.text.text--justify
							b Технические возможности по гибке профиля:
						ul.list
							li круглый профиль - диаметром до 57 мм с минимальным радиусом гиба до 240 мм,
							li
								| квадратный и прямоугольный профиль - шириной стенки до 80 мм с минимальным радиусом гиба до 320 мм.
								| Для 
								b заказа гибки металлического профиля
								|  вы всегда можете обратиться в 
								b Set Service Group
								| , позвонив по телефону 
								b 8 (812) 627-15-16
								|  или обратиться с вопросом 
								b заполнив форму для связи.
					article.main__article
						p.text.text--justify
							b Вальцовка металла
							|  (его также называют «
							b вальцевание
							| ») — это способ гибки листового проката в радиальном или линейном направлении. 
							b Вальцовка листа
							|  по радиусу происходит с помощью специальных валов, через которые и осуществляется прокат. Так получаются готовые изделия и детали.
						p.text.text--justify
							| Вальцовка является наиболее простым способом 
							b изготовления металлических труб
							|  и других предметов путем гибки листового металла. Принцип действия технологии вальцевания весьма прост – металлические листы загружаются в вальцовочный станок, где они скручиваются под воздействием давления. В результате, такая холодная гибка металла способна быстро превратить листовой металл в округлый цилиндр (трубу). 
							b Вальцовка листового металла
							|  — самый простой способ получить трубу нужного диаметра.
						p.text.text--justify
							| Метод вальцевания также используется для 
							b гибки труб
							| , профильных труб и 
							b гибки швеллера
							| . Гибка труб, листового металла и швеллера – это чрезвычайно востребованная технология, имеющая большое значение для некоторых отраслей промышленности и строительства. В строительстве пользуется большой популярностью гибка профильной трубы и листового металла. Согнуть трубу можно несколькими способами. Многие используют для сгиба трубы подручные инструменты, хотя качественно согнуть трубу условиях невозможно. Идеально согнуть трубу возможно используя технологию вальцевания (гибка труб в холодном состоянии. Этим способом согнуть трубы гораздо проще, чем каким бы то ни было.
						p.text.text--justify
							| Вальцовка позволяет изготовить как отдельные, самодостаточные детали (гибка трубы), так и элементы более сложных металлоконструкций (например: согнуть трубу, согнуть швеллер или осуществить холодную гибку металла для монтажа производственного помещения).
							| Для 
							b заказа вальцовки
							|  вы всегда можете обратиться в 
							b Set Service Group
							| , позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b заполнив форму для связи.
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для гибки металла
							.container(style="border-bottom: none")
								.dropdown-item-content
									include ../../includes/machines/bending-machines
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на гибку металла
							.container(style='border-bottom:none')
								.dropdown-item-content
									table.pricelist
										tr
											td(colspan="5") Листовой прокат
										tr
											td Количество гибов
											td до 100
											td 100-500
											td 500-1000
											td от 1000
										tr
											td Цена за 1 гиб
											td 50,00 руб.
											td 40,00 руб.
											td 20,00 руб.
											td договорная
										tr
											td(colspan="5") Трубный прокат
										tr
											td(colspan="5")
												|От 200 руб./п.м.
												br
												|Точная стоимость, рассчитывается на основе предоставленного чертежа, а также зависит от количества, радиуса и толщины стенки.
				include ../../includes/performed_works.pug                    
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	
		
