doctype
html
	-let title = 'Фрезерная обработка изделий на современных станках в Set Service Group'
	-let heading = 'Фрезерные работы'
	-let parent = 'Услуги'
	-let keywords = "работа на фрезерном станке, фрезерные работы, фрезерные работы на заказ, Фрезерные работы по металлу, фрезеровка металла"
	-let description = 'Set Service Group проводит фрезерные работы на заказ по всей России. Обработка изделий из металла на высочайшем уровне. Принимаем заказы любого объема и сложности, гарантируем качество работ.'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left #{heading}
				.main__top
					.fotorama__wrapper
						.fotorama(data-loop="true" data-autoplay="false")
							img(src='../img/for-pic-sprites/фрезерные работы.jpg')
					.main__info
						p.text.text--justify Set Service Group располагает всем необходимым оборудованием для проведения фрезерных работ любой сложности. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа.
						p.text.text--justify 
							b Фрезерование 
							| является одним из самых распространенных видов механической обработки. При фрезеровании режущий инструмент (фреза) совершает вращательное движение, а обрабатываемая заготовка — поступательное движение в продольном, поперечном или вертикальном направлениях. Этим способом осуществляют черновую, получистовую и чистовую обработку простых и фасонных поверхностей заготовок.
						.infobuttons
							.btn.btn--form Заказать услугу
							
				section.main__articles.main__articles--with-btns
					.main__buttons
						.outer.active
							.inner Универсальное оборудование
						.outer
							.inner Оборудование с ЧПУ
					article.main__article.main__article--active
						p.text.text--justify
							| Традиционно более 80 процентов 
							b фрезерных работ
							|  выполняются на универсальных станках, так как большинство расходных и вспомогательных материалов, оснастки и прочий инструмент используемый в обработке, носят уникальный характер и зачастую изготавливается нами самостоятельно. Так же в комплекс 
							b работ на универсальных фрезерных станках входят
							| : фрезеровка плоскостей и фасонных поверхностей; снятие фасок, прорезывание пазов; финальная обработка оснований зубьев и шлицов, стандартное разрезание профилей. То есть работы производятся и для нужд клиентов, и для нашего производства. Еще одним преимуществом универсального станка, является возможность перемещения стола в различных плоскостях по отношению к шпинделю, что не привязывает нас к какой либо из осей. 
							b Фрезеровка металла
							|  осуществляется квалифицированными специалистами, владеющими опытом и знания для безукоризненного исполнения работ.
						p.text.text--justify
							| Наша компания располагает широким набором универсальных фрезерных станков. Технические параметры и характеристики токарных станков с ЧПУ, которые использует наша компания, можно посмотреть ниже.
						p.text.text--justify Специалисты Set Service Group готовы помочь вам реализовать заказ, связанный с проведением 
							b фрезерных работ на универсальных станках
							| . Вы всегда можете связаться с нами по телефону
							b  8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
					article.main__article
						p.text.text--justify
							| В процессе изготовления деталей различной конфигурации применяется 
							b фрезеровка ЧПУ
							| , обеспечивающая точность размеров и высокое качество китогового продукта. Set Service Group производит 
							b фрезерные работы ЧПУ
							|  любой сложности на самом современном оборудовании. Фрезеровка происходит с задействованием компьютера на всех этапах изготовления: от задания оборотов и ее линейного движения до конечных размеров обрабатываемой детали. Инновационное оборудование нашей компании способно выполнять 
							b фрезеровку на станке ЧПУ
							|  в формате 3d, обрабатывая заготовку одновременно несколькими рабочими фрезами, двигающимися в различных плоскостях. В результате достигается создание продукции высокого качества, отличающейся точными размерами и имеющей сложные объемные формы. Такой способ обработки существенно экономит время изготовления заказа, сокращает до минимума риск возникновения брака и позволяет выполнять крупные партии деталей без отклонения от задаваемого стандарта.
						p.text.text--justify
							| Детали, полученные путем 
							b обработки на фрезерных станках
							| , оборудованных числовым программным управлением, пригодны к использованию в различных сферах человеческой деятельности. К примеру, для рекламных кампаний с помощью такого оборудования изготавливаются объемные буквы, стойки, лайт-боксы, рельефные изображения и пр. При изготовлении мебели фрезерные станки ЧПУ могут раскраивать МДФ и фанеру, вырезать разнообразные накладки и узоры. В отрасли приборостроения и машиностроения 
							b фрезерные работы ЧПУ по металлу
							|  подразумевают изготовление металлических пресс-форм, форм для литья, панелей управления, приборных панелей и штампов. Строительная индустрия использует кассеты для фасадов, модели будущих зданий, декоры, вентилируемые фасады и пр.
						p.text.text--justify
							b Фрезеровка материалов на станках с ЧПУ
							|  по сравнению с ручными способами обработки упрощает и ускоряет процесс изготовления из него нестандартных изделий. А также позволяет создавать уникальные детали, которые невозможно сделать человеку на универсальном станке. В распоряжении нашей компании имеется уникальный 5-и координатный вертикально-фрезерный центр Haas UMC-750, позволяющий выполнять пятиосевую обработку заготовок. Это самый сложный вид 
							b обработки изделий на станках с ЧПУ
							| . Позволяет непрерывно обрабатывать деталь со всех сторон и даже в тех местах, куда при 3д и 4д обработке фреза не достает. Такой вид обработки – отличный вариант для мелкосерийного и штучного производства, так как нет необходимости делать сложную оснастку, пресс-формы и прочее. Благодаря такому оборудованию мы гарантируем изготовление деталей любой сложности, при максимально возможной точности позиционирования, обеспечивая при этом максимально сжатые сроки изготовления при неограниченной серийности изделий.
						p.text.text--justify
							| Set Service Group располагает широким набором фрезерных станков с ЧПУ. Технические параметры и характеристики токарных станков с ЧПУ, которые использует наша компания, можно посмотреть ниже.
							| Наша компания готова предоставить клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуются 
							b фрезерные работы ЧПУ
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для фрезерных работ
							.container(style="border-bottom: none")
								.dropdown-item-content
									include ../../includes/machines/milling-machines
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на фрезерные работы
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	

				
