doctype
html
	-let title = 'Токарные Работы по Металлу в СПБ на заказ'
	-let heading = 'Токарные Работы по Обработке Металла'
	-let titleForNavigation = 'Токарные работы'
	-let parent = 'Услуги'
	-let keywords = "токарная обработка, токарно-винторезные работы, токарные работы, токарные работы по металлу"
	-let description = 'Токарные Работы по Металлу по доступной цене 💰, заказывай Токарную Обработку Металла на Универсальном и ЧПУ оборудовании от профи! 👷'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left #{heading}
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='../img/for-pic-sprites/токарные работы.jpg')
					.main__info
						p.text.text--justify Set Service Group располагает необходимым оборудованием для проведения любых токарных работ. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа.
						p.text.text--justify Современные токарные станки с высокой точностью срезают необходимые слои с заготовки в определенном порядке, пока деталь не приобретет требуемую форму и размеры. Наши специалисты на токарном оборудовании выполняют самые разнообразные услуги токарной обработки для создания деталей вращения.
						.infobuttons
							.btn.btn--form Заказать услугу
							
				section.main__articles.main__articles--with-btns
					.main__buttons
						.outer.active
							.inner Универсальное оборудование
						.outer
							.inner Оборудование с ЧПУ
						//- .outer
						//- 	.inner Токарно-карусельная обработка
					article.main__article.main__article--active
						p.text.text--justify
							| Одним из самых традиционных методов токарной обработки является 
							b работа на токарно-винторезных станках
							| . Основные виды работ выполняемых на станках такого типа – цилиндрическая обточка/расточка, обработка фаски, подрезка торца, нарезка резьбы, обработка фасонных поверхностей. При работе на таком типе оборудования основным ресурсом качества является персонал. Наши специалисты, в основном это мастера 5 и 6-х разрядов, при работе на мастер-станках вручную, достигают 5-х квалитетов точности, что в некоторых случаях, не под силу, и станкам с ЧПУ.  Преимуществом такого типа станков является крупные, по сравнению с ЧПУ, габариты изготавливаемых деталей.
						p.text.text--justify
							| Токарно-винторезные станки предназначены для наружной и внутренней обработки, включая нарезание резьбы в условиях единичного и мелкосерийного производства.
						p.text.text--justify
							| Технические характеристики и параметры выполнения 
							b токарных работ
							|  можно посмотреть ниже.
							| Вы всегда можете обратиться в Set Service Group если вам требуются
							b  токарно-винторезные работы
							| , выполненные качественно и в срок. Связаться с нашими менеджерами можно по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи.		
					article.main__article
						p.text.text--justify
							b Токарные работы с ЧПУ
							| , или 
							b токарка 
							| – это специальная механическая обработка деталей, при которой с нее снимают несколько слоев металла и придают таким образом нужную форму.
							br
							| На станках, оснащенных числовым программным управлением, обрабатываются цилиндрические и конические детали, уступы, торцевые поверхности, а также выполняется отрезание у заготовки какой-либо части, вытачивание, сверловка отверстий, зенкерование, нарезание резьб, накатывание и затачивание.
						p.text.text--justify
							| Главным и несомненным преимуществом токарной обработки с ЧПУ является максимальная автоматизация процесса обработки материалов, сводящая к минимуму риск человеческого фактора и отводящая оператору контролирующую роль. 
							b Токарная обработка металла на ЧПУ
							|  может продолжаться неограниченное время, проходить автономно и обеспечивать выпуск продукции высокого качества. Один оператор, функции которого сведены к подготовительным работам и контролю, может обслуживать одновременно несколько станков, выполняющих токарные работы с ЧПУ.
						p.text.text--justify
							b Токарная обработка с ЧПУ
							|  является более точным и эффективным типом обработки благодаря компьютерному управлению как шпинделем с обрабатываемой деталью, так и группой токарных резцов. Это позволяет получить лучшие параметры обработки, точные размеры и что самое главное – повторяемость крупных серий деталей. Имеющиеся в нашей компании, центры обработки с ЧПУ позволяют обеспечить точное изготовление деталей из стали, алюминия, а также сплавов твердостью до 80 HRC. Главной особенностью нашего оборудования является - точность позиционирования до 0,003 мм, что позволяет нам работать со всеми существующими квалитетами.
						p.text.text--justify
							| Токарные работы ЧПУ позволяют обеспечить высокую точность, вариативность обработки и производительность, потому что станок настраивается в соответствии с размером и типом изделия, необходимыми параметрами. С его помощью легко обработать заготовки для будущей детали, нарезать зубья или произвести шлифовку, растачивание внутренних диаметров или прорезание канавок, торцовку деталей.
						p.text.text--justify Токарные станки с ЧПУ позволяют подключать до 12 различных инструментов.
						p.text.text--justify
							| Благодаря наличию нескольких станков с ЧПУ, наше производство имеет возможность 
							b серийного выпуска деталей
							| , а на универсальном токарном станке мы можем выточить деталь по индивидуальному заказу с минимальным тиражом.
						p.text.text--justify
							b С нами обработка на токарном станке с ЧПУ – это гарантия:
						ul.list
							li
								| высокой точности всех манипуляций и полного соответствия изготовленных деталей техническим параметрам;
							li
								| оперативного выполнения работы (будь то единственное изделие или оптовая партия деталей);
							li экономии денежных средств и получения скидок при регулярном заказе.
						p.text.text--justify
							| Технические параметры и характеристики токарных станков с ЧПУ, которые использует наша компания, можно посмотреть ниже.
							| Наша компания готова предоставить клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуются 
							b токарные работы ЧПУ
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для токарных работ
							.container(style="border-bottom: none")
								.dropdown-item-content
									include ../../includes/machines/turning-machines
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на токарные работы
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	

				
