doctype
html
	-let title = 'Токарные работы'
	-let parent = 'Металлообработка'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				include ../../includes/breadcrumbs.pug
				h1.title.title--left Токарные работы
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='../img/metalworking/ТокарныеРаботы1.jpg')
							img(src='../img/metalworking/ТокарныеРаботы2.jpg')
					.main__info
						p.text.text--justify Set Service Group располагает необходимым оборудованием для проведения любых токарных работ. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа.
						p.text.text--justify Современные токарные станки с высокой точностью срезают необходимые слои с заготовки в определенном порядке, пока деталь не приобретет требуемую форму и размеры. Наши специалисты на токарном оборудовании выполняют самые разнообразные услуги токарной обработки для создания деталей вращения.
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles.main__articles--with-btns
					.main__buttons
						.outer.active
							.inner Токарно-винторезная обработка
						.outer
							.inner Токарно-карусельная обработка
					article.main__article.main__article--active
						p.text.text--justify
							| Одним из самых традиционных методов токарной обработки является 
							b работа на токарно-винторезных станках
							| . Основные виды работ выполняемых на станках такого типа – цилиндрическая обточка/расточка, обработка фаски, подрезка торца, нарезка резьбы, обработка фасонных поверхностей. При работе на таком типе оборудования основным ресурсом качества является персонал. Наши специалисты, в основном это мастера 5 и 6-х разрядов, при работе на мастер-станках вручную, достигают 5-х квалитетов точности, что в некоторых случаях, не под силу, и станкам с ЧПУ.  Преимуществом такого типа станков является крупные, по сравнению с ЧПУ, габариты изготавливаемых деталей.
						p.text.text--justify
							| Токарно-винторезные станки предназначены для наружной и внутренней обработки, включая нарезание резьбы в условиях единичного и мелкосерийного производства.
						p.text.text--justify
							| Технические характеристики и параметры выполнения 
							b токарных работ
							|  можно посмотреть ниже.
							| Вы всегда можете обратиться в Set Service Group если вам требуются
							b  токарно-винторезные работы в Санкт-Петербурге
							| , выполненные качественно и в срок. Связаться с нашими менеджерами можно по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи.		
					article.main__article
						p.text.text--justify
							b Карусельная обработка металла
							|  нужна для изготовления заготовок по чертежам, запасных или нерабочих деталей с большим диаметром для оборудования зарубежных и российских компаний.
						p.text.text--justify
							b Обработка на карусельном станке
							|  заготовок и деталей имеет важное преимущество, ведь в работе участвуют крупногабаритные и тяжелые изделия с большим диаметром, имеющие небольшую длину. Токарно-карусельное оборудование позволяет осуществлять одновременную разноинструментальную обработку, и его многопрофильность востребована предприятиями различных производств. К тому же станки очень надежны и точны.
						p.text.text--justify
							| Как правило, токарно-карусельные станки предназначены для сверхгабаритных деталей цилиндрической и сферической форм. Подобным типам обработки с лёгкостью поддаются колёса зубчатого типа, маховики, а так же диски турбин. Вес и параметры заготовок могут быть до 20 тонн и диаметром до 4-х метров. Такие возможности станка обеспечиваются горизонтальным размещением поверхности стола, на котором крепиться изделие. А также тем, что основным приводным механизмом является сам стол. Особенностью нашего токарно-карусельного станка является, числовое программное управление. Это позволяет нам производить работы в 2 раза быстрее, обеспечивать более высокие поля допусков, а также изготавливать детали дешевле в сравнении со станками без ЧПУ.
						p.text.text--justify
							| Технические характеристики и параметры токарно-карусельной обработки можно посмотреть ниже
							| Вы всегда можете обратиться в Set Service Group если вам требуется
							b  токарно-карусельная обработка в Санкт-Петербурге
							| , выполненные качественно и в срок. Связаться с нашими менеджерами можно по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
				section.main__articles
					ul.dropdown
						li.dropdown-item
							.dropdown-title
								.container(style="border-top: 1px solid #eceded;")
									.switch
										span.switch__bg
										span.switch__btn
									| Оборудование для токарных работ
							.container(style="border-bottom: none")
								.dropdown-item-content
									include ../../includes/machines/turning-machines
						li.dropdown-item
							.dropdown-title
								.container
									.switch
										span.switch__bg
										span.switch__btn
									| Расценки на токарные работы
							.container(style='border-bottom:none')
								.dropdown-item-content
									p.text Раздел дополняется
				include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts-for-inner-pages.pug
	

				
