doctype
html
	-let title = 'Сварочные работы'
	include ../../includes/head.pug
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				h1.title.title--left Сварочные работы
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='../img/Металлообработка/СварочныеРаботы1.jpg')
							img(src='../img/Металлообработка/СварочныеРаботы2.jpg')
							img(src='../img/Металлообработка/СварочныеРаботы3.jpg')
					.main__info
						p.text.text--justify Set Service Group предлагает услуги по сварке металла любых размеров и форм. Сварочные работы широко распространены в таких сферах производства как машиностроение, коммунальное хозяйство, строительство и многих других прикладных сферах деятельности человека. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа. 
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles
					article.main__article.main__article--active
						p.text.text--justify
							b Сварка металлоконструкций
							|  – важный этап производства и ремонта металлических изделий. За годы работы 
							b Set Service Group
							|  зарекомендовали себя как качественные исполнители заказов по сварке металла любых размеров и конструкций. Производственные мощности нашей компании позволяют выполнять следующие виды сварочных работ:
						ul.list
							li
								b Электродуговая сварка.
								|  Источником теплоты является электрическая дуга, возникающая между торцом электрода и свариваемым изделием при протекании сварочного тока в результате замыкания внешней цепи электросварочного аппарата. Основными разновидностями электродуговой сварки являются: ручная дуговая сварка, сварка неплавящимся электродом, сварка плавящимся электродом, сварка под флюсом, электрошлаковая сварка.
							li
								b Контактная сварка.
								|  При сварке происходят два последовательных процесса: нагрев свариваемых изделий до пластического состояния и их совместное пластическое деформирование. Основными разновидностями контактной сварки являются: точечная электросварка, стыковая сварка, рельефная сварка, шовная сварка.
							li
								b Аргонно-дуговая сварка.
								|  Выполняется горелками, позволяющими окружать электрическую дугу завесой из инертного газа аргона, подводимого к горелке из баллона. Газовая завеса препятствует окислению сварочной ванны, поэтому аргонно-дуговую сварку целесообразно применять при сварке легко окисляемых металлов и сплавов. Этот способ сварки позволяет сваривать детали малой толщины, дает минимальное коробление и позволяет получить соединение с высокими механическими и противокоррозионными свойствами. Аргонно-дуговой сваркой можно сваривать нержавеющую, жаропрочную и кислотоупорную стали, алюминий, магний и их сплавы.
							li
								b Газовая сварка.
								|  Процесс заключается в расплавлении кромок свариваемых деталей и вводимого в жидкую ванну присадочного материала теплом сварочного пламени. Газовая сварка применяется при изготовлении  листовых и трубчатых конструкций из простых, углеродистых и специальных сталей небольших толщин.
						p.text.text--justify
							| Наше предприятие занимается сваркой самых различных конструкций, среди которых можно назвать:
						ul.list
							li
								| сварка и монтаж металлоконструкций, оград, заборов, гаражей, ворот, ангаров, пристроек;
							li установка и демонтаж батарей отопления;
							li сварка петель двери и других конструкций;
							li
								| ангары, здания, металлические бытовки, каркасно-тентовые конструкции, навесы, металлокаркасы, фасадные элементы, элементы перекрытий;
							li
								| сварка складского и торгового оборудования (металлические шкафы, сейфы, металлические стеллажи, тележки, подъемники и др.;
							li сварка рекламных конструкции (стойки, стенды, щиты, штендеры, дорожные знаки);
							li
								| бытовые сварные конструкции (перила, поручни, ограждения, калитки, заборы, решетки, козырьки, баки, ворота, стальные двери, каркасы для теплиц);
							li
								| сварка промышленного оборудования (емкости, мешалки, резервуары, вышки, нестандартное оборудование);
							li
								| сварка металлоизделий (закладные детали, анкерные болты, корпуса, скобы, панели, кронштейны, крепежные элементы.
						p.text.text--justify
							b Сварка металла 
							| используется не только при обработке больших металлоконструкций, но и при работе с маленькими деталями, ведь используя современные автогенные аппараты, мы можем обрабатывать конструкции любых размеров. Расположение деталей тоже не имеет никакого значения: они могут располагаться как внахлест, встык,  так и под углом –  невзирая на сложность конструкции, наши швы будут прочны и надежны вровень с металлической основой, благодаря полуавтоматической аргонодуговой сварке (используя плавящий электрод, обеспечивающий герметичное и очень надежное соединение металла).
						p.text.text--justify
							| Наша компания обладает современным оборудованием для проведения сварочных работ любой сложности. Технические параметры и характеристики оборудования можно посмотреть ниже.
						p.text.text--justify Set Service Group является надежным исполнителем 
							b сварочных работ в Санкт-Петербурге
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
						ul.dropdown
							li.dropdown-item
								.dropdown-title
									.container(style="border-top: 1px solid #eceded;")
										.switch
											span.switch__bg
											span.switch__btn
										| Оборудование для сварочных работ
								.container(style="border-bottom: none")
									.dropdown-item-content
										table.tools
											tr
												td
													strong Изображение
												td
													strong Модель
												td
													strong Год выпуска
												td
													strong Страна производитель
												td
													strong Технические характеристики
							li.dropdown-item
								.dropdown-title
									.container
										.switch
											span.switch__bg
											span.switch__btn
										| Расценки на сварочные работы
								.container(style='border-bottom:none')
									.dropdown-item-content
										table.pricelist
											tr
												td Тип металлоизделия
												td Стоимость за 1 тонну
											tr
												td Балки, фермы
												td От 26 000 руб*
											tr
												td Временные МК СВСиУ
												td От 24 000 руб*
											tr
												td Перильные ограждения
												td От 3 000 руб*
											tr
												td Закладные детали
												td От 16 000 руб*
											tr
												td Рамные опоры для дорожных знаков
												td От 22 000 руб*
											tr
												td МК быстровозводимых зданий
												td От 18 000 руб*
											tr
												td Эстакады
												td От 30 000 руб*
											tr
												td Подкрановые балки
												td От 36 000 руб*
						p.text.text--justify *Итоговая стоимость изготовления металлоконструкций зависит от объема и сложности работ
						p.text.text--justify Предоставляя услуги сварки металла в Санкт-Петербурге, мы стараемся соответствовать основным требованиям наших клиентов, а именно: скорость, качество и цена. Стоимость металл сварки рассчитывается индивидуально, для того что мы могли дать вам самую интересную цену в городе, при неизменно высоком качестве выполняемых сварочных работ. Наши компетентные менеджеры всегда рады ответить на ваши вопросы.
				include ../../includes/performed_works.pug    
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts.pug
