.dropdown{
  margin: 0 auto 20px auto;
  padding: 0 20px;
  max-width: 1340px;
  &-title{
    width: 100%;
    background: #fff;
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    color: black;
    transition: .25s;
    position: relative;
    font-family: $font;
    &:hover{
      transition: .25s;
      color: $color-blue;
    }
    .container{
      position: relative;
      border-bottom: 1px solid $color-lightgray;
      line-height: 54px;
      padding: 0;
      .switch{
        position: absolute;
        right:10px;
        top:50%;
        margin-top:-10px;
        box-sizing: border-box;
      }
    }
    & > .container {
      box-sizing: content-box;
      padding: 0 10px;
    }
    & + .container {
      box-sizing: content-box;
      border-bottom: 1px solid $color-lightgray;
    }
  }
  &-item{
    position: relative;
    list-style-type: none;
    &-content {
      box-sizing: border-box;
      display: none;
      &-show{
        display: block;
        background: #fff;
      }
    }
    &:nth-child(3) {
      .catalog{
        &-link{
          flex-direction: column;
        }
        &-img{
          margin-left: auto;
          margin-right: auto;
        }
        &-undertitle{
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          padding-top: 0px;
        }
      }
    }
  }
  &-anchor{
    position: absolute;
    top: -75px;
  }
}

.tools{
	border-collapse: collapse;
	width: 100%;
  font-family: $font;
  font-size: 14px;
	td{
		border: 1px solid $color-lightgray;
		padding: 5px 10px;
		text-align: center;
		vertical-align: middle;
		img{
			max-width: 100%;
		}
		&:first-child{
			width:280px;
		}
		&:nth-child(2){
			width: 250px;
		}
	}
	th{
		font-size: 18px;
		color: $color-blue;
		text-align: center;
		border: 1px solid $color-lightgray;
    border-top: none;
		padding: 15px 10px;
		vertical-align: middle;
	}
  tr:last-child{
    td{
      border-bottom: none;
    }
  }
}
