.hamburger{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  &:hover{
    .hamburger__item:first-child{
      position: relative;
      transform: translateY(-2px);
    }
    .hamburger__item:last-child{
      position: relative;
      transform: translateY(2px);
    }
  }
  &__item{
    display: inline-block;
    width: 20px;
    height: 2px;
    background: $color-gray;
    margin-bottom: 3px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
