.menu-line{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-family: $font;
  justify-content: center;
  border: 1px solid $color-lightgray;
  &__item{
    min-width: 155px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    &.active{
      border-bottom: 1px solid $color-blue;
      color: darken($color-gray, 20%);
    }
  }
  &__btn{
    text-decoration: none;
    color: lighten($color-gray, 10%);
    padding: 20px;
    transition: all .3s ease-out;
    cursor: pointer;
    &:hover{
      color: darken($color-gray, 10%)
    }
  }
  &--areas{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1;
  }
}
