.mouse {
  position: relative;
  width: 32px;
  height: 48px;
  border: 2px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.mouse-dot {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  left: 14px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  animation: mouse;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}