.navigation{
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 0;
  background: $color-white;
  display: none;
  text-align: left;
  font-family: $font;
  &__btn{
    position: absolute;
    top:30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: url('../img/cancel--gray.svg') center no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    &:hover{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  &__column{
    width: 308px;
    margin: 0 15px;
    position: relative;
    &--first{
    	width: 300px;
      .socials{
        text-align: left;
      }
      .presentation{
        display: block;
        width: 100%;
        height: 210px;
        background: url('../img/presentation.png') center 30px no-repeat;
        background-size: 224px 176px;
        position: relative;
        font-size: 16px;
        font-family: $font;
        color: $color-gray;
        text-decoration: none;
        text-align: center;
        transition: all .3s ease-in-out;
        margin-top: 30px;
        &:hover{
          color: $color-blue;
          span{
            border-color: $color-blue;
            &::after{
              border-color: transparent transparent transparent $color-blue;
            }
          }
        }
        span{
          display: block;
          width: 50px;
          height: 50px;
          box-sizing: border-box;
          border: 3px solid #E8ECED;
          border-radius: 50%;
          position: absolute;
          top: 72px;
          left: 50%;
          margin-left: -25px;
          transition: all .3s ease-in-out;
          &::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 16px;
            border-color: transparent transparent transparent #E8ECED;
            transition: all .3s ease-in-out;
            position: absolute;
            left: 15px;
            top: 12px;
          }
        }
      }
    }
    &--second{
    }
    &--third{

    }
    &--fourth{

    }
  }
  &__list{
    margin: auto;
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    color: $color-blue;
    position: relative;
  }
  &__underlist{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__title{
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 2px solid $color-blue;
    a{
      font-size: 16px;
    	text-decoration: none;
    	color: $color-gray;
    	transition: all .3s ease-in-out;
    	display: inline-block;
    	&:hover{
    		color: $color-blue;
    		transform: translateX(13px);
    	}
    }
  }
  &__undertitle{
    font-size: 16px;
    margin-bottom: 12px;
    webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:first-child{
      margin-top: 10px;
    }
  }
  .search{
    margin-top: 40px;
    margin-bottom: 20px;
    input{
      width: 300px;
      height: 42px;
      border: 2px solid $color-lightgray;
      padding: 10px 40px 10px 20px;
      outline: none;
      background: url(../img/search--gray.png) no-repeat;
      -webkit-background-size: 22px 22px;
      background-size: 22px 22px;
      background-position: 265px 8px;
      font-family: $font;
      font-size: 16px;
  		color: $color-gray;
  		&::placeholder{
  			color: lighten($color-gray, 25%);
  		}
  		&:active,
  		&:focus{
  			border: 2px solid $color-blue;
  			outline:none;
        background: url(../img/search--blue.png) no-repeat;
        -webkit-background-size: 22px 22px;
        background-size: 22px 22px;
        background-position: 265px 8px;
  		}
    }
  }
}
