#performed_works{
  .owl-dots{
    text-align: center;
    padding-top: 10px;
  }
  .owl-dot{
    width: 5px;
    height: 5px;
    border: 1px solid $color-gray;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
    &.active{
      background: $color-gray;
    }
    &:focus{
      outline:none;
    }
  }
}
