.companies{
	padding-bottom: 40px;
	&__list{
		margin: 0;
		padding: 0;
		list-style-type: none;	
		max-width: 1340px;
		margin: 0 auto;
		&--flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			margin-top: 20px;
			width: 1340px !important;
			cursor: pointer;
		}
	}
	&__slide{
		max-width: 1340px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin-bottom: 35px;
		margin-top: 20px;
		cursor: pointer;
	}
	&__btn{
		box-sizing: border-box;
		font-family: $font;
		text-align: center;
		font-size: 13px;
		color: rgb(38, 38, 38);
		box-shadow: transparent 0px 0px 0px;
		font-weight: 600;
		padding: 12px 30px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(6, 171, 221);
		text-decoration: none;
		background: transparent;
		display: block;
		max-width: 135px;
		margin: 0 auto;
		&:hover{
			border: 1px solid rgba(0,0,0,0);
    		color: #000;
    		background: $color-lightgray;
		}
	}
	&__item{
		width: 262px;
		height: 262px;
	    margin: 3px;
		background: url(../img/clients-sprite.png) 0px 0px no-repeat;
		border: none;
		position: relative;
		overflow:hidden;
		background-size: cover;
		$step: 0px;
		@for $i from 1 to 38 {
			&:nth-child(#{$i}){
				background-position: 0 $step;
				$step: $step - 267px;
				
				&:hover{
					background-position: 0 $step;
					$step: $step - 267px;
				}
			}
		}
		&:hover{
			.companies__title{
				opacity:1;
				transform: translateY(180px);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
		&--empty{
			position: relative;
			background: $color-lightgray;
			&:before{
				content:"";
				display: block;
				width: 30px;
			    height: 30px;
			    background: url(../img/cancel--gray.svg) center no-repeat;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin-left: -15px;
			    margin-top: -15px;
			    transform: rotate(45deg);
			    -webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			&:hover{
				background: #fff;

				&:before{
					transform: rotate(45deg) scale(1.5);
				}
			}
		}
	}
	&__slide{
		&--1{
			.companies__item{
				$step: 0px;
				@for $i from 1 to 16 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 267px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 267px;
						}
					}
				}
			}
		}
		&--2{
			.companies__item{
				$step: -8010px;
				@for $i from 1 to 16 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 267px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 267px;
						}
					}
				}
			}
		}
		&--3{
			.companies__item{
				$step: -16020px;
				@for $i from 1 to 16 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 267px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 267px;
						}
					}
				}
			}
		}
	}
	&__title{
		opacity:0;
		font-family: $font;
		font-size: 16px;
		text-align: center;
		transform: translateY(262px);
		width: 100%;
		padding: 20px 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		color: $color-gray;
	}
	&__popups{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.owl-stage-outer{
		padding-top: 60px;
	}
	.owl-nav{
		width: 90px;
		position: absolute;
		top: 10px;
		right: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		button{
			z-index: 1;
			box-shadow: none;
			outline: none;
			width: 30px;
			height: 30px;
			&.owl-prev{
				background: url(../img/left-arrow.svg) center center no-repeat !important;
				&:hover{
					opacity: .7;
				}
		  	}
			&.owl-next{
				background: url(../img/right-arrow.svg) center center no-repeat !important;
				&:hover{
					opacity: .7;
				}
			}
		}
	}
	&--partners{
		min-height: calc(100vh - 60px - 45px - 62px - 40px);
		display: flex;
		.companies{
			&__inner{
				margin: auto;
				width: 100%;
				.title{
					font-size: 16px;
				}
				.undertitle{
					font-size: 16px;
					margin-bottom: 10px;
				}
			}
			&__list{
				max-width: 1115px;
				margin: 0 auto;
			}
			&__item{
				background: url(../img/partners/partners-sprite.jpg) 0px 0px no-repeat;
				$step: 0px;
				width: 217px;
				height: 217px;
				@for $i from 1 to 15 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 222px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 222px;
						}
					}
				}
				&--empty{
					background: $color-lightgray;
				}
				&:hover{
					.companies__title{
						opacity:1;
						transform: translateY(150px);
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
				}
			}
			&__title{
				opacity:1;
				transform: translateY(217px);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
				font-size: 14px;
			}
		}
	}
	&--logistic{
		.companies{
			&__item{
				background: url(../img/partners-sprite.png) 0px 0px no-repeat;
				$step: -5340px;
				@for $i from 1 to 4 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 267px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 267px;
						}
					}
				}
				&--empty{
					background: $color-lightgray;
				}
			}
		}
	}
	&--clients {
		min-height: calc(100vh - 60px - 45px - 62px);
		padding: 0px;
		.companies{
			&__inner{
				margin: auto;
				width: 100%;
			}
			&__list{
				max-width: 1115px;
			}
			&__item{
				width: 217px;
				height: 217px;
				background: url(../img/clients/clients-sprite-217.jpg) 0px 0px no-repeat;
				$step: 0px;
				@for $i from 1 to 38 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 222px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 222px;
						}
					}
				}
				&--empty{
					background: $color-lightgray;
				}
				&:hover{
					.companies__title{
						opacity:1;
						transform: translateY(150px);
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
				}
			}
			&__title{
				opacity:1;
				transform: translateY(217px);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
				font-size: 14px;
			}
		}
	}
	// .isotope-pager{
	// 	text-align: center;
	// 	margin: 0;
	// 	padding: 0;
	// 	list-style-type: none;
	// 	padding: 30px 0 40px;
	// }
	// .pager{
	// 	display: inline-block;
	// 	margin-right: 20px;
	// 	&:last-child{
	// 		margin-right: 0;
	// 	}
	// }
	.isotope-pager{
		text-align: center;
		margin: 0;
		padding: 0;
		list-style-type: none;
		padding: 12px 0 12px;
	  }
	.pager{
		display: inline-block;
		margin-right: 20px;
		padding: 2px 7px;
		width: 25px;
		height: 25px;
		&:last-child{
			margin-right: 0;
		}
	}
	
}

.navigation__list li .search {
	input{
		box-sizing: border-box;
		width: 100%;
		font-size: 16px;
		font-family: $font;
		color :$color-gray;
		padding: 10px;
		background: #fff;
		border: 2px solid $color-gray;
		&::placeholder{
			color: $color-gray;
		}
		&:active,
		&:focus{
			border: 2px solid $color-blue;
			outline:none;
		}
	}
}

.popup{
	max-width: 750px;
	height: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	background: #fff;
	border: 1px solid $color-lightgray;
	display: none;
	justify-content: space-between;
	position: fixed;
	top: 50%;
	margin-top: calc(-400px/2);
	left: 50%;
	margin-left: calc(-750px/2);
	z-index: 3;
	padding: 20px;
	.popup__link{
	  	text-align: left;
	  	display: block;
	  	color: $color-blue;
	  	font-size: 16px;
	  	text-decoration: none;
	  	font-family: $font;
	  	margin-bottom: 16px;
	  	&:hover{
	  		color: $color-gray;
	  	}
	}
	&__left{
		width: 60%;
	}
	&__right{
		width: 35%;
		position: absolute;
		top: 40px;
		right: 10px;
		.feedback{
			width: 250px;
			height: 353px;
		}
	}

	h1{
	  	text-align: left;
	  	font-size: 24px;
	  	color: $color-blue;
	  	font-weight: bold;
	  	padding: 0;
      margin: 5px 0;
	  	font-family: $font;
	}
	p{
		font-size: 16px;
	  	text-align: justify;
	 	text-indent: 20px;
	  	font-family: $font;
	  	line-height: 1.5;
	}
	&__btn{
	    position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 1;
		-webkit-transition: -webkit-transform .5s ease-in-out;
		transition: transform .5s ease-in-out;
		&::before, &::after{
			content: '';
			display: block;
			width: 2px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 9px;
			background: $color-gray;
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
		&:hover{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
  	}
}


.hashtag{
  max-width: 400px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 20px;
  &__link{
    color: $color-blue;
    font-family: $font;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    display: inline-block;
    &:hover{
      color: $color-gray;
    }
  }
}
