.partners{
	padding-bottom: 40px;
	&__list{
		max-width: 1340px;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin-bottom: 35px;
		margin-top: 20px;
		cursor: pointer;
	}
	&__btn{
		    box-sizing: border-box;
		    font-family: $font;
		    text-align: center;
		    font-size: 13px;
		    color: rgb(38, 38, 38);
		    box-shadow: transparent 0px 0px 0px;
		    font-weight: 600;
		    padding: 12px 30px;
		    border-width: 1px;
		    border-style: solid;
		    border-color: rgb(6, 171, 221);
		    text-decoration: none;
		 background: transparent;
		 display: block;
		 max-width: 135px;
		 margin: 0 auto;
		 &:hover{
			border: 1px solid rgba(0,0,0,0);
    		color: #000;
    		background: $color-lightgray;
		}
	}
	&__item{
		width: 262px;
		height: 262px;
	    margin: 3px;
		background: url(../img/partners-sprite.png) 0px 0px no-repeat;
		border: none;
		position: relative;
		overflow:hidden;
		$step: 0px;
		@for $i from 1 to 20 {
			&:nth-child(#{$i}){
				background-position: 0 $step;
				$step: $step - 267px;
				&:hover{
					background-position: 0 $step;
					$step: $step - 267px;
				}
			}
		}
		&:hover{
			.partners__title{
				opacity:1;
				transform: translateY(180px);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
		&--empty{
			position: relative;
			background: $color-lightgray;
			&:before{
				content:"";
				display: block;
				width: 30px;
			    height: 30px;
			    background: url(../img/cancel--gray.svg) center no-repeat;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin-left: -15px;
			    margin-top: -15px;
			    transform: rotate(45deg);
			    -webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			&:hover{
				background: #fff;

				&:before{
					transform: rotate(45deg) scale(1.5);
				}
			}
		}
	}
	&__title{
		opacity:0;
		font-family: $font;
		font-size: 16px;
		text-align: center;
		transform: translateY(262px);
		width: 100%;
		padding: 20px 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		color: $color-gray;
	}
	&__popups{
		list-style-type: none;
	}
	&--logistic{
		.partners{
			&__item{
				background: url(../img/logistic-partners-sprite.png) 0px 0px no-repeat;
				$step: 0px;
				@for $i from 1 to 4 {
					&:nth-child(#{$i}){
						background-position: 0 $step;
						$step: $step - 267px;
						&:hover{
							background-position: 0 $step;
							$step: $step - 267px;
						}
					}
				}
				&--empty{
					background: $color-lightgray;
				}
			}
		}
	}
}

.navigation__list li .search {
	input{
		box-sizing: border-box;
		width: 100%;
		font-size: 16px;
		font-family: $font;
		color :$color-gray;
		padding: 10px;
		background: #fff;
		border: 2px solid $color-gray;
		&::placeholder{
			color: $color-gray;
		}
		&:active,
		&:focus{
			border: 2px solid $color-blue;
			outline:none;
		}
	}
}

.popup{
	max-width: 750px;
	height: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	background: #fff;
	border: 1px solid $color-lightgray;
	display: none;
	justify-content: space-between;
	position: fixed;
	top: 50%;
	margin-top: calc(-400px/2);
	left: 50%;
	margin-left: calc(-750px/2);
	z-index: 3;
	padding: 20px;
	.popup__link{
	  	text-align: left;
	  	display: block;
	  	color: $color-blue;
	  	font-size: 16px;
	  	text-decoration: none;
	  	font-family: $font;
	  	margin-bottom: 16px;
	  	&:hover{
	  		color: $color-gray;
	  	}
	}
	h1{
	  	text-align: left;
	  	font-size: 24px;
	  	color: $color-blue;
	  	font-weight: bold;
	  	padding: 0;
      margin: 5px 0;
	  	font-family: $font;
	}
	p{
		font-size: 16px;
	  	text-align: justify;
	 	text-indent: 20px;
	  	font-family: $font;
	  	line-height: 1.5;
	}
	&__btn{
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    height: 40px;
	    width: 40px;
	    background: url('../img/cancel--gray.svg') center no-repeat;
	    cursor: pointer;
	    -webkit-transition: -webkit-transform 0.5s ease-in-out;
	    transition: transform 0.5s ease-in-out;
	    z-index:2;
	    &:hover{
	      transform: rotate(180deg);
	    }
  	}
}


.hashtag{

  max-width: 400px;
  box-sizing: border-box;
  text-align: left;
  &__link{
    color: $color-blue;
    font-family: $font;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    display: inline-block;
    &:hover{
      color: $color-gray;
    }
  }
}
