.portfolio{
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  &__btns{
    list-style-type: none;
    font-family: $font;
    margin: 0;
    padding: 0 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 13px 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__container{

  }
  &__item{
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }
}
