.catalog{
  width: 62px;
  height: calc(100% - 62px);
  background: #fff;
  font-family: $font;
  border-right: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0px;
  top: 62px;
  z-index: 2;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow-x: hidden;
  &--full-height{
    height: calc(100% + 2px);
    position: absolute;
    border-top: 1px solid $color-lightgray;
    top: 0px;
    padding-top: 50px;
  }
  &:hover{
    width: 331px;
    .switch,
    .catalog__name{
      display: inline-block;
    }
  }
  &__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    &--unfolded{
      .catalog{
        &__item{
          max-height: 37px;
          transition: max-height 0.1s ease-out;
          .catalog__links{
            display: block;
            visibility: hidden;
            opacity: 0;
            //transition: opacity 0.5s ease-in;
          }
          &:hover{
            max-height: 1000px;
            transition: max-height 0.5s ease-out;
            .catalog__links{
              display: block;
              visibility: visible;
              opacity: 1;
              //transition: opacity 0.5s ease-in;
            }
          }
        }
      }
    }
    //padding-bottom: 20px;
  }
  &__item {
    position: relative;
    border-bottom: 1px solid $color-lightgray;
    overflow: hidden;
    &--active{
      .catalog__groupname{
        color: #000;
      }
    }
    &:last-child{
      border-bottom: none;
    }
  }
  &__groupname{
    padding: 7px 0;
    font-weight: 500;
    cursor: pointer;
    color: $color-gray;
    display: flex;
    min-width: 20px;
    height: 22px;
    position: relative;
    justify-content: space-between;
    &:hover{
      color: darken($color-gray, 25%);
      transition: $animation;
    }
    a{
      text-decoration: none;
      color: $color-gray;
      &:hover{
        color: darken($color-gray, 25%);
        transition: $animation;
      }
      &.active{
        color: #000;
      }
    }
  }
  &__icon{
    width: 20px;
    height: 20px;
    background: url('../img/favicon.png') center center no-repeat;
    background-size: contain;
    flex-shrink: 0;
    margin-right: 15px;
  }
  &__name{
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
    display: none;
  }
  &__links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-bottom: 5px;
    display: none;
    width: 290px;
    & > li {
      padding: 5px 0;
      line-height: 14px;
      position: relative;
      .quantity-popup{
        position: absolute;
        min-width: 185px;
        text-align: center;
        left: 80%;
        top: 12px;
        padding: 10px;
        border: 1px solid $color-blue;
        background: rgba(6,171,221, .5);
        color: white;
        border-radius: 5px;
        z-index: 2;
      }
    }
    a{
      color: $color-gray;
      text-decoration: none;
      font-size: 14px;
      position: relative;
      white-space: pre-line;
      overflow: hidden;
      &:before{
        content: '';
        display: none;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color-gray;
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -2px;
      }
      &:hover{
        color: darken($color-gray, 25%);
        transition: $animation;
      }
      &.active{
        color: black;
      }
    }
  }
}

.worker{
  display: none;
  &__img{
    display: block;
    margin: 15px auto;
    border-radius: 50%;
  }
  .text{
    font-size: 16px;
    color: $color-gray;
  }
  a{
    text-align: center;
    display: block;
    color: $color-gray;
    text-decoration: none;
    margin-bottom: 15px;
    transition: $animation;
    &:hover{
      color: darken($color-gray, 25%);
    }
  }
}
