.socials{
  text-align: right;
  &__item{
    display: inline-block !important;
    margin: 0 5px;
    width: 23px;
    height: 23px;
    //background: url('../img/socials-sprite.png') center no-repeat;
    cursor: pointer;
    img {
      width: 23px;
      height: 23px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      opacity: .5;
      transition: all .3s ease-in-out;
      border-radius: 4px;
    }
    &:hover{
      img{
        filter: none;
        opacity: 1;
      }
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
