.switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: $color-lightgray;
  border-radius: 60px;

  &__bg,
  &__btn {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
  }

  &__bg {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }

  &__btn {
    width: 28px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }

  &--checked {
    .switch__bg {
      background-color: $color-blue;
    }

    .switch__btn {
      transform: translateX(30px);
    }
  }
}
