.team{
	padding: 20px 0;
	.dropdown{
		margin-top: 0;
	}
	&__header{
		color: $color-blue;
		text-align: center;
		font-size: 24px;
		font-family: $font;
	}
	&__list{
		max-width: 1340px;
		list-style-type: none;
		margin: auto;
		padding: 0;
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		margin-bottom: 35px;
	}
	&__item{
		width: 360px;
		height: 163px;
		box-sizing: border-box;
		border: 1px solid #e0e0e0;
		text-align: center;
		background: $color-lightgray;
		padding: 15px 0 10px 0;
		position: relative;
		&:before{
			content:'';
			display: block;
			width: 80px;
			height: 80px;
			background: url(../img/phone--white.png) center center no-repeat, $color-gray;
			position: absolute;
			top: -50px;
			left: 50%;
			margin-left: -40px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			border:8px solid #fff;
			box-sizing: border-box;
		}
		span{
			font-size: 13px;
			line-height: 16px;
			color: #666;
			font-family: $font;
		}
		&:hover{
			.team__tel,
			.team__email,
			.team__name,
			.team__text{
				color: #000;
			}
			&::before{
				background-color: $color-blue;
			}
		}
		&--email{
			&:before{
				background: url(../img/envelope--white.png) center center no-repeat, $color-gray;
			}
		}
		&--addres{
			&:before{
				background: url(../img/placeholder.png) center center no-repeat, $color-gray;
			}
		}
	}
	&__title{
		margin: 20px 0 20px 0;
		font-family: $font;
		color: $color-blue;
		line-height: 16px;
	}
	&__name,
	&__tel,
	&__email,
	&__text{
		font-size: 13px;
		line-height: 16px;
		color: #666;
		margin-bottom: 10px;
		font-family: $font;
	}
}
