doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Пресс-формы, штампы, матрицы
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  script(src="/js/libs.min.js")
  script(src="/js/main.js")
  body.body--parallax
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        h1.title.title--left Пресс-формы, штампы, матрицы
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Set Service Group занимается изготовлением пресс-форм, штампов и матриц в Санкт-Петербурге. Наша продукция гарантированно отличается качеством и надежностью.
            .infobuttons
              .pricetext Цена от 5 руб./метр
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          .main__buttons
            div(class="active") Пресс-формы
            div Штампы
            div Матрицы
          article.main__article.main__article--active
            p.text.text--justify Виды выпускаемых пресс-форм:
            p.text.text--justify 
              b Прессфоммы для работы с термопластичными пластмассами 
              | (полиэтилен, полипропилен,полиамид, поликарбонат, пластикат и т.д.).
            p.text.text--justify 
              | Отличительным свойством таких прессформ является то, что для получения изделия, расплавленный материал в них остужается. Такие прессформы предназначены для переработки пластмасс которые расплавляются под действием нагревания, в расплавленном состоянии закачиваются в свободное пространство между матрицей и пуансоном, затвердевают при остывании, принимая форму отлитого изделия. При повторном нагревании такие пластмассы становятся пластичными и этот материал можно использовать вторично. 
              b Прессформы для термопластичных пластмасс 
              | бывают с открытой питающей системой и с закрытой - так называемые «горячеканальные». Прессформы с открытой литниковой системой менее дорогостоящие в изготовлении, но менее производительные и менее экономичные, при их использовании остаются отходы в виде затвердевшей литниковой системы и иногда требуется доработка производимых деталей.
            p.text.text--justify 
              b Прессформы горячеканальные 
              | существенно дороже в изготовлении, но чрезвычайно эффективны в массовом производстве, поскольку высокопроизводительны, работают без отходов и не требуется зачистка деталей от литников и питателей. Наши специалисты, при необходимости, помогут рассчитать и выбрать наиболее приемлемый для заказчика вариант.
            p.text.text--justify 
              b Прессформы для работы с термореактивными пластмассами 
              | (карболит, АГ-4, препреги, резины, фторопласт… и т.д.)
            p.text.text--justify Отличительным свойством таких прессформ является то, что для получения изделия, материал в них нагревается. Такие прессформы предназначены для перпеработки пластмасс в которых под действием нагревания происходит реакция полимеризации и материал, которым заполняется пространство между пуансоном и матрицей «спекается» (вулканизируется). При повторном нагревании такие пластмассы не расплавляются, отходы невозможно использовать вторично. Процесс полимеризации термореактопластов происходит значительно медленнее чем застывание для термопластов, брак и литники являются безвозвратной потерей материала. Как следствие производительность ниже, а себестоимость изделий выше. Такие прессформы используются для получения изделий со специальными свойствами.
            p.text.text--justify 
              b Формы для вспениваемых материалов 
              | (поролон, пенопласт, заливочные силиконовые смеси). Такая оснастка предназначена для придания формы залитому материалу до его полной полимеризации. Для работы таких форм не требуются повышенное давление и температура, необходимо только обеспечить постоянство формы определенное время и удобные заполнение материалом и извлечение готового изделия. Подушки кресел, специальная тара…
            p.text.text--justify 
              b Выклеечные формы и формблоки. 
              | Предназначены для выкладки и формовки деталей из композиционных материалов таких как стекловолокно, углепластики, кевлар, и т.д.
            p.text.text--justify Габариты рабочих частей прессформ до 250х250мм, габариты плит крепления до 500х500мм. 
          article.main__article
            p.text.text--justify Виды выпускаемых штампов:
            p.text.text--justify 
              b Штампы вырубные. 
              | Предназначены для вырубки по внутреннему и внешнему контурам деталей из металла. Могут быть изготовлены штампы для вырубки из листа, из ленты, из куска, для обсечки заготовок после операций пластического деформирования, для прорубки фигурных отверстий в фасонном прокате, в трубах, в движущемся профиле (летучие штампы).
            p.text.text--justify 
              b Штампы гибочные. 
              | Предназначены для придания пространственной формы деталям гибкой одновременно в нескольких местах и в различных направлениях.
            p.text.text--justify 
              b Штампы вытяжные. 
              | Предназначены для выполнения операций пластического деформирования листового металла для придания требуемой пространственной формы.
            p.text.text--justify 
              b Штампы совмещенного действия. 
              | Такие штампы предназначены для совмещения в одной штамповочной оперции сразу нескольких видов штамповой обработки в различных сочетаниях (вытяжка+обсечка; вырубка+гибка… и т.д).
            p.text.text--justify Габариты рабочих частей штампов до 420х350мм, габариты блочных плит штампов до 800х600мм.
          article.main__article
            p.text.text--justify 
             | Традиционно для изготовления матрицы  используется металл, который отличается своей долговечностью. Это не самый скоростной и дешевый материал для 
             b изготовления металлической матрицы
             | , однако определенно отличается надежностью и качеством. Металл очень хорошо подходит для матрицы, с помощью которой изделия будут изготавливаться большими партиями.
            p.text.text--justify При некачественно изготовленной матрице обязательно проявятся изъяны в изделии, что в конечном итоге приведет к финансовым издержкам, задержке производственного цикла, браку конечного изделия.
            p.text.text--justify Доверяя изготовление матрицы (прототипа) нам, вы можете быть уверены в том, что получите матрицу высокого качества в оговоренные сроки.
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug

        
