doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Технологические металлоконструкции
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  script(src="/js/libs.min.js")
  script(src="/js/main.js")
  body.body--parallax
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        h1.title.title--left Технологические металлоконструкции
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text Set Service Group предлагает клиентам услугу по производству технологических металлоконструкций и механизмов по чертежам и моделям заказчика. Механизмы, зачастую, входят в состав крупных промышленных систем металлоконструкций – разводные и подъемные, системы запирания и перемещения, стопорные системы, гидравлические и газовые системы.
        section.main__articles
          .main__buttons
            div(class="active") Технологические трубопроводы
            div Площадки обслуживания
            div Опоры трубопроводов
            div Технологические ёмкости
          article.main__article.main__article--active
            p.text Технологический трубопровод – это промежуточное звено в работе промышленного оборудования, предназначенное для транспортировки, переработки или получения конечных, исходных или промежуточных продуктов производства, смазки и других технологических жидкостей или газов, участвующих в работе оборудования. 
            p.text Технологические трубопроводы могут использоваться в следующих видах промышленности:
            ul.list
              li пищевая промышленность
              li энергетика
              li горнодобывающая промышленность
              li химическая и нефтехимическая промышленность
              li металлургия и сталелитейная промышленность
              li судостроение
              li лесная промышленность
            p.text 
              b Изготовление технологических трубопроводов
            p.text При изготовлении технологических трубопроводов необходимо учитывать для каких целей будет использоваться данная металлоконструкция. Это необходимо, прежде всего, для правильного подбора материалов, из которых изготавливаться технологический трубопровод. Например, для технологического трубопровода, который планируется использовать в пищевой промышленности, необходимо использовать безопасную нержавеющую сталь. При использовании в других целях технологический трубопровод будет изготавливаться из иных материалов. Соединение звеньев технологического трубопровода производится посредством сварки.
            p.text 
              b Монтаж технологических трубопроводов
            p.text Монтаж технологического трубопровода является не менее ответственным моментом после его изготовления. Правильно смонтированная система является основой для корректной работы всего завода и качества выпускаемой продукции.
            p.text Сварка составных звеньев технологического трубопровода производится с учетом всех эксплуатационных и технологических требований, что позволяет получить высокую надежность и чистоту сварных соединений на внутренней поверхности шва. Заказчик в любой момент может контролировать качество производимых работ по монтажу технологических трубопроводов или, в случае необходимости, вносить корректировки в схемы технологической обвязки.
            p.text После окончания монтажа технологического трубопровода возможно проведение гидравлических тестов, в ходе которых технологический трубопровод проверяется на герметичность и соответствие всем требованиям документации.
          article.main__article
            p.text Площадки обслуживания оборудования- это особые металлоконструкции, которые позволяют выполнять целый ряд действий:
            ul.list
              li получить доступ к оборудованию для его обслуживания;
              li переходить между зданиями и производственными помещениями;
              li осуществлять технологические переходы внутри производственных помещений и цехов;
              li обеспечивать доступ обслуживающего персонала на кровлю зданий и сооружений;
              li осуществлять ремонт и отделку зданий и сооружений снаружи.
            p.text Список функционального назначения площадок не полный, использоваться они могут практически в любой сфере жизни. Конструкции чаще всего изготавливаются по индивидуальным заказам, в соответствии с задачами, которые ставятся при обслуживании того или иного объекта. Например, площадки обслуживания технического оборудования требуют учета параметром обслуживаемого оборудования при их изготовлении для правильной планировки площадки и получения полного доступа к оборудованию.
            p.text Классификация площадок обслуживания
            p.text Выделяют две разновидности площадок обслуживания:
            ul.list
              li передвижные
              li стационарные
            p.text Передвижная площадка используется в основном в строительстве и реконструкции зданий и сооружений, для проведения отделочных, монтажных и санитарно-технических работ. Также изделие может применяться для перехода над различными препятствиями, для обслуживания систем вентиляции и освещения. Передвижная конструкция для обслуживания состоит из ограждения, лестниц и самой площадки. Колеса, как правило, устанавливаются поворотные и оснащаются тормозом. Ограждения выполняются односторонние, с возможностью переставлять их на другую сторону, или двусторонние. Конструкции перемещаются и поступают к заказчику в разобранном виде. Изделие легко собрать на месте, оно обладает небольшим весом и простотой эксплуатации.
            p.text Стационарная площадка используется на территории промышленного объекта для обеспечения безопасности и удобства выполнения работ. В составе изделия выделяют ограждение, пешеходный настил, лестницу и несущие конструкции из металла. При изготовлении данного оборудования за основу берутся требования ГОСТ, действующие в отрасли, для которой будет производиться площадка. Цена на стационарные площадки является договорной, так как данное оборудование выпускается под конкретный заказ, при его проектировании учитываются такие факторы, как особенности объекта, назначение конструкции, ее будущие размеры и способ крепления, несущая нагрузка, количество людей, которые одновременно будут ее эксплуатировать.
          article.main__article
            p.text Опоры трубопроводов - это необходимые элементы для подземной и надземной прокладки трубопроводных систем в ппу изоляции, без которых функционирование последних будет крайне недолгим.
            p.text Мы изготавливаем различные опоры трубопровода, предназначенные для:
            ul.list
              li газопроводов; 
              li нефтепроводов;
              li трубопроводов ТЭС и АЭС;
              li инженерных коммуникаций ЖКХ;
              li промышленных предприятий и др.
            p.text Опоры применимы в самых разных отраслях и подбираются исходя из своего дальнейшего предназначения. Опоры трубопроводов позволяют перевести осевые, поперечные, вертикальные нагрузки, а также крутящиеся моменты на грунт или на несущие конструкции.
            p.text Наше производство производит опоры трубопровода по большинству существующих стандартов, а также по индивидуальным чертежам заказчика из обычных сталей или для «северного исполнения» из стали 09Г2С.
          article.main__article
            p.text Емкости предназначены для хранения жидких и сыпучих продуктов. В зависимости от своей формы и хранящихся в них продуктов емкости можно разделить на: баки, контейнеры, бункеры, резервуары и др. ГК "Комплект-Сервис" занимается производством емкостей в СПб и Ленинградской области на заказ.
            p.text 
             b Баки
            p.text Баки, как правило, используются для хранения жидких продуктов. В зависимости от требований хранения продуктов баки могут быть изготовлены из различных материалов, что позволяет хранить продукт в среде, которая способствует длительному сохранению его основных свойств.
            p.text Баки используются для хранения:
            ul.list
              li воды;
              li топлива;
              li нефтепродуктов;
              li химических растворов и веществ.
            p.text В зависимости от технических особенности использования баки могут изготавливаться различной формы (горизонтальные, вертикальные), а также с дополнительными приспособлениями, которые облегчают их эксплуатацию (краны, крышки, горловины и т.д.)
            p.text 
              b Контейнеры
            p.text В промышленности контейнеры используются для проведения транспортировочных и погрузочно-разгрузочных работ. Также контейнеры используются для хранения и транспортировки отходов и различных сыпучих грузов.
            p.text Контейнеры могут быть:
            ul.list
              li саморагружающиеся (опрокидывающиеся);
              li стационарные;
              li мобильные.
            p.text Саморазгружающиеся контейнеры используются для того транспортировки, хранения и разгрузки различных промышленных отходов, мусора, металлической стружки. Его конструкция предусматривает возможность разгрузки в любом месте, что значительно упрощает его эксплуатацию.
            p.text 
              b Бункеры
            p.text Бункеры используются для постоянного хранения, временного накопления и выдачи материалов в сельском хозяйстве, пищевой, добывающей промышленности, при переработке отходов, производстве строительных материалов, и др.
            p.text В зависимости от продукта хранения бункеры можно подразделить на следующие категории:
            p.text Бункеры для песка – емкости для складирования и временного хранения сыпучего материала на территории производства. Объемные характеристики выпускаемых у нас бункеров для сыпучих материалов весьма обширны. В компании можно заказать оборудование емкостью от 3-х до 100 м3, в зависимости от производственных мощностей.
            p.text Бункеры для муки для временного хранения материала перед использованием. Объем бункеров, которые можно заказать в нашей компании - от 0,5 до 10-ти м3.
            p.text Бункеры-накопители для складирования и хранения разных материалов: щебня, пыли (с вентилируемых каналов), песчано-соляных смесей, цемента, готовых асфальтобетонных смесей и пр. Объем оборудования в данном случае рассчитывается с учетом производственной необходимости и видом сырья.
            p.text Бункеры для опилок – оборудование для предприятий деревообрабатывающей отрасли. Оптимальный объем емкостей – от 12-ти до 16-ти м3.
            p.text Бункеры-питатели: стационарные и полустационарные модели бункеров для строительной, пищевой, горнодобывающей и других видов промышленности.
            p.text Бункеры силосные – оборудование для хранения сухих кормов, зерновых культур, муки и сыпучих строительных смесей. По вашему заказу мы спроектируем и доставим бункеры объемом от 5-ти до 100 м3.
            p.text Бункеры топлива для пеллет и угля емкостью от 0,5 до 5 м3, вместимостью от 1000 до 4000 кг.
            p.text 
              b Резервуары
            p.text Резервуары – это сосуды для приема, накопления и отдачи жидких и газообразных сред, могут быть открытыми или с герметичной крышкой. Находят применение во всех сферах производства, где необходимо обеспечить запас жидкостей или газов.
            p.text Виды резервуаров:
            ul.list
              li по способу размещения – надземные и подземные варианты;
              li по конструкционной ориентации – горизонтальные, вертикальные, шарообразные;
              li по внутреннему строению – многокамерные либо двустенные;
              li по характеристике используемого материала – гибкие и жесткие;
              li по возможности транспортировки – стационарные, плавающие, перевозимые и переносимые.
            p.text Также для отдельных отраслей промышленности могут использоваться резервуары с индивидуальной конструкцией.
            p.text В связи с наличием механической обработки металла с высокими степенями точности, специалисты, производственно-сборочного подразделения нашей компании, обеспечивают сборку и испытания различных механизмов систем перечисленных выше.
            p.text Стоит также отметить, что неотъемлемой частью процесса изготовления технологических металлоконструкции и механизмов является сварка. Сварочное оборудование компании позволяет производить различные виды сварки, в число которых входят:
            ul.list
              li электродная сварка;
              li полуавтоматическая сварка в углекислотной среде;
              li аргонодуговая сварка в среде газа аргон;
              li припой серебра, латуни, меди и других цветных металлов;
              li точечная контактная сварка;
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug

        
