doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Балки подкрановые сварные
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      - var sidebar = 'products'
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Балки подкрановые сварные
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Set Service Group  осуществляет изготовление корпусов из алюминия в Санкт-Петербурге. На этой странице вы можете оформить заказ на изготовление корпусов в Санкт-Петербурге или Москве. 
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify 
              b Подкрановая балка
              |  - это одна из основных составляющих несущих металлических конструкций, разновидность двутавровых балок. Условия работы этих конструкций отличаются от строительных балок, составляющих перекрытия и покрытия. 
              b Металлические балки 
              | намного популярнее своих железобетонных аналогов.
            p.text.text--justify 
              b Классификация подкрановых балок
            p.text.text--justify Существуют различные способы классификации сварных подкрановых балок. Классификация подкрановых балок в зависимости от расположения:
            ul.list
              li сплошные;
              li сетчатые;
              li рядовые;
              li концевые.
            p.text.text--justify Классификация подкрановых балок в зависимости от количество опор и особенностей закреплений:
            ul.list
              li неразрезные балки(многопролетные);
              li разрезные балки(однопролетные).
            p.text.text--justify 
              b Изготовление подкрановых балок
            p.text.text--justify 
              b Стальные подкрановые балки 
              | могут изготавливаться 
              b сварными 
              | и 
              b составными
              | , а составные соединяются сваркой, болтами или клепанием. 
              b Сварные балки
              |  могут состоять из трех отдельных листов или иметь пояса из тавров. Последние по характеристикам более надежны, поскольку сварные швы не затрагивают зоны основной нагрузки. Готовые изделия должны соответствовать ГОСТу и технологическому проекту. Такие балки используются не только для монтажа открытых крановых путей, но и для сооружения зданий, усиления отдельных колонн. Естественно, что к таким балкам требования весьма высоки.
            p.text.text--justify 
              b Преимущества подкрановых балов
            p.text.text--justify Одним из главных преимуществ двутавровой сварной балки, является ее невысокая металлоемкость при абсолютной конструктивной надежности.
            p.text.text--justify Применение данной конструкции в жилищном строительстве и при сооружении промышленных объектов дает возможность значительной экономии денежных средств, при заметном сокращении сроков строительства.
            p.text.text--justify Область применения данных металлоконструкций весьма широка и разнообразна. Их применяют:
            ul.list
              li при сооружении длинных пролетов в производственных и складских помещениях;   
              li при строительстве эстакад и мостов;
              li для устройства рабочих площадок, подкрановых балок и тому подобных конструкций.
            p.text.text--justify 
              | Если вам необходимо заказать 
              b производство сварных балок
              | , обращайтесь в нашу компанию.
            p.text.text--justify Мы гарантируем быстрое и качественное выполнение заказа любой сложности.
            p.text.text--justify Все работы производятся с максимальным соблюдением технологических требований и применением сертифицированного металлопроката.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts.pug

        
