doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Колеса зубчатые, шестерни
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      - var sidebar = 'products'
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Колёса зубчатые, шестерни
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству валов. Если вы ищете где заказать производство валов в Москве или Санкт-Петербурге вы можете смело обращаться к нам.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            div(class="active") Колёса зубчатые
            div Шестерни
          article.main__article.main__article--active
            p.text.text--justify 
              | В механизмах, основанных на передаче вращательных движений, главной деталью является зубчатое колесо.  Эта деталь представляет собой диск с зубьями на конической или цилиндрической поверхности. Изготавливаются зубчатые колёса как на специальном оборудовании, так и на универсальных металлообрабатывающих станках с применением дополнительных приспособлений. Это и есть 
              b нарезка зубчатых колес.
            p.text.text--justify 
              | Для серийного 
              b производства зубчатого колеса 
              | необходим метод обкатки, метод копирования (деления) и метод холодного и горячего накатывания.
            p.text.text--justify 
              b Изготовление зубчатых колес методом обкатки
            p.text.text--justify 
              | Для 
              b изготовления зубчатой шестерни 
              | этим методом используются такие инструменты, как гребенка, червячная фреза и зубчатый долбяк. При помощи червячной фрезы на заготовке колеса нарезается зуб за счет взаимного движения детали и инструмента, соответствующего червячному зацеплению. 
              | Гребенка - это зубчатая рейка с кромкой режущей по контуру зуба, которая совершает сложные возвратно-поступательные движения вдоль поверхности заготовки, вращающейся с постоянной скоростью. Долбяк - инструмент в виде зубчатого колеса с режущими кромками. Работа зубодолбежного станка основана на возвратно-поступательных движениях инструмента относительно детали, при этом после каждого двойного прохода инструмент и заготовка поворачиваются на один шаг.
            p.text.text--justify 
              b Метод деления для производства зубчатых колес
            p.text.text--justify Этот способ используется для производства зубчатых колес на универсальных фрезерных станках, которые оснащены делительной головкой. Нарезка зуба на станке производится пальцевой или дисковой фрезой.
            p.text.text--justify 
              b Метод холодного и горячего накатывания для получения зубчатых колёс
            p.text.text--justify Используется такой метод при необходимости получения зубчатых колёс и шестерней высокой точности. Верхний слой заготовки прогревается индукционными токами на глубину, немного большую, чем будущая высота зубьев самих шестерен. После этого металл, нагретый до пластического состояния, обрабатывается специальным зубонакатным инструментом, в результате из-под рук мастера выходит готовая шестерня. Обычно, производство зубчатого колеса этим методом подразумевает несколько этапов, последним из которых становится обкатка уже изготовленных зубьев для получения необходимой формы.
          article.main__article
            p.text.text--justify 
              b Шестерни
              |  – это зубчатые колеса, которые используются в машиностроении для зубчатой передачи. К условиям их изготовления предъявляются достаточно строгие требования, ведь от таких характеристик, как точность размера зубьев, гладкость и покатость изделия, во многом зависит работа всего механизма. На сегодняшний день для производства шестерен используется несколько основных методов:
            ul.list
              li Метод обката;
              li Метод копирования;
              li Метод накатывания;
              li Метод конических колес.
            p.text.text--justify В своей работе мы используем преимущественно метод обката как наиболее технологичный, точный и экономичный метод. Для производства используются высокопрочные металлы (сталь и ее сплавы), после же изготовления грубой заготовки изделие проходит дополнительную механическую и химическую обработку.
            p.text.text--justify 
              b Область применения шестерен:
            ul.list
              li деревообработка;
              li целлюлозная промышленность;
              li полиграфия;
              li текстильная промышленность.
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts.pug

        
