doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Фрезерные работы
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  script(src="/js/libs.min.js")
  script(src="/js/main.js")
  body.body--parallax
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        h1.title.title--left Фрезерные работы
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Set Service Group располагает всем необходимым оборудованием для проведения фрезерных работ любой сложности. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа.
            p.text.text--justify 
              b Фрезерование 
              | является одним из самых распространенных видов механической обработки. При фрезеровании режущий инструмент (фреза) совершает вращательное движение, а обрабатываемая заготовка — поступательное движение в продольном, поперечном или вертикальном направлениях. Этим способом осуществляют черновую, получистовую и чистовую обработку простых и фасонных поверхностей заготовок.
        section.main__articles
          .main__buttons
            div(class="active") Фрезерные станки с ЧПУ
            div Универсальные фрезерные станки
            div Зубо/Шлиценарезные работы
          article.main__article.main__article--active
            p.text.text--justify Фрезеровка материалов на станках с ЧПУ по сравнению с ручными способами обработки упрощает и ускоряет процесс изготовления из него нестандартных изделий. А также позволяет создавать уникальные детали, которые невозможно сделать человеку на универсальном станке. В распоряжении нашей компании имеется уникальный 5-и координатный вертикально-фрезерный центр Haas UMC-750, позволяющий выполнять пятиосевую обработку заготовок. Это самый сложный вид обработки изделий на станках с ЧПУ. Позволяет непрерывно обрабатывать деталь со всех сторон и даже в тех местах, куда при 3д и 4д обработке фреза не достает. Такой вид обработки – отличный вариант для мелкосерийного и штучного производства, так как нет необходимости делать сложную оснастку, пресс-формы и прочее. Благодаря такому оборудованию мы гарантируем изготовление деталей любой сложности, при максимально возможной точности позиционирования, обеспечивая при этом максимально сжатые сроки изготовления при неограниченной серийности изделий.
            p.text.text--justify 
              b Параметры рабочего поля:
            ul.list
              li Максимальное перемещение по оси X– 1626 мм
              li Максимальное перемещение по оси Y  – 1270 мм
              li Максимальное перемещение по оси Z – 813 мм
              li Максимальный вес детали – до 5 тонн
            //-ul.dropdown
              li.dropdown-item
                .dropdown-title
                  .container(style="border-top: 1px solid #eceded;")
                    .switch
                      span.switch__bg
                      span.switch__btn
                    | Оборудование для фрезеровочных работ
                .container(style="border-bottom: none")
                  .dropdown-item-content
                    table.tools
                      tr
                        td
                          strong Изображение
                        td
                          strong Модель
                        td
                          strong Год выпуска
                        td
                          strong Страна производитель
                        td
                          strong Технические характеристики
                      tr
                        td
                          img(alt='6Т80(2)', src='/img/machines/millers/1.jpg')
                        td
                          strong Горизонтально-фрезерный 6т-80
                        td 1979
                        td СССР
                        td
                          strong Наибольшие размеры заготовки
                          | : 220 мм
                          br
                          strong Максимальная нагрузка на стол
                          | : 200 кг
                          br
                          strong Рабочая поверхность стола
                          | : 850*260 мм
                      tr
                        td
                          img(alt='FU400', src='/img/machines/millers/2.jpg')
                        td
                          strong Горизонтально-фрезерный FU400
                        td 1997
                        td Германия
                        td
                          strong Длина рабочей поверхности стола
                          | : 1600 мм
                          br
                          strong Ширина стола
                          | : 400 мм
                          br
                          strong Наибольшая масса детали
                          | : 1500 кг
                      tr
                        td
                          img(alt='F400', src='/img/machines/millers/3.jpg')
                        td
                          strong Вертикально-фрезерный станок F400
                        td 1992
                        td Германия
                        td
                          strong Длина рабочей поверхности стола
                          | : 1600 мм
                          br
                          strong Ширина стола
                          | : 400 мм
                          br
                          strong Наибольшая масса детали
                          | : 1500 кг
                      tr
                        td
                          img(alt='6Р81', src='/img/machines/millers/4.jpg')
                        td
                          strong Консольно-фрезерный станок 6р81
                        td 1980
                        td СССР
                        td
                          strong Класс точности
                          | : Н
                          br
                          strong Длина стола
                          | : 1000 мм
                          br
                          strong Ширина стола
                          | : 250 мм
                          br
                      tr
                        td
                          img(alt='1м63мф101', src='/img/machines/millers/5.jpg')
                        td
                          strong Широкоуниверсальный фрезерный станок 676П
                        td 1982
                        td СССР
                        td
                          strong Класс точности
                          | : П
                          br
                          strong Рабочая поверхность стола, мм
                          | :
                          br
                          br
                          em Основной
                          |  630х250
                          br
                          em Угловой горизонтальный
                          |  800х250
                          br
                          em Угловой универсальный
                          |  630х200
                          br
                          em Круглый
                          |  (диаметр поверхности, высота) 250, 110
                          br
                          br
                          strong Наибольший ход основного стола, мм:
                          br
                          br
                          em Продольный
                          |  400
                          br
                          em Вертикальный
                          |  380
                          p
                      tr
                        td
                          img(alt='VDL-1000', src='/img/machines/millers/6.jpg')
                        td
                          strong Вертикально-фрезерный обрабатывающий центр с ЧПУ VDL-1000
                        td
                          p
                            | 2012
                        td Китай
                        td
                          strong Рабочая поверхность стола
                          | : 1120x560 мм
                          br
                          strong Максимальная допустимая нагрузка на стол
                          | :800кг
                          br
                          strong Точность позиционирования
                          | : ±0,005 мм
            p.text.text--justify 
              b Оборудование:
            ul.list
              li 5-осевой вертикально-фрезерный обрабатывающий центр Haas UMC-750
              li Горизонтально-фрезерный станок с ЧПУ  Haas ЕC-1600
          article.main__article
            p.text.text--justify Традиционно более 80 процентов фрезерных работ выполняются на универсальных станках, так как большинство расходных и вспомогательных материалов, оснастки и прочий инструмент используемый в обработке, носят уникальный характер и зачастую изготавливается нами самостоятельно. Так же в комплекс работ на универсальных фрезерных станках входят: фрезеровка плоскостей и фасонных поверхностей; снятие фасок, прорезывание пазов; финальная обработка оснований зубьев и шлицов, стандартное разрезание профилей. То есть работы производятся и для нужд клиентов, и для нашего производства. Еще одним преимуществом универсального станка, является возможность перемещения стола в различных плоскостях по отношению к шпинделю, что не привязывает нас к какой либо из осей. Фрезеровка металла осуществляется квалифицированными специалистами, владеющими опытом и знания для безукоризненного исполнения работ.
            p.text.text--justify 
              b Параметры рабочего поля:
            ul.list
              li Максимальное продольное перемещение – 1500мм
              li Максимальное поперечное перемещение – 670 мм
              li Максимальное вертикальное перемещение – 670 мм
              li Максимальный вес детали – до 2 тонн
            p.text.text--justify 
              b Оборудование:
            ul.list
              li Универсальный фрезерный станок DMTG X6436
              li Универсальный фрезерный станок DMTG X715
              li Универсальный фрезерный станок 6М83Ш (Дмитровский завод фрезерных станков)
          article.main__article
            p.text.text--justify Зубчатые колеса, занимают особое, можно сказать привилегированное, место в машиностроении. Обоюдная сцепка зубчатых колес передает крутящий момент, изменяя или оставляя постоянным число оборотов, идущих от двигателя и преобразуя вращательное движение в поступательное. Их изготовление — самый сложный процесс среди множества видов металлообработки. Зуборезные работы по нарезке червячных передач, шлицевых соединений и, конечно же, по производству шестерен, занимают ведущую позицию в выпуске подобного рода деталей.
            p.text.text--justify На фрезерных станках используется специальный винт, именуемый фрезой червячной, на котором имеются винтовые канавки, расположенные перпендикулярно к направлению нарезки. Зубья такой фрезы имеют профиль трапеции, резцы на ней расположены на всех кромках (прямой и боковой), потому точность при работах методом обкатки высокая.
            p.text.text--justify 
              b Нарезание шлицев/зубьев выполняется в несколько этапов:
            ul.list
              li Размещение детали в центре головки деления в фрезеровальном аппарате;
              li Фрезерование, которое может выполняться в 1 или 2 прохода. Это зависит от диаметра вала. Фрезерование маленьких диаметров, например, до 100 мм, выполняется за 1 рабочий ход, а больших диаметров примерно за 2 рабочих хода. Иногда в последнем случае используются горизонтально-фрезерные станки с делительными механизмами;
              li Обработка червячной фрезой шлиц/зубьев, которые требуют особой точности;
              li Последним этапом является шлифовка поверхности шлицов/зубьев и термообработка детали в целом;
            p.text.text--justify Наша компания осуществляет нарезку высокоточных шлицевых соединений (точностью до 0,01 мм)  и нарезку зубьев различных модулей.
            p.text.text--justify 
              b Параметры рабочего поля:
            ul.list
              li Наибольшая длина заготовки – до 3000 мм;
              li Диаметр обрабатываемой поверхности – до 600 мм;
              li Наибольший модуль – 8 (10мм).
            p.text.text--justify 
              b Оборудование:
            ul.list
              li Зубофрезерный полуавтомат 53В30П-02 с ЧПУ  Siemens  
              li Шлицефрезерный полуавтомат ВСН-620CNC25 с ЧПУ  Siemens
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug

        
