doctype
html
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title Фрезерные работы ЧПУ
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
	link(rel='stylesheet', href='/css/libs.min.css') 
	link(rel='stylesheet', href='/css/styles.css')
	body.body--parallax
		include ../../includes/preloader.pug
		include ../../includes/main-header.pug
		div.inner-page
			include ../../includes/catalog.pug
			main.main
				include ../../includes/header-article.pug
				h1.title.title--left Фрезерные работы ЧПУ
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
							img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
							img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
							img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
							img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
							img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
					.main__info
						p.text.text--justify Set Service Group располагает всем необходимым оборудованием для проведения фрезерных работ на станках с ЧПУ любой сложности. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа. 
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles
					article.main__article.main__article--active
						p.text.text-justify
							| В процессе изготовления деталей различной конфигурации применяется 
							b фрезеровка ЧПУ
							| , обеспечивающая точность размеров и высокое качество китогового продукта. Set Service Group производит 
							b фрезерные работы ЧПУ
							|  любой сложности на самом современном оборудовании. Фрезеровка происходит с задействованием компьютера на всех этапах изготовления: от задания оборотов и ее линейного движения до конечных размеров обрабатываемой детали. Инновационное оборудование нашей компании способно выполнять 
							b фрезеровку на станке ЧПУ
							|  в формате 3d, обрабатывая заготовку одновременно несколькими рабочими фрезами, двигающимися в различных плоскостях. В результате достигается создание продукции высокого качества, отличающейся точными размерами и имеющей сложные объемные формы. Такой способ обработки существенно экономит время изготовления заказа, сокращает до минимума риск возникновения брака и позволяет выполнять крупные партии деталей без отклонения от задаваемого стандарта.
						p.text.text-justify
							| Детали, полученные путем 
							b обработки на фрезерных станках
							| , оборудованных числовым программным управлением, пригодны к использованию в различных сферах человеческой деятельности. К примеру, для рекламных кампаний с помощью такого оборудования изготавливаются объемные буквы, стойки, лайт-боксы, рельефные изображения и пр. При изготовлении мебели фрезерные станки ЧПУ могут раскраивать МДФ и фанеру, вырезать разнообразные накладки и узоры. В отрасли приборостроения и машиностроения 
							b фрезерные работы ЧПУ по металлу
							|  подразумевают изготовление металлических пресс-форм, форм для литья, панелей управления, приборных панелей и штампов. Строительная индустрия использует кассеты для фасадов, модели будущих зданий, декоры, вентилируемые фасады и пр.
						p.text.text-justify
							b Фрезеровка материалов на станках с ЧПУ
							|  по сравнению с ручными способами обработки упрощает и ускоряет процесс изготовления из него нестандартных изделий. А также позволяет создавать уникальные детали, которые невозможно сделать человеку на универсальном станке. В распоряжении нашей компании имеется уникальный 5-и координатный вертикально-фрезерный центр Haas UMC-750, позволяющий выполнять пятиосевую обработку заготовок. Это самый сложный вид 
							b обработки изделий на станках с ЧПУ
							| . Позволяет непрерывно обрабатывать деталь со всех сторон и даже в тех местах, куда при 3д и 4д обработке фреза не достает. Такой вид обработки – отличный вариант для мелкосерийного и штучного производства, так как нет необходимости делать сложную оснастку, пресс-формы и прочее. Благодаря такому оборудованию мы гарантируем изготовление деталей любой сложности, при максимально возможной точности позиционирования, обеспечивая при этом максимально сжатые сроки изготовления при неограниченной серийности изделий.
						p.text.text-justify
							| Set Service Group располагает широким набором фрезерных станков с ЧПУ. Технические параметры и характеристики токарных станков с ЧПУ, которые использует наша компания, можно посмотреть ниже.
							| Наша компания готова предоставить клиентам средства современного производства и услуги профессиональных менеджеров, которые помогут вам реализовать заказ, если вам требуются 
							b фрезерные работы ЧПУ в Санкт-Петербурге
							| . Вы всегда можете связаться с нами по телефону 
							b 8 (812) 627-15-16
							|  или 
							b оставить заявку с помощью формы связи
							| .
					include ../../includes/performed_works.pug
		include ../../includes/popupform.pug
		footer.main-footer
			include ../../includes/bottom-line.pug
	include ../../includes/scripts.pug
