doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Токарные работы
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='/css/libs.min.css') 
  link(rel='stylesheet', href='/css/styles.css')
  script(src="/js/libs.min.js")
  script(src="/js/main.js")
  body.body--parallax
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        h1.title.title--left Токарные работы
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Set Service Group располагает необходимым оборудованием для проведения любых токарных работ. Наши менеджеры оперативно помогут Вам подобрать оптимальные условия для реализации вашего заказа.
            p.text.text--justify Современные токарные станки с высокой точностью срезают необходимые слои с заготовки в определенном порядке, пока деталь не приобретет требуемую форму и размеры. Наши специалисты на токарном оборудовании выполняют самые разнообразные услуги токарной обработки для создания деталей вращения. Имеющееся на предприятии оборудование позволяет изготавливать втулки, гайки, муфты, кольца, зубчатые колеса, валы и другие детали с высокой степенью точности. На станках, оснащенных числовым программным управлением, обрабатываются цилиндрические и конические детали, уступы, торцевые поверхности, а также выполняется отрезание у заготовки какой-либо части, вытачивание, сверловка отверстий, зенкерование, нарезка резьбы, накатывание и затачивание.
        section.main__articles
          .main__buttons
            div(class="active") Токарная обработка с ЧПУ
            div Токарно-винторезная обработка
            div Токарно-карусельная обработка
          article.main__article.main__article--active
            p.text.text--justify
              b Токарная обработка 
              | с ЧПУ является более точным и эффективным типом обработки благодаря компьютерному управлению как шпинделем с обрабатываемой деталью, так и группой токарных резцов. Это позволяет получить лучшие параметры обработки, точные размеры и что самое главное – повторяемость крупных серий деталей. Имеющиеся в нашей компании, центры обработки с ЧПУ позволяют обеспечить точное изготовление деталей из стали, алюминия, а также сплавов твердостью до 80 HRC. Главной особенностью нашего оборудования является - точность позиционирования до 0,003 мм, что позволяет нам работать со всеми существующими квалитетами.
            p.text.text--justify
              b Параметры рабочего поля:
            ul.list
              li Максимальный диаметр детали – 680 мм;
              li Максимальна длина обработки – 1590 мм.
            p.text.text--justify
              b Оборудование:
            ul.list
              li Yida BML-600
              li DMG Mori CTX 510 ecoline 
          article.main__article
            p.text.text--justify Одним из самых традиционных методов токарной обработки является работа на токарно-винторезных станках. Основные виды работ выполняемых на станках такого типа – цилиндрическая обточка/расточка, обработка фаски, подрезка торца, нарезка резьбы, обработка фасонных поверхностей. При работе на таком типе оборудования основным ресурсом качества является персонал. Наши специалисты, в основном это мастера 5 и 6-х разрядов, при работе на мастер-станках вручную, достигают 5-х квалитетов точности, что в некоторых случаях, не под силу, и станкам с ЧПУ.  Преимуществом такого типа станков является крупные, по сравнению с ЧПУ, габариты изготавливаемых деталей.
            p.text.text--justify 
              b Параметры рабочего поля:
            ul.list
              li Максимальный диаметр детали – 1250 мм
              li Максимальная длина обработки – 8000 мм
              li Максимальный вес детали – до 5 тонн
            p.text.text--justify 
              b Оборудование:
            ul.list
              li ДИП-300 1М63М
              li ДИП-500 1М65М.РТ731
              li DMTGCW61125M
          article.main__article
            p.text.text--justify 
              b Токарно-карусельные 
              | станки предназначены для сверхгабаритных деталей цилиндрической и сферической форм. Подобным типам обработки с лёгкостью поддаются колёса зубчатого типа, маховики, а так же диски турбин. Вес и параметры заготовок могут быть до 20 тонн и диаметром до 4-х метров. Такие возможности станка обеспечиваются горизонтальным размещением поверхности стола, на котором крепиться изделие. А также тем, что основным приводным механизмом является сам стол. Особенностью нашего токарно-карусельного станка является, числовое программное управление. Это позволяет нам производить работы в 2 раза быстрее, обеспечивать более высокие поля допусков, а также изготавливать детали дешевле в сравнении со станками без ЧПУ.
            p.text.text--justify 
              b Параметры рабочего поля:
            ul.list
              li Максимальный диаметр детали – 3800 мм
              li Максимальная высота детали  – 2200 мм
              li Максимальный вес детали – до 25 тонн
            p.text.text--justify 
              b Оборудование:
            ul.list
              li YSP VL-4000ATC+C
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug

        
