doctype
html
  -let title = 'Кронштейны'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Кронштейны
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/Кронштейны1.jpg')
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству кронштейнов. Свяжитесь с нами по телефону или отправьте заявку. Наши специалисты обработают ваш запрос в кратчайшие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Кронштейны 
              | для светопрозрачных конструкций являются частью ассортимента изделий из металла. Они используются в основном для монтажа светопрозрачных фасадов к несущим конструкциям зданий, или для соединения стальных элементов при монтаже строительных металлоконструкций.
            p.text.text--justify
              b Стальные кронштейны 
              | для строительства отличаются типом и размерам, и их использование определяется структурой стены или несущей конструкцией, а также видом используемого облицовочного материала.
            p.text.text--justify
              | Конструкция кронштейнов, предназначенных для установки алюминиевых профилей, предполагает возможность регулировки, что позволяет производить регулировку стоек в нескольких направлениях, а также предоставляют возможность выполнять соединения с учетом компенсации тепловых зазоров. Выбор типоразмеров кронштейнов достаточно большой, что позволяет их использоваться при установке вентилируемых фасадов. При этом есть возможность использовать крепления для установки на основания, размеры которых отличаются от габаритных размеров конструкции. Для монтажа стоек облегченных конструкций к основным плитам перекрытия применяются кронштейны, которые не позволяют производить регулировку, связанную с сопряжением перекрытий.
            p.text.text--justify
              | Исходным материалом при 
              b производстве кронштейнов 
              | является листовая сталь высокого качества. Сначала, согласно данным технологических карт, производится нарезка заготовок, их обработка и сварка. Используемая сталь обычно имеет толщину листа от 5 до 8 мм, что обеспечивает высокую прочность конечной продукции. После проведения сварных работ производится контроль качества соединений, чтобы продукция отвечала принятым требованиям по надежности и геометрии. После шлифовки изделие покрывается защитным покрытием.
            p.text.text--justify
              | Для защиты кронштейнов от воздействия внешней окружающей среды используются следующие виды покрытий:
            ul.list
              li
                | покрытие порошковой краской, которое позволяет обеспечить устойчивость к воздействию коррозии и придает изделиям привлекательный внешний вид;
              li
                | цинконаполненное покрытие – обеспечивает защиту по эффективности близкую к цинковым металлическим покрытиям;
              li горячее цинкование – наилучший способ защиты металлических изделий от коррозии;
              li
                | грунтование – используется для обеспечения минимальной защиты от коррозии во время хранения и транспортировки.
            p.text.text--justify
              | Для максимального соответствия готовых изделий условиям эксплуатации Set Service Group может предложить услуги разработки кронштейна с его последующим тестированием. После согласования пробного образца мы отдаем изделие в производство и при этом не ограничиваем клиента строгими рамками по объему партии. Сотрудничать с нами выгодно даже в том случае, если Вам нужны кронштейны на заказ в количестве нескольких единиц.
            p.text.text--justify
              | Качественные сырьевые материалы, значительный опыт в проектировании и производстве, а также ориентированность на потребности клиента делают сотрудничество с нашей компанией экономически целесообразным и простым.
            p.text.text--justify
              | Если вас интересует 
              b производство кронштейнов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts.pug
        
