doctype
html
  -let title = 'Обоймы'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Обоймы
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/Обоймы1.jpg')
          .main__info
            p.text.text--justify Многопрофильная группа компаний Set Service предлагает свои услуги по производству зубчатых обойм. Вы в любой момент можете позвонить нам по телефону или оставить заявку, которая будет обработана нашими специалистами в кратчайшие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Обоймы
              |  относительно малых размеров требуются в достаточно больших количествах, поэтому 
              b изготовление обойм
              |  происходит при высокой оснащенности технологического процесса с использованием высокопроизводительного оборудования. Токарную обработку ведут на вертикальном восьмипозициониом полуавтомате при двух - цикловой наладке. Наладка предусматривает обработку заготовки с припуском на чистовую обработку по трем поверхностям, связанным требованиями взаимного расположения (отверстие, торец фланца, наружная поверхность фланца).
            p.text.text--justify
              | Отверстия для крепления обоймы обрабатывают на агрегатном многошпиндельном четырехпозиционном сверлильном станке, по одному групповому технологическому процессу с отверстиями в тормозном шкиве. Схема построения операции характеризуется весьма высокой концентрацией (одновременно работают 19 инструментов); штучное время составляет всего лишь 2 мин.
            p.text.text--justify
              | На вертикально - сверлильном станке обрабатывают смазочное резьбовое отверстие на образующей фланца, и на этом же станке снимают фаски в крепежных отверстиях. Обработку зубьев внутреннего зацепления производят на зубодолбежном станке при установке заготовки в специальном приспособлении. Приспособление имеет два установочных пальца (цилиндрический и ромбический), на которые деталь ставят двумя отверстиями. Деталь закрепляют двумя прихватами. Корпус приспособления имеет на плоскости основания центрирующую выточку для установки на столе зубодолбежного станка.
            p.text.text--justify
              | У обойм малого размера (диаметром 80 —100 мм) зубья можно обрабатывать методом протягивания эвольвентной протяжкой всего зубчатого венца сразу. Чтобы избежать излишне большой длины протяжки, применяют комплект из двух протяжек и обработку разделяют на две операции. Суммарное время обработки обоймы протягиванием составляет 4 —5 мин при трудоемкости зубодолбления 13 —15 мин.
            p.text.text--justify
              | Однако протягивание связано с использованием сложного и дорогого инструмента. Возникающие большие радиальные нагрузки могут привести к деформации детали по наружной поверхности, что ограничивает область использования этого высокопроизводительного метода.
            p.text.text--justify
              b Зубчатые обоймы
              |  более крупных размеров выполняют литыми и в серийном производстве обрабатывают на универсальном оборудовании почти без специальных приспособлений.
            p.text.text--justify
              | Если вас интересует 
              b производство обойм
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.

        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
