doctype
html
  -let title = 'Муфты'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Муфты
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/МуфтыФланцы1.jpg')
              img(src='../img/metal-products/МуфтыФланцы2.jpg')
          .main__info
            p.text.text--justify Set Service Group уже много лет предоставляет рынку металлообработки услуги по производству муфт. Наши специалисты в кратчайшие сроки обработают вашу заявку и возьмут на себя работу с чертежами и налаживание серийного производства.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              b Муфта 
              | — устройство, соединяющее два конца валов друг с другом для передачи крутящего момента. Свободно сидящие на валах детали также соединяются с ними муфтами. В зависимости от конструктивных особенностей, муфты могут соединять два вала на одной оси, либо валы, находящиеся под углом.
            p.text.text--justify
              | Процесс 
              b производства муфт на ЧПУ
              |  выглядит так: стальную болванку погружают в ковш с расплавленным свинцом, проворачивают, после чего извлекают вместе со слоем свинца и опускают в холодную воду, ударом болванки о пол муфта снимается. Чтобы проще было снять муфту с болванки, болванка изготавливается в форме конуса по всей длине.
            p.text.text--justify
              | Нашими постоянными клиентами являются многие предприятия, представляющие отрасли машиностроения, энергетики, тяжелой и легкой промышленности и пр.
              br
              | В зависимости от назначения и условий эксплуатации будущего изделия у нас можно заказать механические муфты:
            ul.list
              li зубчатые, втулочно-пальцевые, кулачковые, пластинчатые, шарнирные;
              li сцепные, самоуправляемые, гидравлические, компенсирующие;
              li подвижные, неподвижные, свободного хода;
              li металлические и с неметаллическими элементами;
              li с цилиндрическими и конусовидными отверстиями;
              li для коротких и для длинных концов валов.
            p.text.text--justify
              | Выбор материала осуществляется специалистами, которые учитывают проектные требования и характер нагрузок и рабочей среды. Изготовление муфт осуществляется с помощью новейших токарных, фрезерных станков с ЧПУ. Кроме того, мы предоставляем услуги нарезки зубьев и дополнительной металлообработки – для увеличения прочности и надежности изделий. Новейшие металлорежущие инструменты различных видов и высокий профессионализм наших сотрудников гарантируют точность всех манипуляций и исключительное качество геометрии муфт. Готовые изделия тщательно изучаются на предмет отсутствия дефектов, размера зазоров и соответствия технических параметров требованиям заказчика.
            p.text.text--justify
              b Изготовление муфт по чертежам заказчика 
              | – одно из основных направлений работы концерна. Сроки необходимые на производство заготовки минимальные, при этом качество производимых деталей всегда остается на высоком техническом уровне. Специалисты нашего завода периодически отправляются на курсы повышения квалификации на ведущие станкостроительные предприятия страны, что позволяет нашим сотрудникам всегда оставаться на высоте.
            p.text.text--justify
              | Если вас интересует 
              b производство муфт
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
          //-article.main__article
            p.text.text--justify
              b Фланец 
              | – это кольцевое изделие, использующееся для герметизации трубопроводов, в частности, для герметичного соединения между собой труб. Фланцы изготавливаются в соответствии с техническими требованиями самой системы трубопровода (давление, рабочая температура и т.д.). Для изготовления фланцев мы используем высокопрочные и качественные материалы (в основном нержавеющая сталь и сплавы стали).
            p.text.text--justify
              b Стальные фланцы 
              | предназначены для прочного и герметичного присоединения труб и трубопроводной арматуры. Для монатажа разного рода оборудования к самому трубопроводу.
            p.text.text--justify
              b Изготовление фланцев
            p.text.text--justify
              | Современное производство фланцев осуществляется с помощью использования метода ковки или выточки из стали. Все стальные фланцы, которые можно сегодня купить на отечественном рынке, - есть результат использования одной из этих двух технологий.
            p.text.text--justify
              | Изготовление фланцев методом ковки осуществляется из сплава стали определенной марки в соответствии со следующими этапами:
            ul.list
              li Разогрев стали до требуемого температурного режима;
              li
                | Отшамповка посредством специального пресса заготовки, соответствующей чертежному эскизу;
              li
                | Перенесение полученной формы на штамп с последующим образованием наружной поверхности фланца;
              li Помещение заготовки под пресс;
              li Механическая обработка формы детали.
            p.text.text--justify
              | Ковка как метод изготовления фланцев является самым популярным. Он обеспечивает прочность, износостойкость и отличные механические свойства изделия.
            p.text.text--justify
              | Изготовление фланцев способом выточки подразумевает собой обработку листа стали определенной толщины в соответствии со следующей технологией:
            ul.list
              li
                | Формирование с заданными размерами при помощи специальных металлорежущих аппаратов;
              li Доведение заготовки до требуемого состояния электросварочным оборудованием.
            p.text.text--justify
              | Этот вид изготовления фланцев – идеальный и, по сути, единственный вариант, если требуется деталь большого размера по индивидуальному заказу. Процесс производства фланцев в кузнечном цехе подразумевает технологический цикл, состоящий из таких операций, как заготовка, деформация и окончательная механическая обработка.
            p.text.text--justify
              b Нержавеющие фланцы
            p.text.text--justify
              | Фланец может быть выполнен из различных материалов – чугуна, алюминия, бронзы, латуни и даже пластика, но одним из наиболее востребованных на сегодняшний день является нержавеющая сталь. Нержавеющие фланцы широко используются в различных отраслях промышленности – нефте-, газо-, водопроводной. Фланцы, изготовленные из нержавеющей стали, необходимы для соединения трубопроводов с различным оборудованием, используются для монтажа частей трубопроводов. Кроме того, возможно применение нержавеющих фланцев в качестве корпусных деталей.
            p.text.text--justify Существует 4 вида нержавеющих фланцев, соответствующих российским стандартам:
            ul.list
              li
                | лоские, или приварные. Являются наиболее распространенным типом изделий, обеспечивают удобство и простоту монтажа, применяются в системах трубопроводов с низким давлением.
              li
                | Воротниковые фланцы. Их характеризуют высокие показатели прочности, обеспечиваемые конструктивными особенностями и способом присоединения к трубе. Такой фланец подходит для систем с высоким давлением.
              li Свободные на приварном кольце.
              li Резьбовые фланцы.
            p.text.text--justify
              | Если вас интересует 
              b производство фланцев
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
