doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Производство деталей для машиностроения в Set Service Group'
  -let heading = 'Детали для машиностроения'
  -let parent = 'Продукция'
  -let keywords = "детали для машиностроения, детали для машиностроения производство, детали для машиностроения на заказ, детали для машиностроения по чертежу, детали для машиностроения изготовление"
  -let description = 'Шестерни, валы, шкивы, оси, муфты, фланцы и многие другие детали для машиностроительной отрасли. Гарантированное качество.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-loop="true" data-autoplay="false")
              img(src="../img/for-pic-sprites/детали для машиностроения.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству деталей для машиностроения. Наши специалисты в кратчайшие сроки обработают вашу заявку и предложат качественные варианты реализации проекта.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify Set Service Group предлагает производство деталей для строительных, машиностроительных отраслей. В нашем распоряжении - хорошо оснащенные цеха механообработки, участки сварки, и потому мы можем изготавливать разнообразные изделия. Принимаем заявки на крепеж и сборочные элементы, металлопрокат, детали металлоконструкций любой конфигурации. 
            p.text.text--justify Детали для машиностроения, которые мы регулярно производим:
            ul.list
              li 
                b Колеса зубчатые. 
                | Эта деталь представляет собой диск с зубьями на конической или цилиндрической поверхности. Изготавливаются зубчатые колёса как на специальном оборудовании, так и на универсальных металлообрабатывающих станках с применением дополнительных приспособлений. 
              li 
                b Шестерни. 
                | Цилиндрические прямозубые шестерни, разработанные для создания зацепления непосредственного контакта. А также Косозубые шестерни в качестве усовершенствованного варианта прямозубой передачи.
              li 
                b Вал-шестерни. 
                | Изготовление производится на фрезерно-токарных станках, создается как из стали, так и из цветных металлов. Преимуществом такой детали стоит назвать простоту замены, поскольку в случае поломки одного из элементов нет необходимости в замене всех связанных элементов
              li 
                b Шкивы. 
                | Фрикционное колесо с ободом или канавкой по окружности, которое передаёт движение приводному ремню или канату. Изделия данного типа преимущественно производятся из углеродистой и нержавеющей стали, алюминия, чугуна, дюраля, а также капролона и текстолита.
              li 
                b Зубчатые рейки. 
                | При изготовлении реек основным материалом является инструментальная сталь, а также возможно применение закаленной и нержавеющей стали. В процессе производства зубчатые рейки могут подвергаться различным видам металлообработки.
              li 
                b Валы. 
                | Это металлические детали цилиндрической формы с круглым сечением. Так как валы принимают на себя основную нагрузку, от них во многом зависит работоспособность и долговечность оборудования.
              li 
                b Оси. 
                | Для увеличения прочности запчасти, производство осей совершается с неотъемлемым формированием плавных переходов там, где меняется ее диаметр. Обработка металла и тип главного материала производства оси обусловлены ее конструкторскими особенностями и областью применения.
              li 
                b Кожухи. 
                | Изготовление кожухов необходимо для защиты вращающегося механизма производственного оборудования, станка от внешнего воздействия, попадания частиц пыли, грязи и других посторонних предметов.
              li 
                b Муфты. 
                | Устройство, соединяющее два конца валов друг с другом для передачи крутящего момента. Свободно сидящие на валах детали также соединяются с ними муфтами. В зависимости от конструктивных особенностей, муфты могут соединять два вала на одной оси, либо валы, находящиеся под углом.
              li 
                b Фланцы. 
                | Кольцевое изделие, использующееся для герметизации трубопроводов, в частности, для герметичного соединения между собой труб.
              li 
                b Корпуса приборов. 
                | Производственные мощности нашего предприятия позволяют изготавливать металлические корпуса различных форм и типов. Изготовление осуществляется исключительно из высококачественной стали, что является гарантией высокой коррозийной стойкости готового изделия.
              li 
                b Обоймы. 
                | Обоймы относительно малых размеров требуются в достаточно больших количествах, поэтому изготовление обойм происходит при высокой оснащенности технологического процесса с использованием высокопроизводительного оборудования. Токарную обработку ведут на вертикальном восьмипозициониом полуавтомате при двух - цикловой наладке. Наладка предусматривает обработку заготовки с припуском на чистовую обработку по трем поверхностям, связанным требованиями взаимного расположения
            p.text.text--justify 
              b Этапы производственного цикла
            ul.list
              li 
                b Анализ технической документации. 
                | Это важно, чтобы получить представление о точностных параметрах и особых требованиях к изделию.
              li 
                b Определение технологических задач. 
                | Выявление наиболее сложных задач процесса. Дальше последует разработка основных методов достижения заявленных характеристик.
              li 
                b Подготовка технологии (маршрута обработки). 
                | Разработка последовательности операций с расчетом размерных цепей. Это делается для того, чтобы выдерживать и контролировать все параметры на каждом этапе.
              li 
                b Наладка оборудования. 
                | Подбор, установка инструмента, проработка первой детали, внесение необходимых изменений в технологию.
              li 
                b Обработка. 
                | Процесс точно соответствует заданному технологическому маршруту.
              li 
                b Контроль точностных параметров. 
                | Измерение основных (или всех) параметров.
            p.text.text--justify 
              b Стоимость работ 
              | зависит от количества выпускаемых изделий. Порядок действий, приведенный выше, необходимо соблюдать как для одного элемента, так и для крупной партии. Поэтому иногда дешевле купить новую вещь, чем изготовить отдельный элемент в единственном экземпляре (например, стиральная машина или производство только вала для нее).
            p.text.text--justify 
              b Нестандартные случаи
            p.text.text--justify  Кроме обычных бытовых изделий, с простыми формами и долгой историей, вам могут понадобиться сложные конфигурации.
            p.text.text--justify  
              | Мы предлагаем выполнение заявки 
              b по чертежам
              | . Вы можете сами предоставить чертежи с указанным размером, формой. Такой вариант удобен тем, что вам не придется искать уже готовые элементы. Ведь они могут не подойти вам по различным параметрам! Исполнение по чертежам клиента – это гарантия того, что мы учтем все нюансы индивидуального заказа.
            p.text.text--justify 
              | Еще один вариант — 
              b изготовление по образцу
              | . Вы можете предоставить нам металлоизделие и заказать, чтобы мы сделали для вас точно такое же. Мы проведем все необходимые замеры, составим чертеж. Также компания «Атлант Металл» применяет метод штамповки. Подобный способ часто используется для создания разнообразных металлоизделий. Штамповка – один из основных процессов в машиностроении, позволяющий получать запчасти для автомобилей, электроприборов, самолетов и железнодорожных вагонов. Это относительно простой (при применении в промышленных условиях) метод, - можно сократить расходы и энергозатраты, а заодно увеличить прочность изделия.
            p.text.text--justify Правильно организованный процесс производства и обработки металла гарантирует вам индивидуальные условия сотрудничества. Более того, мы можем предложить своим клиентам различные способы организации деятельности в зависимости от нюансов заказа. Учитывается стоимость материала, затраты на обработку, сложность конфигурации детали, а также производятся расчеты для того, чтобы сократить ваши расходы.
            p.text.text--justify  
              | Если вас интересует 
              b производство деталей для машиностроения
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
