doctype
html
  -let title = 'Детали для машиностроения'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{title}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-products/ДеталиМашиностроения.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству деталей для машиностроения. Наши специалисты в кратчайшие сроки обработают вашу заявку и предложат качественные варианты реализации проекта.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify Set Service Group предлагает производство деталей для строительных, машиностроительных отраслей. В нашем распоряжении - хорошо оснащенные цеха механообработки, участки сварки, и потому мы можем изготавливать разнообразные изделия. Принимаем заявки на крепеж и сборочные элементы, металлопрокат, детали металлоконструкций любой конфигурации. Также к вашим услугам резка, сварка, обработка металла.
            p.text.text--justify Этапы производственного цикла
            ul.list
              li 
                b Анализ технической документации 
                | Это важно, чтобы получить представление о точностных параметрах и особых требованиях к изделию.
              li 
                b Определение технологических задач 
                | Выявление наиболее сложных задач процесса. Дальше последует разработка основных методов достижения заявленных характеристик.
              li 
                b Подготовка технологии (маршрута обработки)
                | Разработка последовательности операций с расчетом размерных цепей. Это делается для того, чтобы выдерживать и контролировать все параметры на каждом этапе.
              li 
                b Наладка оборудования 
                | Подбор, установка инструмента, проработка первой детали, внесение необходимых изменений в технологию.
              li 
                b Обработка 
                | Процесс точно соответствует заданному технологическому маршруту.
              li 
                b Контроль точностных параметров 
                | Измерение основных (или всех) параметров.
            p.text.text--justify 
              b Стоимость работ 
              | зависит от количества выпускаемых изделий. Порядок действий, приведенный выше, необходимо соблюдать как для одного элемента, так и для крупной партии. Поэтому иногда дешевле купить новую вещь, чем изготовить отдельный элемент в единственном экземпляре (например, стиральная машина или производство только вала для нее).
            p.text.text--justify 
              b Нестандартные случаи
            p.text.text--justify Кроме обычных бытовых изделий, с простыми формами и долгой историей, вам могут понадобиться сложные конфигурации.
            p.text.text--justify 
              | Мы предлагаем выполнение заявки 
              b по чертежам
              | . Вы можете сами предоставить чертежи с указанным размером, формой. Такой вариант удобен тем, что вам не придется искать уже готовые элементы. Ведь они могут не подойти вам по различным параметрам! Исполнение по чертежам клиента – это гарантия того, что мы учтем все нюансы индивидуального заказа.
              p.text.text--justify 
                | Еще один вариант — 
                b изготовление по образцу
                | . Вы можете предоставить нам металлоизделие и заказать, чтобы мы сделали для вас точно такое же. Мы проведем все необходимые замеры, составим чертеж. Также компания «Атлант Металл» применяет метод штамповки. Подобный способ часто используется для создания разнообразных металлоизделий. Штамповка – один из основных процессов в машиностроении, позволяющий получать запчасти для автомобилей, электроприборов, самолетов и железнодорожных вагонов. Это относительно простой (при применении в промышленных условиях) метод, - можно сократить расходы и энергозатраты, а заодно увеличить прочность изделия.
            p.text.text--justify Правильно организованный процесс производства и обработки металла гарантирует вам индивидуальные условия сотрудничества. Более того, мы можем предложить своим клиентам различные способы организации деятельности в зависимости от нюансов заказа. Учитывается стоимость материала, затраты на обработку, сложность конфигурации детали, а также производятся расчеты для того, чтобы сократить ваши расходы.
            p.text.text--justify
              | Если вас интересует 
              b производство деталей для машиностроения
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
