doctype
html
  -let title = 'Крепежные изделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Крепежные изделия
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/КрепежныеИзделия1.jpg')
              img(src='../img/metal-products/КрепежныеИзделия2.jpg')
              img(src='../img/metal-products/КрепежныеИзделия3.jpg')
          .main__info
            p.text.text--justify Set Service Group готов предоставить свои производственные мощности и услуги менеджеров для изготовления крепежных изделий в Санкт-Петербурге. Свяжитесь с нами, расскажите о своем проекте или производстве, и наши менеджеры оперативно подготовят для вас расчет и способы реализации.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            .outer.active 
              .inner Фундаментные болты
            .outer 
              .inner Винты
            .outer 
              .inner Шпильки
          article.main__article.main__article--active
            p.text.text--justify
              b Фундаментные блоки  
              | – основа любого строящегося здания. Именно на них приходится вся нагрузка сооружения.
            p.text.text--justify
              b Фундаментные блоки ФБС
              |  являются универсальным строительным материалом и широко используются при устройстве конструкций зданий любой сложности, сооружений различного назначения, подвалов, технического подполья, стен жилых и производственных помещений и пр. Большое разнообразие форм блоков позволяет реализовать практически любое техническое решение и дизайнерскую идею. Организовав собственное 
              b производство ФБС
              |  блоков с использованием нескольких форм, можно не только получить прибыльный бизнес, изготавливая наиболее ходовые варианты фундаментных блоков, но и существенно снизить затраты на застройку любого типа.
            p.text.text--justify
              | Мы 
              b изготавливаем анкерные фундаментные болты 
              | по стандарту ГОСТ 24379-80, который распространяется на болты фундаментные резьбой диаметром от 12 до 140 мм, предназначенные для закрепления оборудования и строительных конструкций.
            p.text.text--justify
              b Классификация фундаментных болтов
            ul.list
              li Конструктивному решению;
              li Способам монтажа в фундамент;
              li Способам крепежа в фундаменте;
              li И условиям, в которых эксплуатируется изделие.
            p.text.text--justify По конструктивным решениям анкерные фундаментные болты делятся на типы:
            ul.list
              li с анкерной плитой;
              li изогнутые;
              li съемные;
              li составные;
              li с коническим концом;
              li прямые.
            p.text.text--justify
              | По способам установки в фундамент анкерные болты делятся на монтируемые до бетонирования фундамента и монтируемые на готовые фундаменты. К первым относятся изогнутые Тип 1.1, с анкерной плитой Тип 2, составные Тип 3, съемные Тип 4 Ко вторым относятся Тип 1.2, прямые Тип 2, с коническим концом Тип 6.
            p.text.text--justify По способам крепления в фундаментах болты делятся на:
            ul.list
              li
                | Укрепляемые с взаимодействием элементов болтов их плит анкерных или шпилек с фундаментом Типы с 1 по 4;
              li
                | Укрепляемые с помощью клея, а также различных смесей Типы с 5 по 6, исполнений 2 и 3,
              li Укрепляемые с помощью цанги разжимной Тип 6, исполнения 1.
            p.text.text--justify
              | Если вас интересует 
              b производство фундаментных болтов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify
              b Винты
              |  – крепежные изделия, которые изготавливают из сверхпрочных материалов. Данная продукция пользуется большим спросом в различных областях промышленности. Конструктивно винт представляет собой головку со шлицем и стержень с резьбой мелкого или крупного шага, в зависимости от назначения винта. Эти изделия применяют в качестве соединения различных деталей, оснащенных резьбой. Прежде всего, речь идет о мебели, технике – компьютеры, холодильники, стиральные машины и пр.
            p.text.text--justify Разновидности винтов и материалы изготовления
            p.text.text--justify Выделяют 2 большие группы винтов:
            ul
              li
                b Крепления
                | . Их используют для соединения конструкций оборудования, узлов техники и т.д.
              li
                b Установочные винты
                | . Данную разновидность крепежных изделий применяют для прочного закрепления различных элементов друг напротив друга.
            p.text.text--justify
              | Это далеко не единственная классификация, по которой могут разделяться винты. Также они выделяются по назначению и конструкции:
            ul.list
              li
                | Потайные. Эти изделия необходимы для соединения легких конструкций из металла и дерева.
              li
                | С цилиндрической головкой. Эта продукция обладает широкой сферой применения, начиная с мебельного производства и заканчивая строительной сферой.
              li
                | С полусферической головой. Используется в сфере приборостроения и машиностроения.
              li Мебельные винты. Эти изделия необходимы для соединения мебельных конструкций.
              li С полукруглой головкой и другие.
            p.text.text--justify
              | Винты различных видов могут изготавливаться из следующих материалов: нержавеющая, легирования или углеродистая сталь, а также из цветных металлов и их сплавов.
            p.text.text--justify
              | Если вас интересует 
              b производство винтов в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.

          article.main__article
            p.text.text--justify
              | Одним из видов крепежных изделий является 
              b шпилька
              | . Она представляют собой крепеж, в основе которого лежит цилиндрический стержень с нарезанной с одного или двух торцов резьбой. Шпильки обеспечивают соединение между собой узлов и деталей.
            p.text.text--justify Конструктивные особенности шпилек с резьбой
            p.text.text--justify
              b Шпилька с резьбой
              |  – метизное изделие в форме круглого стержня с нанесённой резьбой. Если резьба только на одном конце, шпилька является ввинчиваемой. Есть категория шпилек с резьбой, нанесённой по всей длине.
            p.text.text--justify
              | Основной материал, из которого наши специалисты изготавливают шпильки – это нержавеющая сталь или особый вид конструкционной стали, так называемая автоматная. При изготовлении такие шпильки для усиления прочностных характеристик и устойчивости к коррозии покрываются цинковым или алюмоцинковым слоем и пассивирующей плёнкой.
            p.text.text--justify Сферы применения шпилек
            p.text.text--justify
              | Шпильки широко востребованы в атомной энергетике и нефтехимии. Большая длина части с резьбой позволяет использовать для создания подвесных конструкций любого назначения, например для прокладки инженерных коммуникаций вентиляции, водопроводных сетей, различных кабельных разводов.
            p.text.text--justify
              b Резьбовые шпильки
              |  используются как отдельные крепёжные элементы, так и как части анкерных болтов. Также их применяют для креплений строительных материалов неплотной рыхлой структуры, таких как пенобетоны или пустотелые блоки. Шпилечное соединение в этом случае будет безальтернативным вариантом прочной фиксации.
            p.text.text--justify Преимущества производства шпилек при помощи специалистов Set Service Group:
            ul.list
              li
                | возможность точной оперативной сборки, удобство крепления и последующей эксплуатации;
              li небольшие затраты при использовании в конструкциях под высокой нагрузкой;
              li
                | стандартизованная метрическая резьба любой шпильки позволяет использовать её в изделиях различных производителей;
              li большой диапазон длин и диаметров;
              li
                | возможность уменьшения длины шпильки простым порезом болгаркой или ножовкой, или же увеличения её при использовании резьбовой втулки и муфты;
              li все размеры и конструкции шпилек регламентированы ГОСТом.
            p.text.text--justify
              | Если вас интересует 
              b производство шпилек в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug

        
