doctype
html
  -let title = 'Редукторы / Зубчатые передачи / Комплектующие'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{title}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-products/Редукторы1.jpg")
              img(src="../img/metal-products/Редукторы2.jpg")
              img(src="../img/metal-products/Редукторы3.jpg")
          .main__info
            p.text.text--justify Set Service Group занимается изготовлением промышленных редукторов, зубчатых передач и комплектующих по всей России. Наша продукция гарантированно отличается качеством и надежностью. Свяжитесь с нами, и ваша заявка будет обработана нашими менеджерами в самые короткие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            .outer.active
              .inner Редукторы
            .outer
              .inner Зубчатые передачи
            .outer
              .inner Комплектующие
          article.main__article.main__article--active
            p.text.text--justify Огромная производственная база предприятия, оснащена высокотехнологичным оборудованием, которое позволяет оказывать широкий спектр услуг по типовому производству, техническому сопровождению, а также изготовлению на заказ промышленных редукторов всех типов и типоразмеров.
            p.text.text--justify Квалифицированные специалисты, многолетний опыт работы и применение новейших технологий дают возможность:
            ul.list
              li Выполнять заказы в сжатые сроки;
              li Производить продукцию с высокой степенью надежности;
              li Предоставлять гарантию на продукцию собственного производства;
              li Вести умеренную ценовую политику;
              li Осуществлять удобную доставку покупателю.
            p.text.text--justify Производство редукторов осуществляется в строгом соответствии с установленными техническими характеристиками и государственным стандартами. Огромный запас комплектующих, позволяет с минимальными затратами создавать редукторы различных размеров, характеристик и других требований заказчика.
            p.text.text--justify Каждый выпускаемый промышленный редуктор обладает быстроходным (входным) и тихоходным (выходным) валом и способен выдержать самые жесткие условия эксплуатации. Литой корпус, поверхностно закаленные валы и шевингованные винтовые зубчатые колеса в совокупности обеспечивают долгую и бесперебойную службу.
            p.text.text--justify Промышленный редуктор может быть приспособлен практически к любой задаче. Это достигается путем оснащения каждой модели механизмом отбора мощности для крепления к катеру маховика, работающим как независимое сцепление с автоматическим или ручным управлением.
            p.text.text--justify Set Service Group регулярно производит следующие типы редукторов:
            ul.list
              li Крановые редукторы
              li Планетарные редукторы
              li Одноступенчатые цилиндрические редукторы
              li Двухступенчатые цилиндрические редукторы
              li Трехступенчатые цилиндрические редукторы
              li Одноступенчатые червячные редукторы
              li Двухступенчатые червячные редукторы
            p.text.text--justify 
              | Если вас интересует 
              b производство промышленных редукторов
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16 
              | или обратиться с вопросом, 
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify В подавляющем большинстве конструкций крановых механизмов применяются закрытые (редукторные) зубчатые передачи. Открытые зубчатые передачи используются лишь в качестве тихоходной ступени механизмов главного подъема большегрузных кранов, а также в некоторых типах механизмов передвижения.
            p.text.text--justify Редукторы выполняются зубчатыми с цилиндрическими и коническими колесами и имеют развернутое, соосное и планетарное исполнение. Наибольшее распространение имеют редукторы развернутого исполнения с цилиндрическими зубчатыми колесами. Количество ступеней зубчатой передачи устанавливается исходя из общего передаточного числа, которое определяется отношением угловой скорости вала двигателя к угловой скорости; вала барабана или ходового колеса. В механизмах подъема, как правило, применяются горизонтальные редукторы, а в механизмах передвижения — как горизонтальные, так и вертикальные.
            p.text.text--justify Set Service Group готов предоставить свои производственные мощности для изготовления следующих видов зубчатых передач:
            ul.list
              li Планетарные зубчатые передачи. 
              li Шевронные передачи
              li Реечные передачи
              li Глобоидные передачи
              li Конические зубчатые передачи
              li Шестерни
              li Зубчатые передачи по чертежам заказчика
            p.text.text--justify
              | Если вас интересует 
              b производство зубчатых передач
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify Огромная производственная база Set Service Group оснащена высокотехнологичным оборудованием, которое позволяет оказывать широкий спектр услуг по типовому производству, техническому сопровождению, а также изготовлению на заказ промышленных редукторов всех типов и типоразмеров. Таким образом мы можем предложить своим клиентам не только комплексные проекты под ключ, но и поставку комплектующих для редукторов: вентили, клапаны, прокладки, переходники, валы, колеса, корпуса, ремкомплекты и т.п.
            p.text.text--justify Если вам необходима замена определенных деталей или комплектующих редуктора – обращайтесь в Set Service и мы изготовим нужную вам деталь. Типовые комплектующие, которые мы регулярно производим:
            ul.list
              li Колеса зубчатые для редуктора. Эта деталь представляет собой диск с зубьями на конической или цилиндрической поверхности. Изготавливаются зубчатые колёса как на специальном оборудовании, так и на универсальных металлообрабатывающих станках с применением дополнительных приспособлений. 
              li Шестерни для редуктора. Цилиндрические прямозубые шестерни, разработанные для создания зацепления непосредственного контакта. А также Косозубые шестерни в качестве усовершенствованного варианта прямозубой передачи.
              li Вал-шестерни для редуктора. Изготовление производится на фрезерно-токарных станках, создается как из стали, так и из цветных металлов. Преимуществом такой детали стоит назвать простоту замены, поскольку в случае поломки одного из элементов нет необходимости в замене всех связанных элементов
              li Шкивы для редуктора. Изделия данного типа преимущественно производятся из углеродистой и нержавеющей стали, алюминия, чугуна, дюраля, а также капролона и текстолита.
              li Зубчатые рейки для редуктора. При изготовлении реек основным материалом является инструментальная сталь, а также возможно применение закаленной и нержавеющей стали. В процессе производства зубчатые рейки могут подвергаться различным видам металлообработки.
              li Валы для редуктора. Это металлические детали цилиндрической формы с круглым сечением. Так как валы принимают на себя основную нагрузку, от них во многом зависит работоспособность и долговечность редуктора.
              li Оси для редуктора. Для увеличения прочности запчасти, производство осей совершается с неотъемлемым формированием плавных переходов там, где меняется ее диаметр. Обработка металла и тип главного материала производства оси обусловлены ее конструкторскими особенностями и областью применения.
            p.text.text--justify
              | Если вас интересует 
              b производство комплектующих для редукторов
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
