doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Гидравлическое оборудование и гидроцилиндры в Set Service Group'
  -let heading = 'Гидравлическое оборудование / Гидроцилиндры / Комплектующие'
  -let parent = 'Продукция'
  -let keywords = "гидравлическое оборудование, гидроицилиндры, гидрокомпоненты, гидрооборудование, гидравлическое оборудование производство"
  -let description = 'Производство гидравлического оборудования любой сложности. Гидроцилиндры и комплектующие.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-loop="true" data-autoplay="false" data-maxwidth="262")
              img(src="../img/for-pic-sprites/гидравлическое оборудование.jpg")
          .main__info
            p.text.text--justify Set Service Group занимается изготовлением гидравлического оборудования, гидроцилиндров и комплектующих по всей России. Наша продукция гарантированно отличается качеством и надежностью. Свяжитесь с нами, и ваша заявка будет обработана нашими менеджерами в самые короткие сроки.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles.main__articles--with-btns.main__articles--with-btns--3
          .main__buttons
            .outer.active
              .inner Гидравлическое оборудование
            .outer
              .inner Гидроцилиндры
            .outer
              .inner Комплектующие
          article.main__article.main__article--active
            p.text.text--justify Set Service Group специализируется в области разработки, производства и продажи гидрооборудования и разнообразных гидравлических систем. Продукция компании применяется в ключевых отраслях промышленности от добычи ресурсов, переработки материалов до сложных высокотехнологичных производств государственного значения. Некоторые изделия не имеют аналогов на мировом рынке.
            p.text.text--justify Наиболее широкая продуктовая линейка у испытательных стендов. Они отличаются номенклатурой объектов испытаний и функциональными методами тестирования конкретных изделий, в соответствии с предъявляемыми техническими требованиями. Стенды для испытаний гидрокомпонентов предназначены для тестирования насосов и гидромоторов, гидрораспределителей и клапанной аппаратуры, гидроцилиндров, фильтров, рукавов высокого давления. В состав этой же группы входят стенды для испытаний баллонов и ёмкостей, трубопроводов и арматуры. Ряд стендов разработан для механических испытаний материалов, оснастки и специализированного оборудования.
            p.text.text--justify Наше предприятие стабильно выпускает следующие выводы гидравлического оборудования:
            ul.list
              li Насосные станции. Комплексы, состоящие из насосных установок, различных гидравлических трубопроводов, измерительного оборудования, клапанных блоков, подъемных установок, а также сооружения, в которых расположены насосные станции.
              li Испытательные стенды. Наиболее широкая продуктовая линейка у испытательных стендов. Они отличаются номенклатурой объектов испытаний и функциональными методами тестирования конкретных изделий, в соответствии с предъявляемыми техническими требованиями. Стенды для испытаний гидрокомпонентов предназначены для тестирования насосов и гидромоторов, гидрораспределителей и клапанной аппаратуры, гидроцилиндров, фильтров, рукавов высокого давления. В состав этой же группы входят стенды для испытаний баллонов и ёмкостей, трубопроводов и арматуры. Ряд стендов разработан для механических испытаний материалов, оснастки и специализированного оборудования.
              li Гидрокомпоненты сверхвысокого давления. Это составляющие гидродинамических и гидростатических контуров. Каждый элемент гидравлических систем является важным звеном, постоянно или периодически подвергается давлению, контактирует с гидравлической жидкостью. Так как функционируют гидрокомпоненты в сверхсложных условиях, регулярно повышаются и становятся жестче требования к их эксплуатационным характеристикам.
              li Гидроинструменты. Гидро-прессы, гидро-домкраты и пр. идравлическое и пневматическое оборудование – универсальная закрытая система. Оборудование может эксплуатироваться в любых, в том числе – экстремальных, эксплуатационных условиях, поскольку нечувствительно к пыли, твердым загрязнениям, низким отрицательным температурам, воде и др.
              li Гидрооборудование для нетфегазовой отрасли. Гидравлическое оборудование для оснащения монтажно – строительных, эксплуатационных, ремонтных предприятий нефтегазовой отрасли. Гидрооборудование для нефтегазовой отрасли включает весь необходимый ассортимент продукции: стенды испытательные, испытательные насосные станции, гидравлическое оборудование и инструмент при строительстве, обслуживании и ремонте объектов нефтегазового назначения, такелажное оборудование, оборудование для бестраншейной прокладки труб, рукава высокого давления, компрессорная техника, гидрокомпоненты.  
              li Гидроборудование для строительной отрасли. Оборудование для мостостроения, Оборудование для извлечения обсадных колонн, Гидронагружатели для испытания кранов мостового типа, Гидравлические системы для испытания свай и прочее.
              li Гидрооборудование для судостроения.
              li Силовое такелажное оборудование. Оборудование для перемещения тяжелых и крупногабаритных объектов: Гидравлическаи системы горизонтального скольжения, гидравлические такелажные толкатель по рельсам, канатные гидроподъемники, подъемно-монтажные домкратные мачты, системы синхронного подъема с взвешиванием объекта, портальные гидравлические подъемники и пр.
            p.text.text--justify Многие технические решения, основанные на использовании прогрессивных систем гидропривода и гидроавтоматики с применением микропроцессорного управления, успешно реализованы специалистами нашей компании в крупных инженерных проектах федерального масштаба. Ассортимент выпускаемой продукции не ограничивается серийными товарными группами гидравлического оборудования. Set Service Group выполняет эксклюзивные, часто уникальные, проекты по техническим требованиям клиентов. Компания имеет сеть филиалов в России и СНГ. Это дает возможность оперативно общаться с клиентом с высокой эффективностью, видеть первичные источники проблем, быстро находить правильные решения поставленных задач, обеспечивать партнерам профессиональный сервис выпускаемого оборудования. 
            p.text.text--justify 
              | Если вас интересует 
              b производство гидравлического оборудования
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16 
              | или обратиться с вопросом, 
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify Силовые гидроцилиндры являются объемными гидродвигателями, предназначенными для преобразования энергии потока рабочей жидкости в механическую мощность исполнительного механизма.
            p.text.text--justify Все гидроцилиндры поступательного действия содержат цилиндрический корпус, поршень, шток, переднюю и заднюю крышки, статические и динамические уплотнения поршня и штока, устройства крепления.
            p.text.text--justify Принцип работы всех гидроцилиндров одинаков. Как только жидкость от насоса поступает в рабочую полость, она воздействует на подвижный элемент (плунжер, поршень) и перемещает его. Чем больше величина потока (расход), поступающего в гидроцилиндр, тем выше скорость перемещения штока. При действии на шток внешней нагрузки, в рабочей полости растет давление жидкости, следовательно, усилие, развиваемое гидроцилиндром, увеличивается. Как только величина давления достигнет значения полного открытия предохранительного клапана гидросистемы, движение штока остановится, и вся жидкость через клапан начнет поступать на слив.
            p.text.text--justify
              b Сфера применения гидравлических цилиндров
            ul.list
              li черная металлургия — гидроцилиндры для открытия печных дверей, для привода нажимных устройств линий прокатных станов;
              li цементная промышленность, производство строительных материалов — гидроцилиндры для дробильного оборудования, прессов;
              li энергетический комплекс — гидроцилиндры, используемые для строительства и последующего обслуживания дамб, а также регулирования водосброса, открытия и закрытия шлюзов;
              li строительство — гидроцилиндры для проходческих щитов и строительного оборудования;
              li переработка мусора — гидроцилиндры для уплотнителей мусора;
              li морской транспорт и порты — рулевые гидроцилиндры и стабилизаторы на судах, гидроцилиндры для кабельных судов (прокладка кабелей по дну), подъема палуб;
              li нефтедобывающий комплекс — гидроцилиндры для подъемно-транспортного оборудования (подъем нефтепроводов) и привода задвижек.
            p.text.text--justify Сотрудничество с известными производителями гидроцилиндров дает множество преимуществ:
            ul.list
              li собственное современное производство позволяет получить любую конструкцию специального гидроцилиндра с диаметром поршня до 1000 мм и ходом штока до 18000 мм;
              li современные технологии обеспечивают высокую точность при обработке рабочих поверхностей и тем самым снижают коэффициент износа узлов гидроцилиндра;
              li в лаборатории разработан ряд специальных антикоррозийных покрытий для работы гидроцилиндров в любых условиях окружающей среды.
              li высококачественные уплотнения в штоковой и поршневой полостях гидроцилиндров позволяют использовать рабочую жидкость на давлении до 700 атм.
              li 100% продукции проходит испытания на прочность и износостойкость перед передачей заказчику.
            p.text.text--justify
              | Если вас интересует 
              b производство гидроцилиндров
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify 
              b Гидравлические компоненты 
              | – составляющие гидродинамических и гидростатических контуров. Каждый элемент гидравлических систем является важным звеном, постоянно или периодически подвергается давлению, контактирует с гидравлической жидкостью. Так как функционируют гидрокомпоненты в сверхсложных условиях, регулярно повышаются и становятся жестче требования к их эксплуатационным характеристикам.
            p.text.text--justify Set Service Group занимается продажей на правах дилера надежной гидравлики проверенных брендов и изготовлением систем по собственным разработкам. Выпускаемое оборудование оснащается проверенными гидрокомпонентами от лучших производителей. Данные устройства компания не только использует в качестве элементов созданного ею оборудования, но и предлагает клиентам.
            p.text.text--justify Мы готовы предложить:
            ul.list
              li доступные цены, обусловленные длительным сотрудничеством с изготовителями и прямыми контактами;
              li оперативную обработку заявок;
              li оборудование и элементы, качество которых регламентировано требованиями DIN/EN.
            p.text.text--justify На все предложенные устройства, детали, приспособления, участвующие в гидравлической передаче, распространяются гарантийные обязательства.
            p.text.text--justify
              | Если вас интересует 
              b производство гидрокомпонентов и комплектующих
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
