doctype
html
  -let title = 'Детали для станков'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Детали для станков
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции1.jpg")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции2.jpg")
              img(src="../img/metal-structures/СтроительныеМеталлоконструкции3.jpg")
          .main__info
            p.text.text--justify Многопрофильная группа компаний Set Service предлагает свои услуги по производству деталей для станков. Вы в любой момент можете позвонить нам по телефону или оставить заявку, которая будет обработана нашими специалистами в кратчайшие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              | Производственная компания Set Service Group готова предложить свои услуги по 
              b изготовлению деталей
              |  для станков. Мы изготавливаем продукцию стандартного исполнения, детали по чертежам заказчика, либо предоставленному образцу изделия. Парк нашего оборудования включает токарные, фрезерные станки, вертикально-сверлильные, токарные универсальные, токарно-карусельные, расточные, лазерные, строгальные и иные станки.
            p.text.text--justify Мы изготавливаем следующие типы деталей, узлов и механизмов для станков:
            ul.list
              li
                b Валы.
                |  Предназначены для передачи крутящего момента и принятия действующих сил от деталей, которые расположены на них. Изготавливаем прямые, эксцентриковые валы гладкой, ступенчатой, полой формы. Так же рады предложить Вам изготовление карданных валов любой сложности и типоразмера.
              li
                b Шкивы.
                |  Используются для передачи движения на ремень, либо канат. На нашем предприятии налажено производство шкивов клиновой, зубчатой, ременной, клиноременной формы любого типоразмера. Осуществляем изготовление узлов с ременной передачей.
              li
                b Зубчатые колеса и шестерни.
                |  Являются деталями зубчатой передачи, выполненными по типу диска с необходимым числом зубьев конусной либо цилиндрической формы. Как принято, деталь с небольшим числом зубьев называют шестерней, а изделие с большим числом зубьев – зубчатым колесом. Данные изделия нашли применение практически во всех станках, где служат в качестве преобразователя и передатчика вращающего момента. У нас Вы можете заказать изготовление как одних колес, так и зубчатых пар, либо валов-шестерен.
              li
                b Звезды.
                |  Представляют собой колеса с зубьями для зацепления с цепями, либо другими подобными изделиями, имеющими зазубрины или выемки. Главное отличие от зубчатых колес в том, что звезды не предназначены для непосредственной работы в паре.
              li
                b Муфты и муфтовые соединения.
                |  Служат для соединения концов валов между собой. Позволяют передавать механическую энергию без утраты ее изначального показателя. Мы производим фланцевые, втулочные, зубчатые и другие исполнения муфт и муфтовых соединений.
              li
                b Червяки и червячные передачи.
                | Применяются в станках для увеличения числового значения и передачи крутящего момента, а так же для снижения показателя угловой скорости. Червяки изготавливаются с формой винта, выполненного со спецрезьбой.
              li
                b Рейки и реечные передачи.
                | Принцип работы передачи выглядит следующим образом: зубчатое колесо, вращаясь, перемещается по рейке, тем самым преобразуя свое вращательное движение в поступательное перемещение. В станках данные передачи используются для перемещения кареток суппортов.
              li
                b Винтовые передачи.
                |  Передача винт-гайка, как и реечная передача, применяется для получения поступательного перемещения из вращательного движения. Здесь винт совершает вращательное движение, а гайка служит для передачи прямолинейного движения на соединенные с ней детали. В станках используют для передачи резцу поступательного движения или поперечной подачи.
              li
                b Корпусные детали.
                |  К данному типу изделий относятся коробка скоростей и подач, корпус редуктора и другие станочные элементы. Процесс изготовления деталей для станков такого вида требует особой точности, дабы выдержать все условия по расположению различных деталей, устанавливаемых в корпусах. Мы гарантируем требуемую жесткость и виброустойчивость, необходимую для корпусных деталей.
            p.text.text--justify
              | Если вас интересует 
              b производство деталей для станков в Санкт-Петербурге
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  include ../../includes/yandex-metrika.pug

        
