doctype
html
  -let title = 'Нестандартные изделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Нестандартные изделия
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/МуфтыФланцы1.jpg')
              img(src='../img/metal-products/МуфтыФланцы2.jpg')
          .main__info
            p.text.text--justify Современное производство нередко испытывает потребность в изготовлении нестандартных металлических изделий. Set Service Group осуществляет производство металлоконструкций любой сложности по чертежам заказчика.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              | Практически ни одна отрасль строительства не обходится без металлоконструкций. Группа компаний Set Service обладает серьезными производственными мощностями и грамотной командой специалистов для реализации заказа на 
              b производство нестандартных металлоизделий
              |  любой сложности. Мы профессионально проводим любые работы с металлом, включая гибку, резку, расточку, сварку, шлифовку, фрезерные и токарные работы. Каждый этап производства контролируется в соответствии со всеми ГОСТами и мировыми стандартами. Set Service Group имеет сертификаты качества от заводов-производителей на все изделия, представленные в нашем каталоге. А наши специалисты всегда помогут подобрать подходящий вариант в соответствии с нюансами проекта и личными пожеланиями заказчика.
            p.text.text--justify
              | Мы предлагаем вам купить 
              b изделия из металла любой
              |  сложности на заказ. Стандартизация и поток изделий определенного типа — дело хорошее, но увы, если руководствоваться только штампами и стандартными схемами, трудно претворить в жизнь новые идеи. 
              b Изготовление металлоизделий по чертежам
              |  и эскизам заказчика — услуга, которую мы считаем крайне важной и которая пользуется заслуженным вниманием наших клиентов. Если вам требуются нестандартные изделия из металла, звоните! Наши специалисты могут:
            ul.list
              li Выполнить заказ любой сложности, имея на руках ваши чертежи.
              li Создать чертежи самостоятельно, руководствуясь размерами и эскизами заказчика.
              li Изготовить металлоизделия как из черного, так и из цветного металла.
            br
            p.text.text--justify Изготовление и сборка металлоизделий
            p.text.text--justify
              b Изготовление металлоизделий
              |  проводится на современном оборудовании по последним технологиям металлоиндустрии. Готовые изделия по соображениям эстетики или для предотвращения коррозионного влияния факторов окружающей среды покрываются специальными составами. Сборка металлоизделий может производиться непосредственно на объекте силами наших специалистов.
            br
            p.text.text--justify Преимущества работы с Set Service
            ul.list
              li
                b Изготовление металлоизделий под ключ
                |  с любыми дополнительными элементами на собственном производственно-складском комплексе.
              li Безусловное гарантированное качество.
              li
                | Доступные цены благодаря тому, что среди наших партнеров — заводы по изготовлению металлоизделий и производители металла, с которыми мы работаем напрямую.
              li
                | Производство металлоизделий любой сложности, с возможностью доставки и сборки на месте.
            br
            p.text.text--justify Расчет стоимости металлоизделий
            p.text.text--justify Стоимость изготовления металлоизделий зависит от многих факторов:
            ul.list
              li цена материала;
              li стоимость работ по изготовлению и монтажу металлоизделий;
              li проектные работы, если заказчик предоставляет только размеры.
            p.text.text--justify
              | Чтобы уточнить сумму вашего заказа, вы можете связаться с нашими менеджерами по телефону 
              b 8 (812) 627-15-16
              |  или 
              b заполнить форму заказа
              | , после чего с вами свяжутся наши специалисты.
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug

        
