doctype
html
  -let title = 'Производство прецизионных деталей в Set Service Groupе'
  -let heading = 'Детали прецизионные'
  -let parent = 'Продукция'
  -let keywords = "Прецезионные детали, Прецезионные детали производство, Прецезионные детали изготовление, Прецезионные детали на заказ, Прецезионные детали производство рф"
  -let description = 'Компания Set Service Group будет полезна в любой ситуации, где требуется высокоточное прецизионное производство.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{heading}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-products/Прецизионные1.jpg")
              img(src="../img/metal-products/Прецизионные2.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству прецизионных деталей. Наши специалисты в кратчайшие сроки обработают вашу заявку и предложат качественные варианты реализации проекта.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify Компания Set Service Group будет полезна в любой ситуации, где требуется высокоточное прецизионное производство. Мы экономим время и деньги заказчика, сокращаем долю брака, повышаем производительность и увеличиваем выпуск продукции – от больших сложных деталей единичного производства до небольших фасонных деталей, а также любых промежуточных компонентов. В основе этого лежит наша система управления технологическим процессом, которая управляет каждым этапом изготовления и создаёт стабильный, надёжный и повторяемый технологический процесс.
            p.text.text--justify Мы предлагам изготовление по чертежам Заказчика или по образцу различных прецизионных деталей:
            ul.list
              li Корпуса для прецизионных деталей
              li Фланцы для прецизионных деталей
              li Шпиндели для прецизионных деталей
              li Калибры и измерительные оправки для прецизионных деталей
              li Валы для прецизионных деталей
              li Моноколеса для прецизионных деталей
              li Шестерни для прецизионных деталей
              li Шкивы для прецизионных деталей
            p.text.text--justify 
              b Виды обработки 
              | (возможен как полный цикл производства так и по согласованию выполнение отельных видов обработки):
            ul.list
              li Токарная обработка
              li Фрезерная обработка
              li Термообработка (включая цементацию и азотирование)
              li Шлифование
              li Полирование
            p.text.text--justify 
              b Обрабатываемые материалы:
            ul.list
              li Сталь (включая нержавеющие и жаропрочные стали)
              li Чугун
              li Титан и его сплавы
              li Цветные металлы
            p.text.text--justify 
              b Порядок изготовления деталей:
            ul.list
              li Конструкторская и технологическая проработка изготавливаемой детали
              li Согласование программы проверки изготовленной детали
              li Согласование сроков и стоимости изготовления с Заказчиком
              li Заключение договора
              li Производство
              li Сдача Заказчику на соответствие тех. требованиям паспорта изделия
            p.text.text--justify
              | Если вас интересует 
              b производство прецизионных деталей
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
