doctype
html
  -let title = 'Пресс-формы, штампы, матрицы'
  -let parent = 'Продукция'
  -let keywords = "пресс-формы, штампы, матрицы, матрицы производство, штампы изготовление"
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{title}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/Прессформы1.jpg')
              img(src='../img/metal-products/Прессформы2.jpg')
          .main__info
            p.text.text--justify Set Service Group занимается изготовлением пресс-форм, штампов и матриц по всей России. Наша продукция гарантированно отличается качеством и надежностью. Свяжитесь с нами, и ваша заявка будет обработана нашими менеджерами в самые короткие сроки.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            .outer.active
              .inner Пресс-формы
            .outer
              .inner Штампы
            .outer
              .inner Матрицы
          article.main__article.main__article--active
            p.text.text--justify 
              b Пресс-форма 
              | - технологическая оснастка, предназначенная для формования деталей из материалов, доведенных под действием температуры до вязко-текущего состояния и залитых под действием высокого давления в полость формообразующих, с последующим охлаждением и извлечением отливок при помощи толкателей.
            p.text.text--justify Если ваше производство лежит в области индустрии пластмасс, то экономический успех предприятия зависит не только от работы оборудования и качества сырья, но и от точности, надежности и качества инструмента литья. А потому так важно качество изготовления пресс-формы - ведь малейшая ошибка в расчетах или неверное конструктивное решение могут привести к печальным последствиям. Качественная пресс форма - это основа процесса производства изделий из пластмассы.
            p.text.text--justify Виды выпускаемых пресс-форм:
            p.text.text--justify 
              b Прессформмы для работы с термопластичными пластмассами 
              | (полиэтилен, полипропилен,полиамид, поликарбонат, пластикат и т.д.).
            p.text.text--justify 
              | Отличительным свойством таких прессформ является то, что для получения изделия, расплавленный материал в них остужается. Такие прессформы предназначены для переработки пластмасс, которые расплавляются под действием нагревания, в расплавленном состоянии закачиваются в свободное пространство между матрицей и пуансоном, затвердевают при остывании, принимая форму отлитого изделия. При повторном нагревании такие пластмассы становятся пластичными и этот материал можно использовать вторично. 
              b Прессформы для термопластичных пластмасс 
              | бывают с открытой питающей системой и с закрытой - так называемые «горячеканальные». Прессформы с открытой литниковой системой менее дорогостоящие в изготовлении, но менее производительные и менее экономичные, при их использовании остаются отходы в виде затвердевшей литниковой системы и иногда требуется доработка производимых деталей.
            p.text.text--justify 
              b Прессформы горячеканальные 
              | существенно дороже в изготовлении, но чрезвычайно эффективны в массовом производстве, поскольку высокопроизводительны, работают без отходов и не требуется зачистка деталей от литников и питателей. Наши специалисты, при необходимости, помогут рассчитать и выбрать наиболее приемлемый для заказчика вариант.
            p.text.text--justify 
              b Прессформы для работы с термореактивными пластмассами 
              | (карболит, АГ-4, препреги, резины, фторопласт… и т.д.)
            p.text.text--justify Отличительным свойством таких прессформ является то, что для получения изделия, материал в них нагревается. Такие прессформы предназначены для переработки пластмасс в которых под действием нагревания происходит реакция полимеризации и материал, которым заполняется пространство между пуансоном и матрицей «спекается» (вулканизируется). При повторном нагревании такие пластмассы не расплавляются, отходы невозможно использовать вторично. Процесс полимеризации термореактопластов происходит значительно медленнее чем застывание для термопластов, брак и литники являются безвозвратной потерей материала. Как следствие производительность ниже, а себестоимость изделий выше. Такие прессформы используются для получения изделий со специальными свойствами.
            p.text.text--justify 
              b Формы для вспениваемых материалов 
              | (поролон, пенопласт, заливочные силиконовые смеси). Такая оснастка предназначена для придания формы залитому материалу до его полной полимеризации. Для работы таких форм не требуются повышенное давление и температура, необходимо только обеспечить постоянство формы определенное время и удобные заполнение материалом и извлечение готового изделия. Подушки кресел, специальная тара…
            p.text.text--justify 
              b Выклеечные формы и формблоки. 
              | Предназначены для выкладки и формовки деталей из композиционных материалов таких как стекловолокно, углепластики, кевлар, и т.д.
            p.text.text--justify Габариты рабочих частей прессформ до 250х250мм, габариты плит крепления до 500х500мм.
            p.text.text--justify 
              | Если вас интересует 
              b производство пресс-форм
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16 
              | или обратиться с вопросом, 
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify 
              | Мы 
              b изготавливаем штампы 
              | для холодной штамповки из твердосплавных и прочных сталей, таких как ст.45, ст. 40х, ХВГ, У8 и т.д. с последующей термообработкой и упрочнением давлением. Изготовление штампов — сложный технологический процесс, требующей значительной затраты времени и средств. Однако, если требуется изготовить большое количество деталей, то расходы по изготовлению штампов не вызывают удорожания детали, а наоборот ведут к удешевлению.
            p.text.text--justify Мы также располагаем оборудованием для холодной штамповки металла. Применяя такую штамповку, нашей компании удается получать детали значительной точности и высокой частоты поверхности заданной формы из стали и цветных металлов. Такие детали нуждаются относительно небольшой доделке резанием (нарезание резьбы, шлифование поверхностей и т.д.).
            p.text.text--justify Виды выпускаемых штампов:
            ul.list
              li 
                b Штампы вырубные. 
                | Предназначены для вырубки по внутреннему и внешнему контурам деталей из металла. Могут быть изготовлены штампы для вырубки из листа, из ленты, из куска, для обсечки заготовок после операций пластического деформирования, для прорубки фигурных отверстий в фасонном прокате, в трубах, в движущемся профиле (летучие штампы).
              li 
                b Штампы гибочные. 
                | Предназначены для придания пространственной формы деталям гибкой одновременно в нескольких местах и в различных направлениях.
              li 
                b Штампы вытяжные. 
                | Предназначены для выполнения операций пластического деформирования листового металла для придания требуемой пространственной формы.
              li 
                b Штампы совмещенного действия. 
                | Такие штампы предназначены для совмещения в одной штамповочной оперции сразу нескольких видов штамповой обработки в различных сочетаниях (вытяжка+обсечка; вырубка+гибка… и т.д).
            p.text.text--justify Габариты рабочих частей штампов до 420х350мм, габариты блочных плит штампов до 800х600мм.
            p.text.text--justify При изготовлении штампов по чертежам заказчика конструкторским отделом предприятия постоянно ведется работа по их изменению и доработке, позволяющая упростить процесс изготовления оснастки и снизить ее стоимость. Разрабатываемые на предприятии приспособления отличаются своей конструктивной проработкой, функциональностью и надежностью. С их помощью удается упростить техпроцессы при изготовлении серийных деталей. Что влечет за собой снижение стоимости выпускаемой продукции. При этом как правило повышается ее качество и соответствие требованиям конструкторской документации всей выпускаемой партии товара.
            p.text.text--justify
              | Если вас интересует 
              b производство штампов
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify Матрица – неотъемлемый элемент любого штампа и пресса, который представляет собой ограничивающий короб заданной формы.
            p.text.text--justify По универсальности различают:
            ul.list
              li простые матрицы, которые могут применяться для изготовления только одного вида продукции (производство большинства строительных блоков и кирпичей);
              li сложные (комбинированные) изделия для изготовления двух и более товарных наименований.
            p.text.text--justify В зависимости от сферы применения матрицы могут быть:
            ul.list
              li
                b Формовочные. 
                | Этот вид служит для оттиска определенной структуры на рабочей поверхности (изготовление форм для заливки бетона и тротуарной плитки).
              li
                b Вырубные и пробивные. 
                | Используются при создании отверстий различной формы, а для большей точности зачастую делаются разъемными.
              li
                b Гибочные. 
                | Такие изделия нужны для изготовления форм из тонкого листового металла.
            p.text.text--justify Матрица действует неотъемлемо от пуансона – замыкающего элемента, который формирует изделие сверху и выполняет функцию пресса, штампа или маркировщика.
            p.text.text--justify 
              | Традиционно для изготовления матрицы используется металл, который отличается своей долговечностью. Это не самый скоростной и дешевый материал для 
              b изготовления металлической матрицы
              | , однако определенно отличается надежностью и качеством. Металл очень хорошо подходит для матрицы, с помощью которой изделия будут изготавливаться большими партиями. При некачественно изготовленной матрице обязательно проявятся изъяны в изделии, что в конечном итоге приведет к финансовым издержкам, задержке производственного цикла, браку конечного изделия.
            p.text.text--justify Доверяя изготовление матрицы (прототипа) нам, вы можете быть уверены в том, что получите матрицу высокого качества в оговоренные сроки.
            p.text.text--justify
              | Если вас интересует 
              b производство матриц
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
