doctype
html
  -let title = 'Арматура технологических трубопроводов'
  -let parent = 'Продукция'
  -let keywords = "Арматура технологических трубопроводов, запорная арматура, регулирующая арматура, предохранительная арматура, обратная арматура"
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{title}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-products/АрматураТехнологических1.jpg")
              img(src="../img/metal-products/АрматураТехнологических2.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству арматуры для технологических трубопроводов. Наши специалисты в кратчайшие сроки обработают вашу заявку и предложат качественные варианты реализации проекта.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify 
              b Технологический трубопровод 
              | включает в себя следующие основные элементы: трубы, фасонные части или фитинги (отводы, крестовины, переходы с одного диаметра на другой и др.), соединения (фланцевые, муфтовые, цапковые, сварные), арматуру.
            p.text.text--justify 
              | Для соединения отдельных участков трубопроводов, а также для 
              b установки арматуры
              | , приборов контроля и автоматики применяют неразъемные (сварные) и разъемные (фланцевые, резьбовые) соединения. Плотность разъемных соединений должна обеспечиваться как при рабочих давлении и температуре, так и при заполнении трубопровода продуктом.
            p.text.text--justify 
              | Для переключения потоков жидкостей или газов, транспортируемых по трубопроводам, служит специальное оборудование, которое носит общее название — арматура. Арматуру принято 
              b классифицировать по конструкции привода, выполняемым функциям и конструктивным особенностям.
            p.text.text--justify 
              b В зависимости от конструкции привода 
              | различают 
              b приводную 
              | и 
              b самодействующую арматуру
              | . В приводной арматуре для управления затвором служит привод: механический, электрический, пневматический и др. В самодействующей арматуре движение рабочего органа (затвора) осуществляется автоматически при изменении какого-либо параметра среды (скорости, давления, температуры и т.п.).
            p.text.text--justify 
              b В зависимости от выполняемых функций различают арматуру запорную, регулирующую, защитную и предохранительную. Запорная арматура 
              | (задвижки, вентили, краны) предназначена для включения или отключения потоков перекачиваемых сред. 
              b Обратная арматура 
              | служит для отключения контролируемого участка трубопровода или установки в случае возникновения опасности образования чрезмерного давления или обратного потока. К защитной арматуре относятся отсечные, отключающие и обратные клапаны. Вместо клапанов могут применяться другие типы быстродействующей арматуры (задвижки, краны, заслонки). В отличие от 
              b предохранительной арматуры
              | , работающей с видом действия НЗ (нормально закрыт), защитная арматура работает с видом действия НО (нормально открыт). При возникновении опасной ситуации предохранительная арматура открывается, защитная закрывается. Быстродействие отсечных клапанов достигается применением пружины, груза, газа, электромагнитного привода.
            p.text.text--justify Виды арматуры, которые мы производим:
            p.text.text--justify 
              b Запорная арматура:
            ul.list
              li
                b Задвижки. 
                | Трубопроводная арматура, в которой запирающий или регулирующий элемент перемещается перпендикулярно оси потока рабочей среды. Задвижки — очень распространённый тип запорной арматуры. Они широко применяются практически на любых технологических и транспортных трубопроводах диаметрами от 15 до 2000 миллиметров в системах жилищно-коммунального хозяйства, газо- и водоснабжения, нефтепроводах, объектах энергетики и многих других при рабочих давлениях до 25 МПа и температурах до 565 °C.
              li
                b Заслонки. 
                | Тип трубопроводной арматуры, в котором запирающий или регулирующий элемент имеет форму диска, поворачивающегося вокруг оси, перпендикулярной или расположенной под углом к направлению потока рабочей среды. Также эти устройства называют заслонками, поворотными затворами, герметичными клапанами, гермоклапанами. Наиболее часто такая арматура применяется при больших диаметрах трубопроводов, малых давлениях среды и пониженных требованиях к герметичности рабочего органа, в основном в качестве запорной арматуры.
              li
                b Вентили (Клапаны). 
                | Запорная арматура, конструктивно выполненная в виде клапана, то есть её запирающий элемент перемещается параллельно оси потока рабочей среды. Как и другие виды запорной арматуры, запорные клапаны применяются для полного перекрытия своего проходного сечения, а, следовательно, потока рабочей среды; то есть запирающий элемент, которым в запорном клапане чаще всего является золотник, в процессе эксплуатации находится в крайних положениях «открыто» или «закрыто». Клапаны широко распространены как запорная арматура, что объясняется возможностью обеспечения хорошей герметизации в запорном органе при сравнительной простоте конструкции
              li
                b Краны. 
                | Тип трубопроводной арматуры, у которого запирающий или регулирующий элемент, имеющий форму тела вращения или его части, поворачивается вокруг собственной оси, произвольно расположенной по отношению к направлению потока рабочей среды
            p.text.text--justify Обратная арматура:
            ul.list
              li 
                b Обратные клапаны. 
                | Вид защитной трубопроводной арматуры, предназначенный для недопущения изменения направления потока среды в технологической системе. Обратные клапаны пропускают среду в одном направлении и предотвращают её движение в противоположном, действуя при этом автоматически и являясь арматурой прямого действия (наряду с предохранительными клапанами и регуляторами давления прямого действия). С помощью обратной арматуры возможно защитить различное оборудование, трубопроводы, насосы и сосуды под давлением, увеличить продолжительность работы оборудования, а также существенно ограничить течь рабочей среды из системы при разрушении её участка.
            p.text.text--justify Предохранительная арматура:
            ul.list
              li
                b Предохранительные клапаны. 
                | Трубопроводная арматура, предназначенная для защиты от механического разрушения оборудования и трубопроводов избыточным давлением путём автоматического выпуска избытка жидкой, паро- и газообразной среды из систем и сосудов с давлением сверх установленного. Клапан также должен обеспечивать прекращение сброса среды при восстановлении рабочего давления. Предохранительный клапан является арматурой прямого действия, работающей непосредственно от рабочей среды, наряду с большинством конструкций защитной арматуры и регуляторами давления прямого действия.
            p.text.text--justify Регулирующая арматура:
            ul.list
              li 
                b Регулирующие клапаны. 
                | Один из конструктивных видов регулирующей трубопроводной арматуры. Это наиболее часто применяющийся тип регулирующей арматуры как для непрерывного (аналогового), так и для дискретного регулирования расхода и давления. Выполнение этой задачи регулирующие клапаны осуществляют за счёт изменения расхода среды через своё проходное сечение.  Материал изготовления регулирующих клапанов зависит напрямую от типа рабочей среды, с которой клапан будет иметь контакт.
            p.text.text--justify 
              | Если вас интересует 
              b производство арматуры
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify Раздел дополняется
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
