doctype
html
  -let title = 'Арматура технологических трубопроводов'
  -let parent = 'Металлоизделия'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left #{title}
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src="../img/metal-products/АрматураТехнологических1.jpg")
              img(src="../img/metal-products/АрматураТехнологических2.jpg")
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству арматуры для технологических трубопроводов. Наши специалисты в кратчайшие сроки обработают вашу заявку и предложат качественные варианты реализации проекта.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify 
              b Технологический трубопровод 
              | включает в себя следующие основные элементы: трубы, фасонные части или фитинги (отводы, крестовины, переходы с одного диаметра на другой и др.), соединения (фланцевые, муфтовые, цапковые, сварные), арматуру.
            p.text.text--justify 
              | Для соединения отдельных участков трубопроводов, а также для 
              b установки арматуры
              | , приборов контроля и автоматики применяют неразъемные (сварные) и разъемные (фланцевые, резьбовые) соединения. Плотность разъемных соединений должна обеспечиваться как при рабочих давлении и температуре, так и при заполнении трубопровода продуктом.
            p.text.text--justify 
              | Для переключения потоков жидкостей или газов, транспортируемых по трубопроводам, служит специальное оборудование, которое носит общее название — арматура. Арматуру принято 
              b классифицировать по конструкции привода, выполняемым функциям и конструктивным особенностям.
            p.text.text--justify 
              b В зависимости от конструкции привода 
              | различают 
              b приводную 
              | и 
              b самодействующую арматуру
              | . В приводной арматуре для управления затвором служит привод: механический, электрический, пневматический и др. В самодействующей арматуре движение рабочего органа (затвора) осуществляется автоматически при изменении какого-либо параметра среды (скорости, давления, температуры и т.п.).
            p.text.text--justify 
              b В зависимости от выполняемых функций различают арматуру запорную, регулирующую, защитную и предохранительную. Запорная арматура 
              | (задвижки, вентили, краны) предназначена для включения или отключения потоков перекачиваемых сред. 
              b Обратная арматура 
              | служит для отключения контролируемого участка трубопровода или установки в случае возникновения опасности образования чрезмерного давления или обратного потока. К защитной арматуре относятся отсечные, отключающие и обратные клапаны. Вместо клапанов могут применяться другие типы быстродействующей арматуры (задвижки, краны, заслонки). В отличие от 
              b предохранительной арматуры
              | , работающей с видом действия НЗ (нормально закрыт), защитная арматура работает с видом действия НО (нормально открыт). При возникновении опасной ситуации предохранительная арматура открывается, защитная закрывается. Быстродействие отсечных клапанов достигается применением пружины, груза, газа, электромагнитного привода.
            p.text.text--justify Виды арматуры, которые мы производим:
            p.text.text--justify Запорная арматура:
            ul.list
              li Задвижки
              li Вентили
              li Краны
            p.text.text--justify Обратная арматура:
            ul.list
              li Обратные клапаны
            p.text.text--justify Предохранительная арматура:
            ul.list
              li Предохранительные клапаны
            p.text.text--justify Регулирующая арматура:
            ul.list
              li Регулирующие клапаны
              li Позиционеры
            p.text.text--justify 
              b Прочность 
              | арматуры обеспечивается изготовлением деталей достаточных размеров из соответствующих конструкционных материалов. Наиболее важной является прочность корпусных деталей, поломка которых по своим последствиям особенно опасна.
            p.text.text--justify 
              b Долговечность 
              | арматуры в зависимости от условий ее ра­боты может ограничиваться различными факторами. Ресурс могут определять износ деталей, коррозия материала, эрозия деталей рабочего органа, старение резиновых или пластмассовых деталей. При наличии в нефтепродуктах кислот, сероводорода и воды арматура подвергается коррозии. Быстрее всех обычно выходят из строя детали рабочего (регулирующего или запорного) органа: уплотнительные кольца, золотники, плунжеры, пробки кранов, подвергающиеся механическому, коррозионному и кавитационному изнашиванию. При интенсивной эксплуатации запорной арматуры могут ускоренно выходить из строя детали ходового узла – ходовая гайка и шпиндель.
            p.text.text--justify 
              b Безотказность 
              | арматуры сохраняется при правильной ее эксплуатации и тщательном техническом обслуживании, если конструкция и материал деталей выбраны правильно и соответствуют условиям работы. Наибольшее число отказов возникает в рабочем органе арматуры в результате коррозии, эрозии, гидратообразования, замерзания воды и вибрации. Вибрации в регулирующих клапанах, а также в запорной арматуре во время открывания при большом перепаде давления на газопроводах, могут вызвать поломку деталей (штоков) и разрушение седел, стоек и даже корпусов, самопроизвольную перестановку запорного органа. Эрозия приводит к ускоренному износу седла и затвора (плунжера). Гидратообразование и замерзание воды нарушают подвижность затвора и закупоривают проходные полости.
            p.text.text--justify
              | Если вас интересует 
              b производство надежной арматуры
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом,  
              b заполнив форму для связи.
          article.main__article
            p.text.text--justify Раздел дополняется
        include ../../includes/performed_works.pug    
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  
