doctype
html
  -let title = 'Валы, штоки, оси'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      - var sidebar = 'products'
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        h1.title.title--left Валы, штоки, оси
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Производственное подразделение Set Service Group предоставляет услуги по производству валов. Если вы ищете где заказать производство валов в Москве или Санкт-Петербурге вы можете смело обращаться к нам.
            .infobuttons
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles.main__articles--with-btns
          .main__buttons
            div(class="active") Валы
            div Штоки
            div Оси
          article.main__article.main__article--active
            p.text.text--justify 
              b Валы
              |  – это металлические детали цилиндрической формы с круглым сечением. Используют их для передачи крутящего момента и поддержания вращающихся элементов в сельскохозяйственной технике, промышленном оборудовании и станках. Так как валы принимают на себя основную нагрузку, от них во многом зависит работоспособность и долговечность редуктора.
            p.text.text--justify 
              b Классифицируют валы следующим образом:
            ul.list
              li по форме геометрической оси делятся на прямые, коленчатые и гибкие;
              li в зависимости от формы бывают гладкие, ступенчатые и полые;
              li по предназначению подразделяются на входные, выходные, промежуточные, быстроходные, распределительные и др.
            p.text.text--justify 
              | Специалисты нашей компании изготовят 
              b валы любого типа и размера 
              |качественно и в срок, нам по плечу даже самые сложные с технической точки зрения модификации изделия.
          article.main__article
            p.text.text--justify 
              b Стальные хромированные штоки (прутки) 
              | применяются для производства и ремонта штоков гидроцилиндра. 
              br 
              | В зависимости от марки стали, различают применение:
            p.text.text--justify 
              b Марка стали Сk45
              br 
              | Хромированный шток Сk45 используется в  гидроцилиндрах со стандартной нагрузкой. Идеальное сочетание отличного качества поверхности, оптимальной коррозийной стойкости и конкурентоспособной цены.
            p.text.text--justify 
              b Марка стали Сk45 с закалкой током высокой частоты (ТВЧ).
              br
              | Штоки хромированные Сk45 с ТВЧ закалкой используются в качестве направляющих  преимущественно в  строительной  спецтехники. Закаленный слой металла предотвращает мелкие  повреждения, царапины, сколы хромового слоя от механических воздействий пыли, грязи.
            p.text.text--justify 
              b Марка стали 20MnV6
              br
              | Хромированный шток 20MnV6 применяется в гидравлических цилиндрах c вибрационными нагрузками и имеет лучшую свариваемость и обрабатываемость по сравнению с маркой Сk45.
            p.text.text--justify 
              b Марка стали 42CrMo4 
              | Высокопрочный хромированный пруток 42CrMo4 используется в производстве гидроцилиндров при высоких осевых нагрузках.
          article.main__article
            p.text.text--justify 
              b Ось
              |, как и многие другие запчасти механизмов, выполняет специальные функции. Основной ее задачей является поддерживать части механизмов либо конструкции, совершающей вращение. Свойства оси не позволяют передавать крутящийся момент.
            p.text.text--justify Оси производятся всего 2 типов:
            ul.list
              li вращающиеся
              li неподвижные
            p.text.text--justify 
              |Подшипники используются исключительно с вращающейся осью. Тогда как, 
              b неподвижные оси 
              |применяются для фиксирования передних колес автомобиля. 
              b Производство осей 
              | происходит с использованием стали (углеродистой или легированной). Лишь эти стали могут в полном объеме соответствовать всем требованиям процесса производства валов осей. Заготовка всегда поддается термообработке. Это улучшает качество материала. Как исключение, иногда применяют в виде основы для оси высокопрочный чугун. 
            p.text.text--justify Совершая действия ось способна испытывать деформацию сгиба, что нужно учитывать, рассчитывая ось. Для увеличения прочности запчасти, производство осей совершается с неотъемлемым формированием плавных переходов там, где меняется ее диаметр. Обработка металла и тип главного материала производства оси обусловлены ее конструкторскими особенностями и областью применения.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts.pug
        
