doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Колеса зубчатые'
  -let parent = 'Продукция'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    div.inner-page
      include ../../includes/catalog.pug
      main.main
        include ../../includes/header-article.pug
        include ../../includes/breadcrumbs.pug
        h1.title.title--left Колеса зубчатые
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='../img/metal-products/КолесаШестерни1.jpg')
              img(src='../img/metal-products/КолесаШестерни2.jpg')
          .main__info
            p.text.text--justify Set Service Group готов предоставить свои производственные мощности и услуги менеджеров для изготовления зубчатых колес и шестерен. Свяжитесь с нами, расскажите о своем проекте или производство, и наши менеджеры оперативно подготовят для вас расчет и способы реализации.
            .infobuttons
              .btn.btn--form Заказать производство
              
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify
              | В механизмах, основанных на передаче вращательных движений, главной деталью является зубчатое колесо. Эта деталь представляет собой диск с зубьями на конической или цилиндрической поверхности. Изготавливаются зубчатые колёса как на специальном оборудовании, так и на универсальных металлообрабатывающих станках с применением дополнительных приспособлений. Это и есть 
              b нарезка зубчатых колес.
            p.text.text--justify
              | Для серийного 
              b производства зубчатого колеса 
              | необходим метод обкатки, метод копирования (деления) и метод холодного и горячего накатывания.
            p.text.text--justify Изготовление зубчатых колес методом обкатки
            p.text.text--justify
              | Для 
              b изготовления зубчатых колес 
              | этим методом используются такие инструменты, как гребенка, червячная фреза и зубчатый долбяк. При помощи червячной фрезы на заготовке колеса нарезается зуб за счет взаимного движения детали и инструмента, соответствующего червячному зацеплению. Гребенка - это зубчатая рейка с кромкой режущей по контуру зуба, которая совершает сложные возвратно-поступательные движения вдоль поверхности заготовки, вращающейся с постоянной скоростью. Долбяк - инструмент в виде зубчатого колеса с режущими кромками. Работа зубодолбежного станка основана на возвратно-поступательных движениях инструмента относительно детали, при этом после каждого двойного прохода инструмент и заготовка поворачиваются на один шаг.
            p.text.text--justify Метод деления для производства зубчатых колес
            p.text.text--justify
              | Этот способ используется для производства зубчатых колес на универсальных фрезерных станках, которые оснащены делительной головкой. Нарезка зуба на станке производится пальцевой или дисковой фрезой.
            p.text.text--justify Метод холодного и горячего накатывания для получения зубчатых колёс
            p.text.text--justify
              | Используется такой метод при необходимости получения зубчатых колёс и шестерней высокой точности. Верхний слой заготовки прогревается индукционными токами на глубину, немного большую, чем будущая высота зубьев самих шестерен. После этого металл, нагретый до пластического состояния, обрабатывается специальным зубонакатным инструментом, в результате из-под рук мастера выходит готовая шестерня. Обычно, производство зубчатого колеса этим методом подразумевает несколько этапов, последним из которых становится обкатка уже изготовленных зубьев для получения необходимой формы.
            p.text.text--justify
              | Если вас интересует 
              b производство зубчатых колес
              | , вы всегда можете обратиться в 
              b Set Service Group
              | , позвонив по телефону 
              b 8 (812) 627-15-16
              |  или обратиться с вопросом 
              b заполнив форму для связи.
          //- article.main__article
          //-   p.text.text--justify
          //-     b Шестерни
          //-     |  – это зубчатые колеса, которые используются в машиностроении для зубчатой передачи. К условиям их изготовления предъявляются достаточно строгие требования, ведь от таких характеристик, как точность размера зубьев, гладкость и покатость изделия, во многом зависит работа всего механизма. На сегодняшний день для производства шестерен используется несколько основных методов:
          //-   ul.list
          //-     li Метод обката;
          //-     li Метод копирования;
          //-     li Метод накатывания;
          //-     li Метод конических колес.
          //-   p.text.text--justify
          //-     | В своей работе мы используем преимущественно метод обката как наиболее технологичный, точный и экономичный метод. Для производства используются высокопрочные металлы (сталь и ее сплавы), после же изготовления грубой заготовки изделие проходит дополнительную механическую и химическую обработку.
          //-   p.text.text--justify
          //-     | Оттого, насколько качественно было выполнено изготовление шестерен, зависит синхронность работы всего механизма и продолжительность его эксплуатации. Это изделие используется в механизмах зубчатой передачи и выполняет важную функцию – передает вращательное движение между валами. Дефекты при производстве могут привести к вибрации и потери синхронности функционирования всего устройства, вплоть до его выхода из строя.
          //-   p.text.text--justify
          //-     | Изготовление 
          //-     b звездочек, зубчатых шкивов, червячных колес
          //-     |  и других видов шестерен необходимо для применения в различных механизмах, которые используются в горнодобывающей и пищевой промышленности, в судостроении и машиностроении. Также шестерни активно применяются в автомобильных дифференциалах, буровых установках, лебедках, железнодорожных вагонах, подъемных кранах, танках, коробке передач, шестеренных гидромашинах – часах, насосах и прочих механизмах.
          //-   p.text.text--justify
          //-     | Set Service Group осуществляет 
          //-     b изготовление шестерен
          //-     |  исключительно высочайшего качества с соблюдением всех Ваших требований. Предприятие оснащено прогрессивной, высокоточной техникой, что позволяет нам выполнять работы любой сложности и различных объемов, соблюдая при этом все запросы заказчиков. При изготовлении изделий любых размеров мы основываемся на требования чертежей, а при их отсутствии (если предоставлены только образцы) – на соответствующие справочники и ГОСТы, а также учитываем назначение деталей, условия эксплуатации, производим замеры твердости, при необходимости – химический анализ материала. Если требования чертежа являются явно завышенными или заниженными (не соответствуют общему характеру и назначению детали или условиям эксплуатации), то с согласия клиента вносятся соответствующие коррективы – это экономит деньги и время изготовления, либо продлевает срок эксплуатации деталей.
          //-   p.text.text--justify
          //-     | Если вас интересует 
          //-     b производство шестерен
          //-     | , вы всегда можете обратиться в 
          //-     b Set Service Group
          //-     | , позвонив по телефону 
          //-     b 8 (812) 627-15-16
          //-     |  или обратиться с вопросом 
          //-     b заполнив форму для связи.
        include ../../includes/performed_works.pug
    include ../../includes/popupform.pug
    footer.main-footer
      include ../../includes/bottom-line.pug
  include ../../includes/scripts-for-inner-pages.pug
  

        
