doctype
html
  -let title = 'О компании'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    article.about
      h2.title Здравствуйте! Мы рады приветствовать Вас на нашем официальном сайте.
      p.text.text--justify
        b.arial 
          | SET SERVICE | 
          span.gray GROUP
        |  – Центр металлообработки в Санкт-Петербурге, основанный в 2015г. для налаживания производственных связей в рамках программы по развитию производственного потенциала России.
      p.text.text--justify
        | «На российском рынке огромный выбор компаний по сварке металлоконструкций, а также есть компании, занимающиеся механической обработкой. Но Мы – компания, которая предлагает полный цикл услуг по металлообработке. Мы – это команда специалистов, объединенных одной большой идеей - 
        b развитием производственного сектора России и качественным увеличением номенклатуры товаров, произведенных на территории России.»
      p.text.text--justify
        b Основные направления деятельности:
      ol.list.list--ordered
        li Изготовление узлов различных механизмов и отдельных деталей по чертежам для любой отрасли промышленности;
        li Изготовление сварных и сборочных конструкций, а также нестандартных металлоконструкций высокой точности;
        li Инжиниринг. Инновационная деятельность. Разработка и внедрение новых технологий;
        li Разработки и испытания в области специальных сталей и сплавов при поддержке Национального исследовательского центра «Курчатовский институт»;
        li Поиск решений, обеспечивающих импортозамещение для любой отрасли промышленности.
      p.text.text--justify
        b В нашем арсенале есть следующие производственные мощности:
      ol.list.list--ordered
        li Станочный парк обрабатывающих центров;
        li Станочный парк с числовым программным обеспечением;
        li Станочный парк универсальных токарных и фрезерных станков;
        li Станочным парком для резки и гибки металлов и др. материалов;
        li Сварочно-сборочный цех.
      p.text.text--justify
        b Мы развиваем сеть производственного субконтрактинга по всей России, что позволяет нам:
      ol.list.list--ordered
        li Задействовать уникальное оборудование для выполнения самых сложно реализуемых проектов;
        li Выполнять заказы в самые сжатые сроки;
        li Выполнять крупные и серийные заказы;
        li Выполнять проекты «под ключ».
      p.text.text--justify Качество продукции контролируется в соответствии с конструкторской документацией, в том числе с помощью различных видов испытаний, куда входят все виды неразрушающего контроля, пневмо- и гидроиспытания, испытания на прочность. Компания включена в общий реестр организаций имеющих сертифицированную систему менеджмента качества по требованиям международного стандарта ISO 9001:2015.
      p.text.text--justify Мы работаем «для клиента» и «от клиента» - размещенный у нас заказ всегда будет полностью соответствовать Вашим требованиям и пожеланиям.
    ul.dropdown
      li.dropdown-item
        .dropdown-title
          .container#documents(style='border-top:1px solid #eceded;')
            .switch
              span.switch__bg
              span.switch__btn
            | Учредительные документы и сертификаты
        .container(style='border-bottom:none;')
          .dropdown-item-content
            table.document
              tbody
                tr
                  td.document__title
                    | Копия свидетельства ИНН 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/inn.pdf')
                    a(href='docs/inn.pdf', download='')
                tr
                  td.document__title
                    | Устав компании 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/ustav.pdf')
                    a(href='/docs/ustav.pdf', download='')
                tr
                  td.document__title
                    | Копия свидетельства ОГРН 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/ogrn.pdf')
                    a(href='/docs/ogrn.pdf', download='')
                tr
                  td.document__title
                    | Реквизиты компании 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/rekvizity.pdf')
                    a(href='/docs/rekvizity.pdf', download='')
                tr
                  td.document__title
                    | Коды статистики 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/kodystatistiki.pdf')
                    a(href='/docs/kodystatistiki.pdf', download='')
                tr
                  td.document__title
                    | Сертификат соответствия качеству ISO 9001:2015 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/sertifikat.pdf')
                    a(href='/docs/sertifikat.pdf', download='')
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Наши преимущества
        .container(style='border-bottom:none')
          .dropdown-item-content
            section.advantages
              .advantages__item
                .title Широкий спектр выпускаемой продукции
                .text
                  | Разнородность выпускаемой продукции дает возможность сотрудничества с разными отраслями промышленности от единичных операций до проектов "под ключ".
              .advantages__item
                .title
                  | Оперативная 
                  br
                  | обработка заказов
                .text
                  | Мы дорожим Вашим временем, поэтому следим за тем, чтобы вы получали ценовое предложение в течении суток.
              .advantages__item
                .title
                  | Оптимизация 
                  br
                  | проектов
                .text
                  | Выявление завыщенных требований к изделию на стадии расчета проекта, а так же подбор аналогов материалов и минимизация отходов помогает экономить ВРЕМЯ И ДЕНЬГИ наших клиентов.
              .advantages__item
                .title Комфортный сервис полного цикла
                .text
                  | Главной задачей перед собой мы ставим СЕРВИС высокого уровня на всех этапах взаимодействия с клиентом. Мы работаем для Вас 24/7.
              .advantages__item
                .title
                  | Эффективная 
                  br
                  | логистика
                .text
                  | Наши отлаженные действия в области логистики помогут Вам избавиться от ненужных перемещений, звонков и затрат.
              .advantages__item
                .title
                  | Индивидуальный 
                  br
                  | подход к клиенту
                .text
                  | Наш важный принцип, согласно которому в работе с клиентами учитываются индивидуальные особенности не только бизнеса клиента, но и индивидуальные особенности каждого человека, общающегося с нашей компанией.
              .advantages__item
                .title Гарантия высокого качества
                .text
                  | Вся продукция, которую производит ГК "Комплект Сервис" проходит входной контроль качества. Мы дорожим нашей репутацией, поэтому со всей ответственностью подходим к каждому заказу.
              .advantages__item
                .title Честность и юридическая прозрачность
                .text
                  | Честность и прозрачность в отношении с клиентами и коллегами являются настолько редкими, что они стали конкуретным преимуществом.
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Наши ценности
        .container(style='border-bottom:none')
          .dropdown-item-content
            p.text Вставить блок ценностей
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Вакансии
        .container(style='border-bottom:none')
          .dropdown-item-content
            section.team.vacancies
              //- h1.title.title--uppercase Вакансии
              p.text.text--center
                | В связи с расширением штата в SET SERVICE GROUP объявлен конкурсный отбор на следующие позиции. 
                br
                | Информация кандидатам: при заполнении формы по соответствующей вакансии не забывайте прикреплять ваше резюме к форме на отдельном файле.
              ul.team__list
                li.team__item.team__item--active
                  .team__icon
                  h3.team__title Специалист по межзаводской кооперации
                li.team__item
                  .team__icon
                  h3.team__title Руководитель проекта
                li.team__item
                  .team__icon
                  h3.team__title Специалист ПТК
              ul.vacancies__info
                li.vacancies__info_item
                  p.text
                    | от 50 000 до 80 000 руб. на руки
                    br
                    | Требуемый опыт работы: более 6 лет
                    br
                    | Полная занятость, полный день
                  h4.title.title--left Обязанности:
                  ul.list
                    li Размещение заказов по металлообработке на сторонних предприятиях; 
                    li Поиск организаций, способных выполнить металлообработку; 
                    li Осуществлять согласование технических заданий с поставщиками и заказчиками; 
                    li Контроль качества готовой продукции; 
                    li Обеспечение выполнения планов производства заказов; 
                    li Выезд на объекты для работы с заказчиками, субподрядными организациями; 
                    li Расчет объемов и стоимости работ проекта согласно технологическим процессам; 
                    li
                      | Подготовка расчетов стоимости дополнительных работ с Заказчиком (коммерческое ценообразование);
                    li
                      | Конструирование, разработка и анализ технических решений в соответствии с требованиями заказчиков.
                    li Техническая поддержка менеджеров по продажам; 
                    li Консультирование клиентов по техническим вопросам; 
                  h4.title.title--left Требования:
                  ul.list
                    li
                      | Высшее (среднее) техническое образование (металловедение, материаловедение, термическая обработка металлов и сплавов);
                    li Опыт работы не менее 3-х лет по специальности; 
                    li
                      | Профессиональные навыки работы в таких графических редакторах, как Компас, AutoCad, Corel Draw;
                    li
                      | Знание основ систем и методов проектирования технологических процессов и режимов производства;
                    li Знание ГОСТов, EN, ASTM;(марки стали, свойства); 
                    li
                      | Опыт разработки документации для изделий из металла по индивидуальным заказам от эскиза до деталировки;
                    li Опыт изготовления чертежей по образцу; 
                    li Сопровождение производства в части чертежей, планов, схем; 
                    li Самостоятельность и ответственность; 
                    li Способность работать с большим объёмом информации в режиме многозадачности; 
                    li Высокая организованность; 
                    li
                      | Опыт работы на производстве по металлопрокату и металлообработке будет Вашим преимуществом.
                  h4.title.title--left Условия:
                  ul.list
                    li
                      | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
                    li Официальное трудоустройство и оформление по ТК РФ; 
                    li График работы: пн.-пт., с 9:00- до 18:00; 
                    li Обучение при вводе в должность; 
                    li Возможность профессионального и карьерного роста; 
                    li Испытательный срок 3 месяца/ определяется по результатам собеседования; 
                    li Условия оплаты подлежат обсуждению с кандидатом индивидуально.
                li.vacancies__info_item
                  p.text
                    | от 50 000 руб. на руки 
                    br
                    | Требуемый опыт работы: 1–3 года
                    br
                    | Полная занятость, полный день
                  h4.title.title--left Обязанности:
                  ul.list
                    li Непосредственное руководство проектами 
                    li Координация участников проектов 
                    li
                      | Контроль за исполнением проектных процедур и решений, их сроков, анализ причин задержки
                    li Технический и финансовый анализ процессов 
                    li Составление технических заданий 
                    li Мониторинг и контроль над выполнением всех стадий проекта 
                    li Регулярная отчётность по проекту 
                    li
                      | Работа с заказчиком: организация и проведение встреч с Заказчиком, обсуждение дополнительных объемов работ, получение подтверждений (актов) завершения работ, передача информации о технических процедурах Заказчика, организация встреч с
                      | Заказчиком
                  h4.title.title--left Требования:
                  ul.list
                    li
                      | Успешный опыт работы в закупках / продажах
                    li Опыт работы с большим объемом информации 
                    li Уверенный пользователь ПК: знание пакета Microsoft Office, AutoCad-базовый 
                    li Навыки ведения переговоров 
                    li Опыт руководства проектами 
                    li Умение планировать деятельность 
                    li Знание основ экономики и финансов 
                    li
                      | Будет преимуществом:
                      ul.list
                        li Навыки работы с базами данных в СРМ-системе 
                        li Знание рынка металлопроката и металлообработки
                  h4.title.title--left Условия:
                  ul.list
                    li
                      | Оклад +% с реализованных проектов (мы готовы обсуждать заработную плату индивидуально с претендентами на должность, ориентируясь на уровень и опыт кандидатов
                    li
                      | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
                    li Официальное трудоустройство и оформление по ТК РФ 
                    li График работы: пн.-пт., с 9:00- до 18:00 
                    li Профессиональный, молодой и дружелюбный коллектив 
                    li Обучение при вводе в должность, испытательный срок 2 месяца 
                    li Возможность профессионального и карьерного роста 
                  h4.title.title--left Ключевые навыки:
                  ul.vacancies__skills
                    li Умение принимать оперативные решения 
                    li Прогрессивность мышления, внимание к деталям 
                    li Работоспособность 
                    li Надёжность и стабильность 
                    li Инициативность 
                    li Настойчивость 
                    li Стрессоустойчивость 
                    li Ответственность и самостоятельность 
                    li Умение ставить и достигать цели 
                    li Грамотная речь 
                    li Аналитический склад ума 
                    li Умение структурировать данные 
                    li Самоорганизованность 
                    li Высокие коммуникативные способности
                li.vacancies__info_item
                  p.text
                    | от 40 000 руб. на руки
                    br
                    | Требуемый опыт работы: 1–3 года
                    br
                    | Полная занятость, полный день
                  h4.title.title--left Обязанности:
                  ul.list
                    li
                      | Организация работы контроля качества в сфере металлообработки и сборки металлических изделий
                    li Контроль реализации заказов и оценка результативности 
                    li
                      | Создание стандартов и нормативов качественных показателей, контроль их соблюдения
                    li Ведение отчётности в рамках своего направления 
                    li Взаимодействие с другими подразделениями в рамках своего направления 
                    li Решение проблем и задач в области качества 
                    li Разработка и внедрение технологических процессов 
                    li
                      | Разработка и внедрение мер по предупреждению дефектов, расследование причин возникновения, стандартизация методов проверки
                    li Входной контроль материалов 
                    li Умение работать с измерительным инструментом 
                    li
                      | Приёмка готовой продукции, узлов, изделий из металла, согласно чертежам, снипам, ГОСТам
                  h4.title.title--left Требования:
                  ul.list
                    li Высшее техническое образование 
                    li Желателен опыт учёта контроля качества в сфере металлообработки от 1 года 
                    li Знание систем, методов, требований и стандартов контроля качества 
                    li Навык чтения технических документов (схем, чертежей) 
                    li
                      | Опытный пользователь ПК,MS Office (Excel, Word, Outlook), графические программы САО
                    li Разработка мероприятий, направленных на улучшение производственных показателей 
                    li
                      | Контроль качества заготовок при механической обработке и физико-механических испытаниях.
                    li Сдача заготовок представителю заказчика 
                    li Осуществление входного контроля сырья 
                    li Приемка готовых изделий 
                    li Высокий уровень ответственности 
                    li Нацеленность на результат 
                    li Способность работать в режиме многозадачности 
                    li Понимание системы менеджмента качества 
                    li Технический склад ума
                  h4.title.title--left Условия:
                  ul.list
                    li
                      | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
                    li Официальное трудоустройство и оформление по ТК РФ 
                    li График работы: пн.-пт., с 9:00- до 18:00 
                    li Обучение при вводе в должность 
                    li Возможность профессионального и карьерного роста 
                    li Определяется по результатам собеседования 
                    li Условия оплаты подлежат обсуждению с кандидатом индивидуально
    
    article.about
      p.text.text--center(style="margin-top:60px")
        b МЫ УВЕРЕНЫ, ЧТО СМОЖЕМ СПРАВИТЬСЯ С ЗАДАЧЕЙ ЛЮБОЙ СЛОЖНОСТИ!
      p.text.text--right
        | С уважением, руководство 
        b.arial 
          | SET SERVICE | 
          span.gray GROUP
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
  script(src="/js/common.js")
  script(src="/js/dropdown.js")
  script(src="/js/vacancies.js")
