doctype
html
  -let title = 'Клиенты'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    include ../../includes/menu-line.pug
    include ../../includes/companies.pug
    include ../../includes/popupform.pug
    include ../../includes/bottom-line.pug
  script(src="/js/common.js")
  script(src="/js/companies.js")
  
