doctype
html
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    section.portfolio
      h1.title Портфолио
      p.text.text--center Здесь должен быть текст о том, как много всего мы можем произвести
      ul.portfolio__btns
        li.btn.btn--active(data-filter="all") Все работы
        li.btn(data-filter="1") Первая категория
        li.btn(data-filter="2") Вторая категория
        li.btn(data-filter="3") Третья категория
        li.btn(data-filter="4") Четвертая категория
      .portfolio__container
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/1.jpg")
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/2.jpg")
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/3.jpg")
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/4.jpg")
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/5.jpg")
        .filtr-item(data-category="1", data-sort="value")
          img(src="/img/carousel/6.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/7.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/8.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/9.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/10.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/11.jpg")
        .filtr-item(data-category="2", data-sort="value")
          img(src="/img/carousel/12.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/13.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/14.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/15.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/16.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/17.jpg")
        .filtr-item(data-category="3", data-sort="value")
          img(src="/img/carousel/18.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/19.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/20.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/21.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/22.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/23.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/24.jpg")
        .filtr-item(data-category="4", data-sort="value")
          img(src="/img/carousel/25.jpg")
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
include ../../includes/scripts.pug  
