include ../../mixins/_portfolio__item

doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Портфолио'
  -let description = 'Примеры работ, выполненных компанией Set Service Group'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    include ../../includes/menu-line.pug
    section.portfolio
      .portfolio__inner
        div(style="position: absolute; left: 20px; top: 0")
          include ../../includes/breadcrumbs.pug
        h1.title.title--uppercase Портфолио
        p.undertitle (Мы производим более 10000 различных наименований продукции)
        .portfolio__container
          aside.catalog
            h2.title Выбрать по критериям
            ul.catalog__list.catalog__list--unfolded
              li.catalog__item
                .catalog__groupname
                  //- .catalog__icon
                  .catalog__name Виды работ
                  //- .switch.switch--checked
                  //-   span.switch__bg
                  //-   span.switch__btn
                ul.catalog__links
                  li(data-filter="*") 
                    label.check
                      input(type="checkbox" name="category" checked)
                      span.check__box
                      //-a.active Все работы
                      | Все работы
                  //- li(data-filter=".turning_automat") 
                  //-   a Токарный автомат
                  li(data-filter=".milling_works")
                    label.check 
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Фрезерные работы
                  //- li(data-filter=".milling_works_with_cnc") 
                  //-   label.check
                  //-     input.hidden(type="checkbox" name="category")
                  //-     span.check__box
                  //-     | Фрезерные работы с ЧПУ
                  li(data-filter=".turning_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Токарные работы
                  //- li(data-filter=".turning_works_with_cnc")
                  //-   label.check
                  //-     input.hidden(type="checkbox" name="category")
                  //-     span.check__box
                  //-     | Токарные работы с ЧПУ
                  li(data-filter=".boring_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Координатно-расточные работы
                  li(data-filter=".grinding_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Шлифовальные работы
                  li(data-filter=".gear_cutting_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Зубонарезные работы
                  li(data-filter=".electric_erosion") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Электроэрозия
                  li(data-filter=".carousel_works_with_cnc") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Карусельная обработка с ЧПУ
                  li(data-filter=".cutting") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Резка металла
                  li(data-filter=".metal_bending") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Гибка металла
                  li(data-filter=".welding_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Сварочные работы
                  li(data-filter=".assembly_works") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Слесарно-сборочные работы
                  li(data-filter=".painting") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Нанесение покрытий
                  //- li(data-filter=".chrome_plating") 
                  //-   a Хромирование
                  //- li(data-filter=".turning_milling_works_with_cnc") 
                  //-   a Токарно-фрезерные работы с ЧПУ
                  
                  
                  
                  
                  
                  //- li(data-filter=".rolling") 
                  //-   a Вальцовка
                  
                  //- li(data-filter=".hydroabrasive_cutting") 
                  //-   a Гидроабразивная резка
                  
              li.catalog__item
                  .catalog__groupname
                    //-.catalog__icon
                    .catalog__name Виды изделий
                    //- .switch
                    //-   span.switch__bg
                    //-   span.switch__btn
                  ul.catalog__links
                    li(data-filter=".gearboxes") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Редукторы / Зубчатые передачи / Комплектующие
                    li(data-filter=".hydraulic-equipment") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Гидравлическое оборудование / Гидроцилиндры / Комплектующие
                    li(data-filter=".press-forms") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Пресс-формы, штампы, матрицы, фильеры
                    li(data-filter=".metal-structures") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Детали для промышленного оборудования
                    li(data-filter=".industrial-parts") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Детали для машиностроения
                    li(data-filter=".precision_parts") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Детали прецизионные
                    li(data-filter=".metalstructures") 
                      label.check
                        input.hidden(type="checkbox" name="category")
                        span.check__box
                        | Металлоконструкции
                    //- li(data-filter=".dimensional_parts") 
                    //-   a Габаритные детали
                    //- li(data-filter=".precision_parts") 
                    //-   a Прецизионные детали
              li.catalog__item
                .catalog__groupname
                  //- .catalog__icon
                  .catalog__name Серийность
                  //- .switch
                  //-   span.switch__bg
                  //-   span.switch__btn
                ul.catalog__links
                  li(data-filter=".serial_production") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Серийное производство
                  li(data-filter=".small_serial_production") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Мелкосерийное производство
                  li(data-filter=".unique_production") 
                    label.check
                      input.hidden(type="checkbox" name="category")
                      span.check__box
                      | Уникальное производство                  
                  //- .catalog__groupname
                  //-   //-.catalog__icon
                  //-   .catalog__name Серийное производство
                  //-   .switch
                  //-     span.switch__bg
                  //-     span.switch__btn
      
          .portfolio__grid
            //-1 page
            +portfolio__item('шестерня косозубая.jpg', 'turning_works', 'milling_works', 'gear_cutting_works', 'unique_production')
            +portfolio__item('вал.jpg', 'turning_works', 'grinding_works', 'painting', 'unique_production')
            +portfolio__item('зубчатое колесо.jpg', 'turning_works', 'gear_cutting_works', 'unique_production')
            +portfolio__item('матрица.jpg', 'carousel_works_with_cnc', 'milling_works', 'boring_works', 'unique_production')
            +portfolio__item('сварочные работы.jpg', 'welding_works', 'unique_production')

            +portfolio__item('сварочные работы1.jpg', 'welding_works', 'unique_production')
            +portfolio__item('сварочные работы2.jpg', 'welding_works', 'unique_production')
            +portfolio__item('newest/31.jpg', '*', 'unique_production')
            +portfolio__item('newest/10.jpg', '*', 'unique_production')
            +portfolio__item('newest/11.jpg', '*', 'unique_production')

            +portfolio__item('newest/8.jpg', '*', 'unique_production')
            +portfolio__item('newest/43.jpg', '*', 'unique_production')
            +portfolio__item('newest/45.jpg', '*', 'unique_production')
            +portfolio__item('newest/46.jpg', '*', 'serial_production')
            +portfolio__item('newest/47.jpg', '*', 'unique_production')

            +portfolio__item('newest/49.jpg', '*', 'unique_production')
            +portfolio__item('newest/48.jpg', '*', 'unique_production')
            +portfolio__item('плита-выставочная.jpg', 'carousel_works_with_cnc', 'boring_works', 'unique_production')
            +portfolio__item('нонейм.jpg', 'metal_bending', 'welding_works', 'milling_works', 'unique_production')
            +portfolio__item('пресс-форма1.jpg', 'milling_works', 'grinding_works', 'small_serial_production')

            //- 2 страница
            +portfolio__item('стопорная ось.jpg', 'turning_works', 'serial_production')
            +portfolio__item('ось.jpg', 'turning_works', 'serial_production')
            +portfolio__item('кожух.jpg', 'turning_milling_works_with_cnc', 'unique_production')
            +portfolio__item('корпус1.jpg', 'milling_works', 'serial_production')
            +portfolio__item('кронштейн.jpg', 'milling_works', 'serial_production')

            +portfolio__item('токарные работы.jpg', 'turning_works','serial_production')
            +portfolio__item('фитинг1.jpg', 'turning_milling_works_with_cnc', 'serial_production')
            +portfolio__item('шайба съемная.jpg', 'turning_works milling_works', 'serial_production')
            +portfolio__item('штуцер.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарные работы3.jpg', 'turning_works', 'serial_production')

            +portfolio__item('токарные работы4.jpg', 'turning_works', 'small_serial_production')
            +portfolio__item('фрезерные работы2.jpg', 'milling_works', 'serial_production')
            +portfolio__item('ток-зуб.jpg', 'turning_works', 'gear_cutting_works', 'serial_production')
            +portfolio__item('фрез чпу.jpg', 'milling_works', 'serial_production')
            +portfolio__item('вал-шестерня1.jpg', 'turning_works', 'gear_cutting_works')

            +portfolio__item('вал-шестерня2.jpg', 'turning_works', 'gear_cutting_works')
            +portfolio__item('втулка1.jpg', 'turning_works-with-cnc')
            +portfolio__item('держатель1.jpg', 'milling_works')
            +portfolio__item('корпус3.jpg', 'cutting', 'bending_works', 'welding_works')
            +portfolio__item('оправа.jpg', 'turning_works', 'small_serial_production')
            //-3 page
            +portfolio__item('основание2.jpg', 'cutting', 'milling_works', 'small_serial_production')
            +portfolio__item('основание4.jpg', 'cutting', 'milling_works', 'serial_production')
            +portfolio__item('стяжка.jpg', 'milling_works', 'serial_production')
            +portfolio__item('упор.jpg', 'milling_works', 'unique_production')
            +portfolio__item('фиксатор.jpg', 'cutting', 'milling_works', 'small_serial_production')

            +portfolio__item('фланец.jpg', 'turning_works', 'serial_production')
            +portfolio__item('вал1.jpg', 'turning_works', 'serial_production')
            +portfolio__item('диск колесный.jpg', 'turning_works milling_works', 'serial_production')
            +portfolio__item('корпус4.jpg', 'turning_works', 'serial_production')
            +portfolio__item('кронштейн1.jpg', 'milling_works', 'serial_production')

            +portfolio__item('упор1.jpg', 'turning_works', 'serial_production')
            +portfolio__item('фиксатор1.jpg', 'milling_works', 'serial_production')
            +portfolio__item('фитинг2.jpg', 'turning_works', 'serial_production')
            +portfolio__item('фланец1.jpg', 'turning_works', 'serial_production')
            +portfolio__item('основание5.jpg', 'milling_works', 'serial_production')

            +portfolio__item('newest/1.jpg', '*', 'small_serial_production')
            +portfolio__item('newest/2.jpg', '*', 'serial_production')
            +portfolio__item('newest/6.jpg', '*', 'unique_production')
            +portfolio__item('newest/4.jpg', '*', 'serial_production')
            +portfolio__item('newest/16.jpg', '*', 'small_serial_production')

            //-3 page
            +portfolio__item('newest/13.jpg', '*', 'unique_production')
            +portfolio__item('Прецизионные детали.jpg', 'precision_parts', 'serial_production')
            +portfolio__item('штифт.jpg', 'turning_works', 'serial_production')
            +portfolio__item('newest/5.jpg', '*', 'serial_production')
            +portfolio__item('Колесо ведущее, колесо ведомое.jpg', 'turning_works', 'gear_cutting_works', 'serial_production')

            +portfolio__item('Токарные работы ЧПУ, серийное производство.jpg', 'turning_works', 'serial_production')
            +portfolio__item('основание1.jpg', 'turning_works milling_works', 'unique_production')
            +portfolio__item('фитинг.jpg', 'turning_works milling_works', 'serial_production')
            +portfolio__item('токарные работы7.jpg', 'turning_works')
            +portfolio__item('Токарно-фрезерные работы ЧПУ.jpg', 'turning_works milling_works', 'serial_production')

            +portfolio__item('токарно-фрезерные работы.jpg', 'turning_works', 'milling_works', 'serial_production')
            +portfolio__item('токарные работы2.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарные работы5.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарные работы6.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарные работы ЧПУ.jpg', 'turning_works', 'serial_production')

            +portfolio__item('токарка, фрезеровка.jpg', 'turning_works', 'milling_works', 'serial_production')
            +portfolio__item('бак.jpg', 'metal_bending', 'turning_works', 'milling_works', 'assembly_works', 'welding_works', 'unique_production')
            +portfolio__item('вакуумированная камера.jpg', 'welding_works', 'turning_works', 'milling_works', 'unique_production')
            +portfolio__item('токарные работы, фрезерные работы.jpg', 'turning_works', 'milling_works', 'serial_production')
            +portfolio__item('токарные работы, фрезерные работы2.jpg', 'turning_works', 'milling_works' , 'serial_production')

            //-4 page
            +portfolio__item('токарные работы, фрезерные работы3.jpg', 'turning_works', 'milling_works' , 'small_serial_production')
            +portfolio__item('токарные работы, шлифовальные работы.jpg', 'turning_works', 'grinding_works' , 'small_serial_production')
            +portfolio__item('токарные работы, шлифовальные работы2.jpg', 'turning_works', 'grinding_works' , 'small_serial_production')
            +portfolio__item('токарные работы, шлифовальные работы3.jpg', 'turning_works', 'grinding_works' , 'serial_production')
            +portfolio__item('токарные работы, электроэррозия.jpg', 'turning_works', 'electric_erosion' , 'serial_production')

            +portfolio__item('newest/41.jpg', '*' , 'small_serial_production')
            +portfolio__item('newest/40.jpg', '*' , 'serial_production')
            +portfolio__item('newest/37.jpg', '*' , 'serial_production')
            +portfolio__item('фрез-лаз-свар.jpg', 'milling_works', 'cutting', 'welding_works' , 'serial_production')
            +portfolio__item('корпус2.jpg', 'cutting', 'bending_works' , 'serial_production')

            +portfolio__item('фрезерные работы4.jpg', 'milling_works', 'dimensional_parts' , 'serial_production')
            +portfolio__item('пресс-форма.jpg', 'turning_works', 'grinding_works' , 'serial_production')
                //-мелочи
            +portfolio__item('серийное производство, токарные работы ЧПУ.jpg', 'turning_works', 'serial_production', 'serial_production')
            +portfolio__item('шток.jpg', 'turning_works', 'serial_production', 'serial_production')
            +portfolio__item('крепление-оттяжки.jpg', 'turning_works', 'serial_production')

            +portfolio__item('полуось.jpg', 'turning_works milling_works', 'serial_production', 'serial_production')
            +portfolio__item('newest/44.jpg', '*', 'serial_production')
            +portfolio__item('фитинги.jpg', 'turning_works milling_works', 'serial_production', 'serial_production')
            +portfolio__item('токарный автомат.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарный автомат111.jpg', 'turning_works', 'serial_production')

            //-5page
            +portfolio__item('стойка.jpg', 'turning_works', 'serial_production')
            +portfolio__item('токарные работы ЧПУ2.jpg', 'turning_works', 'serial_production')
            +portfolio__item('гидроабразивная резка-чб.jpg', 'cutting', 'serial_production')
              //-чертежи
            +portfolio__item('токарные работы, фрезерные работы, электрополировка.jpg', 'turning_works', 'milling_works', 'grinding_works', 'unique_production')
            +portfolio__item('токарные работы, фрезерные работы, электрополировка2.jpg', 'turning_works', 'milling_works', 'grinding_works', 'unique_production')

            +portfolio__item('токарно-фрезерные работы с ЧПУ, шлифовальные работы.jpg', 'turning_works milling_works', 'grinding_works', 'unique_production')
            +portfolio__item('терминал платежный.jpg', 'metal_bending', 'cutting', 'welding_works', 'unique_production')
            +portfolio__item('токарно-фрезрное чпу, электроэрозия.jpg', 'turning_works milling_works', 'electric_erosion', 'unique_production')
            +portfolio__item('вал2-чб.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('Шатун-чб.jpg', 'precision_parts', 'unique_production')

            +portfolio__item('specgaika.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('Пневмодолото(сбор)-чб.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('Пневмодолото (разбор)-чб.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('насадкиэлектрошпателей.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('Механическийзамыкатель.jpg', 'precision_parts', 'unique_production')
            
            +portfolio__item('завихряющийэлемент.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('Винт прижим-чб.jpg', 'precision_parts', 'unique_production')
            +portfolio__item('зубонарезные работы, токарные работы (2).jpg', 'turning_works', 'gear_cutting_works', 'unique_production')
            +portfolio__item('зубонарезные работы, Токарные работы, габаритные детали.jpg', 'turning_works', 'gear_cutting_works', 'dimensional_parts', 'unique_production')
           

          .modal
            .modal-content
              img
              .modal__btns
                button.modal__btn.modal__btn--prev(type="button")
                button.modal__btn.modal__btn--next(type="button")
        .portfolio__pager

    include ../../includes/popupform.pug
    include ../../includes/bottom-line.pug

script(src="/js/common.js")
script(src="/libs/isotope/isotope.min.js")
script(src="/js/portfolio.js")
script(src="/js/dropdown.js")

