doctype
html
  -let title = 'Set Service Group – Центр металлообработки'
  -let description = 'В распоряжении нашей компании имеется 6 производственных площадок, каждая из которых предназначена для решения задач в определенной производственной сфере.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    include ../../includes/menu-line
    //- section.menu-line.menu-line--areas
    //-   .menu-line__item.active
    //-       .menu-line__btn Площадка 1
    //-   .menu-line__item
    //-       .menu-line__btn Площадка 2
    //-   .menu-line__item
    //-       .menu-line__btn Площадка 3
    //-   .menu-line__item
    //-       .menu-line__btn Площадка 4
    //-   .menu-line__item
    //-       .menu-line__btn Площадка 5
    //-   .menu-line__item
    //-       .menu-line__btn Площадка 6
    section.prod-areas
      .container
        h1.title.title--uppercase Производственные площадки
        p.undertitle 
          | В распоряжении нашей компании имеется 6 производственных площадок, 
          br
          | каждая из которых предназначена для решения задач в определенной производственной сфере
      .areas#areas0
      //- .areas#areas1
      //- .areas#areas2
      //- .areas#areas3
      //- .areas#areas4
      //- .areas#areas5

        //- p.text(style="max-width: 1340px; margin: 20px auto 60px auto;")
          b Мелко- и среднегабаритная мехобработка, серийное производство.
          br
          br
          | 1) Санкт-Петербург, Кингисеппское ш., д. 53; г. Луга, ул. Большая Заречная 1а
          br
          | Парк: гидроабразивная резка и токарно-фрезерные станки с ЧПУ.
          br
          br
          b Крупногабаритная и сверхгабаритная мехобработка.
          br
          br
          | 2) Санкт-Петербург, Чугунная, д. 14; пос. Понтонный ул. Заводская д 10
          br
          | Парк: Токарно-карусельная обработка, крупногабаритные расточные станки
          br
          br
          | 3) Санкт-Петербург, дорога на Петрославянку, д. 5, лит. АЕ (территория завода «ОРМА»)
          br
          | Парк: Токарно-карусельная обработка, крупногабаритные координатно-расточные станки
          br
          br
          b Слесарно-сборочный цех
          br
          br
          | 4) Санкт-Петербург, ул. Салова, д. 37
          br
          | Парк: сварные посты, лазерная и плазменная резка, гильотинный и гибочный участок
    section
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
script(src="/js/common.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=02428436-3bf8-41c8-a1df-083df11b9f44&lang=ru_RU")
script.
  $(document).ready(function (){
    ymaps.ready(initMaps);

    function initMaps () {
      //- const coordinates = [[59.721700, 30.0600805], [58.742987, 29.872054], [59.972232, 30.351972], [59.790082, 30.629443], [59.806664, 30.510987], [59.894012, 30.381813]];
      //- let maps = [];
      //- for (let i = 0; i < 6; i++) {
      //-   maps[i] = new ymaps.Map(`areas${i}`, {
      //-     center: coordinates[i],
      //-     zoom:16
      //-   });
      //-   maps[i].controls.add('zoomControl', { left: 15, top: 15 });
      //-   let placemark = new ymaps.Placemark(coordinates[i], {
      //-   }, {
      //-     iconImageHref: '../img/map-marker.png',
      //-     iconImageSize: [201, 160],
      //-     iconImageOffset: [-60, -160]
      //-   });

      //-   maps[i].geoObjects.add(placemark);
      let myMap = new ymaps.Map('areas0', {
          center: [59.875223, 30.290999],
          zoom:10,
          controls: ['zoomControl']
        });

      myMap.behaviors.disable('scrollZoom'); 

      let MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
        '<div>$[properties.iconContent]</div>'
      );

      let iconProperties = {
        iconLayout: 'default#imageWithContent',
        iconImageHref: '../img/map-marker.png',
        iconImageSize: [75, 60],
        iconImageOffset: [-17, -61],
        iconContentLayout: MyIconContentLayout
      };

      myMap.geoObjects
        .add(new ymaps.Placemark([59.721700, 30.0600805], {
          balloonContentHeader: 'Мелко- и среднегабаритная мехобработка, серийное производство.',
          balloonContent: 'Санкт-Петербург, Кингисеппское ш., д. 53',
        }, iconProperties))
        .add(new ymaps.Placemark([59.972232, 30.351972], {
          balloonContentHeader: 'Крупногабаритная и сверхгабаритная мехобработка',
          balloonContent: 'Санкт-Петербург, Чугунная, д. 14',
        }, iconProperties))
        .add(new ymaps.Placemark([59.790082, 30.629443], {
          balloonContentHeader: 'Крупногабаритная и сверхгабаритная мехобработка',
          balloonContent: 'пос. Понтонный ул. Заводская д 10',
        }, iconProperties))
        .add(new ymaps.Placemark([59.818043, 30.510066], {
          balloonContentHeader: 'Крупногабаритная и сверхгабаритная мехобработка',
          balloonContent: 'Санкт-Петербург, дорога на Петрославянку, д. 5, лит. АЕ (территория завода «ОРМА»)',
        }, iconProperties))
        .add(new ymaps.Placemark([59.894012, 30.381813], {
          balloonContentHeader: 'Слесарно-сборочный цех',
          balloonContent: 'Санкт-Петербург, ул. Салова, д. 37',
        }, iconProperties))
        .add(new ymaps.Placemark([59.922579, 30.441586], {
          balloonContentHeader: 'Главный офис Set Service Group',
          balloonContent: 'Санкт-Петербург, ул. Ворошилова, д. 2 (БЦ Охта)',
        }, iconProperties))
        .add(new ymaps.Placemark([58.742760, 29.871171], {
          balloonContentHeader: 'Мелко- и среднегабаритная мехобработка, серийное производство',
          balloonContent: 'г. Луга, ул. Большая Заречная 1а',
        }, iconProperties));
    }

    //- $(".menu-line__item").click(function() {
    //-   $(".menu-line__item").removeClass('active');
    //-   $(this).addClass('active');
    //-   let indexOfThis = $(this).index('.menu-line__item');
    //-   $('.areas').css('display','none');
    //-   $('.areas').eq(indexOfThis).css('display','block');
    //- });

  });
  

  
