doctype
html
  -let title = 'Set Service Group – Центр металлообработки'
  //-let description = 'В распоряжении нашей компании имеется 6 производственных площадок, каждая из которых предназначена для решения задач в определенной производственной сфере.'
  include ../../includes/head.pug
  body.body--parallax
    section.full-height
      .container
        h1.title.title--uppercase Серийное производство
        p.undertitle Страница в разработке
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    include ../../includes/menu-line
    include ../../includes/popupform.pug
    include ../../includes/bottom-line.pug
script(src="/js/common.js")