doctype
html
  -let title = 'Уполномоченный региональный оператор Технопарка "Сколково"'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    section.skolkovo-operator
      h1.title
        | Уполномоченный региональный оператор 
        br
        | Технопарка "Сколково"
      p.undertitle 
        | ООО "НТЦ "Победа" включено в реестр региональных 
        br
        | центров коллективного пользования (ЦКП) 
        br
        | 15 марта 2019 года.
      ul.skolkovo-operator__info
        li.skolkovo-operator__column.skolkovo-operator__column--left
          img(src="../img/skolkovo-sert.jpg", alt="")
          a.file.file--doc(href="/img/skolkovo-sert.jpg" download="") Сертификат о включении в реестр
        li.skolkovo-operator__column.skolkovo-operator__column--right
          p.text.text--justify 1. Временное хранение товаров в помещениях, на открытых площадках и иных территориях уполномоченного экономического оператора:
          ul.list
            li г. Москва, ул. Стахановская д.19;
            li г. Москва, Очаковское шоссе, дом 42;
            li Московская область, Ногинский р-он, пос. им. Воровского;
            li Московская область, г. Балашиха, Покровский пр-д, д.4.
          p.text.text--justify 2. Проведение таможенных операций, связанных с выпуском товаров на открытых площадках и иных территориях уполномоченного экономического оператора, включая завершение таможенной процедуры таможенного транзита.
          p.text.text--justify 3. Выпуск товаров до подачи таможенной декларации в соответствии со статьей 197 Таможенного кодекса Таможенного союза.
          p.text.text--justify Соглашения подписаны с таможнями:
          ul.list
            li Московская,
            li Брянская,
            li Новосибирская,
            li Находкинская,
            li Балтийская.
          p.text.text--justify 4. Предварительное таможенное декларирование товаров, в том числе с подачей неполной и (или) периодической таможенной декларации.
      .title.title--smaller Преимущества статуса УРО
      ul.list
        li Осуществление таможенного декларирования товаров в любом таможенном органе РФ, то есть на УЭО не распространяются ограничения мест декларирования отдельных товаров, которые устанавливаются ФТС России.
        li Возможность не представлять обеспечение уплаты таможенных платежей при заявлении процедуры таможенного транзита.
        li Сокращение сроков выпуска товаров до четырех часов.
        li Осуществление выпуска товаров до подачи декларации на товары без расчета сумм обеспечения по конкретной товарной партии.
        li Наличие упрощения, позволяющего осуществлять доставку ввозимых товаров на склад УЭО, минуя внутренний таможенный орган. Суть этого упрощения заключается в том, что при ввозе иностранных товаров, следующих в адрес УЭО, товары в обычном порядке помещаются под таможенную процедуру таможенного транзита в приграничном таможенном органе. Особенность заключается в том, что перевозчик может сразу доставить данные товары на склады и иные территории УЭО без предварительной доставки товаров во внутренний таможенный орган, завершающий таможенную процедуру таможенного транзита.
        li Потенциальное сокращение временных затрат и транспортных расходов на доставку товаров с границы Евразийского экономического союза до склада компании (автомобильный вид транспорта).
        li Отсутствие временных затрат на помещение товаров на склад временного хранения при заявлении таможенной процедуры таможенного транзита.
        li Свободное распоряжение товаром непосредственно после завершения процедуры таможенного транзита на складе компании.
        li Заблаговременное уведомление компании таможенными органами (в некоторых случаях) о возможности проведения таможенного досмотра.
        li Проведение таможенного контроля в отношении товаров на территории (складе) компании.
        li Нераспространение общих профилей риска в отношении ввозимых товаров, что приводит к сокращению частоты таможенных досмотров.
        li Репутация добросовестного участника ВЭД.
        li Увеличение денежных средств в обороте. Компания может воспользоваться беспроцентной отсрочкой уплаты таможенных платежей практически на 40 дней.
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
  script(src="/js/common.js")