doctype
html
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/main-header.pug
    ul.dropdown.dropdown--technical
      h1.title Технические возможности
      p.text.text--center
        | Мы располагаем производственной базой обрабатывающими центрами, станками с ЧПУ, парком токарных и фрезерных станков, прочим металлообрабатывающим оборудованием.
      li.dropdown-item
        .dropdown-title
          .container(style='border-top: 1px solid #eceded;')
            .switch
              span.switch__bg
              span.switch__btn
            | Токарная обработка
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Токарные работы
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='Yida BML-600', src='https://zaoks.ru/thumb/2/x8K951lb7Ne14XW8RecdcA/r/d/yida_bml-600.jpg')
                  td
                    strong Токарный станок с ЧПУ Yida BML-600
                  td 2010
                  td Тайвань
                  td
                    strong Макс. диаметр обработки
                    | : 320 мм
                    br
                    strong Макс. длина обработки
                    | : 570 мм
                    br
                    strong Максимальный диаметр прутка
                    | : 75 мм
                    br
                    strong Диаметр осевого инструмента
                    | : 40 мм
                    br
                    strong Управление задней бабкой
                    | : ЧПУ
                    br
                    strong Размер патрона
                    | : 10 дюйм
                    br
                tr
                  td
                    img(alt='DMG Mori CTX 510 ecoline', src='https://zaoks.ru/thumb/2/bVtlxo71IFTeCIoIGq88yw/r/d/dmg_mori_ctx_510_ecoline.jpg')
                  td
                    strong Универсальный токарный станок DMG Mori CTX 510 ecoline 
                  td 2011
                  td Россия
                  td
                    strong Макс. диаметр точения
                    | : 465 мм
                    br
                    strong Макс. длина при обработке в центрах
                    | : 1 050 мм
                    br
                    strong Макс. диаметр зажимного патрона
                    | : 315 мм
                    br
                    strong Мощность
                    | : 22 кВт (AC)
                    br
                    strong Макс. внутренний диаметр зажимной втулки
                    | : 90 мм
                tr
                  td
                    img(alt='ДИП-300 1М63М', src='https://zaoks.ru/thumb/2/kl3S08SduIc0Tprs1rtvIg/r/d/dip-300_1m63m.jpg')
                  td
                    strong Универсальный токарно-винторезный станок ДИП-300 1М63М
                  td 2008
                  td Россия
                  td
                    strong Номинальный диаметр конуса D
                    | : 139,719 мм
                    br
                    strong Условный размер конца шпинделя
                    | : 8
                    br
                    strong Внутренний конус шпинделя
                    | : Морзе 6
                    br
                    strong Диаметр сквозного отверстия
                    | : Ø 47 мм
                    br
                    strong Наибольший диаметр прутка
                    | : Ø 45 мм
                    br
                    strong Метрические резьбы
                    | : от 1 до 192 мм
                    br
                    strong Дюймовые резьбы
                    | : от 24 до 1/4 ниток на один дюйм
                    br
                    strong Модульные резьбы с модулями
                    | : от 0,5 до 48
                    br
                    strong Питчевые резьбы
                    | : от 96 до 7/8
                tr
                  td
                    img(alt='ДИП-500', src='https://zaoks.ru/thumb/2/srcB2KiQWUg1lKljl-KXJA/r/d/dip-500.jpg')
                  td
                    strong Универсальный токарно-винторезный станок ДИП-500 1М65М.РТ731
                  td 2009
                  td Россия
                  td
                    strong Наибольший диаметр обработки над станиной
                    | : 1 000 мм
                    br
                    strong Диаметр обработки над суппортом
                    | : 650 мм
                    br
                    strong Расстояние между центрами
                    | : 3 000 - 10 000 
                    br
                    strong Диаметр цилиндрического отверстия в шпинделе
                    | : 128 мм
                    br
                    strong Количество ступеней частот вращения
                    | : 24 
                    br
                    strong Наибольший вес обрабатываемой детали в центрах
                    | : 8 000 кг
                tr
                  td
                    img(alt='DMTG CW61125M', src='https://zaoks.ru/thumb/2/dpL5Ag1kIh10nOQvSqu5kQ/r/d/dmtg_cw61125m.jpg')
                  td
                    strong Универсальный токарный станок DMTG CW61125M
                  td 2011
                  td Китай
                  td
                    strong Макс. диаметр изделия типа диск
                    | : 1250 мм
                    br
                    strong Макс. диаметр обработки тел типа вал
                    | : 880 мм
                    br
                    strong Макс. диаметр обработки в гапе
                    | : 1650 мм
                    br
                    strong РМЦ, макс длина заготовки
                    | : 1500 мм
                    br
                    strong Макс. вес заготовки
                    | : 5000 кг
                tr
                  td
                    img(alt='VL-4000', src='https://zaoks.ru/thumb/2/T3jIKl0AeHZkeXsiyyoVTw/r/d/vl-4000.jpg')
                  td
                    strong Токарный карусельный станок YSP VL-4000ATC+C
                  td 2012
                  td Россия
                  td
                    strong Диаметр устанавливаемой заготовки
                    | : 3500 мм 
                    br
                    strong Диаметр обрабатываемой заготовки
                    | : 3400 мм 
                    br
                    strong Высота обработки
                    | : 1800 (2200) мм
                    br
                    strong Наибольшая масса заготовки
                    | : 30 000 (40000) кг
                tr
                  td
                    img(alt='16К20', src='https://zaoks.ru/thumb/2/Fh9jK7pgY9RjkU_E8VbP3g/r/d/16k20.jpg')
                  td
                    strong Токарно-винторезный станок 16К20
                  td 1980
                  td СССР
                  td
                    strong Диаметр обработки над станиной
                    | : 400 мм
                    br
                    strong Диаметр обработки над суппортом
                    | : 220 мм
                    br
                    strong Максимальная масса заготовки, закрепленной в патроне
                    | : 300 кг
                    br
                    strong Максимальная масса детали, закрепленной в центрах
                    | : 1 300 кг
                    br
                    strong Число нарезаемых метрических резьб
                    | : 45 
                    br
                    strong Число нарезаемых дюймовых резьб
                    | : 28 
                    br
                    strong Число нарезаемых модульных резьб
                    | : 38 
                    br
                    strong Число нарезаемых питчевых резьб
                    | : 37
                tr
                  td
                    img(alt='TOS SU 500', src='https://zaoks.ru/thumb/2/oFS7u3RG0fGBA6EnojuJmA/r/d/tos_su_500.jpg')
                  td
                    strong Токарный станок TOS SU-32/500
                  td 2008
                  td Чехия
                  td
                    strong Диаметр обработки над станиной
                    | : 1000 мм 
                    br
                    strong Диаметр обработки над суппортом
                    | : 750 мм 
                    br
                    strong Максимальная длина заготовки
                    | : 6000 мм
                    br
                    strong Максимальный вес заготовки
                    | : 3 тонны
                tr
                  td
                    img(alt='1К62', src='https://zaoks.ru/thumb/2/ptR5ODSljT0VjSgbz7UZAA/r/d/1k62.jpg')
                  td
                    strong Универсальный токарно-винторезный станок 1К62
                  td 1982
                  td СССР
                  td
                    strong Наибольший диаметр заготовки над станиной
                    | : 400 мм 
                    br
                    strong Наибольший диаметр заготовки над суппортом
                    | : 220 мм
                    br
                    strong Наибольшая длина заготовки (РМЦ)
                    | : 750, 1000, 1500 мм
                    br
                    strong Наибольшая масса заготовки в патроне
                    | : 500 кг
                    br
                    strong Наибольшая масса заготовки в центрах
                    | : 1500 кг
                tr
                  td
                    img(alt='1К625', src='https://zaoks.ru/thumb/2/8aRvXRHYRNdMkP6PseslHw/r/d/1k625.jpg')
                  td
                    strong Универсальный токарно-винторезный станок 1К625
                  td 1984
                  td СССР
                  td
                    strong Наибольший диаметр заготовки над станиной
                    | : 500 мм 
                    br
                    strong Наибольший диаметр заготовки над суппортом
                    | : 260 мм 
                    br
                    strong Наибольшая длина заготовки (РМЦ)
                    | : 1000, 1400, 2000 мм 
                    br
                    strong Наибольшая масса заготовки в патроне
                    | : 500 кг 
                    br
                    strong Наибольшая масса заготовки в центрах
                    | : 1500 кг
                tr
                  td
                    img(alt='1м63мф101', src='https://zaoks.ru/thumb/2/ZEs465D7Ot7BkJivQtH2EQ/r/d/1m63mf101.jpg')
                  td
                    strong Универсальный токарно-винторезный станок 1м63
                  td 1985
                  td СССР
                  td
                    strong Класс точности:
                    |  Н
                    br
                    strong Наибольший диаметр точения над станиной
                    | : мм 630
                    br
                    strong Наибольший диаметр точения над суппортом
                    | : мм 350
                    br
                    strong Наибольшая длинна обрабатываемой заготовки
                    | : мм 1500
                tr
                  td
                    img(alt='16а20ф3с39', src='https://zaoks.ru/thumb/2/r6CwP9AuoLBRHyMPSglJGA/r/d/16a20f3s39.jpg')
                  td
                    strong Патронно-цифровой токарный станок с ЧПУ 16а20ф3с39
                  td 2009
                  td Россия
                  td
                    strong Класс точности станка
                    | : Н 
                    br
                    strong Наибольший диаметр детали обрабатываемой над станиной
                    | : 320 мм
                    br
                    strong Наибольший диаметр детали обрабатываемой над суппортом
                    | : 200 мм
                    br
                    strong Наибольшая длина обрабатываемой детали
                    | : 900 мм
                    br
                    strong ЧПУ
                    | : НЦ-31
                tr
                  td
                    img(alt='16к30ф328', src='https://zaoks.ru/thumb/2/xStaVPciHANqK8zjCoK6qg/r/d/16k30f328.jpg')
                  td
                    strong Универсальный токарно-винторезный станок 1м63мф101
                  td 1984
                  td СССР
                  td
                    strong Класс точности:
                    |  Н
                    br
                    strong Наибольший диаметр точения над станиной
                    | : 500 мм
                    br
                    strong Наибольший диаметр точения над суппортом
                    | : мм 340
                    br
                    strong Наибольшая длинна обрабатываемой заготовки
                    | : мм 1500
                tr
                  td
                    img(alt='ChallengerLT52', src='https://zaoks.ru/thumb/2/A09GpHR0zpNpoDveKXZzvg/r/d/challengerlt52.jpg')
                  td
                    strong Токарный станок с ЧПУ с наклонной станиной Challenger LT 52
                  td 2010
                  td Тайвань
                  td
                    strong Наибольший диаметр заготовки над станиной
                    | : 500 мм 
                    br
                    strong Наибольший диаметр заготовки над суппортом
                    | : 210 мм 
                    br
                    strong Длина обрабатываемой заготовки
                    | : 460 мм
                    br
                    strong Точность позиционирования
                    | : ±0,005 мм 
                    br
                    strong Повторяемость
                    | : 0,005 мм
                tr
                  td
                    img(alt='1П756', src='https://zaoks.ru/thumb/2/2H4kVnxiRcZRoq1iMIiVmg/r/d/1p756.jpg')
                  td
                    strong Токарный станок с ЧПУ 1П756
                  td 1986
                  td СССР
                  td
                    strong Наибольшая длина обрабатываемой заготовки
                    | : 320 мм
                    br
                    strong Наибольшая глубина растачивания
                    | : 120 мм
                    br
                    strong Наибольший диаметр заготовки над станиной
                    | : 630 мм
                    br
                    strong Наибольший диаметр заготовки в патроне
                    | : 500 мм
                    br
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Фрезерная обработка
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Фрезерные работы
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='6Т80(2)', src='https://zaoks.ru/thumb/2/_L2iRk0dbDE9BMF7PS_UHQ/r/d/6t802.jpg')
                  td
                    strong Горизонтально-фрезерный 6т-80
                  td 1979
                  td СССР
                  td
                    strong Наибольшие размеры заготовки
                    | : 220 мм
                    br
                    strong Максимальная нагрузка на стол
                    | : 200 кг
                    br
                    strong Рабочая поверхность стола
                    | : 850*260 мм
                tr
                  td
                    img(alt='FU400', src='https://zaoks.ru/thumb/2/gjir3d0_L3vuKU0XfP8G-g/r/d/fu400.jpg')
                  td
                    strong Горизонтально-фрезерный FU400
                  td 1997
                  td Германия
                  td
                    strong Длина рабочей поверхности стола
                    | : 1600 мм
                    br
                    strong Ширина стола
                    | : 400 мм
                    br
                    strong Наибольшая масса детали
                    | : 1500 кг
                tr
                  td
                    img(alt='F400', src='https://zaoks.ru/thumb/2/ZFFmr2EX3BYhEchF-J76tg/r/d/f400.jpg')
                  td
                    strong Вертикально-фрезерный станок F400
                  td 1992
                  td Германия
                  td
                    strong Длина рабочей поверхности стола
                    | : 1600 мм
                    br
                    strong Ширина стола
                    | : 400 мм
                    br
                    strong Наибольшая масса детали
                    | : 1500 кг
                tr
                  td
                    img(alt='6Р81', src='https://zaoks.ru/thumb/2/-6mW2Jk9yt1iJk8ykNHFmg/r/d/6r81.jpg')
                  td
                    strong Консольно-фрезерный станок 6р81
                  td 1980
                  td СССР
                  td
                    strong Класс точности
                    | : Н
                    br
                    strong Длина стола
                    | : 1000 мм
                    br
                    strong Ширина стола
                    | : 250 мм
                    br
                tr
                  td
                    img(alt='1м63мф101', src='https://zaoks.ru/thumb/2/ZEs465D7Ot7BkJivQtH2EQ/r/d/1m63mf101.jpg')
                  td
                    strong Широкоуниверсальный фрезерный станок 676П
                  td 1982
                  td СССР
                  td
                    strong Класс точности
                    | : П
                    br
                    strong Рабочая поверхность стола, мм
                    | :
                    br
                    br
                    em Основной
                    |  630х250
                    br
                    em Угловой горизонтальный
                    |  800х250
                    br
                    em Угловой универсальный
                    |  630х200
                    br
                    em Круглый
                    |  (диаметр поверхности, высота) 250, 110
                    br
                    br
                    strong Наибольший ход основного стола, мм:
                    br
                    br
                    em Продольный
                    |  400
                    br
                    em Вертикальный
                    |  380
                    p
                tr
                  td
                    img(alt='VDL-1000', src='https://zaoks.ru/thumb/2/C7S7aC7bBGPhGBCKgCrZbQ/r/d/vdl-1000.jpg')
                  td
                    strong Вертикально-фрезерный обрабатывающий центр с ЧПУ VDL-1000
                  td
                    p
                      | 2012
                  td Китай
                  td
                    strong Рабочая поверхность стола
                    | : 1120x560 мм
                    br
                    strong Максимальная допустимая нагрузка на стол
                    | :800кг
                    br
                    strong Точность позиционирования
                    | : ±0,005 мм
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Координатно-расточные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Координатно-расточные станки
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='2421', src='https://zaoks.ru/thumb/2/sWR59BPXLvqA7qnxtdtb_Q/r/d/2421.jpg')
                  td
                    strong Одностоечный координатно-расточной станок 2421
                  td 1984
                  td СССР
                  td
                    strong Размер рабочей поверхности стола
                    | : 250х450 мм
                    br
                    strong Максимальный вес изделия
                    | : 150 кг
                    br
                    strong Наибольший диаметр сверления в сплошном материале
                    | :
                    br
                    br
                    em Сталь
                    | : 10 мм
                    br
                    em Чугун
                    | : 12 мм
                    br
                    br
                    strong Наибольший диаметр растачивания
                    | : 80 мм
                tr
                  td
                    img(alt='2622', src='https://zaoks.ru/thumb/2/h-eLCpO-6nV2L4JkpmYDJQ/r/d/2622.jpg')
                  td
                    strong Горизонтальный координатно-расточной станок с оптическим устройством 2622
                  td 1979
                  td СССР
                  td
                    strong Рабочая поверхность стола
                    | : 900 х 1120 мм
                    br
                    strong Наибольший вес детали
                    | : 2000 кг
                    br
                    strong Диаметр расточного шпинделя
                    | : 90 мм
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Шлифовальные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Шлифовальные станки
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='3А227', src='https://zaoks.ru/thumb/2/1jHWiM-pg-Af-0oJMtY9EA/r/d/3a227.jpg')
                  td
                    strong Внутришлифовальный станок 3А227
                  td 1970
                  td СССР
                  td
                    strong Класс точности по ГОСТ 8-82
                    | : В
                    br
                    strong Наибольший диаметр устанавливаемого изделия
                    | : 400 мм
                    br
                    strong Наибольший диаметр устанавливаемого изделия в кожухе
                    | : 250 мм
                    br
                    strong Наибольшая длина устанавливаемого изделия
                    | : 125 мм
                    br
                    strong Наименьший и наибольший диаметр шлифуемого отверстия
                    | : 20...160 мм
                tr
                  td
                    img(alt='3К228', src='https://zaoks.ru/thumb/2/YGuWzxZF8uHvQ3BO5AwHzQ/r/d/3k228.jpg')
                  td
                    strong Внутришлифовальный станок 3К2288
                  td 2009
                  td Россия
                  td
                    strong Наименьший диаметр шлифуемых отверстий
                    | : 40 мм
                    br
                    strong Наибольший диаметр шлифуемых отверстий
                    | : 400 мм
                    br
                    strong Наибольшая длина шлифования
                    | : 320 мм
                    br
                    strong Наружный диаметр на станке без кожуха
                    | : 560 мм
                    br
                    strong Наружный диаметр изделия с кожухом
                    | : 400 мм
                    br
                    strong Наибольший угол поворота бабки изделия
                    | : 30 град
                tr
                  td
                    img(alt='3М636', src='https://zaoks.ru/thumb/2/0huNZ0o1pmj8EHQRQ6KPcQ/r/d/3m636.jpg')
                  td
                    strong Обдирочно-шлифовальный станок 3М-636
                  td 1970
                  td СССР
                  td
                    strong Класс точности
                    | : H
                    br
                    strong Диаметр круга шлифования
                    | : 60 см
                    br
                    strong Максимальная масса заготовки
                    | : 30 кг
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Резка металла
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Лазерная резка
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='Trumpf-L4030', src='https://zaoks.ru/thumb/2/fPK1SDaVorKIbZL5hDDVSA/360r300/d/trumpf-l4030.jpg')
                  td
                    strong Установка лазерной резки Trumpf Trumatic L4030
                  td 2008
                  td Германия
                  td
                    strong Тип лазера
                    | : TLF 2400Turbo 
                    br
                    strong Мощность лазера
                    | : 2400 Вт 
                    br
                    strong Система ЧПУ
                    | : Siemens Sinumerik 840 D 
                    br
                    strong Точность позиционирования
                    | : 0,1мм 
                    br
                    strong Максимальный вес детали
                    | : 1250 кг 
                    br
                    strong Максимальная толщина листа
                    | :
                    br
                    em Конструкционная сталь
                    |  - 15 мм
                    br
                    em Нержавеющая сталь
                    |  - 8 мм
                    br
                    em Алюминиевые сплавы
                    |  - 5 мм
                tr
                  td
                    img(alt='Trumpf-L5030', src='https://zaoks.ru/thumb/2/7yblKVej-0x0fRsV8FSnZA/360r300/d/trumpf-l5030.jpg')
                  td
                    strong Установка лазерной резки Trumpf Trumatic L5030
                  td 2010
                  td Австрия
                  td
                    strong Тип лазера
                    | : TLF 2500
                    br
                    strong Мощность лазера
                    | : 5000 Вт 
                    br
                    strong Система ЧПУ
                    | : Siemens Sinumerik 840 D 
                    br
                    strong Точность позиционирования
                    | : 0,1мм 
                    br
                    strong Максимальный вес детали
                    | : 1110 кг 
                    br
                    strong Максимальная толщина листа
                    | :
                    br
                    em Конструкционная сталь
                    |  - 25 мм 
                    br
                    em Нержавеющая сталь
                    |  - 20 мм 
                    br
                    em Алюминиевые сплавы
                    |  - 15 мм 
                    br
                    em Титановые сплавы
                    |  - 12 мм
                tr
                  th(colspan='5') Гидроабразивная резка
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='CMS Tecnocut Milestone', src='https://zaoks.ru/thumb/2/pnDZLL1VRkMP9aT1lzS-yg/580r450/d/cms_tecnocut_milestone.jpg')
                  td
                    strong Установка гидроабразивной резки CMS Tecnocut Milestone
                  td 2012
                  td Италия
                  td
                    strong Рабочее поле
                    | : 4600х2050мм
                    br
                    strong Ход по оси Х
                    | : 4000мм
                    br
                    strong Ход по оси Y
                    | : 1700мм
                    br
                    strong Ход по оси Z
                    | : 250мм
                    br
                    strong Ось B
                    | : +- 60°
                    br
                    strong Ось C
                    | : 600°
                    br
                    strong Диапазон толщин
                    | : от 5 до 170 мм
                    br
                    strong Линейная точность
                    | : 0,0038 мм/м
                tr
                  th(colspan='5') Плазменная резка
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='hyper260', src='https://zaoks.ru/thumb/2/tmwpvaYEp1e_d3Ol8ZGPkQ/r/d/hyper260.jpg')
                  td
                    strong Система плазменной резки HyPerformance HPR 260 XD
                  td 2014
                  td США
                  td
                    strong Макс. толщина реза (мм)
                    | : 64
                    br
                    strong
                      | Толщина резки
                      br
                      |                   низкоуглеродистой стали
                    | :
                    br
                    em Без образования окалины
                    | : 32 мм
                    br
                    em Промышленный прожиг
                    | : 38 мм
                    br
                    em Максимальная толщина резки
                    | : 64 мм
                    br
                    strong
                      | Толщина резки
                      br
                      |                   нержавеющей стали
                    | :
                    br
                    em Промышленный прожиг
                    | : 32 мм
                    br
                    em Максимальная толщина резки
                    | : 50 мм
                    br
                    strong Толщина резки алюминия
                    | :
                    br
                    em Промышленный прожиг
                    | : 25 мм
                    br
                    em Максимальная толщина резки
                    | : 50 мм
                tr
                  th(colspan='5') Гильотина
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='Гильотина3318', src='https://zaoks.ru/thumb/2/OkfBR9sbkCVI4r3GL_6DNw/r/d/gilotina3318.jpg')
                  td
                    b Гильотинные ножницы для обработки листового металла НД3318
                  td 1986
                  td СССР
                  td
                    strong Наибольшие размеры разрезаемого металла
                    | : 6,3 х 2000 мм
                    br
                    strong Длина листа отрезанного с упором
                    | : 600 мм
                    br
                    strong Механическое перемещение заднего упора
                    | : 0..630 мм
                tr
                  th(colspan='5') Ножовочный станок
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='Ножовочный', src='https://zaoks.ru/thumb/2/Res3QpgtiQgxxDsvBfqGoQ/r/d/nozhovochnyy.jpg')
                  td
                    b Электромеханический ножовочный отрезной станок 8725
                  td 2014
                  td США
                  td
                    strong Наибольшие размеры круглой заготовки
                    | : 200 мм
                    br
                    strong Наибольшие размеры разрезаемой квадратной заготовки
                    | : 220 х 220
                    br
                    strong Наибольшая длина отрезаемой заготовки по упору
                    | : 350 мм
                    br
                    strong Расстояние от основания станка до опорной поверхности заготовки
                    | : 550 мм
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Гибка металла
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Гидравлический пресс
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='пресс2671М', src='https://zaoks.ru/thumb/2/QO1ochnthM88ni7Ag7zknA/r/d/press2671m.jpg')
                  td
                    b Пресс гидравлический ОКС-1671М с индивидуальным приводом
                  td >1988
                  td СССР
                  td
                    strong Максимальное усилие, кН (тс):
                    |  400 (10)
                    br
                    strong Габаритные размеры пресса
                    | : 
                    br
                    em Длина
                    | : 1500 
                    br
                    em Ширина
                    | : 640 
                    br
                    em Высота
                    | : 940
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Долбежные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Долбежные станки
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='7А420', src='https://zaoks.ru/thumb/2/e_zjZgNUIPa-ZewJ1MDp4g/r/d/7a420.jpg')
                  td
                    strong Долбежный станок с механическим приводом 7А420
                  td 1989
                  td СССР
                  td
                    strong Класс точности
                    | : H
                    br
                    strong Наибольший ход долбяка
                    | : 20-200 мм
                    br
                    strong Диаметр стола
                    | : 500 мм
                    br
                    strong Наибольшее усилие резания
                    | : 1500 кг
                tr
                  td
                    img(alt='5В12', src='https://zaoks.ru/thumb/2/JawTv6eRAf4fYTTCI2lM9w/r/d/5v12.jpg')
                  td
                    b Вертикальный зубодолбежный станок-полуавтомат 5В12
                  td 1980
                  td СССР
                  td
                    strong Класс точности
                    | : H
                    br
                    strong Наибольший диаметр изделия
                    | : 200 мм
                    br
                    strong Наибольшая длина нарезки
                    | : 50 мм
                    br
                    strong Наибольший модуль нарезаемого колеса
                    | : 4 мм
                    br
                    strong Наибольший диаметр для нарезания прямозубых колес
                    | : 220 мм
                    br
                    strong Наибольшая ширина нарезаемого венца
                    | : 30 мм
                    br
                    strong ДхШхВ
                    | : 1320 х 940 х 1820 мм
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Сверлильные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Сверлильные станки
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
                tr
                  td
                    img(alt='2К52', src='https://zaoks.ru/thumb/2/eZCKT-QN6GA2zYnNahZidA/r/d/2k52.jpg')
                  td
                    strong Радиально-сверлильный переносной станок 2К52
                  td 1989
                  td СССР
                  td
                    strong Класс точности станка
                    | : Н 
                    br
                    strong Наибольший условный диаметр сверления в стали 45
                    | : 22 мм 
                    br
                    strong Диапазон нарезаемой резьбы в стали 45
                    | : М16
                    br
                    strong Размер поверхности плиты
                    | : 800 х 630 мм
                tr
                  td
                    img(alt='2А53', src='https://zaoks.ru/thumb/2/GLilgkhNPUlNGAgZYjhkYg/r/d/2a53.jpg')
                  td
                    strong Радиально-сверлильный станок 2А53
                  td 1997
                  td Россия
                  td
                    strong Класс точности станка
                    | : Н 
                    br
                    strong Наибольший условный диаметр сверления в стали 45
                    | : 35 мм 
                    br
                    strong Диапазон нарезаемой резьбы в стали 45
                    | : М16
                    br
                    strong Размер поверхности плиты
                    | : 900 х 430 мм
                tr
                  td
                    img(alt='FP-25', src='https://zaoks.ru/thumb/2/Is4eeFPF5cbAVbdPKfCLUw/r/d/fp-25.jpg')
                  td
                    strong Настольно-сверлильный станок FP-25
                  td 2008
                  td Чехия
                  td
                    strong Макс. диаметр сверления
                    | : 34 мм
                    br
                    strong Размер стола
                    | : 590х195мм
                tr
                  td
                    img(alt='2А125', src='https://zaoks.ru/thumb/2/OgA_afZgU3jRs4lNqQBZ8w/r/d/2a125.jpg')
                  td
                    strong Вертикально-сверлильный станок 2А-125
                  td 1965
                  td СССР
                  td
                    strong Наибольший диаметр сверления в стали 45
                    | : 25 мм
                    br
                    strong Наименьшее и наибольшее расстояние от торца шпинделя до стола
                    | : 0...700 мм
                    br
                    strong Наименьшее и наибольшее расстояние от торца шпинделя до плиты
                    | : 750...1125 мм
                    br
                    strong Размеры рабочей поверхности стола
                    | : 500 х 375 мм
                tr
                  td
                    img(alt='2Н125', src='https://zaoks.ru/thumb/2/wtERKugDeeJpP4xt0PzBHQ/r/d/2n125.jpg')
                  td
                    strong Вертикально-сверлильный станок 2Н-125
                  td 1992
                  td Россия
                  td
                    strong Наибольший диаметр сверления в стали 45
                    | : 25 мм
                    br
                    strong Наименьшее и наибольшее расстояние от торца шпинделя до стола
                    | : 60...700 мм
                    br
                    strong Наименьшее и наибольшее расстояние от торца шпинделя до плиты
                    | : 690...1060 мм
                    br
                    strong Размеры рабочей поверхности стола
                    | : 400 х 500 мм
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Сварочные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              tbody
                tr
                  th(colspan='5') Сварочные станки
                tr
                  td
                    strong Изображение
                  td
                    strong Модель
                  td
                    strong Год выпуска
                  td
                    strong Страна производитель
                  td
                    strong Технические характеристики
      a.btn(href='docs/Производственные возможности.doc', download='') Скачать одним файлом

    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
include ../../includes/scripts.pug
