doctype
html(prefix="og: http://ogp.me/ns#")
  -let title = 'Технические возможности'
  -let description = 'Описание технических возможностей и производственных мощностей компании.'
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/preloader.pug
    include ../../includes/main-header.pug
    -let headerTitleWide = true
    include ../../includes/header-article
    ul.dropdown.dropdown--technical
      include ../../includes/breadcrumbs.pug
      h1.title Технические возможности
      p.text.text--center
        | Мы располагаем производственной базой, обрабатывающими центрами, станками с ЧПУ, парком токарных и фрезерных станков
        br 
        | и прочим металлообрабатывающим оборудованием,что позволяет совершать работы любого профиля
        br
        br
      li.dropdown-item
        .dropdown-title
          .container(style='border-top: 1px solid #eceded;')
            .switch
              span.switch__bg
              span.switch__btn
            | Токарная обработка
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/turning-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Токарная обработка с ЧПУ
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/turning-machines-with-cnc
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Фрезерная обработка
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/milling-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Фрезерная обработка с ЧПУ
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/milling-machines-with-cnc
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Координатно-расточные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/boring-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Шлифовальные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/grinding-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Резка металла
        .container(style='border-bottom:none')
          .dropdown-item-content
            table.tools
              include ../../includes/machines/cutting-machines/laser
              include ../../includes/machines/cutting-machines/waterjet
              include ../../includes/machines/cutting-machines/plazma
              include ../../includes/machines/cutting-machines/guillotine
              include ../../includes/machines/cutting-machines/hacksaw
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Гибка металла
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/bending-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Долбежные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/slotting-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Сверлильные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/drilling-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Сварочные работы
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/welding-machines
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Прочие
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../../includes/machines/other
    include ../../includes/popupform.pug
    include ../../includes/bottom-line.pug
  script(src="/js/common.js")
  script(src="/js/dropdown.js")
  
