doctype
html
  include ../../includes/head.pug
  body.body--parallax
    include ../../includes/main-header.pug
    section.team.vacancies
      h1.title.title--uppercase Вакансии
      p.text.text--center
        | В связи с расширением штата в SET SERVICE GROUP объявлен конкурсный отбор на следующие позиции. Информация кандидатам: при заполнении формы по соответствующей вакансии не забывайте прикреплять ваше резюме к форме на отдельном файле.
      ul.team__list
        li.team__item
          .team__icon
          h3.team__title Специалист по межзаводской кооперации
        li.team__item
          .team__icon
          h3.team__title Руководитель проекта
        li.team__item
          .team__icon
          h3.team__title Специалист ПТК
      ul.vacancies__info
        li.vacancies__info_item
          p.text
            | от 50 000 до 80 000 руб. на руки
            br
            | Требуемый опыт работы: более 6 лет
            br
            | Полная занятость, полный день
          h4.title.title--left Обязанности:
          ul.list
            li Размещение заказов по металлообработке на сторонних предприятиях; 
            li Поиск организаций, способных выполнить металлообработку; 
            li Осуществлять согласование технических заданий с поставщиками и заказчиками; 
            li Контроль качества готовой продукции; 
            li Обеспечение выполнения планов производства заказов; 
            li Выезд на объекты для работы с заказчиками, субподрядными организациями; 
            li Расчет объемов и стоимости работ проекта согласно технологическим процессам; 
            li
              | Подготовка расчетов стоимости дополнительных работ с Заказчиком (коммерческое ценообразование);
            li
              | Конструирование, разработка и анализ технических решений в соответствии с требованиями заказчиков.
            li Техническая поддержка менеджеров по продажам; 
            li Консультирование клиентов по техническим вопросам; 
          h4.title.title--left Требования:
          ul.list
            li
              | Высшее (среднее) техническое образование (металловедение, материаловедение, термическая обработка металлов и сплавов);
            li Опыт работы не менее 3-х лет по специальности; 
            li
              | Профессиональные навыки работы в таких графических редакторах, как Компас, AutoCad, Corel Draw;
            li
              | Знание основ систем и методов проектирования технологических процессов и режимов производства;
            li Знание ГОСТов, EN, ASTM;(марки стали, свойства); 
            li
              | Опыт разработки документации для изделий из металла по индивидуальным заказам от эскиза до деталировки;
            li Опыт изготовления чертежей по образцу; 
            li Сопровождение производства в части чертежей, планов, схем; 
            li Самостоятельность и ответственность; 
            li Способность работать с большим объёмом информации в режиме многозадачности; 
            li Высокая организованность; 
            li
              | Опыт работы на производстве по металлопрокату и металлообработке будет Вашим преимуществом.
          h4.title.title--left Условия:
          ul.list
            li
              | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
            li Официальное трудоустройство и оформление по ТК РФ; 
            li График работы: пн.-пт., с 9:00- до 18:00; 
            li Обучение при вводе в должность; 
            li Возможность профессионального и карьерного роста; 
            li Испытательный срок 3 месяца/ определяется по результатам собеседования; 
            li Условия оплаты подлежат обсуждению с кандидатом индивидуально.
        li.vacancies__info_item
          p.text
            | от 50 000 руб. на руки 
            br
            | Требуемый опыт работы: 1–3 года
            br
            | Полная занятость, полный день
          h4.title.title--left Обязанности:
          ul.list
            li Непосредственное руководство проектами 
            li Координация участников проектов 
            li
              | Контроль за исполнением проектных процедур и решений, их сроков, анализ причин задержки
            li Технический и финансовый анализ процессов 
            li Составление технических заданий 
            li Мониторинг и контроль над выполнением всех стадий проекта 
            li Регулярная отчётность по проекту 
            li
              | Работа с заказчиком: организация и проведение встреч с Заказчиком, обсуждение дополнительных объемов работ, получение подтверждений (актов) завершения работ, передача информации о технических процедурах Заказчика, организация встреч с
              | Заказчиком
          h4.title.title--left Требования:
          ul.list
            li
              | Успешный опыт работы в закупках / продажах
            li Опыт работы с большим объемом информации 
            li Уверенный пользователь ПК: знание пакета Microsoft Office, AutoCad-базовый 
            li Навыки ведения переговоров 
            li Опыт руководства проектами 
            li Умение планировать деятельность 
            li Знание основ экономики и финансов 
            li
              | Будет преимуществом:
              ul.list
                li Навыки работы с базами данных в СРМ-системе 
                li Знание рынка металлопроката и металлообработки
          h4.title.title--left Условия:
          ul.list
            li
              | Оклад +% с реализованных проектов (мы готовы обсуждать заработную плату индивидуально с претендентами на должность, ориентируясь на уровень и опыт кандидатов
            li
              | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
            li Официальное трудоустройство и оформление по ТК РФ 
            li График работы: пн.-пт., с 9:00- до 18:00 
            li Профессиональный, молодой и дружелюбный коллектив 
            li Обучение при вводе в должность, испытательный срок 2 месяца 
            li Возможность профессионального и карьерного роста 
          h4.title.title--left Ключевые навыки:
          ul.vacancies__skills
            li Умение принимать оперативные решения 
            li Прогрессивность мышления, внимание к деталям 
            li Работоспособность 
            li Надёжность и стабильность 
            li Инициативность 
            li Настойчивость 
            li Стрессоустойчивость 
            li Ответственность и самостоятельность 
            li Умение ставить и достигать цели 
            li Грамотная речь 
            li Аналитический склад ума 
            li Умение структурировать данные 
            li Самоорганизованность 
            li Высокие коммуникативные способности
        li.vacancies__info_item
          p.text
            | от 40 000 руб. на руки
            br
            | Требуемый опыт работы: 1–3 года
            br
            | Полная занятость, полный день
          h4.title.title--left Обязанности:
          ul.list
            li
              | Организация работы контроля качества в сфере металлообработки и сборки металлических изделий
            li Контроль реализации заказов и оценка результативности 
            li
              | Создание стандартов и нормативов качественных показателей, контроль их соблюдения
            li Ведение отчётности в рамках своего направления 
            li Взаимодействие с другими подразделениями в рамках своего направления 
            li Решение проблем и задач в области качества 
            li Разработка и внедрение технологических процессов 
            li
              | Разработка и внедрение мер по предупреждению дефектов, расследование причин возникновения, стандартизация методов проверки
            li Входной контроль материалов 
            li Умение работать с измерительным инструментом 
            li
              | Приёмка готовой продукции, узлов, изделий из металла, согласно чертежам, снипам, ГОСТам
          h4.title.title--left Требования:
          ul.list
            li Высшее техническое образование 
            li Желателен опыт учёта контроля качества в сфере металлообработки от 1 года 
            li Знание систем, методов, требований и стандартов контроля качества 
            li Навык чтения технических документов (схем, чертежей) 
            li
              | Опытный пользователь ПК,MS Office (Excel, Word, Outlook), графические программы САО
            li Разработка мероприятий, направленных на улучшение производственных показателей 
            li
              | Контроль качества заготовок при механической обработке и физико-механических испытаниях.
            li Сдача заготовок представителю заказчика 
            li Осуществление входного контроля сырья 
            li Приемка готовых изделий 
            li Высокий уровень ответственности 
            li Нацеленность на результат 
            li Способность работать в режиме многозадачности 
            li Понимание системы менеджмента качества 
            li Технический склад ума
          h4.title.title--left Условия:
          ul.list
            li
              | Комфортный офис в бизнес-центре «Охта», ст.м. «Проспект Большевиков», «Ладожская»
            li Официальное трудоустройство и оформление по ТК РФ 
            li График работы: пн.-пт., с 9:00- до 18:00 
            li Обучение при вводе в должность 
            li Возможность профессионального и карьерного роста 
            li Определяется по результатам собеседования 
            li Условия оплаты подлежат обсуждению с кандидатом индивидуально
    include ../../includes/popupform.pug
    include ../../includes/main-footer.pug
include ../../includes/scripts.pug
