doctype
html
  include ../includes/head.pug
  body.body--parallax
    include ../includes/main-header.pug
    article.about
      h2.title Здравствуйте! Мы рады приветствовать Вас на нашем официальном сайте.
      p.text.text--left
        b SET SERVICE GROUP
        |  – Центр металлообработки в Санкт-Петербурге, основанный в 2015году для реализации по налаживанию производственных связей в рамках программы по развитию производственного потенциала России.
      p.text.text--left
        | «Мы – это команда специалистов в различных видах металлообработки, объединенные одной большой идеей, развитие производственного сектора России и качественное увеличение номенклатуры товаров, произведенных на территории
        | России.»
      p.text.text--left
        b Основные направления деятельности SET SERVICE GROUP:
      ol.list.list--ordered
        li
          | Изготовление деталей, отдельных узлов различных механизмов для машиностроения из разных материалов – сталь, нержавейка, сплавы цветных металлов по чертежам заказчика;
        li Изготовление сварных и сборочных конструкций;
        li
          | Поиск и подбор партнеров по отдельным видам технологических операций. Инжиниринг. Инновационная деятельность. Разработка и внедрение новых технологий, конструкций, оснастки, приспособлений;
        li
          | Разработки и испытания в области специальных сталей и сплавов при поддержке Национального исследовательского центра «Курчатовский институт»;
        li
          | Поиск решений, обеспечивающих импортозамещение по таким отраслям как: нефтегазовая промышленность, машиностроение, мостостроение и т.д.
      p.text.text--left
        b SET SERVICE GROUP
        |  осуществляет единичное и серийное производство оборудования, разработанного как в SET SERVICE GROUP, так и сторонними разработчиками. Мы располагаем производственной базой обрабатывающими
        |       центрами, станками с ЧПУ, парком токарных и фрезерных станков, прочим металлообрабатывающим оборудованием.
      p.text.text--left
        b
          | Так же мы развиваем сеть производственного субконтрактинга по всей России, что позволяет нам:
      ol.list.list--ordered
        li
          | Задействовать уникальное оборудование по России для выполнения самых сложно реализуемых проектов;
        li Выполнять заказы в самые сжатые сроки;
        li Выполнять крупные и серийные заказы;
        li Брать на реализацию проекты «под ключ».
      p.text.text--left
        | Качество продукции контролируется в соответствии с конструкторской документацией, в том числе с помощью различных видов испытаний, куда входят все виды неразрушающего контроля, пневмо- и гидроиспытания, испытания на
        | прочность. Компания включена в общий реестр организаций имеющих сертифицированную систему менеджмента качества по требованиям международного стандарта ISO 9001:2015.
    ul.dropdown
      li.dropdown-item
        .dropdown-title
          .container(style='border-top:1px solid #ddd;')
            .switch
              span.switch__bg
              span.switch__btn
            | Учредительные документы и сертификаты
        .container(style='border-bottom:none;')
          .dropdown-item-content
            table.document
              tbody
                tr
                  td.document__title
                    | Копия свидетельства ИНН 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/inn.pdf')
                    a(href='docs/inn.pdf', download='')
                tr
                  td.document__title
                    | Устав компании 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/ustav.pdf')
                    a(href='/docs/ustav.pdf', download='')
                tr
                  td.document__title
                    | Копия свидетельства ОГРН 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/ogrn.pdf')
                    a(href='/docs/ogrn.pdf', download='')
                tr
                  td.document__title
                    | Реквизиты компании 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/rekvizity.pdf')
                    a(href='/docs/rekvizity.pdf', download='')
                tr
                  td.document__title
                    | Коды статистики 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/kodystatistiki.pdf')
                    a(href='/docs/kodystatistiki.pdf', download='')
                tr
                  td.document__title
                    | Сертификат соответствия качеству ISO 9001:2015 
                    span Дата загрузки: 17.09.2018
                  td.document__links
                    a(href='https://zaoks.ru/t/v2536/images/docs/sertifikat.pdf')
                    a(href='/docs/sertifikat.pdf', download='')
      li.dropdown-item
        .dropdown-title
          .container
            .switch
              span.switch__bg
              span.switch__btn
            | Наши преимущества
        .container(style='border-bottom:none')
          .dropdown-item-content
            section.advantages
              .advantages__item
                .title Широкий спектр выпускаемой продукции
                .text
                  | Разнородность выпускаемой продукции дает возможность сотрудничества с разными отраслями промышленности от единичных операций до проектов "под ключ".
              .advantages__item
                .title
                  | Оперативная 
                  br
                  | обработка заказов
                .text
                  | Мы дорожим Вашим временем, поэтому следим за тем, чтобы вы получали ценовое предложение в течении суток.
              .advantages__item
                .title
                  | Оптимизация 
                  br
                  | проектов
                .text
                  | Выявление завыщенных требований к изделию на стадии расчета проекта, а так же подбор аналогов материалов и минимизация отходов помогает экономить ВРЕМЯ И ДЕНЬГИ наших клиентов.
              .advantages__item
                .title Комфортный сервис полного цикла
                .text
                  | Главной задачей перед собой мы ставим СЕРВИС высокого уровня на всех этапах взаимодействия с клиентом. Мы работаем для Вас 24/7.
              .advantages__item
                .title
                  | Эффективная 
                  br
                  | логистика
                .text
                  | Наши отлаженные действия в области логистики помогут Вам избавиться от ненужных перемещений, звонков и затрат.
              .advantages__item
                .title
                  | Индивидуальный 
                  br
                  | подход к клиенту
                .text
                  | Наш важный принцип, согласно которому в работе с клиентами учитываются индивидуальные особенности не только бизнеса клиента, но и индивидуальные особенности каждого человека, общающегося с нашей компанией.
              .advantages__item
                .title Гарантия высокого качества
                .text
                  | Вся продукция, которую производит ГК "Комплект Сервис" проходит входной контроль качества. Мы дорожим нашей репутацией, поэтому со всей ответственностью подходим к каждому заказу.
              .advantages__item
                .title Честность и юридическая прозрачность
                .text
                  | Честность и прозрачность в отношении с клиентами и коллегами являются настолько редкими, что они стали конкуретным преимуществом.
      li.dropdown-item
        .dropdown-title
          .container
            .switch.switch--checked
              span.switch__bg
              span.switch__btn
            | Наши клиенты
        .container(style='border-bottom:none')
          .dropdown-item-content
            include ../includes/partners.pug
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
include ../includes/scripts.pug
