doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Химический анализ металлов и сплавов
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  script(src="js/libs.min.js")
  script(src="js/main.js")
  body.body--parallax
    include ../includes/main-header.pug
    div.inner-page
      include ../includes/catalog.pug
      main.main
        h1.title.title--left Химический анализ металлов и сплавов
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text Set Service Group предлагает предприятиям и научным центрам высококачественное оборудование ведущих разработчиков и производителей оборудования для проведения анализа металлов и сплавов.
        section.main__articles
          article.main__article.main__article--active
            p.text Знание точного химического металлов и сплавов - необходимое условие для эффективного развития и функционирования  металлургической, горнодобывающей, обрабатывающей, машиностроительной, нефтехимической, ферросплавной промышленностей, а также для проведения научно-исследовательских работ.
            p.text Анализ химического состава вещества решает ряд важнейших задач, стоящих перед лабораториями предприятий и исследовательских центров, таких как: входной контроль сырья и материалов, контроль в процессе производства, контроль качества и сертификационный анализ продукции, разработка новых технологических материалов.
            p.text Химический анализ металлов представляет собой комплекс опытов для выявления слабых и сильных сторон материала, его характеристик и функций. Вся эта многофункциональная работа требует специального оборудования, которое обеспечивало бы надёжную проверку вещества, что необходимо для изготовления любой высококачественной продукции. 
            p.text Существует множество способов изучения сплавов, однако, несмотря на такую конкуренцию в науке, химический анализ остаётся ведущим в этой области, так как даёт наиболее достоверную информацию. Новейшая аппаратура и эмиссионный метод, который мы применяем, позволяет быстро и чётко сформулировать точную картину, определить вещества и примеси, входящие в состав, провести исследование как цветного, так и чёрного металлов.
            p.text С нашим оборудованием вы сможете проводить:
            ul.list
              li Оперативное определение марки металла и сплава.
              li Выявление всех элементов и веществ, которые содержатся в материале, в том числе и примесей.
              li Установление структуры сплава.
              li Степень пригодности и соответствие заявленным нормам.
              li Определение точного количества и веса составных частей.
            p.text У нас есть всё для проведения качественного химического анализа
            p.text Анализ и обследование металлов требует широкого спектра возможностей технического оборудования, поэтому мы представляем вам современную технику собственного изготовления, которая гарантировано предоставит верный и безошибочных результат исследований. Самый идеальный вариант для анализа металла является тот, в котором основу возбуждения спектра представляет низковольтный ряд. За счёт незначительного вольтажа появляется более чёткая достоверность процентного соотношения примесей и чистого металла. Каждый предлагаемый нами спектрограф предназначен для такой непростой и интенсивной эксплуатации, способен выдержать любые нагрузки и прослужить длительный срок. Мы можем показать поднять производительность на небывалую высоту.
            p.text Не менее важно правильно и аккуратно провести подготовительный процесс – для этого у нас есть кокили и станки пробообработки. Они позволяют довести пробу до параметров, рекомендованных соответствующим ГОСТом.
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
