doctype
html
  include ../includes/head.pug
  body.body--parallax
    include ../includes/main-header.pug
    include ../includes/catalog.pug
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
script(src="/js/common.js")

