doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Слесарно-сборочные работы
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  body.body--parallax
    include ../includes/preloader.pug
    include ../includes/main-header.pug
    .inner-page
      
    include ../includes/popupform.pug
    footer.main-footer
      include ../includes/bottom-line.pug
  script(src="/js/common.js")
