doctype
html
  -let title = 'Zaoks'
  -let add_link_for_clients = true
  include ../includes/head.pug
  body(class=(title === 'Zaoks' ? 'body--no-top-padding body--parallax' : 'body--parallax'))
    include ../includes/preloader.pug
    include ../includes/main-header.pug
    include ../includes/intro.pug
    include ../includes/main-slider.pug
    include ../includes/products.pug
    include ../includes/services.pug
    section.info
      p.text.text--center
        b SET SERVICE GROUP
        |   – Центр металлообработки, основанный в 2015 году 
        br
        | для реализации программы по развитию производственного потенциала России.
      blockquote
        p
          span Мы – это команда специалистов в различных видах металлообработки, объединенные одной большой идеей развития производственного сектора России и качественного увеличения номенклатуры товаров, произведенных на территории России.
        a(href='about/about.html') Подробнее
    //-include ../includes/counter.pug
    include ../includes/companies.pug
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
  script(src="/libs/bxslider-4/dist/jquery.bxslider.min.js")
  script(src="/js/common.js")
  script(src="/js/main.js")
  script(src="/js/companies.js")
  
  
