doctype
html(prefix="og: http://ogp.me/ns#")
  -let calatog_full_height = true;
  -let title = 'Производство металлоконструкций'
  -let description = 'Изготовление металлоконструкций любой сложности. Производство и монтаж индивидуальных и серийных конструкций'
  -let keywords = ' металлоконструкции, производство металлоконструкций, изготовление металлоконструкций'
  include ../includes/head.pug
  body.body--parallax
    include ../includes/preloader.pug
    include ../includes/main-header.pug
    
    section.metalstructures
        include ../includes/catalog.pug
        h1.title Металлоконструкции
        ul.assortiment.assortiment--squares
            li.assortiment__item.assortiment__item--1
                a.assortiment__link(href='/metal-structures/pipeline-supports')
                    span.assortiment__title 
                        span
                            | Опоры 
                            br
                            | трубопроводов
            li.assortiment__item.assortiment__item--2
                a.assortiment__link(href='/metal-structures/service-areas')
                    span.assortiment__title 
                        span
                            | Площадки 
                            br
                            | обслуживания
            li.assortiment__item.assortiment__item--3
                a.assortiment__link(href='/metal-structures/welded-crane-girders')
                    span.assortiment__title 
                        span
                            | Балки подкрановые 
                            br
                            | сварные
            li.assortiment__item.assortiment__item--4
                a.assortiment__link(href='/metal-structures/technological-tanks')
                    span.assortiment__title 
                        span
                            | Технологические 
                            br
                            | емкости
            //- li.assortiment__item.assortiment__item--5
            //-     a.assortiment__link(href='/metal-structures/test-benches')
            //-         span.assortiment__icon
            //-         span.assortiment__title 
            //-             | Стенды 
            //-             br
            //-             | для испытаний
            li.assortiment__item.assortiment__item--5
                a.assortiment__link(href='/metal-structures/wheeled-trolleys')
                    span.assortiment__title 
                        span
                            | Тележки колесные / 
                            br
                            | на рельсах
            li.assortiment__item.assortiment__item--6
                a.assortiment__link(href='/metal-structures/bridge-metal-structures')
                    span.assortiment__title 
                        span Мостовые металлоконструкции
            li.assortiment__item.assortiment__item--8
                a.assortiment__link(href='/metal-structures/building-metal-structures')
                    span.assortiment__title 
                        span Стоительные металлоконструкции
            li.assortiment__item.assortiment__item--7
                a.assortiment__link(href='/metal-structures/non-standart-metal-structures')
                    span.assortiment__title 
                        span Нестандартные металлоконструкции
        p.text.text--justify 
            | Группа компаний 
            b Set Service Group изготавливает металлоконструкции любой сложности.
        p.text.text--justify Данное направление является для нас профильным, поскольку на сегодняшний день без металлоконструкций не обходится ни один инженерный замысел любого крупного объекта. В современном мире, конструкции, созданные на основе металлических перекрытий, успешно применяются в самых разнообразных сферах человеческой деятельности, в том числе:
        ul.list
            li В топливно-энергетическом комплексе
            li В транспортной промышленности
            li В строительстве зданий и сооружений, независимо от их вида и назначения
        p.text.text--justify Уверенно можно сказать, что сегодня металлические конструкции служат основным материалом для каркаса абсолютного большинства построек, а также отдельных инженерно-технических компонентов.
        p.text.text--justify 
            | Хотим напомнить, что качество производства отражается на качестве постройки. Если технология нарушена, то это неизбежно снизит срок эксплуатации здания (а при сейсмической активности это может привести к полному его разрушению). 
            b Продукция, изготовленная в Set Service Group всегда имеют надлежащее качество. 
            | Производство любых металлоконструкций осуществляется на специализированном предприятии. Наши заводы обеспечены самым современным оборудованием, мы используем передовые технологии.
        p.text.text--justify 
            | Если вас интересуют 
            b производство металлоконструкций на заказ
            | , вы всегда можете обратиться в 
            b Set Service Group
            | , позвонив по телефону 
            b
                i +7 (812) 627-15-16
            | . Так же можно обратиться с вопросом, 
            b заполнив форму для связи 
            | или написав нам на 
            b 
                i info@zaoks.ru
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
script(src="/js/common.js")
script.
    $('.switch--checked').parent().siblings('.catalog__links').css('display', 'block');

    $('.catalog__groupname').click(function() {
        if( $(this).children('.switch').hasClass('switch--checked') ) {
            $(this).siblings(".catalog__links").slideUp();
            $(this).children('.switch').removeClass('switch--checked');
            $(this).parent().removeClass('catalog__item--active');
        } else {
            $('.switch--checked').removeClass('switch--checked');
            $('.catalog__links').slideUp();
            $('.catalog__item--active').removeClass('catalog__item--active');
            $(this).siblings('.catalog__links').slideDown();
            $(this).children('.switch').addClass('switch--checked');
            $(this).parent().addClass('catalog__item--active');
        }
    });
