doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Резка металла
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  script(src="js/libs.min.js")
  script(src="js/main.js")
  body.body--parallax
    include ../includes/main-header.pug
    div.inner-page
      include ../includes/catalog.pug
      main.main
        h1.title.title--left Резка металла
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text При внешней простоте операции резка является одним из наиболее сложных этапов точной обработки металла, который может выполняться исключительно профессионалами, причем на специальном оборудовании.
            p.text Мы используем в технологическом процессе высокоточное оборудование, преимущественно с ЧПУ. За счет применения программируемых металлообрабатывающих станков повышается производительность и точность изготовления изделий, включая детали сложной геометрической формы. Потери материала в виде отходов и брака сведены до минимума.      
        section.main__articles
          .main__buttons
            div(class="active") Лазерная резка
            div Гидрообразивная резка
            div Плазменная резка
          article.main__article.main__article--active
            p.text Лазерная резка – это способ резки металла, отличающийся высочайшей точностью и максимально аккуратным краем среза на выходе. Так как обрабатываемая поверхность не подвергается механическому воздействию, она защищена от любого рода деформаций. Лазерная резка незаменима для обработки изделий из хрупких материалов. Резка металла лазером исполняется с высокой точностью, с минимумом отходов и допуском реза.
            p.text Сегодня можно с уверенностью сказать, что лазерные режущие станки совершили революцию в металлообработке, сделав процедуру изготовления сложных конструкций из металла более быстрой, качественной и доступной.
            p.text Лазерная резка в обработке листового проката сочетает уникальную точность и минимум тепловых деформаций при отсутствии искривлений. Trumpf Trumatic L4030 и Trumpf Trumatic L5030 осуществляет обработку металла со следующими параметрами (максимальная толщина раскроя листового металла): углеродистая сталь до 25 мм, нержавеющая сталь до 16 мм, титан до 6 мм, алюминий до 10 мм, точность позиционирования 0,05мм
            ul.dropdown
              li.dropdown-item
                .dropdown-title
                  .container(style="border-top: 1px solid #eceded;")
                    .switch
                      span.switch__bg
                      span.switch__btn
                    | Оборудование для лазерной резки
                .container(style="border-bottom: none")
                  .dropdown-item-content
                    table.tools
                        tr
                          td
                            strong Изображение
                          td
                            strong Модель
                          td
                            strong Год выпуска
                          td
                            strong Страна производитель
                          td
                            strong Технические характеристики
                        tr
                          td
                            img(alt='Trumpf-L4030', src='https://zaoks.ru/thumb/2/fPK1SDaVorKIbZL5hDDVSA/360r300/d/trumpf-l4030.jpg')
                          td
                            strong Установка лазерной резки Trumpf Trumatic L4030
                          td 2008
                          td Германия
                          td
                            strong Тип лазера
                            | : TLF 2400Turbo 
                            br
                            strong Мощность лазера
                            | : 2400 Вт 
                            br
                            strong Система ЧПУ
                            | : Siemens Sinumerik 840 D 
                            br
                            strong Точность позиционирования
                            | : 0,1мм 
                            br
                            strong Максимальный вес детали
                            | : 1250 кг 
                            br
                            strong Максимальная толщина листа
                            | :
                            br
                            em Конструкционная сталь
                            |  - 15 мм
                            br
                            em Нержавеющая сталь
                            |  - 8 мм
                            br
                            em Алюминиевые сплавы
                            |  - 5 мм
                        tr
                          td
                            img(alt='Trumpf-L5030', src='https://zaoks.ru/thumb/2/7yblKVej-0x0fRsV8FSnZA/360r300/d/trumpf-l5030.jpg')
                          td
                            strong Установка лазерной резки Trumpf Trumatic L5030
                          td 2010
                          td Австрия
                          td
                            strong Тип лазера
                            | : TLF 2500
                            br
                            strong Мощность лазера
                            | : 5000 Вт 
                            br
                            strong Система ЧПУ
                            | : Siemens Sinumerik 840 D 
                            br
                            strong Точность позиционирования
                            | : 0,1мм 
                            br
                            strong Максимальный вес детали
                            | : 1110 кг 
                            br
                            strong Максимальная толщина листа
                            | :
                            br
                            em Конструкционная сталь
                            |  - 25 мм 
                            br
                            em Нержавеющая сталь
                            |  - 20 мм 
                            br
                            em Алюминиевые сплавы
                            |  - 15 мм 
                            br
                            em Титановые сплавы
                            |  - 12 мм
              li.dropdown-item
                .dropdown-title
                  .container
                    .switch
                      span.switch__bg
                      span.switch__btn
                    | Расценки на лазерную резку
                .container(style='border-bottom:none')
                  .dropdown-item-content
                    table.pricelist
                      tbody
                        tr
                          td(colspan='2') Конструкционная сталь
                          td(colspan='2') Нержавеющая сталь
                          td(colspan='2') Алюминий и сплавы
                          td(colspan='2') Титан
                          td(colspan='2') Латунь
                        tr
                          td Толщина, мм
                          td Цена за п.м., руб.
                          td Толщина, мм
                          td Цена за п.м., руб.
                          td Толщина, мм
                          td Цена за п.м., руб.
                          td Толщина, мм
                          td Цена за п.м., руб.
                          td Толщина, мм
                          td Цена за п.м., руб.
                        tr
                          td -
                          td -
                          td 0,8
                          td 12
                          td 0,8
                          td 10,8
                          td 1
                          td 60
                          td 1
                          td 38,4
                        tr
                          td 1
                          td 6,6
                          td 1
                          td 13,44
                          td 1
                          td 11,4
                          td 1,5
                          td 66
                          td 1,5
                          td 60
                        tr
                          td 1,5
                          td 7,08
                          td 1,5
                          td 16,68
                          td 1,5
                          td 14,16
                          td 2
                          td 77,4
                          td 2
                          td 75,6
                        tr
                          td 2
                          td 10,68
                          td 2
                          td 19,8
                          td 2
                          td 17,88
                          td 3
                          td 109,2
                          td 3
                          td 91
                        tr
                          td 3
                          td 18,96
                          td 3
                          td 27,24
                          td 3
                          td 24,96
                          td 4
                          td 132
                          td 4
                          td 108
                        tr
                          td 4
                          td 23,52
                          td 4
                          td 35,4
                          td 4
                          td 49,32
                          td 5
                          td 156
                          td
                          td
                        tr
                          td 5
                          td 28,56
                          td 5
                          td 46,68
                          td 5
                          td 49,32
                          td 6
                          td 192
                          td
                          td
                        tr
                          td 6
                          td 35,4
                          td 6
                          td 56,04
                          td 6
                          td 63,84
                          td
                          td
                          td
                          td
                        tr
                          td 8
                          td 66,72
                          td 8
                          td 78,06
                          td 8
                          td 114,6
                          td
                          td
                          td
                          td
                        tr
                          td 10
                          td 74,16
                          td 10
                          td 116,16
                          td 10
                          td 202,68
                          td
                          td
                          td
                          td
                        tr
                          td 12
                          td 88,0
                          td 12
                          td 175,08
                          td
                          td
                          td
                          td
                          td
                          td
                        tr
                          td 14
                          td 91,8
                          td 15
                          td 277,08
                          td
                          td
                          td
                          td
                          td
                          td
                        tr
                          td 16
                          td 99,96
                          td
                          td
                          td
                          td
                          td
                          td
                          td
                          td
                        tr
                          td 20
                          td 150,0
                          td
                          td
                          td
                          td
                          td
                          td
                          td
                          td

          article.main__article
            p.text Гидроабразивная резка - это такой вид обработки металла при котором струя воды под огромным давлением около 4200 атмосфер проходит через отверстие 0,2 мм , разгоняется до скорости 4000 км/ч и смешивается с гранатовым песком, такая гидроабразивная смесь разрезает все на своем пути будь-то камень, титан, стекло или металл, керамогранита, пластик.
            p.text Инновационные технологии гидрорезки дают возможность вырезать элементы, со сложным контуром точно соответствии нарисованным эскизом из таких материалов как титан керамогранит, металл, камень, стекло, гранит. Небольшая температура реза при резки водой около +70°С исключает термическую деформацию изделия, заготовки и не оказывает температурного влияния на металл вблизи реза.
            p.text При технологии гидроабразивной резки, можно добиваться идеального качества поверхности детали с шероховатостью Ra1,4 мкм, такая деталь не требует дополнительной обработки и готова к применению.
            ul.list
              li Водорезка практически незаменима при резке металлов: титана, высокопрочных сталей, меди, бронзы, латуни, алюминия.
              li В случае сложно контурной резки такого хрупкого материала как камень, гидрорезка является единственно возможной технологией раскроя гранита, мрамора, керамики, стекла, текстолита и натурального камня, керамогранита, камня, стекла.
              li Гидроабразивная резка (водорезка) пластика, резины, полиуретана, поролона, пластмассы большой толщины, также является уникальной, так как позволяет избежать подгорания и потемнения кромки материала.
            p.text 
              |В арсенале нашей компании уникальный 5-осевой станок CMS Tecnocut Milestone, позволяющий производить трёхмерную резку по различным материалам металл, твёрдые сплавы, пластик, камень, стекло, композитные материалы. Размеры рабочего поля - 4600х2050мм. Ход по оси Х - 4000мм, по оси Y - 1700мм, по оси Z - 250мм. 
              |Главным преимуществом гидроабразивной резки является низкая температура воздействия на материал до 90 градусов, что позволяет делать идеально чистый рез при большой толщине материала. Диапазон толщин от 5 до 170 мм. Линейная точность: 0,0038 мм/м.
              ul.dropdown
                li.dropdown-item
                  .dropdown-title
                    .container
                      .switch
                        span.switch__bg
                        span.switch__btn
                      | Резка металла
                  .container(style='border-bottom:none')
                    .dropdown-item-content
                      table.tools
                        tbody
                          tr
                            th(colspan='5') Лазерная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Trumpf-L4030', src='https://zaoks.ru/thumb/2/fPK1SDaVorKIbZL5hDDVSA/360r300/d/trumpf-l4030.jpg')
                            td
                              strong Установка лазерной резки Trumpf Trumatic L4030
                            td 2008
                            td Германия
                            td
                              strong Тип лазера
                              | : TLF 2400Turbo 
                              br
                              strong Мощность лазера
                              | : 2400 Вт 
                              br
                              strong Система ЧПУ
                              | : Siemens Sinumerik 840 D 
                              br
                              strong Точность позиционирования
                              | : 0,1мм 
                              br
                              strong Максимальный вес детали
                              | : 1250 кг 
                              br
                              strong Максимальная толщина листа
                              | :
                              br
                              em Конструкционная сталь
                              |  - 15 мм
                              br
                              em Нержавеющая сталь
                              |  - 8 мм
                              br
                              em Алюминиевые сплавы
                              |  - 5 мм
                          tr
                            td
                              img(alt='Trumpf-L5030', src='https://zaoks.ru/thumb/2/7yblKVej-0x0fRsV8FSnZA/360r300/d/trumpf-l5030.jpg')
                            td
                              strong Установка лазерной резки Trumpf Trumatic L5030
                            td 2010
                            td Австрия
                            td
                              strong Тип лазера
                              | : TLF 2500
                              br
                              strong Мощность лазера
                              | : 5000 Вт 
                              br
                              strong Система ЧПУ
                              | : Siemens Sinumerik 840 D 
                              br
                              strong Точность позиционирования
                              | : 0,1мм 
                              br
                              strong Максимальный вес детали
                              | : 1110 кг 
                              br
                              strong Максимальная толщина листа
                              | :
                              br
                              em Конструкционная сталь
                              |  - 25 мм 
                              br
                              em Нержавеющая сталь
                              |  - 20 мм 
                              br
                              em Алюминиевые сплавы
                              |  - 15 мм 
                              br
                              em Титановые сплавы
                              |  - 12 мм
                          tr
                            th(colspan='5') Гидроабразивная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='CMS Tecnocut Milestone', src='https://zaoks.ru/thumb/2/pnDZLL1VRkMP9aT1lzS-yg/580r450/d/cms_tecnocut_milestone.jpg')
                            td
                              strong Установка гидроабразивной резки CMS Tecnocut Milestone
                            td 2012
                            td Италия
                            td
                              strong Рабочее поле
                              | : 4600х2050мм
                              br
                              strong Ход по оси Х
                              | : 4000мм
                              br
                              strong Ход по оси Y
                              | : 1700мм
                              br
                              strong Ход по оси Z
                              | : 250мм
                              br
                              strong Ось B
                              | : +- 60°
                              br
                              strong Ось C
                              | : 600°
                              br
                              strong Диапазон толщин
                              | : от 5 до 170 мм
                              br
                              strong Линейная точность
                              | : 0,0038 мм/м
                          tr
                            th(colspan='5') Плазменная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='hyper260', src='https://zaoks.ru/thumb/2/tmwpvaYEp1e_d3Ol8ZGPkQ/r/d/hyper260.jpg')
                            td
                              strong Система плазменной резки HyPerformance HPR 260 XD
                            td 2014
                            td США
                            td
                              strong Макс. толщина реза (мм)
                              | : 64
                              br
                              strong
                                | Толщина резки
                                br
                                |                   низкоуглеродистой стали
                              | :
                              br
                              em Без образования окалины
                              | : 32 мм
                              br
                              em Промышленный прожиг
                              | : 38 мм
                              br
                              em Максимальная толщина резки
                              | : 64 мм
                              br
                              strong
                                | Толщина резки
                                br
                                |                   нержавеющей стали
                              | :
                              br
                              em Промышленный прожиг
                              | : 32 мм
                              br
                              em Максимальная толщина резки
                              | : 50 мм
                              br
                              strong Толщина резки алюминия
                              | :
                              br
                              em Промышленный прожиг
                              | : 25 мм
                              br
                              em Максимальная толщина резки
                              | : 50 мм
                          tr
                            th(colspan='5') Гильотина
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Гильотина3318', src='https://zaoks.ru/thumb/2/OkfBR9sbkCVI4r3GL_6DNw/r/d/gilotina3318.jpg')
                            td
                              b Гильотинные ножницы для обработки листового металла НД3318
                            td 1986
                            td СССР
                            td
                              strong Наибольшие размеры разрезаемого металла
                              | : 6,3 х 2000 мм
                              br
                              strong Длина листа отрезанного с упором
                              | : 600 мм
                              br
                              strong Механическое перемещение заднего упора
                              | : 0..630 мм
                          tr
                            th(colspan='5') Ножовочный станок
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Ножовочный', src='https://zaoks.ru/thumb/2/Res3QpgtiQgxxDsvBfqGoQ/r/d/nozhovochnyy.jpg')
                            td
                              b Электромеханический ножовочный отрезной станок 8725
                            td 2014
                            td США
                            td
                              strong Наибольшие размеры круглой заготовки
                              | : 200 мм
                              br
                              strong Наибольшие размеры разрезаемой квадратной заготовки
                              | : 220 х 220
                              br
                              strong Наибольшая длина отрезаемой заготовки по упору
                              | : 350 мм
                              br
                              strong Расстояние от основания станка до опорной поверхности заготовки
                              | : 550 мм
          article.main__article
            p.text Плазменная резка – один из лучших способов раскроя листового проката. Этот метод резки заключается в воздействии струи плазмы (преобразованной струи газа, поэтому плазменную резку часто называют газоплазменной) температурой от 5 000 до 30 0000С, от чего металл плавится по линии реза.
            p.text Преимущества лазерной резки:
            ul.list
              li Высокий КПД процесса.
              li Идеальная линия среза. После такой резки не остается наплывов, грата кромки или перекаливания, что избавляет заказчика от необходимости дополнительно обрабатывать полученный материал. Благодаря минимальной зоне нагрева, плазменно-дуговая резка практически исключает термические деформации даже тонколистового металла.
              li Высокая скорость работы при сравнении с методами ацетиленкислородного, лазерного и другими способами разделения.
              li Универсальность. Плазменной резке может подвергаться чугун, сталь, титан, медь, алюминий и другие металлы без потерь в качестве
              li раскроя. При этом не имеет значения качество поверхности материала – ни ржавчина, ни краска не станут помехой.
              li Возможность резки изделий толщиной до 12мм.
              li Экологически безопасна за счет отсутствия взрывоопасных газов.
              li Низкая стоимость.
            p.text В зависимости от типа газообразующей смеси меняется количество выделяемой тепловой энергии, при этом становится возможным резать различные металлы и сплавы в широком диапазоне толщин.
            ul.list
              li Легированные и углеродистые стали.
              li Нержавеющие стали.
              li Низкоуглеродистые металлы.
              li Высокоуглеродистые стали.
              li Резка алюминия и его сплавов.
              li Резка меди и латуни.
              ul.dropdown
                li.dropdown-item
                  .dropdown-title
                    .container
                      .switch
                        span.switch__bg
                        span.switch__btn
                      | Резка металла
                  .container(style='border-bottom:none')
                    .dropdown-item-content
                      table.tools
                        tbody
                          tr
                            th(colspan='5') Лазерная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Trumpf-L4030', src='https://zaoks.ru/thumb/2/fPK1SDaVorKIbZL5hDDVSA/360r300/d/trumpf-l4030.jpg')
                            td
                              strong Установка лазерной резки Trumpf Trumatic L4030
                            td 2008
                            td Германия
                            td
                              strong Тип лазера
                              | : TLF 2400Turbo 
                              br
                              strong Мощность лазера
                              | : 2400 Вт 
                              br
                              strong Система ЧПУ
                              | : Siemens Sinumerik 840 D 
                              br
                              strong Точность позиционирования
                              | : 0,1мм 
                              br
                              strong Максимальный вес детали
                              | : 1250 кг 
                              br
                              strong Максимальная толщина листа
                              | :
                              br
                              em Конструкционная сталь
                              |  - 15 мм
                              br
                              em Нержавеющая сталь
                              |  - 8 мм
                              br
                              em Алюминиевые сплавы
                              |  - 5 мм
                          tr
                            td
                              img(alt='Trumpf-L5030', src='https://zaoks.ru/thumb/2/7yblKVej-0x0fRsV8FSnZA/360r300/d/trumpf-l5030.jpg')
                            td
                              strong Установка лазерной резки Trumpf Trumatic L5030
                            td 2010
                            td Австрия
                            td
                              strong Тип лазера
                              | : TLF 2500
                              br
                              strong Мощность лазера
                              | : 5000 Вт 
                              br
                              strong Система ЧПУ
                              | : Siemens Sinumerik 840 D 
                              br
                              strong Точность позиционирования
                              | : 0,1мм 
                              br
                              strong Максимальный вес детали
                              | : 1110 кг 
                              br
                              strong Максимальная толщина листа
                              | :
                              br
                              em Конструкционная сталь
                              |  - 25 мм 
                              br
                              em Нержавеющая сталь
                              |  - 20 мм 
                              br
                              em Алюминиевые сплавы
                              |  - 15 мм 
                              br
                              em Титановые сплавы
                              |  - 12 мм
                          tr
                            th(colspan='5') Гидроабразивная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='CMS Tecnocut Milestone', src='https://zaoks.ru/thumb/2/pnDZLL1VRkMP9aT1lzS-yg/580r450/d/cms_tecnocut_milestone.jpg')
                            td
                              strong Установка гидроабразивной резки CMS Tecnocut Milestone
                            td 2012
                            td Италия
                            td
                              strong Рабочее поле
                              | : 4600х2050мм
                              br
                              strong Ход по оси Х
                              | : 4000мм
                              br
                              strong Ход по оси Y
                              | : 1700мм
                              br
                              strong Ход по оси Z
                              | : 250мм
                              br
                              strong Ось B
                              | : +- 60°
                              br
                              strong Ось C
                              | : 600°
                              br
                              strong Диапазон толщин
                              | : от 5 до 170 мм
                              br
                              strong Линейная точность
                              | : 0,0038 мм/м
                          tr
                            th(colspan='5') Плазменная резка
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='hyper260', src='https://zaoks.ru/thumb/2/tmwpvaYEp1e_d3Ol8ZGPkQ/r/d/hyper260.jpg')
                            td
                              strong Система плазменной резки HyPerformance HPR 260 XD
                            td 2014
                            td США
                            td
                              strong Макс. толщина реза (мм)
                              | : 64
                              br
                              strong
                                | Толщина резки
                                br
                                |                   низкоуглеродистой стали
                              | :
                              br
                              em Без образования окалины
                              | : 32 мм
                              br
                              em Промышленный прожиг
                              | : 38 мм
                              br
                              em Максимальная толщина резки
                              | : 64 мм
                              br
                              strong
                                | Толщина резки
                                br
                                |                   нержавеющей стали
                              | :
                              br
                              em Промышленный прожиг
                              | : 32 мм
                              br
                              em Максимальная толщина резки
                              | : 50 мм
                              br
                              strong Толщина резки алюминия
                              | :
                              br
                              em Промышленный прожиг
                              | : 25 мм
                              br
                              em Максимальная толщина резки
                              | : 50 мм
                          tr
                            th(colspan='5') Гильотина
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Гильотина3318', src='https://zaoks.ru/thumb/2/OkfBR9sbkCVI4r3GL_6DNw/r/d/gilotina3318.jpg')
                            td
                              b Гильотинные ножницы для обработки листового металла НД3318
                            td 1986
                            td СССР
                            td
                              strong Наибольшие размеры разрезаемого металла
                              | : 6,3 х 2000 мм
                              br
                              strong Длина листа отрезанного с упором
                              | : 600 мм
                              br
                              strong Механическое перемещение заднего упора
                              | : 0..630 мм
                          tr
                            th(colspan='5') Ножовочный станок
                          tr
                            td
                              strong Изображение
                            td
                              strong Модель
                            td
                              strong Год выпуска
                            td
                              strong Страна производитель
                            td
                              strong Технические характеристики
                          tr
                            td
                              img(alt='Ножовочный', src='https://zaoks.ru/thumb/2/Res3QpgtiQgxxDsvBfqGoQ/r/d/nozhovochnyy.jpg')
                            td
                              b Электромеханический ножовочный отрезной станок 8725
                            td 2014
                            td США
                            td
                              strong Наибольшие размеры круглой заготовки
                              | : 200 мм
                              br
                              strong Наибольшие размеры разрезаемой квадратной заготовки
                              | : 220 х 220
                              br
                              strong Наибольшая длина отрезаемой заготовки по упору
                              | : 350 мм
                              br
                              strong Расстояние от основания станка до опорной поверхности заготовки
                              | : 550 мм
    include ../includes/popupform.pug
    include ../includes/main-footer.pug

        
