doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Резка металла
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  script(src="js/libs.min.js")
  script(src="js/main.js")
  body.body--parallax
    include ../includes/main-header.pug
    div.inner-page
      include ../includes/catalog.pug
      main.main
        h1.title.title--left Резка металла
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text При внешней простоте операции резка является одним из наиболее сложных этапов точной обработки металла, который может выполняться исключительно профессионалами, причем на специальном оборудовании.
            p.text Мы используем в технологическом процессе высокоточное оборудование, преимущественно с ЧПУ. За счет применения программируемых металлообрабатывающих станков повышается производительность и точность изготовления изделий, включая детали сложной геометрической формы. Потери материала в виде отходов и брака сведены до минимума.      
        section.main__articles
          .main__buttons
            div(class="active") Лазерная резка
            div Гидрообразивная резка
            div Плазменная резка
          article.main__article.main__article--active
            p.text Лазерная резка – это способ резки металла, отличающийся высочайшей точностью и максимально аккуратным краем среза на выходе. Так как обрабатываемая поверхность не подвергается механическому воздействию, она защищена от любого рода деформаций. Лазерная резка незаменима для обработки изделий из хрупких материалов. Резка металла лазером исполняется с высокой точностью, с минимумом отходов и допуском реза.
            p.text Сегодня можно с уверенностью сказать, что лазерные режущие станки совершили революцию в металлообработке, сделав процедуру изготовления сложных конструкций из металла более быстрой, качественной и доступной.
            p.text Лазерная резка в обработке листового проката сочетает уникальную точность и минимум тепловых деформаций при отсутствии искривлений. Trumpf Trumatic L4030 и Trumpf Trumatic L5030 осуществляет обработку металла со следующими параметрами (максимальная толщина раскроя листового металла): углеродистая сталь до 25 мм, нержавеющая сталь до 16 мм, титан до 6 мм, алюминий до 10 мм, точность позиционирования 0,05мм
          article.main__article
            p.text Гидроабразивная резка - это такой вид обработки металла при котором струя воды под огромным давлением около 4200 атмосфер проходит через отверстие 0,2 мм , разгоняется до скорости 4000 км/ч и смешивается с гранатовым песком, такая гидроабразивная смесь разрезает все на своем пути будь-то камень, титан, стекло или металл, керамогранита, пластик.
            p.text Инновационные технологии гидрорезки дают возможность вырезать элементы, со сложным контуром точно соответствии нарисованным эскизом из таких материалов как титан керамогранит, металл, камень, стекло, гранит. Небольшая температура реза при резки водой около +70°С исключает термическую деформацию изделия, заготовки и не оказывает температурного влияния на металл вблизи реза.
            p.text При технологии гидроабразивной резки, можно добиваться идеального качества поверхности детали с шероховатостью Ra1,4 мкм, такая деталь не требует дополнительной обработки и готова к применению.
            ul.list
              li Водорезка практически незаменима при резке металлов: титана, высокопрочных сталей, меди, бронзы, латуни, алюминия.
              li В случае сложно контурной резки такого хрупкого материала как камень, гидрорезка является единственно возможной технологией раскроя гранита, мрамора, керамики, стекла, текстолита и натурального камня, керамогранита, камня, стекла.
              li Гидроабразивная резка (водорезка) пластика, резины, полиуретана, поролона, пластмассы большой толщины, также является уникальной, так как позволяет избежать подгорания и потемнения кромки материала.
            p.text 
              |В арсенале нашей компании уникальный 5-осевой станок CMS Tecnocut Milestone, позволяющий производить трёхмерную резку по различным материалам металл, твёрдые сплавы, пластик, камень, стекло, композитные материалы. Размеры рабочего поля - 4600х2050мм. Ход по оси Х - 4000мм, по оси Y - 1700мм, по оси Z - 250мм. 
              |Главным преимуществом гидроабразивной резки является низкая температура воздействия на материал до 90 градусов, что позволяет делать идеально чистый рез при большой толщине материала. Диапазон толщин от 5 до 170 мм. Линейная точность: 0,0038 мм/м.
          article.main__article
            p.text Плазменная резка – один из лучших способов раскроя листового проката. Этот метод резки заключается в воздействии струи плазмы (преобразованной струи газа, поэтому плазменную резку часто называют газоплазменной) температурой от 5 000 до 30 0000С, от чего металл плавится по линии реза.
            p.text Преимущества лазерной резки:
            ul.list
              li Высокий КПД процесса.
              li Идеальная линия среза. После такой резки не остается наплывов, грата кромки или перекаливания, что избавляет заказчика от необходимости дополнительно обрабатывать полученный материал. Благодаря минимальной зоне нагрева, плазменно-дуговая резка практически исключает термические деформации даже тонколистового металла.
              li Высокая скорость работы при сравнении с методами ацетиленкислородного, лазерного и другими способами разделения.
              li Универсальность. Плазменной резке может подвергаться чугун, сталь, титан, медь, алюминий и другие металлы без потерь в качестве
              li раскроя. При этом не имеет значения качество поверхности материала – ни ржавчина, ни краска не станут помехой.
              li Возможность резки изделий толщиной до 12мм.
              li Экологически безопасна за счет отсутствия взрывоопасных газов.
              li Низкая стоимость.
            p.text В зависимости от типа газообразующей смеси меняется количество выделяемой тепловой энергии, при этом становится возможным резать различные металлы и сплавы в широком диапазоне толщин.
            ul.list
              li Легированные и углеродистые стали.
              li Нержавеющие стали.
              li Низкоуглеродистые металлы.
              li Высокоуглеродистые стали.
              li Резка алюминия и его сплавов.
              li Резка меди и латуни.
    include ../includes/popupform.pug
    include ../includes/main-footer.pug

        
