doctype
html
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title Резка металла
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
	link(rel='stylesheet', href='css/libs.min.css') 
	link(rel='stylesheet', href='css/styles.css')
	body.body--parallax
		include ../includes/preloader.pug
		include ../includes/main-header.pug
		div.inner-page
			include ../includes/catalog.pug
			main.main
				include ../includes/header-article.pug
				h1.title.title--left Резка металла
				.main__top
					.fotorama__wrapper
						.fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
							img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
							img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
							img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
							img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
							img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
							img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
					.main__info
						p.text.text--justify При внешней простоте операции резка является одним из наиболее сложных этапов точной обработки металла, который может выполняться исключительно профессионалами, причем на специальном оборудовании.
						p.text.text--justify Мы используем в технологическом процессе высокоточное оборудование, преимущественно с ЧПУ. За счет применения программируемых металлообрабатывающих станков повышается производительность и точность изготовления изделий, включая детали сложной геометрической формы. Потери материала в виде отходов и брака сведены до минимума.
						.infobuttons
							.btn.btn--form Заказать услугу
							.btn Скачать прайс-лист
				section.main__articles.main__articles--with-btns
					.main__buttons
						div(class="active") Лазерная резка
						div Гидрообразивная резка
						div Плазменная резка
					article.main__article.main__article--active
						p.text.text--justify
							b Лазерная резка
							|  – это способ резки металла, отличающийся высочайшей точностью и максимально аккуратным краем среза на выходе. Так как обрабатываемая поверхность не подвергается механическому воздействию, она защищена от любого рода деформаций. Лазерная резка незаменима для обработки изделий из хрупких материалов. 
							b Резка металла лазером
							|  выполняется с высокой точностью, с минимумом отходов и допуском реза.
						p.text.text--justify
							b Преимущества технологии лазерной резки
							| :
						ul.list
							li Универсальность. Обрабатываются почти все металлы: сталь любой марки, алюминиевые сплавы.
							li Бережное воздействие. Уникальность технологии и в том, что заготовка не обязательно должна проводить ток. Отсутствует непосредственное механическое давление на поверхность, благодаря чему обработке подвергается не только металл, но и другие, в том числе тонкие и хрупкие материалы.
							li Простота применения. Для автоматического раскроя необходим лишь чертеж готового изделия, подготовленный в одной из специальных инженерных программ. Далее проект переносится в компьютерную систему станка.
							li Оптимизация производства. Работу можно настроить в практически автоматическом режиме. Это уменьшает трудозатраты и другие расходы при непревзойденном качестве изготавливаемых изделий. Технология сводит объемы отходов к минимуму, благодаря автоматическому выбору раскладки для раскроя. Детали можно компактно разместить на одном листе.
							li Декоративное оформление. Посредством лучевого воздействия создаются гравировка, узоры и прочие изображения.
						p.text.text--justify Таким образом, методика идеальна при потребности в высокой скорости и точности изготавливаемых деталей, так как они не нуждаются в дополнительной обработке.
						p.text.text--justify
							| Сегодня можно с уверенностью сказать, что лазерные режущие станки совершили революцию в металлообработке, сделав процедуру изготовления сложных конструкций из металла более быстрой, качественной и доступной. Наша компания имеет в распоряжении немецкие лазерные установки 
							b Trumpf Trumatic L4030
							|  и 
							b Trumpf Trumatic L5030
							| . Технические характеристики этих лазерных установок можно посмотреть ниже.
						p.text.text--justify
							| Для проведения работ по лазерной резке металла вы всегда можете обратиться в 
							b Set Service Group
							| , позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b заполнив форму для связи.
						ul.dropdown
							li.dropdown-item
								.dropdown-title
									.container(style="border-top: 1px solid #eceded;")
										.switch
											span.switch__bg
											span.switch__btn
										| Оборудование для лазерной резки
								.container(style="border-bottom: none")
									.dropdown-item-content
										table.tools
											tr
												td
													b Изображение
												td
													b Модель
												td
													b Год выпуска
												td
													b Страна производитель
												td
													b Технические характеристики
											tr
												td
													img(alt='Trumpf-L4030', src='/img/machines/cutting-machines/laser/1.jpg')
												td
													b Установка лазерной резки Trumpf Trumatic L4030
												td 2008
												td Германия
												td
													b Тип лазера
													| : TLF 2400Turbo 
													br
													b Мощность лазера
													| : 2400 Вт 
													br
													b Система ЧПУ
													| : Siemens Sinumerik 840 D 
													br
													b Точность позиционирования
													| : 0,1мм 
													br
													b Максимальный вес детали
													| : 1250 кг 
													br
													b Максимальная толщина листа
													| :
													br
													em Конструкционная сталь
													|  - 15 мм
													br
													em Нержавеющая сталь
													|  - 8 мм
													br
													em Алюминиевые сплавы
													|  - 5 мм
											tr
												td
													img(alt='Trumpf-L5030', src='/img/machines/cutting-machines/laser/2.jpg')
												td
													b Установка лазерной резки Trumpf Trumatic L5030
												td 2010
												td Австрия
												td
													b Тип лазера
													| : TLF 2500
													br
													b Мощность лазера
													| : 5000 Вт 
													br
													b Система ЧПУ
													| : Siemens Sinumerik 840 D 
													br
													b Точность позиционирования
													| : 0,1мм 
													br
													b Максимальный вес детали
													| : 1110 кг 
													br
													b Максимальная толщина листа
													| :
													br
													em Конструкционная сталь
													|  - 25 мм 
													br
													em Нержавеющая сталь
													|  - 20 мм 
													br
													em Алюминиевые сплавы
													|  - 15 мм 
													br
													em Титановые сплавы
													|  - 12 мм
							li.dropdown-item
								.dropdown-title
									.container
										.switch
											span.switch__bg
											span.switch__btn
										| Расценки на лазерную резку
								.container(style='border-bottom:none')
									.dropdown-item-content
										table.pricelist
											tr
												td(colspan='2') Конструкционная сталь
												td(colspan='2') Нержавеющая сталь
												td(colspan='2') Алюминий и сплавы
												td(colspan='2') Титан
												td(colspan='2') Латунь
											tr
												td Толщина, мм
												td Цена за п.м., руб.
												td Толщина, мм
												td Цена за п.м., руб.
												td Толщина, мм
												td Цена за п.м., руб.
												td Толщина, мм
												td Цена за п.м., руб.
												td Толщина, мм
												td Цена за п.м., руб.
											tr
												td -
												td -
												td 0,8
												td 12
												td 0,8
												td 10,8
												td 1
												td 60
												td 1
												td 38,4
											tr
												td 1
												td 6,6
												td 1
												td 13,44
												td 1
												td 11,4
												td 1,5
												td 66
												td 1,5
												td 60
											tr
												td 1,5
												td 7,08
												td 1,5
												td 16,68
												td 1,5
												td 14,16
												td 2
												td 77,4
												td 2
												td 75,6
											tr
												td 2
												td 10,68
												td 2
												td 19,8
												td 2
												td 17,88
												td 3
												td 109,2
												td 3
												td 91
											tr
												td 3
												td 18,96
												td 3
												td 27,24
												td 3
												td 24,96
												td 4
												td 132
												td 4
												td 108
											tr
												td 4
												td 23,52
												td 4
												td 35,4
												td 4
												td 49,32
												td 5
												td 156
												td
												td
											tr
												td 5
												td 28,56
												td 5
												td 46,68
												td 5
												td 49,32
												td 6
												td 192
												td
												td
											tr
												td 6
												td 35,4
												td 6
												td 56,04
												td 6
												td 63,84
												td
												td
												td
												td
											tr
												td 8
												td 66,72
												td 8
												td 78,06
												td 8
												td 114,6
												td
												td
												td
												td
											tr
												td 10
												td 74,16
												td 10
												td 116,16
												td 10
												td 202,68
												td
												td
												td
												td
											tr
												td 12
												td 88,0
												td 12
												td 175,08
												td
												td
												td
												td
												td
												td
											tr
												td 14
												td 91,8
												td 15
												td 277,08
												td
												td
												td
												td
												td
												td
											tr
												td 16
												td 99,96
												td
												td
												td
												td
												td
												td
												td
												td
											tr
												td 20
												td 150,0
												td
												td
												td
												td
												td
												td
												td
												td
					article.main__article
						p.text.text--justify
							b Гидроабразивная резка
							|  - это такой вид обработки металла при котором струя воды под огромным давлением около 4200 атмосфер проходит через отверстие 0,2 мм , разгоняется до скорости 4000 км/ч и смешивается с гранатовым песком. Этого достаточно, чтобы при столкновении двух сред произошла резка высокой точности. Вода постоянно отводит тепло, и температура обрабатываемого материала остается в пределах 80 градусов. Такая гидроабразивная смесь разрезает все на своем пути будь-то камень, титан, стекло или металл, керамогранита, пластик.
						p.text.text--justify
							| Инновационные технологии 
							b гидрорезки
							|  дают возможность вырезать элементы, со сложным контуром точно соответствии нарисованным эскизом из таких материалов как титан керамогранит, металл, камень, стекло, гранит. Небольшая температура реза при резки водой около +70°С исключает термическую деформацию изделия, заготовки и не оказывает температурного влияния на металл вблизи реза.
							br
							| При обработке не выделяются вредные газы, горючие, взрывоопасные вещества. Зона термического влияния отсутствует, что крайне важно для обработки пластичных металлов. Например, на гидроабразивных машинах с успехом обрабатывается нержавеющая сталь AISI304, которую сложно резать другими способами.
						p.text.text--justify
							| При технологии гидроабразивной резки, можно добиваться идеального качества поверхности детали с шероховатостью Ra1,4 мкм, такая деталь не требует дополнительной обработки и готова к применению.
						p.text.text--justify Преимущества технологии гидроабразивной резки:
						ul.list
							li
								b Водорезка
								|  практически незаменима при резке металлов: титана, высокопрочных сталей, меди, бронзы, латуни, алюминия.
							li В случае сложно контурной резки такого хрупкого материала как камень, гидрорезка является единственно возможной технологией раскроя гранита, мрамора, керамики, стекла, текстолита и натурального камня, керамогранита, камня, стекла.
							li Гидроабразивная резка (водорезка) пластика, резины, полиуретана, поролона, пластмассы большой толщины, также является уникальной, так как позволяет избежать подгорания и потемнения кромки материала.
						p.text.text--justify
							| В арсенале нашей компании уникальный 5-осевой станок 
							b CMS Tecnocut Milestone
							| , позволяющий производить трёхмерную резку по различным материалам: металл, твёрдые сплавы, пластик, камень, стекло, композитные материалы. Подробные технические характеристики станка можно посмотреть ниже.
						p.text.text--justify
							| Вы можете заказать проведение работ по гидроабразивной резке, позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b заполнив форму для связи.
						ul.dropdown
							li.dropdown-item
								.dropdown-title
									.container(style="border-top: 1px solid #eceded;")
										.switch
											span.switch__bg
											span.switch__btn
										| Оборудование для гидрообразивной резки
								.container(style="border-bottom: none")
									.dropdown-item-content
										table.tools
											tr
												td
													b Изображение
												td
													b Модель
												td
													b Год выпуска
												td
													b Страна производитель
												td
													b Технические характеристики
											tr
												td
													img(alt='CMS Tecnocut Milestone', src='/img/machines/cutting-machines/waterjet/1.jpg')
												td
													b Установка гидроабразивной резки CMS Tecnocut Milestone
												td 2012
												td Италия
												td
													b Рабочее поле
													| : 4600х2050мм
													br
													b Ход по оси Х
													| : 4000мм
													br
													b Ход по оси Y
													| : 1700мм
													br
													b Ход по оси Z
													| : 250мм
													br
													b Ось B
													| : +- 60°
													br
													b Ось C
													| : 600°
													br
													b Диапазон толщин
													| : от 5 до 170 мм
													br
													b Линейная точность
													| : 0,0038 мм/м
							li.dropdown-item
								.dropdown-title
									.container
										.switch
											span.switch__bg
											span.switch__btn
										| Расценки на гидрообразивную резку
								.container(style='border-bottom:none')
									.dropdown-item-content
										table.pricelist
											tr
												td(rowspan='3') Толщина
												td(colspan='3') Цена, руб./м.п.
											tr
												td(colspan='3') Чёрная / Нержавеющая сталь	
											tr
												td Лучшее RZ20÷RZ30
												td Норма RZ40÷50
												td Черновое RZ≥70
											tr
												td 5
												td 495
												td 300
												td 240
											tr
												td 8
												td 792
												td 480
												td 384
											tr
												td 10
												td 990
												td 600
												td 480
											tr
												td 12
												td 1177
												td 720
												td 576
											tr
												td 16
												td 1562
												td 960
												td 768
											tr
												td 18
												td 1749
												td 1080
												td 864
											tr
												td 20
												td 1936
												td 1200
												td 948
											tr
												td 25
												td 2420
												td 1500
												td 1176
											tr
												td 30
												td 2904
												td 1800
												td 1404
											tr
												td 40
												td 3872
												td 2400
												td 1872
											tr
												td 50
												td 4840
												td 3000
												td 2340
											tr
												td 60
												td 5797
												td 3600
												td 2808
											tr
												td 70
												td 6754
												td 4200
												td 3276
											tr
												td 80
												td 7711
												td 4800
												td 3744
											tr
												td 90
												td 8668
												td 5400
												td 4212
											tr
												td 100
												td 9625
												td 6000
												td 4668
										table.pricelist
											tr
												td(rowspan='3') Толщина
												td(colspan='3') Цена, руб./м.п.
											tr
												td(colspan='3') Алюминий
											tr
												td Лучшее RZ20÷RZ30
												td Норма RZ40÷50
												td Черновое RZ≥70
											tr
												td 5
												td 204
												td 144
												td 108
											tr
												td 8
												td 324
												td 228
												td 156
											tr
												td 10
												td 396
												td 276
												td 192
											tr
												td 12
												td 468
												td 324
												td 228
											tr
												td 16
												td 612
												td 432
												td 288
											tr
												td 18
												td 684
												td 480
												td 312
											tr
												td 20
												td 756
												td 528
												td 336
											tr
												td 25
												td 936
												td 660
												td 420
											tr
												td 30
												td 1116
												td 792
												td 504
											tr
												td 40
												td 1488
												td 1056
												td 672
											tr
												td 50
												td 1860
												td 1320
												td 840
											tr
												td 60
												td 2220
												td 1584
												td 996
											tr
												td 70
												td 2580
												td 1848
												td 1152
											tr
												td 80
												td 2940
												td 2112
												td 1308
											tr
												td 90
												td 3300
												td 2376
												td 1464
											tr
												td 100
												td 3660
												td 2628
												td 1620

					article.main__article
						p.text.text--justify
							b Плазменная резка
							|  – один из лучших способов раскроя листового проката. Этот метод резки заключается в воздействии струи плазмы (преобразованной струи газа, поэтому плазменную резку часто называют газоплазменной) температурой от 5 000 до 30 0000С, от чего металл плавится по линии реза.
						p.text.text--justify
							| Особенность плазменной резки — отсутствие каких-либо побочных эффектов на металле после обработки. После воздействия лазером у титана могут остаться внедренные растворы на швах. А механическая обработка и вовсе ограничена — нельзя нарезать листы фигурно. После соприкосновения с материалом плазма не оставляет следы (наплывы, царапины и углубления). Сам процесс резки одного элемента может занять всего 5 минут! Плазменная резка работает при помощи ЧПУ, потому человеческий фактор исключается — вы получите изделие в точности, как заказывали.
						p.text.text--justify Преимущества технологии плазменной  резки:
						ul.list
							li Высокий КПД процесса.
							li
								| Идеальная линия среза. После такой резки не остается наплывов, грата кромки или перекаливания, что избавляет заказчика от необходимости дополнительно обрабатывать полученный материал. Благодаря минимальной зоне нагрева, 
								b плазменно-дуговая резка
								|  практически исключает термические деформации даже тонколистового металла.
							li
								| Высокая скорость работы при сравнении с методами ацетиленкислородного, лазерного и другими способами разделения.
							li
								| Универсальность. Плазменной резке может подвергаться чугун, сталь, титан, медь, алюминий и другие металлы без потерь в качестве раскроя. При этом не имеет значения качество поверхности материала – ни ржавчина, ни краска не станут помехой.
							li Возможность резки изделий толщиной до 30 мм.
							li Экологически безопасна за счет отсутствия взрывоопасных газов.
							li Низкая стоимость.
						p.text.text--justify
							| В зависимости от типа газообразующей смеси меняется количество выделяемой тепловой энергии, при этом становится возможным резать различные металлы и сплавы в широком диапазоне толщин.
						ul.list
							li Легированные и углеродистые стали.
							li Нержавеющие стали.
							li Низкоуглеродистые металлы.
							li Высокоуглеродистые стали.
							li Резка алюминия и его сплавов.
							li Резка меди и латуни.
						p.text.text--justify
							b Услуги по лазерной резке металл
							| а наша компания выполняет на американской плазменной установке 
							b HyPerformance HPR 260 XD
							| . Технические параметры этого устройства можно посмотреть ниже.
						p.text.text--justify
							| Вы всегда можете обратиться в Set Service Group за консультацией по
							b  услугам плазменной резки в Санкт-Петербурге
							| , позвонив по телефону 
							b 8 (812) 627-15-16
							|  или обратиться с вопросом 
							b заполнив форму для связи.
						ul.dropdown
							li.dropdown-item
								.dropdown-title
									.container(style="border-top: 1px solid #eceded;")
										.switch
											span.switch__bg
											span.switch__btn
										| Оборудование для плазменной резки
								.container(style="border-bottom: none")
									.dropdown-item-content
										table.tools
											tr
												td
													b Изображение
												td
													b Модель
												td
													b Год выпуска
												td
													b Страна производитель
												td
													b Технические характеристики
											tr
												td
													img(alt='hyper260', src='/img/machines/cutting-machines/plazma/1.jpg')
												td
													b Система плазменной резки HyPerformance HPR 260 XD
												td 2014
												td США
												td
													b Макс. толщина реза (мм)
													| : 64
													br
													b
														| Толщина резки
														br
														| низкоуглеродистой стали
														| :
													br
													em Без образования окалины
													| : 32 мм
													br
													em Промышленный прожиг
													| : 38 мм
													br
													em Максимальная толщина резки
													| : 64 мм
													br
													b
														| Толщина резки
														br
														| нержавеющей стали :
													br
													em Промышленный прожиг
													| : 32 мм
													br
													em Максимальная толщина резки
													| : 50 мм
													br
													b Толщина резки алюминия
													| :
													br
													em Промышленный прожиг
													| : 25 мм
													br
													em Максимальная толщина резки
													| : 50 мм
							li.dropdown-item
								.dropdown-title
									.container
										.switch
											span.switch__bg
											span.switch__btn
										| Расценки на плазменную резку
								.container(style='border-bottom:none')
									.dropdown-item-content
										table.pricelist
											tr
												td Толщина, мм
												td Цена, руб
												td Толщина, мм
												td Цена, руб
												td Толщина, мм
												td Цена, руб
												td Толщина, мм
												td Цена, руб
											tr
												td 3
												td 28,8
												td 16
												td 150
												td 34
												td 300
												td 90
												td 628,8
											tr
												td 4
												td 37,2
												td 18
												td 169,2
												td 36
												td 319,2
												td 100
												td 686,4
											tr
												td 5
												td 46,8
												td 20
												td 187,2
												td 40
												td 337,2
												td 110
												td 756
											tr
												td 6
												td 56,4
												td 22
												td 206,4
												td 45
												td 374,4
												td 120
												td 726
											tr
												td 8
												td 75,6
												td 24
												td 225,6
												td 50
												td 421,2
												td 125
												td 792
											tr
												td 10
												td 93,6
												td 26
												td 234
												td 55
												td 468
												td 130
												td 825,6
											tr
												td 12
												td 112,8
												td 28
												td 243,6
												td 60
												td 514,8
												td 140
												td 858
											tr
												td 14
												td 132
												td 30
												td 262,8
												td 70
												td 561,6
												td 150
												td 924
											tr
												td 15
												td 140,4
												td 32
												td 280,8
												td 80
												td 607,2
												td 160
												td 990
				include ../includes/performed_works.pug
		include ../includes/popupform.pug
		footer.main-footer
			include ../includes/bottom-line.pug
	include ../includes/scripts.pug
