doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Транспортные услуги
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  script(src="js/libs.min.js")
  script(src="js/main.js")
  body.body--parallax
    include ../includes/main-header.pug
    section.transport
      h1.title  Транспортные услуги
      p.text.text--justify.text--justify 
        b Set Service Group 
        | осуществляет доставку металлопроката и изделий  по Санкт-Петербургу и Ленинградской области.
      p.text.text--justify.text--justify Для осуществления доставки различных партий металлопроката мы предоставим Вам разнообразные виды транспорта, в зависимости от тоннажа и длины перевозимого металла.
      p.text.text--justify.text--justify 
        | Стоимость доставки можно узнать у наших специалистов по телефону 
        b +7(812)627-15-16
        | , либо задать вопрос отправив форму с помощью кнопки 
        b "Разместить заказ"
        | .
      p.text.text--justify.text--justify Доставка грузов производится в четко оговоренные сроки. В зависимости от того, нужна ли клиенту доставка тяжелой техники, перевозка негабаритных грузов или иные виды грузоперевозок, мы подберем самый оптимальный вид транспорта, составим маршрут с учетом уровня нагрузок на дороги и гарантируем сохранность доставляемого груза.
      p.text.text--justify.text--justify Стоимость перевозки может меняться,  при длительной аренде возможны скидки. Она зависит от длины и тоннажа перевозимого металлопроката, а так же от места (количества мест) разгрузки металла.
      p.text.text--justify.text--justify При заказе доставки покупателю необходимо обеспечить беспрепятственный проезд транспорта до места разгрузки металла и произвести самостоятельно его выгрузку в течение одного часа (если иное время разгрузки не оговорено с менеджерами при оформлении заказа).  Так же Мы оказываем услуга по выгрузке доставленного металлопроката в назначенном месте.
      table.cars
        tr
          th
          th Тип т/с 
          th Стоимость, руб. 
          th Каждый км за КАД 
          th Габариты  
          th Габариты груза, max 
        tr
          td
            div.car-image
          td легковая 
          td 800*
          td
          td
          td
        tr
          td
            div.car-image
          td Газель (катюша) 
          td 3500** 
          td 35р/км    
          td 
            | Длина – 4м (6м); 
            br 
            | Ширина – 2м; 
            br
            | Высота борта – 0,8м; 
          td
            | Длина до 7м Ширина до 2м
            br
            | Высота до 2,7м  Вес до 1,0-1,5т  
        tr
          td
            div.car-image
          td Валдай 
          td 5000** 
          td 45р/км 
          td 
            | Длина 6м
            br
            | Ширина 2,1м
            br
            | Высота борта -8м 
          td
            | Длина до 7м Ширина до 2,1м
            br 
            | Высота до 2,7  Вес до 5,0
        tr
          td
            div.car-image
          td Газон 
          td 5000** 
          td 50р/км 
          td
            | Длина 5м
            br
            | Ширина 2,1м 
            br
            | Высота борта -8м 
          td
            | Длина до 8м Ширина до 2,1м  
            br
            | Высота до 2,7  Вес до 6,0 
        tr
          td 
            div.car-image
          td 10-тонник 
          td 7000** 
          td 60р/км 
          td
            | Длина 7м
            br 
            | Ширина 2,5м 
            br
            | Высота борта -8м 
          td
            | Длина до 6,5м Ширина до 2,5м
            br
            | Высота до 2,5м Вес до 10т 
        tr
          td
            div.car-image
          td Шаланда 
          td 9000** 
          td 70р/км 
          td
            | Длина 13м
            br 
            | Ширина 2,5м
            br 
            | Высота борта - 8м 
          td
            | Длина до 13м / Ширина до 2,5м
            br
            | Высота до 2,5м / Вес до 20 т
        tr
          td
            div.car-image
          td Манипулятор 5т 
          td 2000/ч 
          td 70р/км 
          td 
            | Длина 5м 
            br
            | Ширина 2,2м 
          td
            | Длина до 5м / Ширина до 2,2м
            br
            | Высота до 2,5м / Вес до 5 т  
        tr
          td
            div.car-image
          td Манипулятор 10т 
          td 2200/ч 
          td 80р/км 
          td
            | Длина 6,2 м 
            br
            | Ширина 2,38 м 
          td
            | Длина до 6,2м / Ширина до 2,38м
            br
            | Высота до 2,5м / Вес до 10 т 
        tr
          td
            div.car-image
          td Манипулятор 20т 
          td 3000/ч 
          td 90р/км 
          td
            | Длина 13м 
            br
            | Ширина 2,38м 
          td
            | Длина до 13м / Ширина до 2,38м
            br
            | Высота до 2,5м / Вес до 20 т 
      p.text.text--justify *- цена указана с учетом доставки по городу. За пределами КАД каждая загрузка или выгрузка добавляет час к общей затрате времени на логистику.
      p.text.text--justify **- Цена является фиксированной и никак не зависит от факторов, возникающих во время отгрузки.
      br
      p.text.text--justify 
        b Плюсы работы с нами:
      ul.list.list--ordered
        li Доставка грузов по городу и области «от двери до двери»;
        li Экономия времени: вы не стоите в очереди на складе, не платите за «подачу» и «простой» заказанного автотранспорта, не ждете комплектования большого заказа — вы платите только за доставку и получаете товар в удобное для вас время;
        li Возможность получения отчетов о вашем грузе на любом этапе процесса перевозки;
        li Оптимизация схем перевозки грузов;
        li Демократичные тарифы и гибкая система скидок.
      p.text.text--justify Заказать металлопрокат с доставкой – просто, если вы сотрудничаете с Set Service Group
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
