doctype
html
  -let title = 'Закупки'
  include ../includes/head.pug
  body.body--parallax
    include ../includes/preloader.pug
    include ../includes/main-header.pug
    section.tenders
      h1.title.title--uppercase Закупки
      .tender
        .tender__column.tender__column--left
          b Внутренний тендер
          br
          br
          span Стоимость работ
          br
          span.tender__price 234000 руб.
        .tender__column.tender__column--center
          span.tender__number № 1
          h3.tender__title
            | Производство фланцев
          div Заказчик:
          .tender__orderer ООО "Комплект Сервис"
          div Краткое описание:
          .tender__orderer
            | Необходимо произвести токарные, фрезерные и координатно-расточные работы, материал давальческий, без термической обратноки, без гальванического покрытия.
        .tender__column.tender__column--right
          table.tender__time
            tbody
              tr
                td Дата объявления тендера: 
                td.tender__start 06.08.2018
              tr
                td Дата окончания тендера: 
                td.tender__end 06.09.2018
          a.tender__btn(href='docs/zakupki_1.doc', download='') Скачать документацию
          a.tender__btn.tender__btn--form(href='#') Отправить заявку
    include ../includes/popupform.pug
    include ../includes/main-footer.pug
script(src="/js/common.js")
