doctype
html
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Термическая обработка
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic', rel='stylesheet')
  link(rel='stylesheet', href='css/libs.min.css') 
  link(rel='stylesheet', href='css/styles.css')
  script(src="js/libs.min.js")
  script(src="js/main.js")
  body.body--parallax
    .loader
      .loader__inner
    include ../includes/main-header.pug
    div.inner-page
      include ../includes/catalog.pug
      main.main
        include ../includes/header-article.pug
        h1.title.title--left Термическая обработка
        .main__top
          .fotorama__wrapper
            .fotorama(data-allowfullscreen="true" data-loop="true" data-autoplay="false")
              img(src='https://beltica.ru/upload/iblock/942/9424066fa4690068a6947db0173d19d1.jpg')
              img(src='http://www.skif-m.org/uploads/posts/2014-07/1406239471_133.jpg')
              img(src='http://metallmig.ru/img/node-18745-gidroabraziv-rezka.jpg', alt='')
              img(src='http://www.megasteels.ru/files/images/pages/pic_211_1416503159.jpg', alt='')
              img(src='http://kz.all.biz/img/kz/service_catalog/229754.jpg', alt='')
              img(src='http://www.tecsna.ru/images/detailed/1/plazma.jpg', alt='')
          .main__info
            p.text.text--justify Set Service Group имеет колоссальный опыт в термической обработке металла. Современное оборудование и опытные специалисты обеспечат качественное выполнение любого заказа.
            .infobuttons
              .pricetext Цена от 5 руб./метр
              .btn.btn--form Заказать услугу
              .btn Скачать прайс-лист
        section.main__articles
          article.main__article.main__article--active
            p.text.text--justify 
              b Термическая обработка металлов 
              | - это процесс температурного воздействия металл, с целью приобретения деталями нужных свойств за счет изменения их внутреннего строения и структуры. Как правило, она производится для повышения/понижения твердости металла. Термообработка металла на нашем предприятии выполняется как промежуточная операция по совершенствованию свойств металлов, так и как окончательная операция при изготовлении всей детали.
            p.text.text--justify Мы выполняем следующие виды термической и химико-термической обработки стали:
            ul.list
              li 
                b Отпуск 
                | – процесс нагрева изделия до температуры, не превышающей 650 °С, выдержкой по времени при этой температуре (от нескольких часов до нескольких суток) и охлаждении на воздухе или в жидкой среде. Он может быть низким (температура нагрева в пределах 120 - 200 °С) и высоким (350 - 650 °С). В результате низкого отпуска изделие приобретает низкие пластические свойства и высокие прочностные. Результат высокого отпуска – получение высоких и прочностных и пластичных свойств.
              li 
                b Отжиг 
                | - проводится с целью улучшения механической обработки изделий или для снижения твердости. Также он улучшает однородность и микроструктура металла, снимает внутренние напряжения. Отличительной чертой такого вида термообработки стали является охлаждение, которое чаще всего происходи вместе с печью до комнатной температуры.
              li 
                b Нормализация 
                | применяется для измельчения структуры стали, как правило она необходима как промежуточная операция для смягчения стали перед обработкой резанием и для общего улучшения ее структуры перед закалкой. Нагрев обычно производят до аустенитного состояния стали, а вот охлаждение может быть на воздухе или ускоренным способом.
              li 
                b Закалка 
                | позволяет придать стали высокую прочность, твердость, износостойкость. Сущность процесса - нагрев выше критической температуры, выдержки и охлаждение в масле , воде или растворах солей. Температура закалки зависит от марки стали и лежит в широких пределах (от 1050 до 1300 0С ). Также регулируется и скорость нагрева, она не должна вызывать напряжений в материале, которые могут привести к трещинам и короблению.
              li 
                b Цементация стали 
                | - химико-термическая обработка поверхностным насыщением малоуглеродистой или легированных сталей при температурах 900...950°С - твердым (цементация твердым карбюризатором), углеродом с последующей закалкой и отпуском. Цель цементации и последующей термической обработки - повышение твердости, износостойкости, также повышением пределов контактной выносливости поверхности изделия при вязкой сердцевине, что обеспечивает выносливость изделия в целом при изгибе и кручении. 
            p.text.text--justify 
              b Параметры рабочего поля:                                                              
            ul.list
              li Наибольшая длина заготовки – до 1200 мм;                                    
              li Наибольшая ширина заготовки – до 600 мм;                                  
              li Максимальный диаметр заготовки – до 600 мм.
            p.text.text--justify 
               b Оборудование:
            ul.list
              li Электропечь шахтная ПШЦ 6.9/9,5-Г (пр-во УРАЛ ЭЛЕКТРОПЕЧЬ)
              li Электропечь камерного типа ПКМ 6.12.5 (пр-во НАКАЛ) 
    include ../includes/popupform.pug
    footer.main-footer
      include ../includes/bottom-line.pug
