<section class="info">
  <p class="text text--center"><b>SET SERVICE GROUP</b> – Центр металлообработки в Санкт-Петербурге, основанный в 2015 году для реализации <br>налаживания производственных связей в рамках программы по развитию производственного потенциала России.</p>
  <blockquote>
    <p><span>Мы – это команда специалистов в различных видах металлообработки, объединенные одной большой идеей развития производственного сектора России и качественного увеличения номенклатуры товаров, произведенных на территории России.</span></p>
    <a href="./about.html">Подробнее</a>
  </blockquote>
</section>
section.info
  p.text.text--center
    b SET SERVICE GROUP
    |   – Центр металлообработки в Санкт-Петербурге, основанный в 2015 году для реализации <br>налаживания производственных связей в рамках программы по развитию производственного потенциала России.   
  blockquote
    p
      span Мы – это команда специалистов в различных видах металлообработки, объединенные одной большой идеей развития производственного сектора России и качественного увеличения номенклатуры товаров, произведенных на территории России.
    a(href='./about.html') Подробнее
